Repository bcgov/SIMS, pull requests merged in 2022-12, with the labels that each got.

#1610 [backend][sims-#1551] Move Modules to Shared Library Part 2 of 3
  .github/workflows/build-deploy-dev.yml
  .github/workflows/deploy-all.yml
  configs/env-example
  devops/Makefile
  devops/openshift/queue-consumers-deploy.yml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/app.supporting-users.module.ts
  sources/packages/backend/apps/api/src/app.system-access.module.ts
  sources/packages/backend/apps/api/src/cra-integration/cra-integration.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.system.controller.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/cra-integration/cra-integration.system-access.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/services/cra-income-verification/cra-income-verification.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.spec.ts
  sources/packages/backend/apps/api/src/testHelpers/mocked-providers/queue-module-mock.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/start-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cra-integration/cra-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cra-integration/cra-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cra-integration/models/cra-validation-result.dto.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cra-integration/models/process-response.dto.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/ier12-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/notification/process-notifications.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/test-db-seeding/src/test-db-seeding.module.ts
  sources/packages/backend/apps/workers/src/services/application/application.service.e2e.skip-spec.ts
  sources/packages/backend/libs/integrations/src/cra-integration/__mocks__/SshServiceMock.ts
  sources/packages/backend/libs/integrations/src/cra-integration/__mocks__/response-folder/CCRA_RESPONSE_ABCSL00001.TXT
  sources/packages/backend/libs/integrations/src/cra-integration/__mocks__/response-folder/CCRA_RESPONSE_ABCSL00002.TXT
  sources/packages/backend/libs/integrations/src/cra-integration/cra-files/cra-file-footer.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-files/cra-file-header.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-files/cra-file-iv-request-record.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-files/cra-request-file-line.spec.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-files/cra-response-record-identification.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-files/cra-response-status-record.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-files/cra-response-total-income-record.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-integration.models.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-integration.module.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-integration.service.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-personal-verification.service.ts
  sources/packages/backend/libs/integrations/src/services/cra-income-verification/cra-income-verification.service.ts
  sources/packages/backend/libs/integrations/src/services/index.ts
  sources/packages/backend/libs/services/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/services/src/queue/queue.module.ts
  sources/packages/backend/libs/services/src/queue/queue.service.ts
  sources/packages/backend/libs/services/src/system-users/system-users.module.ts
  sources/packages/backend/libs/sims-db/src/database.module.ts
  sources/packages/backend/libs/utilities/src/config/config.models.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
Labels: Task, Queue Consumers

#1621 [Bug][SIMS#1602]-IER12_Bug
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-file-detail.ts
Labels: Queue Consumers

#1616 #1346 - Rolback overaward when cancel application
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.model.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.models.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1670971086634-AddCancelApplicationAssessmentQueue.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-cancel-application-assessment-queue.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-cancel-application-assessment-queue.sql
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/cancel-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/models/processors.models.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/index.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/queue-consumers/test/app.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/test/jest-e2e.json
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/libs/services/src/queue/dto/assessment.dto.ts
  sources/packages/backend/libs/services/src/workflow/workflow-client.service.ts
  sources/packages/backend/libs/services/src/zeebe/index.ts
  sources/packages/backend/libs/services/src/zeebe/zeebe.models.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
  sources/packages/backend/package.json
  sources/packages/web/src/components/students/modals/CancelApplication.vue
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/types/contracts/student/ApplicationContract.ts
Labels: Web Portal, SIMS-Api, Queue Consumers

#1629 #1606 - Remove sfas env variable from api
  devops/openshift/api-deploy.yml
Labels: Devops

#1630 Fix GitHub workflow "Deploy secrets to Openshift"
  .github/workflows/deploy-secrets.yml
  devops/Makefile
Labels: Devops, Ad-hoc

#1634 #1390 - Remove gender from bcsc integration for Students and Supporting Users
  sources/packages/backend/apps/api/src/auth/userToken.interface.ts
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/models/student-account-application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/models/supporting-user.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/api/src/services/student-account-applications/student-account-applications.service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.models.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/api/src/services/supporting-user/supporting-user.models.ts
  sources/packages/backend/apps/api/src/services/supporting-user/supporting-user.service.ts
  sources/packages/backend/apps/api/src/types/userInfo.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1671808498091-SupportingUsersRemoveGender.ts
  sources/packages/backend/apps/db-migrations/src/sql/SupportingUsers/Drop-col-gender.sql
  sources/packages/backend/apps/db-migrations/src/sql/SupportingUsers/Rollback-drop-col-gender.sql
  sources/packages/backend/libs/sims-db/src/entities/supporting-user.model.ts
  sources/packages/forms/src/form-definitions/studentprofile.json
  sources/packages/forms/src/form-definitions/supportingusersparent2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/services/http/dto/SupportingUser.dto.ts
  sources/packages/web/src/views/aest/SupportingUser.vue
  sources/packages/web/src/views/student/StudentProfileCreate.vue
Labels: Web Portal, SIMS-Api, Form.io
