Repository bcgov/SIMS, pull requests merged in 2023-03, with the labels that each got.

#1763 #1702 - Allow institution to specify custom regulatory body
  sources/packages/backend/apps/api/src/constants/class-validator-constants.ts
  sources/packages/backend/apps/api/src/route-controllers/institution/institution.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/institution/models/institution.dto.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.model.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1677528030804-InstitutionsTableCreateOtherRegulatingBody.ts
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Add-col-other-regulating-body.sql
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Drop-col-other-regulating-body.sql
  sources/packages/backend/libs/sims-db/src/entities/institution.model.ts
  sources/packages/forms/src/form-definitions/institutionprofile.json
  sources/packages/forms/src/form-definitions/institutionprofilecreation.json
  sources/packages/web/src/services/http/dto/Institution.dto.ts
  sources/packages/web/src/views/aest/institution/Profile.vue
Labels: Content, Web Portal, SIMS-Api, DB

#1739 #1677 - Manage overaward values imported from SFAS
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/app.supporting-users.module.ts
  sources/packages/backend/apps/api/src/auth/auth.module.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1677012446768-AddStudentIdToSFASIndividuals.ts
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Add-student-id-sfas-individuals.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Remove-student-id-sfas-individuals.sql
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-individual.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
  sources/packages/backend/libs/services/src/constants/disbursements.constants.ts
  sources/packages/backend/libs/services/src/disbursement-overaward/disbursement-overaward.service.ts
  sources/packages/backend/libs/services/src/sfas/sfas-individual.service.ts
  sources/packages/backend/libs/src-sql/disbursement-overawards/Bulk-insert-disbursement-overaward.sql
  sources/packages/backend/libs/src-sql/disbursement-overawards/Bulk-update-disbursement-overaward.sql
  sources/packages/backend/libs/src-sql/sfas-individuals/Bulk-update-students-foreign-key.sql
Labels: Student, DB, Integration

#1770 #1677 - Bug when there is no sfasIndividual
  sources/packages/backend/apps/api/src/services/student/student.service.ts
Labels: Bug

#1766 #1726 - E2E/Units Tests - Add Units Tests to Helpers (COEApprovalPeriodStatus)
  sources/packages/backend/apps/api/src/services/disbursement-schedule/_tests_/unit/disbursement-schedule.getCOEApprovalPeriodStatus.spec.ts
Labels: E2E/Unit tests

#1767 #1725 - Notes and Config E2E test cases
  .github/workflows/tests.yml
  configs/env-example
  sources/packages/backend/apps/api/src/route-controllers/config/_tests_/e2e/config.controller.getConfig.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/note/_tests_/e2e/note.aest.controller.addInstitutionNote.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/note/_tests_/e2e/note.aest.controller.addStudentNote.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/note/_tests_/e2e/note.aest.controller.getInstitutionNotes.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/note/_tests_/e2e/note.aest.controller.getStudentNotes.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/note/note.aest.controller.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/aest-token-helpers.ts
  sources/packages/backend/libs/test-utils/src/factories/note.ts
  sources/tests/docker-compose.yml
Labels: SIMS-Api, E2E/Unit tests

#1772 #1753 - Add student notes during add manual overaward deduction - part 1
  sources/packages/backend/apps/db-migrations/src/migrations/1677801820875-AddNoteIdAddedByAddedDateToDisbursementOverawards.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1677805984987-AddNoteTypeOveraward.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementOverawards/Add-note-id-added-by-added-date.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementOverawards/Remove-note-id-added-by-added-date.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-note-type-overaward.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Drop-note-type-overaward.sql
Labels: DB

#1774 #1668 - Update Ministry name and acronym anywhere it is displayed in the application
  sources/packages/forms/src/form-definitions/designationagreementdetails.json
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2122.json
  sources/packages/forms/src/form-definitions/studentprofile.json
  sources/packages/forms/src/form-definitions/supportingusersparent2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/forms/src/form-definitions/uploadstudentdocuments.json
  sources/packages/forms/src/form-definitions/uploadstudentdocumentsaest.json
  sources/packages/web/src/constants/fa-application/questions-financial.ts
  sources/packages/web/src/constants/fa-application/questions-personalinfo.ts
  sources/packages/web/src/constants/fa-application/questions-selectProgram.ts
  sources/packages/web/src/constants/message-constants.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/aest/AppAEST.vue
  sources/packages/web/src/views/aest/Login.vue
Labels: User Experience, Content, Web Portal

#1776 #1753 - Add student notes during add manual overaward deduction - part 2
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/app.supporting-users.module.ts
  sources/packages/backend/apps/api/src/auth/auth.module.ts
  sources/packages/backend/apps/api/src/route-controllers/note/_tests_/e2e/note.aest.controller.addStudentNote.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/_tests_/e2e/overaward.aest.controller.addManualOveraward.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/_tests_/e2e/overaward.aest.controller.getOverawardsByStudent.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/models/overaward.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/overaward.aest.controller.ts
  sources/packages/backend/apps/api/src/services/restriction/student-restriction.service.ts
  sources/packages/backend/apps/api/src/services/sin-validation/sin-validation.service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/aest/basic-seeding/create-aest-users.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/aest/index.ts
  sources/packages/backend/apps/test-db-seeding/src/test-db-seeding.module.ts
  sources/packages/backend/apps/workers/src/workers.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/services/src/disbursement-overaward/disbursement-overaward.service.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/services/src/note/note.shared.service.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-overaward.model.ts
  sources/packages/backend/libs/sims-db/src/entities/note.type.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-overaward.ts
  sources/packages/backend/package.json
  sources/packages/web/src/components/aest/students/modals/AddManualOverawardDeduction.vue
  sources/packages/web/src/components/common/notes/CreateNoteModal.vue
  sources/packages/web/src/composables/useRules.ts
  sources/packages/web/src/services/OverawardService.ts
  sources/packages/web/src/services/http/dto/Overaward.dto.ts
  sources/packages/web/src/types/contracts/NoteContract.ts
  testing/src/cypress/page-objects/ministry-objects/InstitutionNoteRestrictionsObject.ts
  testing/src/cypress/page-objects/ministry-objects/StudentNoteRestrictionsObject.ts
Labels: User Story, Ministry, SIMS-Api

#1796 #1683 - Application Completed Status - Progress Tracker (Part 1 of 2)
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/libs/sims-db/src/entities/student-appeal.model.ts
  sources/packages/web/src/components/common/notes/Notes.vue
  sources/packages/web/src/components/students/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/students/applicationTracker/Completed.vue
  sources/packages/web/src/components/students/applicationTracker/Enrolment.vue
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/types/contracts/NoteContract.ts
Labels: Web Portal, SIMS-Api

#1797 #1543 - Update designation form content
  sources/packages/forms/src/form-definitions/designationagreementdetails.json
Labels: User Experience, Content, Web Portal

#1800 #1683 - Application Tracker Scholastic Change (Part 2)
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/models/student-scholastic-standings.dto.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/constants.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.model.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1678757112924-CreateStudentScholasticStandingChangeTypes.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1678757977330-AddStudentScholasticStandingChangeTypeColumn.ts
  sources/packages/backend/apps/db-migrations/src/sql/StudentScholasticStandings/Add-change-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentScholasticStandings/Remove-change-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Create-student-scholastic-standing-change-types.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Drop-student-scholastic-standing-change-types.sql
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/student-scholastic-standing.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-scholastic-standing.type.ts
  sources/packages/forms/src/form-definitions/reportscholasticstandingchange.json
  sources/packages/web/src/components/students/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/students/applicationTracker/Completed.vue
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/types/contracts/StudentScholasticStanding.ts
  sources/packages/web/src/types/index.ts
Labels: Web Portal, SIMS-Api, Form.io

#1818 #1719 - Create Release Strategy
  .github/workflows/build-deploy-dev.yml
Labels: Bug, Devops, Ad-hoc

#1803 #1769 - E2E/Unit - API Controllers - Part 1 - Program Years
  sources/packages/backend/apps/api/src/route-controllers/program-year/_tests_/e2e/program-year.students.controller.getProgramYearById.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/program-year/_tests_/e2e/program-year.students.controller.getProgramYears.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.e2e-spec.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/index.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/student-token-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/application-fake.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/program-year-fake.ts
  sources/packages/backend/apps/api/src/testHelpers/index.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/student/basic-seeding/create-student-users.model.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/student/basic-seeding/create-student-users.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/student/index.ts
  sources/packages/backend/apps/test-db-seeding/src/test-db-seeding.module.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/test-utils/src/factories/program-year.ts
  sources/packages/backend/package.json
Labels: E2E/Unit tests

#1821 #1719 - Create Release Strategy
  .github/workflows/build-deploy-dev.yml
  .github/workflows/build-deploy-forms.yml
  .github/workflows/deploy-all.yml
  .github/workflows/deploy-secrets.yml
Labels: Devops

#1816 #1757 - Create common container for content in tab
  sources/packages/web/src/components/aest/StudentApplications.vue
  sources/packages/web/src/components/common/OverawardDetails.vue
  sources/packages/web/src/components/common/StudentOverawardDetails.vue
  sources/packages/web/src/components/common/notes/Notes.vue
  sources/packages/web/src/components/generic/BodyHeader.vue
  sources/packages/web/src/components/layouts/BodyHeaderContainer.vue
  sources/packages/web/src/components/layouts/FullPageContainer.vue
  sources/packages/web/src/components/layouts/TabContainer.vue
  sources/packages/web/src/main.ts
  sources/packages/web/src/views/aest/student/Applications.vue
  sources/packages/web/src/views/aest/student/FileUploads.vue
  sources/packages/web/src/views/aest/student/Overawards.vue
  sources/packages/web/src/views/aest/student/Profile.vue
  sources/packages/web/src/views/aest/student/SINManagement.vue
  sources/packages/web/src/views/aest/student/StudentNotes.vue
  sources/packages/web/src/views/aest/student/StudentRestrictions.vue
Labels: User Experience, Ministry, Web Portal

#1822 #1722 - E2E Tests for assessment gateway
  sources/packages/backend/libs/services/src/constants/index.ts
  sources/packages/backend/libs/services/src/constants/worker-constants.ts
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/test/2021-2022/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/fulltime-assessment/fulltime-assessment-2021-2022.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/fulltime-assessment-2022-2023.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/fulltime-assessment-2023-2024.e2e-spec.ts
  sources/packages/backend/workflow/test/jest-e2e.json
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/constants/system-configurations-constants.ts
  sources/packages/backend/workflow/test/test-utils/constants/workflow-variables-constants.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/backend/workflow/test/test-utils/index.ts
  sources/packages/backend/workflow/test/test-utils/mock/zeebe-worker-mock.ts
  sources/packages/backend/workflow/test/test-utils/validation/workflow-validation.utils.ts
  sources/tests/workflow-docker-compose.yml
Labels: E2E/Unit tests

#1826 #1757 - Create common container for content in tab (Institution) - Part 2
  sources/packages/web/src/components/common/InstitutionUserSummary.vue
  sources/packages/web/src/components/common/LocationSummary.vue
  sources/packages/web/src/views/aest/institution/Designation.vue
  sources/packages/web/src/views/aest/institution/InstitutionNotes.vue
  sources/packages/web/src/views/aest/institution/Locations.vue
  sources/packages/web/src/views/aest/institution/Profile.vue
  sources/packages/web/src/views/aest/institution/Programs.vue
  sources/packages/web/src/views/aest/institution/Restrictions.vue
  sources/packages/web/src/views/aest/institution/Users.vue
Labels: User Experience, Web Portal

#1832 #1683 - Completed application - E2E tests for application tracker
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.getCompletedApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.aest.confirmEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.confirmEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getApplicationForCOE.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getCOEDeniedReason.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getCOESummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/test-utils/src/factories/confirmation-of-enrollment.ts
  sources/packages/backend/libs/test-utils/src/factories/student-appeal-request.ts
  sources/packages/backend/libs/test-utils/src/factories/student-appeal.ts
  sources/packages/backend/libs/test-utils/src/factories/student-scholastic-standing.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/web/src/components/common/StepperProgressBar.vue
  sources/packages/web/src/components/students/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/students/applicationTracker/Cancelled.vue
Labels: SIMS-Api, E2E/Unit tests

#1839 #1737 - Update institution location content (new)
  sources/packages/forms/src/form-definitions/institutionlocation.json
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/assets/css/formio-shared.scss
  sources/packages/web/src/assets/css/vuetify.scss
  sources/packages/web/src/components/common/LocationSummary.vue
  sources/packages/web/src/views/institution/EditInstitutionLocation.vue
Labels: User Experience, Institution, Content, Web Portal

#1836 #1769 - E2E/Unit - API Controllers - Part 2 - ApplicationException
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/application-exception-helper.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.approveException.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.getExceptionById.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.getPendingApplicationExceptions.e2e-spec.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/aest-auth-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/index.ts
  sources/packages/backend/apps/api/src/testHelpers/mocked-providers/zeebe-client-mock.ts
  sources/packages/backend/libs/test-utils/src/factories/application-exception-request.ts
  sources/packages/backend/libs/test-utils/src/factories/application-exception.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/test-utils/src/index.ts
Labels: Test Case, E2E/Unit tests

#1846 #1712 - Students overawards UI - Part 1
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/_tests_/e2e/overaward.aest.controller.getOverawardsByStudent.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/models/overaward.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/overaward.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/overaward.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/overaward.students.controller.ts
  sources/packages/backend/libs/services/src/disbursement-overaward/disbursement-overaward.service.ts
  sources/packages/web/src/assets/images/student-glass-jar.svg
  sources/packages/web/src/components/common/OverawardDetails.vue
  sources/packages/web/src/components/common/StudentOverawardDetails.vue
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/StudentRoutes.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/student/AppStudent.vue
  sources/packages/web/src/views/student/StudentOverawardsBalance.vue
Labels: Enhancement, User Story, Student, Web Portal, SIMS-Api

#1847 #1780 - Associate MSFAA with disbursement
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1679969876527-DisbursementSchedulesAddMSFAANumber.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Add-col-msfaa-number-id.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Drop-col-msfaa-number-id.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/tests/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/workers/src/constants/error-code.constants.ts
  sources/packages/backend/apps/workers/src/controllers/application/application.controller.ts
  sources/packages/backend/apps/workers/src/controllers/application/application.dto.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/disbursement.controller.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/disbursement.dto.ts
  sources/packages/backend/apps/workers/src/services/application/application.service.ts
  sources/packages/backend/apps/workers/src/services/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/apps/workers/src/services/index.ts
  sources/packages/backend/apps/workers/src/services/msfaa-number/msfaa-number.service.ts
  sources/packages/backend/apps/workers/src/workers.module.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule.model.ts
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/test/2021-2022/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/forms/src/form-definitions/noticeofassessment.json
Labels: SIMS-Api, Camunda Workers, E2E/Unit tests, DB, Camunda Worflow

#1856 #1712 - Students over awards UI - E2E Test cases
  sources/packages/backend/apps/api/src/route-controllers/overaward/_tests_/e2e/overaward.students.controller.getOverawardBalance.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/_tests_/e2e/overaward.students.controller.getOverawardsByStudent.e2e-spec.ts
Labels: E2E/Unit tests
