Repository bcgov/SIMS, pull requests merged in 2023-11, with the labels that each got.

#2461 #2322 - IER12 E2E Tests - First scenarios
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-factory.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/assessment-data-inputs.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/data-inputs.models.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/disbursement-values-inputs.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/offerings-inputs.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/programs-inputs.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/students-inputs.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/workflow-data-input.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/utils/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/utils/mock-utils.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/utils/string-utils.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/test-utils/src/factories/program-year.ts
  sources/packages/backend/libs/test-utils/src/utils/date-utils.ts
  sources/packages/backend/libs/test-utils/src/utils/index.ts
Labels: Queue Consumers, E2E/Unit tests

#2464 #2102 - Establishing independent status for Youth in care students
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Form.io

#2469 #2382 - Redis recovery command
  .github/workflows/env-setup-deploy-secrets.yml
  .github/workflows/env-setup-redis-recovery.yml
  devops/Makefile
Labels: Devops

#2474 #2322 - IER12 E2E Tests Additional Scenarios
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/disbursement-values-inputs.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/models/ier12-integration.model.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-feedback-error.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/backend/libs/test-utils/src/mocks/ssh-service-mock.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
Labels: Queue Consumers, E2E/Unit tests

#2475 #2087 - Ministry Add New Note for Institution Account
  sources/packages/web/src/views/aest/institution/InstitutionNotes.vue
Labels: Bug, Ministry, Web Portal

#2480 #2350 - Add Offering details (current and parent id) into IER-12
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-factory.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/data-inputs.models.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/models/ier12-integration.model.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
Labels: Queue Consumers, Integration

#2473 #1934 - Finastra Part-time File Review Changes
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/_tests_/unit/e-cert-part-time-integration.service.spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-files/e-cert-file-header.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-files/e-cert-file-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-part-time.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/models/e-cert-integration-model.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/services/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-value-type.ts
  sources/packages/backend/libs/utilities/src/disbursements-utils.ts
Labels: Bug, Task

#2477 #2288 - Camunda load testing
  sources/packages/backend/apps/api/src/auth/auth.module.ts
  sources/packages/backend/apps/api/src/auth/index.ts
  sources/packages/backend/apps/api/src/auth/jwt.strategy.ts
  sources/packages/backend/apps/api/src/main.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/user/user.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/bceid/bceid.service.mock.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/token-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/apps/api/src/utilities/certificate-utils.specs.ts
  sources/packages/backend/apps/api/test/auth.e2e-spec.ts
  sources/packages/backend/apps/api/test/institution.e2e-spec.ts
  sources/packages/backend/apps/api/test/jest-e2e.json
  sources/packages/backend/apps/load-test-gateway/src/auth/guards/jwt-auth.guard.ts
  sources/packages/backend/apps/load-test-gateway/src/auth/load-test-auth.module.ts
  sources/packages/backend/apps/load-test-gateway/src/auth/load-test-jwt-strategy.ts
  sources/packages/backend/apps/load-test-gateway/src/constants/application.constants.ts
  sources/packages/backend/apps/load-test-gateway/src/constants/auth.constants.ts
  sources/packages/backend/apps/load-test-gateway/src/constants/system-configurations-constants.ts
  sources/packages/backend/apps/load-test-gateway/src/load-test-exception.filter.ts
  sources/packages/backend/apps/load-test-gateway/src/load-test-http/load-test-http.module.ts
  sources/packages/backend/apps/load-test-gateway/src/load-test.module.ts
  sources/packages/backend/apps/load-test-gateway/src/main.ts
  sources/packages/backend/apps/load-test-gateway/src/route-controllers/index.ts
  sources/packages/backend/apps/load-test-gateway/src/route-controllers/workflow/workflow-assessment-submission.controller.ts
  sources/packages/backend/apps/load-test-gateway/src/services/index.ts
  sources/packages/backend/apps/load-test-gateway/src/services/workflow/workflow-data-load.service.ts
  sources/packages/backend/apps/load-test-gateway/tsconfig.app.json
  sources/packages/backend/apps/queue-consumers/test/jest-e2e.json
  sources/packages/backend/apps/workers/test/jest-e2e.json
  sources/packages/backend/libs/auth/src/config/index.ts
  sources/packages/backend/libs/auth/src/config/keycloak-config.ts
  sources/packages/backend/libs/auth/src/services/index.ts
  sources/packages/backend/libs/auth/src/services/keycloak/keycloak.service.ts
  sources/packages/backend/libs/auth/src/services/keycloak/openid-config.model.ts
  sources/packages/backend/libs/auth/src/services/keycloak/realm-config.model.ts
  sources/packages/backend/libs/auth/src/services/keycloak/token-response.model.ts
  sources/packages/backend/libs/auth/src/utilities/certificate-utils.ts
  sources/packages/backend/libs/auth/src/utilities/index.ts
  sources/packages/backend/libs/auth/tsconfig.lib.json
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program-offering.ts
  sources/packages/backend/libs/test-utils/src/factories/student-assessment.ts
  sources/packages/backend/nest-cli.json
  sources/packages/backend/package.json
  sources/packages/backend/tsconfig.json
  sources/packages/backend/workflow/test/jest-e2e.json
  sources/packages/load-test/config.env.ts.sample
  sources/packages/load-test/package.json
  sources/packages/load-test/src/_tests_/form-io/form-io-application-submission/form-io-application-submission.test.ts
  sources/packages/load-test/src/_tests_/form-io/form-io-application-submission/models.ts
  sources/packages/load-test/src/_tests_/form-io/form-io-get-application/form-io-get-application.test.ts
  sources/packages/load-test/src/_tests_/institution/institution-get-profile/institution-get-profile.test.ts
  sources/packages/load-test/src/_tests_/workflow/workflow-assessment-submission.test.ts
  sources/packages/load-test/src/utils/auth/models.ts
  sources/packages/load-test/src/utils/auth/token-helpers.ts
  sources/packages/load-test/src/utils/load-test-api/load-test-api-creds.ts
  sources/packages/load-test/src/utils/load-test-api/load-test-api.ts
Labels: SIMS-Api, Load Test

#2465 #2112 - Business validations: Application Bulk Withdrawal
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/application-bulk-withdrawal/application-bulk-withdrawal-import-text.service.ts
  sources/packages/backend/apps/api/src/services/application-bulk-withdrawal/application-bulk-withdrawal-import-validation.service.ts
  sources/packages/backend/apps/api/src/services/application-bulk-withdrawal/application-bulk-withdrawal-validation.models.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-validation.models.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-validation.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/api/src/utilities/class-validation/validation-utils.ts
  sources/packages/web/src/constants/error-code.constants.ts
  sources/packages/web/src/services/ScholasticStandingService.ts
  sources/packages/web/src/views/institution/WithdrawalUpload.vue
Labels: Web Portal, SIMS-Api

#2487 #2288 - Load test gateway devops and local docker
  configs/env-example
  devops/Makefile
  devops/openshift/load-test-gateway-deploy.yml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/load-test-gateway/Dockerfile
  sources/packages/backend/apps/load-test-gateway/Dockerfile.dev
  sources/packages/backend/package.json
Labels: Devops, Load Test

#2490 #2112 - Business Validations: Application Bulk Withdrawal: Bug Fix
  sources/packages/web/src/views/institution/WithdrawalUpload.vue
Labels: Web Portal

#2491 #2112 - Application Bulk Withdrawal: Business Validations - Bug Fix
  sources/packages/backend/apps/api/src/services/application-bulk-withdrawal/application-bulk-withdrawal-import-text.service.ts
  sources/packages/backend/apps/api/src/services/application-bulk-withdrawal/application-bulk-withdrawal-validation.models.ts
Labels: SIMS-Api

#2493 #2112 - Application Bulk Withdrawal: Business Validation - Bug Fix
  sources/packages/backend/apps/api/src/services/application-bulk-withdrawal/application-bulk-withdrawal-validation.models.ts
Labels: Web Portal

#2485 #2383 - Horizontal Autoscaler from replication controller to deployment config
  devops/openshift/api-deploy.yml
  devops/openshift/forms-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/web-deploy.yml
  devops/openshift/workers-deploy.yml
Labels: Devops

#2513 #2510 - e-Cert Implementation for Individual Student Processing - Migrations and Entity Models Added
  sources/packages/backend/apps/db-migrations/src/migrations/1700179827202-DisbursementSchedulesAddReadyToSendDate.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1700179867633-DisbursementScheduleStatusAddReadyToSend.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Add-ready-to-send-date-col.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Rollback-ready-to-send-date-col.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-disbursement-schedule-status-ready-to-send.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-disbursement-schedule-status-ready-to-send.sql
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule-status.type.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule.model.ts
Labels: Queue Consumers, DB

#2516 #2383 - Horizonatal Autoscaler value change
  devops/openshift/api-deploy.yml
  devops/openshift/forms-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/web-deploy.yml
  devops/openshift/workers-deploy.yml
Labels: Devops

#2511 #2187 - Assessment Workflow Enqueuer Scheduler Retry
  sources/packages/backend/apps/api/test/jest-e2e.json
  sources/packages/backend/apps/db-migrations/src/migrations/1699574723306-AddAssessmentWorkflowQueueRetry.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-assessment-workflow-queue-retry.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-assessment-workflow-queue-retry.sql
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/cancel-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/start-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/cancel-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/start-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/_tests_/assessment-workflow-queue-retry.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/assessment-workflow-queue-retry.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/models/assessment-workflow-queue-retry.dto.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/workflow/workflow-enqueuer.service.ts
  sources/packages/backend/libs/services/src/queue/queue.service.ts
  sources/packages/backend/libs/sims-db/src/entities/queue-configuration.type.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
Labels: Queue Consumers

#2517 #2359 - Update Vuetify and create virtual component for v-divider
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/components/aest/institution/ApplicationOfferingChangeDetailsHeader.vue
  sources/packages/web/src/components/aest/institution/modals/ApproveDenyDesignationModal.vue
  sources/packages/web/src/components/common/ProgramOfferingDetailHeader.vue
  sources/packages/web/src/components/common/restriction/ViewRestriction.vue
  sources/packages/web/src/components/generic/ModalDialogBase.vue
  sources/packages/web/src/components/layouts/Institution/sidebar/HomeSideBar.vue
  sources/packages/web/src/components/layouts/Institution/sidebar/InstitutionApplicationSideBar.vue
  sources/packages/web/src/components/layouts/Institution/sidebar/ManageInstitutionSideBar.vue
  sources/packages/web/src/components/layouts/aest/AESTHomeSideBar.vue
  sources/packages/web/src/plugins/vuetify.ts
  sources/packages/web/src/services/ApplicationOfferingChangeRequestService.ts
  sources/packages/web/src/services/http/ApplicationOfferingChangeRequestApi.ts
  sources/packages/web/src/services/http/dto/ApplicationOfferingChangeRequest.dto.ts
  sources/packages/web/src/views/aest/institution/ViewPendingOfferingChangeRequests.vue
  sources/packages/web/src/views/institution/AppInstitution.vue
  sources/packages/web/src/views/institution/OfferingsUpload.vue
  sources/packages/web/src/views/institution/WithdrawalUpload.vue
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/ApplicationDetailsForCOE.vue
  sources/packages/web/src/views/institution/locations/offerings/OfferingEdit.vue
  sources/packages/web/src/views/institution/locations/programs/LocationPrograms.vue
  sources/packages/web/src/views/institution/locations/request-a-change/request-a-change/AvailableToChange.vue
  sources/packages/web/src/views/institution/locations/request-a-change/request-a-change/Completed.vue
  sources/packages/web/src/views/institution/locations/request-a-change/request-a-change/InProgress.vue
  sources/packages/web/src/views/student/AppStudent.vue
  sources/packages/web/src/views/student/StudentApplicationDetails.vue
Labels: Web Portal

#2526 2283 - HTTP server for nest
  sources/packages/backend/apps/api/src/main.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Task, SIMS-Api

#2528 #2489 - ORM fixes to workers based on load test results
  sources/packages/backend/apps/api/src/main.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/api/src/testHelpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/apps/queue-consumers/src/main.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/application/process-archive-application.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/full-time-disbursement-receipts-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/sin-validation-integration/sin-validation-process-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/workflow/workflow-enqueuer.service.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-updateNOAStatus.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-workflowWrapUp.e2e-spec.ts
  sources/packages/backend/apps/workers/src/main.ts
  sources/packages/backend/apps/workers/src/services/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/workers/test/helpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/libs/integrations/src/atbc-integration/atbc-integration.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/fed-restriction-integration/fed-restriction.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/sin-validation/sin-validation.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule-errors/disbursement-schedule-errors.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/msfaa-number/msfaa-number.service.ts
  sources/packages/backend/libs/integrations/src/services/sin-validation/sin-validation.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
  sources/packages/backend/libs/services/src/msfaa-number/msfaa-number-shared.service.ts
  sources/packages/backend/libs/services/src/notifications/notification-message/notification-message.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/system-users/system-users.service.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/utilities/src/system-configurations-constants.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: SIMS-Api, Queue Consumers, Camunda Workers, ORM

#2529 #2174 - Offering Cost Field Maximums
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/bulk-insert/single-upload-error-when-offering-cost-exceed-max.csv
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/bulk-insert/single-upload-warning-when-max-exceeding-offering-cost.csv
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.bulkInsert.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.createOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.updateProgramOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.validateOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-validation.models.ts
  sources/packages/backend/apps/api/src/utilities/class-validation/custom-validators/is-max-cost-value.ts
  sources/packages/backend/apps/api/src/utilities/class-validation/index.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/forms/src/form-definitions/educationprogramoffering.json
Labels: SIMS-Api, Form.io, E2E/Unit tests

#2534 #2158 - Pending Exception is listing overwritten application exception too
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.approveException.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.getPendingApplicationExceptions.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/application-exception/application-exception.service.ts
Labels: Bug, Ministry

#2542 #2402 - Content Changes for Program Form in Institution Portal (Program Entrance Requirements)
  sources/packages/forms/src/form-definitions/educationprogram.json
Labels: Form.io

#2543 #2489 - Worker and ORM changes based on load test results
  sources/packages/backend/apps/load-test-gateway/src/constants/system-configurations-constants.ts
  sources/packages/backend/apps/workers/src/controllers/application/application.controller.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/apps/workers/src/controllers/cra-integration/cra-integration.controller.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/disbursement.controller.ts
  sources/packages/backend/libs/utilities/src/system-configurations-constants.ts
Labels: Camunda Workers, ORM

#2521 #1580 - Liveliness and Readiness probe for workers and queues - Part 1
  .github/workflows/repo-checks-tests.yml
  configs/env-example
  devops/Makefile
  devops/openshift/workers-deploy.yml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/queue-consumers/src/controllers/health-check/health.controller.ts
  sources/packages/backend/apps/queue-consumers/src/controllers/index.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/workers/src/controllers/health-check/health.controller.ts
  sources/packages/backend/apps/workers/src/controllers/index.ts
  sources/packages/backend/apps/workers/src/main.ts
  sources/packages/backend/apps/workers/src/workers.module.ts
  sources/packages/backend/apps/workers/src/zeebe/index.ts
  sources/packages/backend/apps/workers/src/zeebe/zeebe-health-indicator.ts
  sources/packages/backend/apps/workers/src/zeebe/zeebe-transport-strategy.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
  sources/tests/docker-compose.yml
Labels: Queue Consumers, Devops, Camunda Workers
