Repository bcgov/SIMS, pull requests merged in 2023-10, with the labels that each got.

#2371 #2277 - IER12 yellow fields implementation
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/models/ier12-integration.model.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2023-2024.bpmn
Labels: Integration, Camunda Worflow

#2363 #1981 - Request Offering Change: Ministry View/Approve/Deny (UI only) - Part 1
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/models/application-offering-change-request.dto.ts
  sources/packages/web/src/components/aest/AssessApplicationOfferingChangeRequestModal.vue
  sources/packages/web/src/components/generic/ModalDialogBase.vue
  sources/packages/web/src/services/ApplicationOfferingChangeRequestService.ts
  sources/packages/web/src/services/http/ApplicationOfferingChangeRequestApi.ts
  sources/packages/web/src/services/http/dto/ApplicationOfferingChangeRequest.dto.ts
  sources/packages/web/src/views/aest/institution/ApplicationOfferingChangeRequestForm.vue
Labels: Web Portal, SIMS-Api

#2365 #2303 - Total eligible amount in NOA screen
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/web/src/services/http/dto/Assessment.dto.ts
Labels: SIMS-Api, E2E/Unit tests

#2385 #2373 - IER fix allow zero grants
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.integration.service.ts
Labels: Integration

#2390 #2376 - Edit Program Banner Message Change
  sources/packages/web/src/views/institution/locations/programs/LocationProgramAddEdit.vue
Labels: Institution, Web Portal

#2400 #2300 - Update institution hyperlinks
  sources/packages/forms/src/form-definitions/designationagreementdetails.json
  sources/packages/web/src/views/institution/Login.vue
Labels: Web Portal, Form.io

#2403 #2307 - WAVA scan headers update
  sources/packages/web/nginx.conf
Labels: Web Portal

#2375 #2181 - Queued Assessments - Assessment Workflow Enqueuer Scheduler - Cancel Assessment
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/cancel-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/cancel-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/_tests_/assessment-workflow-enqueuer.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/assessment-workflow-enqueuer.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/services/application/application.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/workflow/workflow-enqueuer.service.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
Labels: Queue Consumers, Camunda Workers

#2374 #2289 - Implement logic for Application Event Code in IER12 - application event code (Part 1)
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-integration.module.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/models/ier12-integration.model.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule-errors/disbursement-schedule-errors.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-value/disbursement-value.service.ts
  sources/packages/backend/libs/integrations/src/services/index.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/services/src/application/application-shared.service.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
  sources/packages/web/src/composables/useFormatters.ts
Labels: Queue Consumers

#2413 #2300 - Update institution hyperlinks (#2400)
  sources/packages/forms/src/form-definitions/designationagreementdetails.json
  sources/packages/web/src/views/institution/Login.vue
Labels: Web Portal, Form.io

#2408 #2289 - Implement logic for Application Event Code in IER12 - moved application event code logic to services (Part 2)
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-integration.module.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/application-event-code-during-assessment-utils.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/application-event-code-during-enrolment-and-completed-utils.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/application-event-code-utils.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/index.ts
Labels: Queue Consumers

#2407 #2287 - Load Testing of Form.io using Student Application submission
  .gitignore
  devops/openshift/forms-deploy.yml
  sources/packages/load-test/config.env.ts.sample
  sources/packages/load-test/package-lock.json
  sources/packages/load-test/package.json
  sources/packages/load-test/src/_tests_/form-io/application-submission/application-submission.test.ts
  sources/packages/load-test/src/_tests_/form-io/application-submission/models.ts
  sources/packages/load-test/src/_tests_/form-io/form-io-get-application/form-io-get-application.test.ts
  sources/packages/load-test/src/utils/form-io-api.ts
  sources/packages/load-test/tsconfig.json
  sources/packages/load-test/webpack.config.js
Labels: Form.io

#2419 #2379 - Fix computer multiplication in combine decimal places
  sources/packages/backend/libs/utilities/src/math-utils.ts
Labels: Integration

#2392 #1981 - Request Application Offering Change: Ministry View [Approve/Deny Request] - Part 2
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.aest.controller.getApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/models/application-offering-change-request.dto.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application-offering-change-request.model.ts
  sources/packages/web/src/components/aest/AssessApplicationOfferingChangeRequestModal.vue
  sources/packages/web/src/components/aest/institution/ApplicationOfferingChangeDetailsHeader.vue
  sources/packages/web/src/composables/useModalDialog.ts
  sources/packages/web/src/services/http/dto/ApplicationOfferingChangeRequest.dto.ts
  sources/packages/web/src/types/contracts/ApplicationOfferingChangeRequest.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/views/aest/institution/ApplicationOfferingChangeRequestForm.vue
Labels: Web Portal, SIMS-Api

#2422 #1981 - Request Offering Change: Ministry View [Approve / Deny Request] - Part 3
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.aest.controller.assessApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1697055771725-InsertApplicationOfferingChangeRequestCompletedByMinistryMessage.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Delete-application-offering-change-request-completed-by-ministry-message.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-application-offering-change-request-completed-by-ministry-message.sql
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: SIMS-Api, E2E/Unit tests, DB

#2421 #2287 - Load tests - Institution POC
  sources/packages/load-test/config.env.ts.sample
  sources/packages/load-test/package.json
  sources/packages/load-test/src/_tests_/form-io/form-io-application-submission/form-io-application-submission.test.ts
  sources/packages/load-test/src/_tests_/form-io/form-io-application-submission/models.ts
  sources/packages/load-test/src/_tests_/institution/institution-get-profile/institution-get-profile.test.ts
  sources/packages/load-test/src/utils/auth/index.ts
  sources/packages/load-test/src/utils/auth/jwt-helpers.ts
  sources/packages/load-test/src/utils/auth/models.ts
  sources/packages/load-test/src/utils/auth/token-helpers.ts
  sources/packages/load-test/src/utils/form-io-api/form-io-api.ts
  sources/packages/load-test/src/utils/form-io-api/index.ts
  sources/packages/load-test/src/utils/sims-api/index.ts
  sources/packages/load-test/src/utils/sims-api/sims-api-creds.ts
  sources/packages/load-test/src/utils/sims-api/sims-api.ts
Labels: Institution

#2423 E2E Test - Assessment workers
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-saveAssessmentData.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-updateNOAStatus.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-workflowWrapUp.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/save-assessment-data-factory.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/update-noa-status-factory.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/workflow-wrap-up-factory.ts
Labels: Test Case, E2E/Unit tests

#2420 #2289 - Implement logic for Application Event Code in IER12 - code and date assignment and unit tests (Part 4)
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-integration.module.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/models/ier12-integration.model.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/_tests_/unit/application-event-code-during-assessment-utils.service.applicationEventCodeDuringAssessment.spec.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/_tests_/unit/application-event-code-during-enrolment-and-completed-utils.service.applicationEventCodeDuringCompleted.spec.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/_tests_/unit/application-event-code-during-enrolment-and-completed-utils.service.applicationEventCodeDuringEnrolmentAndCompleted.spec.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/_tests_/unit/application-event-code-utils.service.getApplicationEventCode.spec.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/_tests_/unit/application-event-date-utils.service.getApplicationEventDate.spec.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/application-event-code-during-enrolment-and-completed-utils.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/application-event-code-utils.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-value/disbursement-value.service.ts
  sources/packages/backend/libs/integrations/src/services/index.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
Labels: Queue Consumers, E2E/Unit tests

#2447 #2431 - Ministry API - Institution search and Institution details E2E tests
  sources/packages/backend/apps/api/src/route-controllers/institution/_tests_/e2e/institution.aest.controller.getInstitutionDetailById.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/institution/_tests_/e2e/institution.aest.controller.searchInstitutions.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
Labels: E2E/Unit tests

#2448 #2089 - Upgrade node version on all environments
  devops/Makefile
  sources/packages/backend/apps/api/Dockerfile
  sources/packages/backend/apps/api/Dockerfile.dev
  sources/packages/backend/apps/db-migrations/Dockerfile
  sources/packages/backend/apps/queue-consumers/Dockerfile
  sources/packages/backend/apps/queue-consumers/Dockerfile.dev
  sources/packages/backend/apps/workers/Dockerfile
  sources/packages/backend/apps/workers/Dockerfile.dev
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
  sources/packages/backend/workflow/Dockerfile.dev
  sources/packages/web/Dockerfile
  sources/packages/web/Dockerfile.dev
Labels: Task

#2454 #2440-Update_DB_Backup_container_image
  devops/Makefile
  devops/openshift/database-backup/backup-build.yaml
Labels: Devops

#2458 #2456 - Cancelling a draft application fails
  sources/packages/backend/apps/api/src/services/application/application.service.ts
Labels: Bug
