Repository bcgov/SIMS, pull requests merged in 2023-05, with the labels that each got.

#1906 #1852 - Enable Overawards Tab For Public Institution User
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/_tests_/e2e/overaward.institutions.controller.getOverawardBalance.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/_tests_/e2e/overaward.institutions.controller.getOverawardsByStudent.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/overaward.institutions.controller.ts
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/router/InstitutionRoutes.ts
  sources/packages/web/src/router/StudentRoutes.ts
  sources/packages/web/src/views/aest/student/StudentDetails.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentDetails.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentOverawards.vue
  sources/packages/web/src/views/student/AppStudent.vue
Labels: Content, Web Portal, SIMS-Api, E2E/Unit tests

#1913 #1864 - MSFAA Receive File E2E Test Automation
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-receive-files/msfaa-part-time-receive-file-with-cancelation-record.dat
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-receive-files/msfaa-part-time-receive-file-with-invalid-records-count.dat
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-receive-files/msfaa-part-time-receive-file-with-invalid-sin-hash-total.dat
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/msfaa-part-time-process-response-integration.scheduler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-response.processing.service.ts
  sources/packages/backend/libs/test-utils/src/mocks/ssh-service-mock.ts
Labels: Queue Consumers, E2E/Unit tests

#1915 #1830 - Institution Student Authorization Part 2
  .github/workflows/tests.yml
  configs/env-example
  sources/packages/backend/apps/api/src/auth/guards/institution/institution-bc-public.guard.ts
  sources/packages/backend/apps/api/src/auth/guards/institution/institution-student-data-access.guard.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentApplicationSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentFileUploads.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentProfile.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.searchStudents.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.utils.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/institution-auth-helpers.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/utilities/src/config/config.models.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/backend/libs/utilities/src/system-configurations-constants.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
  sources/tests/docker-compose.yml
Labels: E2E/Unit tests

#1923 #1830 - Disable Cache added for E2E env
  sources/tests/.env-e2e-tests
Labels: E2E/Unit tests

#1921 #1864 - Country Code Conversion for Part-time e-Cert
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-part-time.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-request.processing.service.ts
  sources/packages/backend/libs/utilities/src/esdc-utils.ts
Labels: Queue Consumers

#1930 1866 - Bug fix for issue when accessing some locationIds from Institutions portal
  sources/packages/web/src/router/InstitutionRoutes.ts
Labels: Bug

#1928 #1759 - Reissue MSFAA - Part 1 - New SIMS API Endpoint
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.reissueMSFAA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-factory.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/disbursement.controller.ts
  sources/packages/backend/apps/workers/src/services/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/apps/workers/src/services/msfaa-number/msfaa-number.service.ts
  sources/packages/backend/apps/workers/src/workers.module.ts
  sources/packages/backend/libs/services/src/constants/error-code.constants.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/services/src/msfaa-number/msfaa-number-shared.service.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/test-utils/src/factories/msfaa-number.ts
  sources/packages/backend/package.json
Labels: SIMS-Api, Camunda Workers, E2E/Unit tests

#1924 #1789 - Create Restrictions Tab for Public Institution User
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/restriction/_tests_/e2e/restriction.institutions.controller.getStudentRestrictionDetail.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/restriction/_tests_/e2e/restriction.institutions.controller.getStudentRestrictions.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/restriction/models/restriction.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/restriction/restriction.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/restriction/restriction.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/restriction/restriction.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/restriction/restriction.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.aest.controller.ts
  sources/packages/backend/apps/api/src/services/restriction/constants.ts
  sources/packages/backend/apps/api/src/services/restriction/student-restriction.service.ts
  sources/packages/backend/libs/test-utils/src/factories/student-restriction.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/web/src/components/common/restriction/ViewRestriction.vue
  sources/packages/web/src/components/common/students/StudentRestrictions.vue
  sources/packages/web/src/composables/useFormatters.ts
  sources/packages/web/src/services/http/RestrictionApi.ts
  sources/packages/web/src/views/aest/student/StudentRestrictions.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentRestrictions.vue
Labels: Content, Web Portal, SIMS-Api, E2E/Unit tests

#1933 #1853 - Enable Notes Tab for Public Institution User
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/note/_tests_/e2e/note.institutions.controller.getStudentNotes.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/note/note.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/restriction/_tests_/e2e/restriction.institutions.controller.getStudentRestrictionDetail.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/libs/test-utils/src/factories/student-restriction.ts
  sources/packages/web/src/components/common/notes/Notes.vue
  sources/packages/web/src/components/common/notes/StudentNotes.vue
  sources/packages/web/src/views/aest/student/StudentNotes.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentNotes.vue
Labels: User Story, Institution, Web Portal, E2E/Unit tests

#1926 #1791 - Enable Assessments tab view and NOA view for Public Institution Users - Part 1
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/application-exception.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/application-exception.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/application-exception.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/models/student-appeal.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.students.controller.ts
  sources/packages/backend/apps/api/src/services/application-exception/application-exception.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
  sources/packages/web/package-lock.json
  sources/packages/web/src/components/aest/students/assessment/History.vue
  sources/packages/web/src/components/aest/students/assessment/Request.vue
  sources/packages/web/src/components/common/students/applicationDetails/ApplicationExceptionsApproval.vue
  sources/packages/web/src/components/common/students/applicationDetails/StudentAppealRequestsApproval.vue
  sources/packages/web/src/components/layouts/Institution/sidebar/InstitutionApplicationSideBar.vue
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/router/InstitutionRoutes.ts
  sources/packages/web/src/services/ApplicationExceptionService.ts
  sources/packages/web/src/services/StudentAppealService.ts
  sources/packages/web/src/services/StudentAssessmentsService.ts
  sources/packages/web/src/services/http/ApplicationExceptionApi.ts
  sources/packages/web/src/services/http/StudentAppealApi.ts
  sources/packages/web/src/services/http/StudentAssessmentApi.ts
  sources/packages/web/src/services/http/dto/StudentAppeal.dto.ts
  sources/packages/web/src/services/http/dto/index.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/aest/StudentAppealRequestsApproval.vue
  sources/packages/web/src/views/aest/student/applicationDetails/ApplicationExceptionsApproval.vue
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentsSummary.vue
  sources/packages/web/src/views/aest/student/applicationDetails/StudentAppealRequestsApproval.vue
  sources/packages/web/src/views/institution/student/applicationDetails/ApplicationExceptions.vue
  sources/packages/web/src/views/institution/student/applicationDetails/InstitutionAssessmentsSummary.vue
  sources/packages/web/src/views/institution/student/applicationDetails/StudentAppealRequest.vue
  sources/packages/web/src/views/student/StudentAppealRequests.vue
Labels: Institution, Ministry, Web Portal, SIMS-Api

#1936 #1759 - Reissue MSFAA - Part 2 - NOA UI Changes
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/services/src/msfaa-number/msfaa-number-shared.service.ts
  sources/packages/forms/src/form-definitions/noticeofassessment.json
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/components/common/AssessmentAwardDetails.vue
  sources/packages/web/src/components/common/NoticeOfAssessmentFormView.vue
  sources/packages/web/src/components/common/modals/ConfirmModal.vue
  sources/packages/web/src/components/generic/FooterButtons.vue
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/services/http/dto/Assessment.dto.ts
  sources/packages/web/src/types/formio.ts
  sources/packages/web/src/views/aest/NoticeOfAssessment.vue
  sources/packages/web/src/views/student/NoticeOfAssessment.vue
Labels: Web Portal, SIMS-Api

#1939 #1759 - MSFAA UI Changes for NOA - Fix form.io definition
  sources/packages/forms/src/form-definitions/noticeofassessment.json
Labels: Bug, Ad-hoc

#1943 #1717 - Bug-02/Segregate db migrations deployment - Part 1
  .github/workflows/build-deploy-dev.yml
  .github/workflows/deploy-all.yml
Labels: Bug

#1938 #1501 - Process ECE response part1
  .github/workflows/deploy-secrets.yml
  configs/env-example
  devops/Makefile
  devops/openshift/init-secrets.yml
  devops/openshift/queue-consumers-deploy.yml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.confirmEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/models/confirmation-of-enrollment.dto.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/_tests_/unit/disbursement-schedule.getCOEApprovalPeriodStatus.spec.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/workers/src/workers.module.ts
  sources/packages/backend/libs/integrations/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-files/ece-response-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-files/ece-response-file-footer.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-files/ece-response-file-header.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-files/ece-response-file-record.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-integration.module.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/models/common.model.ts
  sources/packages/backend/libs/integrations/src/models/index.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/_tests_/unit/confirmation-of-enrollment.getMaxTuitionRemittance.spec.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/confirmation-of-enrollment.service.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/models/confirmation-of-enrollment.models.ts
  sources/packages/backend/libs/services/src/constants/disbursements.constants.ts
  sources/packages/backend/libs/services/src/constants/error-code.constants.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
  sources/packages/backend/libs/utilities/src/config/config.models.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/backend/libs/utilities/src/system-configurations-constants.ts
  sources/tests/docker-compose.yml
Labels: SIMS-Api, Integration

#1944 #1717 - Bug-03/Segregate db migrations deployment - Part 1
  .github/workflows/build-deploy-dev.yml
  devops/Makefile
Labels: Bug

#1945 #1717-Bug-04/Segregate DB Migrations Deployment
  .github/workflows/build-deploy-dev.yml
Labels: Bug

#1946 #1717-Bug-05/Segregate DB Migration deployment
  .github/workflows/build-deploy-dev.yml
Labels: Bug

#1947 #1501 - Process ECE Response file part 2
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/models/confirmation-of-enrollment.dto.ts
  sources/packages/backend/apps/api/src/utilities/application-utils.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/ece-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/integrations/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-files/ece-response-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-integration.module.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/index.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/models/ece-integration.model.ts
  sources/packages/backend/libs/integrations/src/services/index.ts
  sources/packages/backend/libs/integrations/src/services/institution-location/institution-location.service.ts
  sources/packages/backend/libs/integrations/src/services/ssh/sftp-integration-base.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/confirmation-of-enrollment.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/utilities/src/system-configurations-constants.ts
Labels: SIMS-Api, Queue Consumers, Integration

#1949 #1908 - E2E Tests - Workflow - Full-time Grants Eligibility
  sources/packages/backend/libs/utilities/src/date-utils.ts
  sources/packages/backend/package.json
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/fulltime-assessment-2022-2023.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-BGPD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-CSGF.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-CSGT.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/fulltime-assessment-2023-2024.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/execute-workflow-instance-utils.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/backend/workflow/test/test-utils/factories/index.ts
  sources/packages/backend/workflow/test/test-utils/factories/student-dependent.ts
  sources/packages/backend/workflow/test/test-utils/index.ts
Labels: E2E/Unit tests, Camunda Worflow

#1941 #1723 - E2E/Units Tests - Review Workers E2E Tests
  sources/packages/backend/apps/workers/src/controllers/application/_tests_/e2e/application.controller-updateStatus.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/application/_tests_/e2e/application.controller-verifyApplicationExceptions.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/application/_tests_/e2e/update-application-status.ts
  sources/packages/backend/apps/workers/src/controllers/application/_tests_/e2e/verify-application-exceptions.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/_tests_/e2e/disbursement.controller.saveDisbursementSchedules.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/_tests_/e2e/save-disbursement-schedules-payloads.ts
  sources/packages/backend/apps/workers/src/controllers/program-info-request/_tests_/e2e/program-info-request.controller-updateApplicationStatus.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/program-info-request/_tests_/e2e/update-pir-status.ts
  sources/packages/backend/apps/workers/src/controllers/supporting-user/_test_/e2e/create-supporting-users.ts
  sources/packages/backend/apps/workers/src/controllers/supporting-user/_test_/e2e/supporting-user.controller.createSupportingUsers.e2e-spec.ts
  sources/packages/backend/apps/workers/test/helpers/index.ts
  sources/packages/backend/apps/workers/test/helpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/apps/workers/test/utils/worker-job-mock.ts
  sources/packages/backend/libs/test-utils/src/factories/supporting-user.ts
Labels: E2E/Unit tests

#1967 #1966 - Update user to nonroot user 1001
  sources/packages/backend/apps/api/Dockerfile
  sources/packages/backend/apps/db-migrations/Dockerfile
  sources/packages/backend/apps/queue-consumers/Dockerfile
  sources/packages/backend/apps/workers/Dockerfile
Labels: SIMS-Api, Queue Consumers, Camunda Workers, DB, Sonar

#1965 #1501 - ECE Response file processing Part 3
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/CONF/CONR_008.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/DECL/CONR_008.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/FAIL/CONR_008.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/SKIP/CONR_008.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-helper.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/ece-response-integration.scheduler.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-files/ece-response-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.processing.service.ts
  sources/packages/backend/libs/services/src/constants/error-code.constants.ts
  sources/packages/backend/libs/test-utils/src/date-utils.ts
  sources/packages/backend/libs/test-utils/src/factories/institution-location.ts
  sources/packages/backend/libs/test-utils/src/index.ts
Labels: E2E/Unit tests, Integration

#1952 #1791 - Enable Assessments tab view and NOA view for Public Institution Users - Part 3
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/application-exception-helper.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.approveException.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.getExceptionById.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.getPendingApplicationExceptions.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.institution.controller.getException.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/application-exception.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/application-exception.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/application-exception.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/models/application-exception.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentHistorySummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getRequestedAssessmentSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.institutions.controller.getStudentAppealWithRequests.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.models.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment-status.type.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-receipt-value.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-receipt.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/web/src/components/common/students/applicationDetails/ApplicationExceptionsApproval.vue
  sources/packages/web/src/components/common/students/applicationDetails/StudentAppealRequestsApproval.vue
  sources/packages/web/src/services/ApplicationExceptionService.ts
  sources/packages/web/src/services/StudentAppealService.ts
  sources/packages/web/src/services/http/ApplicationExceptionApi.ts
  sources/packages/web/src/services/http/dto/ApplicationException.dto.ts
  sources/packages/web/src/views/institution/student/applicationDetails/AssessmentAward.vue
  sources/packages/web/src/views/institution/student/applicationDetails/NoticeOfAssessment.vue
Labels: Institution, Web Portal, SIMS-Api, E2E/Unit tests

#1974 #1867 - Fix SonarCloud security hotspots
  sources/packages/backend/apps/api/Dockerfile
  sources/packages/backend/apps/db-migrations/Dockerfile
  sources/packages/backend/apps/queue-consumers/Dockerfile
  sources/packages/backend/apps/workers/Dockerfile
Labels: Sonar

#1969 #1966 - Fix sonarcloud critical and major issues (part 1)
  sources/packages/backend/apps/api/src/services/bceid/bceid.service.ts
  sources/packages/backend/libs/integrations/src/services/ssh/sftp-integration-base.ts
  sources/packages/backend/workflow/BPMN/assessment-gateway/extract-dynamic-data-exceptions.js
  sources/packages/backend/workflow/scripts/api-response-parser.js
  testing/src/uploadResult.ts
Labels: Sonar

#1973 #1966 - Fix sonarcloud critical and major issues (part 2)
  sources/packages/backend/apps/api/src/route-controllers/designation-agreement/designation-agreement.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/institution/institution.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/note/note.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.aest.controller.ts
  sources/packages/backend/apps/db-migrations/src/main.ts
  sources/packages/backend/apps/queue-consumers/src/main.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/cancel-application-assessment.processor.ts
  sources/packages/backend/apps/test-db-seeding/src/main.ts
  sources/packages/backend/apps/workers/src/main.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-income-verification.processing.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
  sources/packages/web/src/components/common/IdleTimeChecker.vue
  sources/packages/web/src/components/common/LocationSummary.vue
  sources/packages/web/src/components/common/StudentApplication.vue
  sources/packages/web/src/components/students/StudentDocumentList.vue
  sources/packages/web/src/router/index.ts
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/ApplicationDetailsForCOE.vue
  sources/packages/web/src/views/student/StudentApplicationDetails.vue
  sources/packages/web/src/views/student/StudentApplicationSummary.vue
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
  testing/src/cypress/e2e/04-api-institution/02-instition-create-update-location.cy.ts
  testing/src/uploadResult.ts
Labels: Sonar

#1975 #1929 - Current days of study/studybreaks count is 1 short of total
  sources/packages/backend/apps/api/src/services/education-program-offering/_tests_/unit/education-program-offering.service-getCalculatedStudyBreaksAndWeeks.spec.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
  sources/packages/forms/src/form-definitions/educationprogramoffering.json
Labels: Bug, Institution
