Repository bcgov/SIMS, pull requests merged in 2023-08, with the labels that each got.

#2153 Merge hotfix v1.1.1 to main
  sources/packages/backend/apps/db-migrations/src/migrations/1690490545372-AlterColOperatingAndLegalOperatingName.ts
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Alter-col-operating-and-legal-operating-name.sql
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Rollback-alter-col-operating-and-legal-operating-name.sql
  sources/packages/backend/libs/sims-db/src/entities/institution.model.ts
  sources/packages/forms/src/form-definitions/institutionprofile.json
  sources/packages/forms/src/form-definitions/institutionprofilecreation.json
  sources/packages/web/src/views/aest/SearchInstitutions.vue
Labels: Web Portal, Form.io, DB

#2152 #1963 - Database Name prefixed
  .github/workflows/env-setup-deploy-secrets.yml
  .github/workflows/release-deploy-all.yml
  .github/workflows/repo-checks-tests.yml
  devops/Makefile
  devops/openshift/api-deploy.yml
  devops/openshift/db-migrations-job.yml
  devops/openshift/init-secrets.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/workers-deploy.yml
Labels: Devops

#2159 #2150 - TESTING BUG - Unable to search student in the Support user portal (Parent/partner declaration portal)
  sources/packages/web/src/services/http/dto/SupportingUser.dto.ts
  sources/packages/web/src/views/supporting-user/SupportingInformation.vue
Labels: Technical Debt

#2176 #2116 - Request an Offering Change - E2E test
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.createApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/factories/program-year.ts
  sources/tests/.env-e2e-tests
Labels: E2E/Unit tests

#2199 #2123 - Content Fixes for Institution Account
  sources/packages/forms/src/form-definitions/designationagreementdetails.json
  sources/packages/forms/src/form-definitions/educationprogramoffering.json
  sources/packages/forms/src/form-definitions/institutionlocation.json
  sources/packages/forms/src/form-definitions/institutionwelcomepage.json
  sources/packages/web/src/views/institution/locations/programs/LocationProgramAddEdit.vue
Labels: Content, Web Portal, Form.io

#2212 #2142 - Remove date of marriage and add help text
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Form.io

#2216 #2175 - Update package lock for web
  sources/packages/web/package-lock.json
Labels: Web Portal

#2223 #2179 - Queued Assessments - Create DB migrations
  sources/packages/backend/apps/db-migrations/src/migrations/1693355224679-CreateTypeStudentAssessmentStatus.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1693355238484-StudentAssessmentsAddStudentAssessmentStatusColumns.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1693355247384-ApplicationsAddCurrentProcessingAssessmentId.ts
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Add-col-current-processing-assessment-id.sql
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Drop-col-current-processing-assessment-id.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Add-student-assessment-status-cols.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Drop-student-assessment-status-cols.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Create-student-assessment-status.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Drop-student-assessment-status.sql
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment-status.type.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/web/src/types/contracts/AssessmentStatus.ts
Labels: DB

#2219 #2207 - Investigate Root Cause of Camunda Workers Getting Stuck
  sources/packages/backend/apps/workers/src/controllers/application/application.controller.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/apps/workers/src/controllers/cra-integration/cra-integration.controller.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/disbursement.controller.ts
  sources/packages/backend/apps/workers/src/controllers/program-info-request/program-info-request.controller.ts
  sources/packages/backend/apps/workers/src/controllers/supporting-user/supporting-user.controller.ts
  sources/packages/backend/apps/workers/src/utilities/error-handler.ts
  sources/packages/backend/apps/workers/src/utilities/index.ts
  sources/packages/backend/apps/workers/src/zeebe/zeebe-transport-strategy.ts
  sources/packages/backend/libs/utilities/src/index.ts
  sources/packages/backend/libs/utilities/src/parse-json.ts
Labels: Camunda Workers

#2196 #1978 - Request an Offering Change: Student View Request
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/models/application-offering-change-request.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getCompletedApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1691610329569-AddColStudentConsent.ts
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationOfferingChangeRequests/Add-col-student-consent.sql
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationOfferingChangeRequests/Drop-col-student-consent.sql
  sources/packages/backend/libs/sims-db/src/entities/application-offering-change-request.model.ts
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/components/aest/students/assessment/History.vue
  sources/packages/web/src/components/aest/students/assessment/Request.vue
  sources/packages/web/src/components/common/OfferingView.vue
  sources/packages/web/src/components/generic/ModalDialogBase.vue
  sources/packages/web/src/components/institutions/request-a-change/RequestAChangeForm.vue
  sources/packages/web/src/components/students/StudentAssessmentDetails.vue
  sources/packages/web/src/components/students/applicationTracker/Completed.vue
  sources/packages/web/src/components/students/modals/ApproveApplicationOfferingChangeRequestModal.vue
  sources/packages/web/src/components/students/modals/DeclineApplicationOfferingChangeRequestModal.vue
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/InstitutionRoutes.ts
  sources/packages/web/src/router/StudentRoutes.ts
  sources/packages/web/src/services/ApplicationOfferingChangeRequestService.ts
  sources/packages/web/src/services/EducationProgramOfferingService.ts
  sources/packages/web/src/services/http/ApplicationOfferingChangeRequestApi.ts
  sources/packages/web/src/services/http/EducationProgramOfferingApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/services/http/dto/ApplicationOfferingChangeRequest.dto.ts
  sources/packages/web/src/services/http/dto/Assessment.dto.ts
  sources/packages/web/src/store/modules/student/mutations.ts
  sources/packages/web/src/store/modules/student/student.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/types/contracts/OfferingSummaryPurpose.ts
  sources/packages/web/src/views/student/application-offering-change-request/ApplicationOfferingChangeFormView.vue
  sources/packages/web/src/views/student/application-offering-change-request/tabs/ActiveApplicationOfferingDetails.vue
  sources/packages/web/src/views/student/application-offering-change-request/tabs/RequestedApplicationOfferingDetails.vue
Labels: Web Portal, SIMS-Api, DB
