Repository bcgov/SIMS, pull requests merged in 2023-06, with the labels that each got.

#1988 #1717 - Bug/Updating deploy namespace in db migrations
  devops/Makefile
Labels: Bug, Devops

#1976 #1791 - Enable Assessments tab view and NOA view for Public Institution Users - Part 4
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getRequestedAssessmentSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.institutions.controller.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-receipt-value.ts
  sources/packages/backend/libs/test-utils/src/factories/offering-change-request.ts
  sources/packages/web/src/views/institution/student/applicationDetails/InstitutionAssessmentsSummary.vue
Labels: User Experience, E2E/Unit tests

#1984 #1791 - Enable Assessments tab view and NOA view for Public Institution Users - Part 5
  sources/packages/backend/apps/api/src/auth/decorators/institution/institution-student-data-access.decorator.ts
  sources/packages/backend/apps/api/src/auth/guards/institution/institution-student-data-access.guard.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.institution.controller.getException.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/application-exception.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/application-exception.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.institutions.controller.getStudentAppealWithRequests.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/application-exception/application-exception.service.ts
  sources/packages/backend/apps/api/src/services/disbursement-receipt/disbursement-receipt.service.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/web/src/components/common/NoticeOfAssessmentFormView.vue
  sources/packages/web/src/components/common/students/applicationDetails/ApplicationExceptionsApproval.vue
  sources/packages/web/src/components/common/students/applicationDetails/StudentAppealRequestsApproval.vue
  sources/packages/web/src/services/ApplicationExceptionService.ts
  sources/packages/web/src/services/StudentAppealService.ts
  sources/packages/web/src/services/StudentAssessmentsService.ts
  sources/packages/web/src/services/http/ApplicationExceptionApi.ts
  sources/packages/web/src/services/http/StudentAppealApi.ts
  sources/packages/web/src/services/http/StudentAssessmentApi.ts
  sources/packages/web/src/views/institution/student/applicationDetails/ApplicationExceptions.vue
  sources/packages/web/src/views/institution/student/applicationDetails/AssessmentAward.vue
  sources/packages/web/src/views/institution/student/applicationDetails/NoticeOfAssessment.vue
  sources/packages/web/src/views/institution/student/applicationDetails/StudentAppealRequest.vue
Labels: Test Case, Web Portal, SIMS-Api, E2E/Unit tests

#1986 #1917 - Release workflows
  .github/workflows/build-deploy-dev.yml
  .github/workflows/env-setup-build-deploy-forms-server.yml
  .github/workflows/env-setup-deploy-secrets.yml
  .github/workflows/release-build-all.yml
  .github/workflows/release-create-branch.yml
  .github/workflows/release-deploy-all.yml
  .github/workflows/release-deploy-camunda-definitions.yml
  .github/workflows/release-deploy-formio-definitions.yml
  .github/workflows/repo-checks-tests.yml
Labels: Devops

#1996 #1983 - Changed Redis client to ioredis for local development
  sources/packages/backend/libs/sims-db/src/data-source.ts
Labels: Bug

#1987 #1959 - Staging sims prod environment -Part 1
  .github/workflows/env-setup-deploy-secrets.yml
  configs/env-example
  devops/Makefile
  devops/openshift/api-deploy.yml
  devops/openshift/database/patroni-deploy.yml
  devops/openshift/init-secrets.yml
  devops/openshift/networkpolicy.yml
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/auth/auth.module.ts
  sources/packages/backend/apps/api/src/services/auth/keycloak/keycloak.service.ts
  sources/packages/backend/apps/api/src/services/auth/tokens.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/tests/docker-compose.yml
Labels: Devops

#1999 #1959 - Staging sims prod environment formio
  sources/packages/forms/Dockerfile
Labels: Devops

#2000 #1959 - Staging sims prod environment : formio GitHub action build deploy split
  .github/workflows/env-setup-build-forms-server.yml
  .github/workflows/env-setup-deploy-forms-server.yml
Labels: Devops

#1995 #1953 - Request an Offering Change - DB Migrations
  sources/packages/backend/apps/db-migrations/src/migrations/1686094364995-CreateApplicationOfferingRequestsAndStatusTypes.ts
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationOfferingChangeRequests/Create-application-offering-change-requests.sql
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationOfferingChangeRequests/Drop-application-offering-change-requests.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Create-application-offering-change-request-status-types.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Drop-application-offering-change-request-status-types.sql
  sources/packages/backend/libs/sims-db/src/constant.ts
  sources/packages/backend/libs/sims-db/src/entities/application-offering-change-request-status.type.ts
  sources/packages/backend/libs/sims-db/src/entities/application-offering-change-request.model.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
Labels: DB

#2002 Moving SIMS PROD Staging changes to release v1.0.0 branch
  .github/workflows/env-setup-build-forms-server.yml
  .github/workflows/env-setup-deploy-forms-server.yml
  .github/workflows/env-setup-deploy-secrets.yml
  configs/env-example
  devops/Makefile
  devops/openshift/api-deploy.yml
  devops/openshift/database/patroni-deploy.yml
  devops/openshift/init-secrets.yml
  devops/openshift/networkpolicy.yml
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/auth/auth.module.ts
  sources/packages/backend/apps/api/src/services/auth/keycloak/keycloak.service.ts
  sources/packages/backend/apps/api/src/services/auth/tokens.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/forms/Dockerfile
  sources/tests/docker-compose.yml
Labels: Branch Sync-up

#1998 #1911 - ECE Response file notification part 1
  sources/packages/backend/apps/api/src/services/restriction/institution-restriction.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1686109250957-AddInstitutionIntegrationContacts.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1686109524248-InsertECEResponseFileProcessingMessage.ts
  sources/packages/backend/apps/db-migrations/src/sql/InstitutionLocations/Add-col-integration-contacts.sql
  sources/packages/backend/apps/db-migrations/src/sql/InstitutionLocations/Drop-col-integration-contacts.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Delete-ece-response-file-processing-message.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-ece-response-file-processing-message.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/SKIP/CONR_008.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-files/ece-response-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/models/ece-integration.model.ts
  sources/packages/backend/libs/services/src/constants/error-code.constants.ts
  sources/packages/backend/libs/sims-db/src/entities/institution-location.model.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
Labels: E2E/Unit tests, DB

#2011 #1911 - ECE response processing notification part 2
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/MULT/CONR_008.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-helper.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-files/ece-response-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/institution-location/institution-location.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/gc-notify.model.ts
  sources/packages/backend/libs/services/src/notifications/notification/gc-notify.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.service.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/utilities/src/base64-utils.ts
  sources/packages/backend/libs/utilities/src/index.ts
Labels: E2E/Unit tests, Integration

#2019 #2006 - Remediate high risk vulnerabilities from WAVA report
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getCOESummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
Labels: Bug, SIMS-Api

#2012 #2003 - Basic e2e tests for the low coverage parts of the application
  sources/packages/backend/apps/api/src/route-controllers/designation-agreement/_tests_/e2e/designation-agreement.institutions.controller.submitDesignationAgreement.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/designation-agreement/designation-agreement.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.createOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.updateProgramOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.validateOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.institutions.controller.createEducationProgram.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/institution/_tests_/e2e/institution.aest.controller.createInstitution.e2e-spec.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/education-program-fake.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/education-program-offering-fake.ts
  sources/packages/backend/libs/test-utils/src/factories/designation-agreement.ts
Labels: E2E/Unit tests

#2021 #2018 - Patroni update on Dev Test and Prod, DB-migration revert enable in API
  devops/openshift/database/patroni-deploy.yml
  sources/packages/backend/apps/api/Dockerfile
Labels: Devops

#2025 #2024 - Changed NOC to 5 digits
  sources/packages/forms/src/form-definitions/educationprogram.json
Labels: Bug, SIMS-Api

#2013 #1953 - Request an Offering Change - Part 2
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/models/application-offering-change-request.institutions.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1686326045778-AddApplicationOfferingChangeAssessmentTriggerTypeAndAssessmentUpdate.ts
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Add-application-offering-change-to-assessment.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Remove-application-offering-change-from-assessment.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-application-offering-change-assessment-trigger-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Remove-application-offering-change-assessment-trigger-type.sql
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/libs/sims-db/src/index.ts
  sources/packages/backend/libs/sims-db/src/pagination-utils.ts
  sources/packages/backend/libs/utilities/src/datatable-config.ts
  sources/packages/web/src/components/institutions/request-a-change/AvailableToChangeSummary.vue
  sources/packages/web/src/components/layouts/Institution/sidebar/HomeSideBar.vue
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/helpers/helpers/uri.ts
  sources/packages/web/src/router/InstitutionRoutes.ts
  sources/packages/web/src/services/ApplicationOfferingChangeRequestService.ts
  sources/packages/web/src/services/http/ApiClient.ts
  sources/packages/web/src/services/http/ApplicationOfferingChangeRequestApi.ts
  sources/packages/web/src/services/http/dto/ApplicationOfferingChangeRequest.dto.ts
  sources/packages/web/src/services/http/dto/index.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/types/contracts/ApplicationOfferingChangeRequestStatus.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/views/institution/locations/request-a-change/RequestAChange.vue
Labels: Web Portal, SIMS-Api, DB

#2023 #2017 - Upgrade npm packages to remove warnings accross all projects
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Task, Dependencies

#2031 #1997 - Upgrade Zeebe node version
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: Dependencies, E2E/Unit tests

#2045 #2020 - Remediate high risk vulnerabilities from WAVA report (API Mass Assignment)
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.createOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.updateProgramOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.validateOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.institutions.controller.createEducationProgram.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/institution-locations/institution-location.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/institution-locations/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/institution/_tests_/e2e/institution.aest.controller.createInstitution.e2e-spec.ts
  sources/packages/backend/apps/api/src/utilities/auth-utils.ts
  sources/packages/backend/apps/api/src/utilities/class-transform/index.ts
  sources/packages/backend/apps/api/src/utilities/class-transform/to-boolean.ts
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/components/common/OfferingFormSubmit.vue
  sources/packages/web/src/components/institutions/locations/LocationEditForm.vue
  sources/packages/web/src/components/partial-view/DesignationAgreement/DesignationAgreementForm.models.ts
  sources/packages/web/src/composables/useFormioUtils.ts
  sources/packages/web/src/main.ts
  sources/packages/web/src/services/DesignationAgreementService.ts
  sources/packages/web/src/services/InstitutionService.ts
  sources/packages/web/src/services/http/InstitutionApi.ts
  sources/packages/web/src/services/http/dto/ApplicationException.dto.ts
  sources/packages/web/src/services/http/dto/Common.dto.ts
  sources/packages/web/src/services/http/dto/ConfirmationOfEnrolment.dto.ts
  sources/packages/web/src/services/http/dto/DesignationAgreement.dto.ts
  sources/packages/web/src/services/http/dto/EducationProgram.dto.ts
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/services/http/dto/Institution.dto.ts
  sources/packages/web/src/services/http/dto/InstitutionLocation.dto.ts
  sources/packages/web/src/services/http/dto/ProgramInfoRequest.dto.ts
  sources/packages/web/src/services/http/dto/ScholasticStanding.dto.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/services/http/dto/StudentAccountApplication.dto.ts
  sources/packages/web/src/services/http/dto/User.dto.ts
  sources/packages/web/src/types/contracts/EducationProgram.ts
  sources/packages/web/src/views/aest/institution/DesignationAESTView.vue
  sources/packages/web/src/views/aest/institution/InstitutionLocationEdit.vue
  sources/packages/web/src/views/aest/institution/ProfileCreate.vue
  sources/packages/web/src/views/aest/institution/ProfileEdit.vue
  sources/packages/web/src/views/aest/student/StudentAccountApplicationsApproval.vue
  sources/packages/web/src/views/aest/student/applicationDetails/ApplicationExceptionsApproval.vue
  sources/packages/web/src/views/institution/EditInstitutionLocation.vue
  sources/packages/web/src/views/institution/InstitutionCreate.vue
  sources/packages/web/src/views/institution/InstitutionProfile.vue
  sources/packages/web/src/views/institution/InstitutionUserProfile.vue
  sources/packages/web/src/views/institution/locations/offerings/OfferingCreate.vue
  sources/packages/web/src/views/institution/locations/offerings/OfferingEdit.vue
  sources/packages/web/src/views/institution/locations/offerings/OfferingRequestChange.vue
  sources/packages/web/src/views/institution/locations/program-info-request/LocationEditProgramInfoRequest.vue
  sources/packages/web/src/views/institution/locations/programs/LocationProgramAddEdit.vue
  sources/packages/web/src/views/student/StudentFileUploader.vue
  sources/packages/web/src/views/student/StudentProfileCreate.vue
  sources/packages/web/src/views/student/StudentProfileEdit.vue
  sources/packages/web/tsconfig.json
Labels: Web Portal, SIMS-Api

#2041 #2033 - Validating FT and PT offering minimum length
  sources/packages/backend/apps/api/src/services/education-program-offering/custom-validators/has-valid-offering-period-for-funded-days.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-validation.models.ts
  sources/packages/backend/apps/api/src/utilities/class-validation/custom-validators/period-min-length.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/forms/src/form-definitions/educationprogramoffering.json
Labels: SIMS-Api, Form.io

#2051 #2043 - Remove cache for institution type
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
Labels: SIMS-Api

#2010 #1777 - Process msfaa reactivation from federal file (Part 1)
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.reissueMSFAA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentHistorySummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getRequestedAssessmentSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.institutions.controller.getStudentAppealWithRequests.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-factory.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-full-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-helper.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-process-integration.scheduler.models.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-receive-files/msfaa-full-time-receive-file-with-reactivation-record.dat
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-receive-files/msfaa-part-time-receive-file-with-reactivation-record.dat
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-files/msfaa-response-record-identification.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/msfaa-number/msfaa-number.service.ts
  sources/packages/backend/libs/services/src/msfaa-number/msfaa-number-shared.service.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/test-utils/src/factories/msfaa-number.ts
  sources/packages/backend/libs/test-utils/src/mocks/ssh-service-mock.ts
Labels: Queue Consumers, E2E/Unit tests

#2056 #2055 - Institution menus not displayed after creation (Business BCeID only)
  sources/packages/web/src/composables/institution/useInstitutionAuth.ts
  sources/packages/web/src/composables/institution/useInstitutionState.ts
  sources/packages/web/src/store/modules/institution/actions.ts
  sources/packages/web/src/views/institution/InstitutionCreate.vue
  sources/packages/web/src/views/institution/InstitutionProfile.vue
Labels: Bug, Web Portal, Ad-hoc

#2064 #2058 - Add new program regulatory option
  sources/packages/forms/src/form-definitions/educationprogram.json
Labels: Institution

#2048 #1953 - Request an Offering Change - Part 4
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.getCompletedApplications.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.getEligibleApplications.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.getInProgressApplications.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/models/application-offering-change-request.institutions.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/application-offering-change-request.ts
  sources/packages/backend/libs/test-utils/src/index.ts
Labels: SIMS-Api, E2E/Unit tests

#2052 #2028 - Bugs and further requirements for Institution Portal -> Add Program
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.institutions.controller.createEducationProgram.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/models/education-program.dto.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.models.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1687553699796-EducationProgramsTableCreateOtherRegulatoryBody.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1687882043282-EducationProgramsTableCreateNoneOfEntranceRequirements.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Add-col-none-of-entrance-requirements.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Add-col-other-regulatory-body.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Drop-col-none-of-entrance-requirements.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Drop-col-other-regulatory-body.sql
  sources/packages/backend/libs/sims-db/src/entities/education-program.model.ts
  sources/packages/forms/src/form-definitions/educationprogram.json
  sources/packages/web/src/services/http/dto/EducationProgram.dto.ts
  sources/packages/web/src/types/contracts/EducationProgram.ts
Labels: Bug, Institution, Form.io, DB

#2065 #1953 - Request an Offering Change - Fix
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.getCompletedApplications.e2e-spec.ts
Labels: E2E/Unit tests

#2062 #2036 - Fix search issue in the program data table that is using v-data-table search
  sources/packages/web/src/views/institution/locations/programs/LocationPrograms.vue
Labels: Bug, Web Portal

#2066 #2053 - Invalid Education Program Field of Study
  sources/packages/forms/src/form-definitions/educationprogram.json
Labels: Bug, Institution

#2057 #1882 - Recovery and backup startegy patroni
  devops/Makefile
  devops/openshift/database-backup/backup-build.yaml
  devops/openshift/database-backup/backup-deploy.yaml
  devops/openshift/database-backup/backup.conf
  devops/openshift/database-backup/patroni-simsdb-backup.conf
Labels: Devops

#2063 #1777 - Process MSFAA Cancellation and Reactivation Notification
  sources/packages/backend/apps/db-migrations/src/migrations/1688016799148-InsertMSFAACancellationMessage.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Delete-msfaa-cancellation-message.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-msfaa-cancellation-message.sql
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/msfaa-number/msfaa-number.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: DB, Integration

#2068 #1962 - Favicon replacement
  sources/packages/web/public/apple-touch-icon.png
  sources/packages/web/public/favicon-16x16.png
  sources/packages/web/public/favicon-32x32.png
  sources/packages/web/public/favicon.ico
  sources/packages/web/public/index.html
  sources/packages/web/public/safari-pinned-tab.svg
Labels: Web Portal

#2070 #1658 - Address fields display for institutions and ministry users
  sources/packages/backend/apps/api/src/services/institution-location/institution-location.service.ts
  sources/packages/web/src/components/common/LocationSummary.vue
  sources/packages/web/src/composables/useFormatters.ts
Labels: Bug, Institution, Web Portal
