Repository bcgov/SIMS, pull requests merged in 2023-04, with the labels that each got.

#1858 #1683 - Show success icon when application is completed
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/web/src/components/students/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/students/applicationTracker/MultipleDisbursementBanner.vue
  sources/packages/web/src/services/http/dto/Application.dto.ts
Labels: Bug, Web Portal, Ad-hoc

#1842 #1834 - Service task identifier for subprocesses
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/income-verification.bpmn
  sources/packages/backend/workflow/test/2021-2022/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/constants/program-year.constants.ts
  sources/packages/backend/workflow/test/2021-2022/fulltime-assessment/fulltime-assessment-2021-2022.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/constants/program-year.constants.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/constants/program-year.constants.ts
  sources/packages/backend/workflow/test/test-utils/constants/mock-constants.ts
  sources/packages/backend/workflow/test/test-utils/constants/system-configurations-constants.ts
  sources/packages/backend/workflow/test/test-utils/constants/workflow-variables-constants.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/backend/workflow/test/test-utils/mock/assessment-gateway/create-supporting-users-parents-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/assessment-gateway/load-assessment-consolidated-data-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/assessment-gateway/verify-application-exceptions-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/cra-integration-income-verification/check-income-request-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/cra-integration-income-verification/create-income-request-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/index.ts
  sources/packages/backend/workflow/test/test-utils/mock/mock.utils.ts
  sources/packages/backend/workflow/test/test-utils/mock/supporting-user-information-request/check-supporting-user-response-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/zeebe-worker-mock.ts
  sources/packages/backend/workflow/test/test-utils/validation/workflow-validation.utils.ts
Labels: E2E/Unit tests, Camunda Worflow

#1861 #1280 - Index for fullname DB Search
  sources/packages/backend/apps/api/src/services/application-exception/application-exception.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1680720937323-UsersTableCreateFirstNameLastNameIndex.ts
  sources/packages/backend/apps/db-migrations/src/sql/User/Add-index-first-name-last-name.sql
  sources/packages/backend/apps/db-migrations/src/sql/User/Drop-index-first-name-last-name.sql
  sources/packages/backend/libs/sims-db/src/database-utils.ts
Labels: SIMS-Api, DB

#1868 #1806 - Ignoring test coverage for dependabot
  .github/workflows/tests.yml
Labels: Bug

#1865 #1834 - Hierarchical mocks for workflow E2E tests
  sources/packages/backend/libs/test-utils/src/models/common.model.ts
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/test-utils/constants/mock-constants.ts
  sources/packages/backend/workflow/test/test-utils/constants/workflow-variables-constants.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/backend/workflow/test/test-utils/mock/assessment-gateway/create-supporting-users-parents-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/assessment-gateway/load-assessment-consolidated-data-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/assessment-gateway/verify-application-exceptions-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/cra-integration-income-verification/check-income-request-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/cra-integration-income-verification/create-income-request-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/mock.utils.ts
  sources/packages/backend/workflow/test/test-utils/mock/supporting-user-information-request/check-supporting-user-response-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/zeebe-worker-mock.ts
  sources/packages/backend/workflow/test/test-utils/validation/workflow-validation.utils.ts
Labels: E2E/Unit tests, Camunda Worflow

#1860 #1761 - Handling full time BCSL lifetime and federal maximums - DB migrations
  sources/packages/backend/apps/db-migrations/src/migrations/1680543825631-UpdateAndAddRestrictions.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1680563185551-AddMaxLifetimeBCLoanAmountCol.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1680565235826-AddRestrictionAmountAndIdSubtractedCols.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementValues/Add-restriction-amount-and-id-subtracted-cols.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementValues/Rollback-add-restriction-amount-and-id-subtracted-cols.sql
  sources/packages/backend/apps/db-migrations/src/sql/ProgramYear/Add-max-lifetime-bc-loan-amount.sql
  sources/packages/backend/apps/db-migrations/src/sql/ProgramYear/Rollback-add-max-lifetime-bc-loan-amount.sql
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Add-bclm-restriction-and-update-actions.sql
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Rollback-add-bclm-restriction-and-update-actions.sql
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule.model.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-values.model.ts
  sources/packages/backend/libs/sims-db/src/entities/program-year.model.ts
  sources/packages/backend/libs/test-utils/src/factories/program-year.ts
Labels: DB

#1888 #1889 - Zeebe GRPC Error Investigation
  sources/camunda-docker-compose-core.yml
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
  sources/packages/backend/workflow/test/test-utils/mock/zeebe-worker-mock.ts
  sources/tests/workflow-docker-compose.yml
Labels: Ad-hoc, Camunda Workers

#1890 #1864 - PT Integration Files Review - MSFAA Send/Request Files
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/msfaa-part-time-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/msfaa-part-time-process-response-integration.scheduler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/models/msfaa-integration.model.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-files/msfaa-file-detail.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-files/msfaa-file-footer.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-files/msfaa-file-header.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-files/msfaa-response-cancelled-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-files/msfaa-response-received-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-files/msfaa-response-record-identification.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-request.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/msfaa-number/msfaa-number.service.ts
Labels: Queue Consumers

#1887 #1786 - Enable Search Student for Institutions part 2
  sources/packages/backend/apps/api/src/app.supporting-users.module.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.searchStudents.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/institution-auth-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/institution-token-helpers.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1681162016660-UpdateLocationIdComment.ts
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Rollback-update-comment-location-id.sql
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Update-comment-location-id.sql
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/institution/basic-seeding/create-institutions-and-authentication-users.model.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/institution/basic-seeding/create-institutions-and-authentication-users.ts
  sources/packages/backend/apps/workers/src/controllers/program-info-request/program-info-request.controller.ts
  sources/packages/backend/apps/workers/src/controllers/program-info-request/program-info-request.dto.ts
  sources/packages/backend/apps/workers/src/services/application/application.service.ts
  sources/packages/backend/libs/services/src/workflow/variables/assessment-gateway.ts
  sources/packages/backend/libs/test-utils/src/constants/institution.constants.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/web/src/components/common/SearchStudents.vue
Labels: Institution, E2E/Unit tests

#1891 #582 - Improvement in guards
  sources/packages/web/src/composables/institution/useInstitutionAuth.ts
  sources/packages/web/src/composables/institution/useInstitutionState.ts
  sources/packages/web/src/router/InstitutionRouteHelper.ts
  sources/packages/web/src/router/InstitutionRoutes.ts
  sources/packages/web/src/router/index.ts
  sources/packages/web/src/services/AuthService.ts
  sources/packages/web/src/services/UserAuthorizationService.ts
  sources/packages/web/src/store/modules/institution/actions.ts
  sources/packages/web/src/store/modules/institution/mutations.ts
  sources/packages/web/src/types/contracts/institution/InstitutionUser.ts
  sources/packages/web/src/views/institution/AppInstitution.vue
Labels: Web Portal

#1886 #1761 - Handling full time BCSL lifetime and federal maximums
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/app.supporting-users.module.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/restriction/restriction.service.ts
  sources/packages/backend/apps/api/src/services/restriction/student-restriction.service.ts
  sources/packages/backend/apps/api/src/services/student-file/student-file.service.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/cancel-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/disbursement.controller.ts
  sources/packages/backend/apps/workers/src/workers.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/fed-restriction-integration/fed-restriction-integration.module.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-integration.module.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/services/src/restriction/model/restriction.model.ts
  sources/packages/backend/libs/services/src/restriction/restriction-shared.service.ts
  sources/packages/backend/libs/services/src/restriction/student-restriction-shared.service.ts
  sources/packages/backend/libs/services/src/sfas/sfas-application.service.ts
  sources/packages/backend/libs/sims-db/src/entities/student.model.ts
Labels: SIMS-Api, Queue Consumers

#1897 #1761 - Handling full time BCSL lifetime and federal maximums - UI update
  sources/packages/forms/src/form-definitions/studentaccountactivity.json
Labels: Web Portal, Form.io

#1898 #582 - Restrict non BC Public Institutions from accessing Routes for BC Public institutions
  sources/packages/web/src/composables/institution/useInstitutionAuth.ts
  sources/packages/web/src/router/InstitutionRouteHelper.ts
  sources/packages/web/src/router/InstitutionRoutes.ts
Labels: Web Portal

#1892 #1864 - PT Integration Files Review - e-Cert and Feedback Files
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-part-time-feedback-integration.scheduler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-full-time-integration/e-cert-full-time.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-files/e-cert-file-footer.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-files/e-cert-file-header.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-files/e-cert-file-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-files/e-cert-response-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-part-time.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/models/e-cert-integration-model.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule-errors/disbursement-schedule-errors.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/sims-db/src/error-handler.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-schedule.ts
  sources/packages/backend/libs/utilities/src/disbursements-utils.ts
  sources/packages/backend/libs/utilities/src/esdc-utils.ts
Labels: Queue Consumers

#1909 #1761 - Handling full time BCSL lifetime and federal maximums - fix
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
Labels: SIMS-Api

#1905 #1864 - MSFAA Send File E2E Test Automation
  .github/workflows/tests.yml
  .vscode/launch.json
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-factory.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-helper.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.models.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-files/msfaa-file-detail.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-request.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa.integration.service.ts
  sources/packages/backend/libs/integrations/src/services/msfaa-number/msfaa-number.service.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/msfaa-number.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/backend/libs/test-utils/src/mocks/ssh-service-mock.ts
  sources/packages/backend/package.json
Labels: Queue Consumers, E2E/Unit tests

#1907 #1830 - Institution Student Authorization Part 1
  sources/packages/backend/apps/api/src/auth/auth.module.ts
  sources/packages/backend/apps/api/src/auth/decorators/index.ts
  sources/packages/backend/apps/api/src/auth/decorators/institution/institution-admin.decorator.ts
  sources/packages/backend/apps/api/src/auth/decorators/institution/institution-bc-public.decorator.ts
  sources/packages/backend/apps/api/src/auth/decorators/institution/institution-location.decorator.ts
  sources/packages/backend/apps/api/src/auth/decorators/institution/institution-student-data-access.decorator.ts
  sources/packages/backend/apps/api/src/auth/decorators/student/check-sin-status.decorator.ts
  sources/packages/backend/apps/api/src/auth/decorators/student/requires-student-account.decorator.ts
  sources/packages/backend/apps/api/src/auth/decorators/userToken.decorator.ts
  sources/packages/backend/apps/api/src/auth/guards/index.ts
  sources/packages/backend/apps/api/src/auth/guards/institution/institution-admin.guard.ts
  sources/packages/backend/apps/api/src/auth/guards/institution/institution-bc-public.guard.ts
  sources/packages/backend/apps/api/src/auth/guards/institution/institution-location.guard.spec.ts
  sources/packages/backend/apps/api/src/auth/guards/institution/institution-location.guard.ts
  sources/packages/backend/apps/api/src/auth/guards/institution/institution-student-data-access.guard.ts
  sources/packages/backend/apps/api/src/auth/guards/student/requires-student-account.guard.ts
  sources/packages/backend/apps/api/src/auth/guards/student/sin-validation.guard.ts
  sources/packages/backend/apps/api/src/route-controllers/designation-agreement/designation-agreement.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
  sources/packages/backend/libs/sims-db/src/entities/institution-type.model.ts
Labels: SIMS-Api

#1903 #1790 - Enable Applications Tab for Public Institution User
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentApplicationSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/application-exception/application-exception.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/apps/api/src/utilities/datatable-config.ts
  sources/packages/backend/libs/test-utils/src/factories/student-assessment.ts
  sources/packages/backend/libs/utilities/src/datatable-config.ts
  sources/packages/backend/libs/utilities/src/index.ts
  sources/packages/web/src/components/common/students/StudentApplications.vue
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/views/aest/student/Applications.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentApplications.vue
  sources/packages/web/src/views/student/StudentApplicationSummary.vue
Labels: User Experience, Institution, Web Portal, SIMS-Api, E2E/Unit tests

#1912 #1830 - Test case fix
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentProfile.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.searchStudents.e2e-spec.ts
Labels: E2E/Unit tests
