Repository bcgov/SIMS, pull requests merged in 2023-01, with the labels that each got.

#1640 #1548 - deployment bug fix
  devops/openshift/queue-consumers-deploy.yml
Labels: Bug

#1643 #1590 Part 1 - Ministry confirm COE
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/models/confirmation-of-enrollment.models.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule-service/disbursement-schedule-service.ts
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/components/common/AssessmentAwardDetails.vue
  sources/packages/web/src/components/common/ConfirmEnrolment.vue
  sources/packages/web/src/services/ConfirmationOfEnrollmentService.ts
  sources/packages/web/src/services/http/ConfirmationOfEnrollmentApi.ts
  sources/packages/web/src/services/http/dto/Assessment.dto.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/views/aest/student/AssessmentAward.vue
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/ApplicationDetailsForCOE.vue
Labels: Web Portal, SIMS-Api

#1644 #1346 - Overaward e-Cert generation
  .vscode/launch.json
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1671585933151-AddEffectiveAmountToDisbursementValuesTable.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementValues/Add-effective-amount-col.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementValues/Drop-effective-amount-col.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/tests/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/tests/disbursement.controller.e2e-spec.ts
  sources/packages/backend/apps/workers/src/services/disbursement-overaward/disbursement-overaward-service.ts
  sources/packages/backend/apps/workers/src/services/index.ts
  sources/packages/backend/apps/workers/src/workers.module.ts
  sources/packages/backend/libs/integrations/src/constants/index.ts
  sources/packages/backend/libs/integrations/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-full-time-integration/e-cert-full-time.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-part-time.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/models/e-cert-integration-model.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/esdc-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-request.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/index.ts
  sources/packages/backend/libs/services/src/constants/disbursements.constants.ts
  sources/packages/backend/libs/services/src/constants/index.ts
  sources/packages/backend/libs/services/src/disbursement-overaward/disbursement-overaward-service.ts
  sources/packages/backend/libs/services/src/disbursement-overaward/disbursement-overaward.models.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-overaward-origin.type.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule.model.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-values.model.ts
  sources/packages/backend/libs/sims-db/src/entities/msfaa-number.model.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-schedule.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-value.ts
  sources/packages/backend/libs/test-utils/src/factories/msfaa-number.ts
  sources/packages/backend/libs/test-utils/src/factories/sin-validation.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/backend/libs/test-utils/src/mocks/ssh-service.mock.ts
  sources/packages/backend/libs/utilities/src/disbursements-utils.ts
Labels: Queue Consumers

#1648 #1360 - send student notifications - Assessment & SIN
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1672956344922-AddStudentSINAndAssessmentNotificationMessagesDetails.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Drop-student-sin-and-assessment-notification-messages.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-student-sin-and-assessment-notification-messages.sql
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/sin-validation/sin-validation.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/sin-validation/sin-validation.service.ts
  sources/packages/backend/libs/integrations/src/services/student/student.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: User Story, Student, Camunda Workers

#1654 Bug in importing module for workers
  sources/packages/backend/apps/workers/src/workers.module.ts
Labels: Bug

#1656 Openshift Patroni Shortcuts for Local DEV Environment
  sources/Makefile
Labels: Enhancement, Ad-hoc

#1660 #486 - Bug Uploaded records for institution file upload
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece.processing.service.ts
Labels: Bug

#1661 #1614 - Student File Upload - UI
  sources/packages/forms/src/form-definitions/uploadstudentdocuments.json
  sources/packages/web/src/assets/css/formio-shared.scss
Labels: Bug, Student, Web Portal

#1659 #1346 - Change already disbursed money calculation.
  sources/packages/backend/libs/services/src/disbursement-overaward/disbursement-overaward.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/libs/services/src/index.ts
Labels: Bug, Camunda Workers

#1663 #1346 - Converted DB numeric string to number
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/tests/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/tests/disbursement.controller.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt-files/disbursement-receipt-file-detail.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt-files/disbursement-receipt-file-record.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-receipt/disbursement-receipt.model.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-overaward.model.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-receipt-values.model.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-receipts.model.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-values.model.ts
  sources/packages/backend/libs/sims-db/src/transformers/numeric.transformer.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-overaward.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-value.ts
  sources/packages/backend/libs/utilities/src/disbursements-utils.ts
Labels: Queue Consumers, Camunda Workers

#1664 #1638 - Move `archive application` from api to schedulers
  configs/env-example
  devops/openshift/api-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/backend/apps/api/src/app.system-access.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.system-access.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.system.controller.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/types/clientTypeBaseRoute.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1673463969243-AddArchiveApplicationsQueueConfiguration.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-archive-applications-queue.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-archive-applications-queue.sql
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/application/process-archive-application.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/application/application.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/index.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
Labels: Queue Consumers

#1667 #1638 - Makefile bug fix
  devops/Makefile
Labels: Bug

#1657 #1590 Final PR disable COE past study date for Institution
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/models/confirmation-of-enrollment.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/models/confirmation-of-enrollment.models.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
  sources/packages/forms/src/form-definitions/programinformationrequest.json
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/studentexceptions.json
  sources/packages/web/src/assets/css/formio-shared.scss
  sources/packages/web/src/assets/css/global-style-variables.scss
  sources/packages/web/src/components/common/StudentApplication.vue
  sources/packages/web/src/components/institutions/locations/coe/COEApprovalDisabledBanner.vue
  sources/packages/web/src/composables/useFormioComponentLoader.ts
  sources/packages/web/src/services/EducationProgramOfferingService.ts
  sources/packages/web/src/services/http/EducationProgramOfferingApi.ts
  sources/packages/web/src/services/http/dto/ConfirmationOfEnrolment.dto.ts
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/types/contracts/Menu.ts
  sources/packages/web/src/types/contracts/institution/ConfirmationOfEnrollment.ts
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/ApplicationDetailsForCOE.vue
  sources/packages/web/src/views/institution/locations/program-info-request/LocationEditProgramInfoRequest.vue
Labels: Web Portal, SIMS-Api, Form.io

#1671 #1649 - Request Basic BCeID account creation limited to one at a time
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/student-account-application.students.controller.ts
  sources/packages/backend/apps/api/src/services/student-account-applications/student-account-applications.service.ts
Labels: Bug

#1675 #1587 Get dependent status excluding parents if both parents estranged or passed away
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Form.io

#1682 #1666-Dependabot dependency error
  sources/packages/backend/package-lock.json
Labels: Bug, Ad-hoc

#1685 Updated version of fomio with 2.5.4 and install libraries using package-lock.json
  devops/Makefile
  sources/packages/forms/Dockerfile
Labels: Bug, Ad-hoc

#1686 Updated Dockerfile for formio
  sources/packages/forms/Dockerfile
Labels: Bug, Ad-hoc

#1688 Formio dockerfile update
  sources/packages/forms/Dockerfile
Labels: Bug, Ad-hoc

#1681 #1146 - Ensure Dry Run Result Right Usage
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/designation-agreement/designation-agreement.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/designation-agreement/models/designation-agreement.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/institution-locations/institution-location.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/student-account-application.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/student-account-application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/api/src/services/form/form.service.ts
  sources/packages/backend/apps/api/src/types/form.ts
Labels: Enhancement, SIMS-Api

#1687 #1615-Keycloak Migration from Silver to Gold Cluster
  .github/workflows/build-deploy-dev.yml
  .github/workflows/deploy-all.yml
  .github/workflows/test.yml
  sources/Makefile
  sources/packages/backend/apps/api/src/auth/auth-utils.ts
  sources/packages/backend/apps/api/src/auth/authorized-parties.enum.ts
  sources/packages/backend/apps/api/src/auth/guards/authorized-parties.guard.ts
  sources/packages/backend/apps/api/src/auth/guards/groups.guard.ts
  sources/packages/backend/apps/api/src/auth/guards/institution-location.guard.spec.ts
  sources/packages/backend/apps/api/src/auth/guards/institution-location.guard.ts
  sources/packages/backend/apps/api/src/auth/guards/roles.guard.ts
  sources/packages/backend/apps/api/src/auth/index.ts
  sources/packages/backend/apps/api/src/auth/jwt.strategy.ts
  sources/packages/backend/apps/api/src/auth/userToken.interface.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
  sources/packages/backend/apps/api/src/services/user/user.model.ts
  sources/packages/backend/apps/api/src/services/user/user.service.ts
  sources/packages/backend/apps/api/src/types/userInfo.ts
  sources/packages/backend/apps/api/test/auth.e2e-spec.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1674685003830-AlterIdentityProviderColRemoveAutoGeneratedValues.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1674685013952-UpdateIdentityProviderTypes.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1674685022436-UpdateUsernameSuffixBCeIDUsersToBceIDBothUsers.ts
  sources/packages/backend/apps/db-migrations/src/sql/Types/Alter-identity-provider-types.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-alter-identity-provider-types.sql
  sources/packages/backend/apps/db-migrations/src/sql/User/Alter-identity-provider-col-remove-auto-generated-values.sql
  sources/packages/backend/apps/db-migrations/src/sql/User/Rollback-alter-identity-provider-col-remove-auto-generated-values.sql
  sources/packages/backend/apps/db-migrations/src/sql/User/Rollback-update-bceid-users-suffix-to-bceidboth.sql
  sources/packages/backend/apps/db-migrations/src/sql/User/Update-bceid-users-suffix-to-bceidboth.sql
  sources/packages/backend/libs/sims-db/src/entities/identity-providers.type.ts
  sources/packages/backend/libs/sims-db/src/factories/institution.factory.ts
  sources/packages/forms/src/form-definitions/studentprofile.json
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/composables/useAuth.ts
  sources/packages/web/src/constants/system-constants.ts
  sources/packages/web/src/helpers/RouteHelper.ts
  sources/packages/web/src/services/AuthService.ts
  sources/packages/web/src/types/ApplicationToken.ts
  sources/packages/web/src/types/contracts/StudentContract.ts
  sources/packages/web/src/views/aest/Login.vue
  sources/packages/web/src/views/aest/student/StudentAccountApplicationsApproval.vue
  sources/packages/web/src/views/institution/Login.vue
  sources/packages/web/src/views/student/Login.vue
  sources/packages/web/src/views/student/StudentProfileCreate.vue
  sources/packages/web/src/views/student/StudentProfileEdit.vue
  sources/packages/web/src/views/supporting-user/Login.vue
Labels: Web Portal, SIMS-Api

#1689 #1665 - Application progress tracker for enrolment
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/assets/css/global-style-variables.scss
  sources/packages/web/src/assets/css/vuetify.scss
  sources/packages/web/src/components/common/StepperProgressBar.vue
  sources/packages/web/src/components/generic/ChipStatus.vue
  sources/packages/web/src/components/students/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/students/applicationTracker/Cancelled.vue
  sources/packages/web/src/components/students/applicationTracker/DisbursementBanner.vue
  sources/packages/web/src/components/students/applicationTracker/Enrolment.vue
  sources/packages/web/src/components/students/applicationTracker/InProgress.vue
  sources/packages/web/src/components/students/applicationTracker/MultipleDisbursementBanner.vue
  sources/packages/web/src/plugins/vuetify.ts
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/types/contracts/institution/ConfirmationOfEnrollment.ts
  sources/packages/web/src/views/student/StudentApplicationDetails.vue
Labels: Web Portal, SIMS-Api
