Repository bcgov/SIMS, pull requests merged in 2023-09, with the labels that each got.

#2245 #2183 - Queued Assessments - Assessment Gateway Changes
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/disbursement.controller.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/services/src/constants/error-code.constants.ts
  sources/packages/backend/libs/utilities/src/custom-named-error.ts
Labels: Camunda Workers

#2262 #1875 - PodDisruptionBudget Bug
  devops/openshift/api-deploy.yml
  devops/openshift/database/mongo-ha.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/web-deploy.yml
  devops/openshift/workers-deploy.yml
Labels: Bug, Devops

#2247 #1970 - File integration - Fix the incorrect line number of detail records
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-full-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa.integration.service.ts
Labels: Task

#2246 #2191 - IER12 First analysis implementation
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-integration.module.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/models/ier12-integration.model.ts
  sources/packages/backend/libs/integrations/src/models/common.model.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/services/src/constants/index.ts
  sources/packages/backend/libs/services/src/constants/restriction.constants.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/libs/utilities/src/disbursements-utils.ts
  sources/packages/backend/libs/utilities/src/index.ts
  sources/packages/backend/libs/utilities/src/math-utils.ts
  sources/packages/backend/libs/utilities/src/specialized-string-builder.ts
  sources/packages/backend/libs/utilities/src/string-builder.ts
Labels: Integration

#2240 #1978 - Request an Offering Change: Student View Request - e2e tests (Part 2)
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.students.controller.getApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.students.controller.getApplicationOfferingChangeRequestStatus.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.students.controller.updateApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.students.controller.getOfferingSummaryDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.students.controller.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/api/test/jest-e2e.json
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: E2E/Unit tests

#2282 #1978 - Request Offering Change - Student View Request (Bug fix)
  sources/packages/web/src/components/students/modals/ApproveApplicationOfferingChangeRequestModal.vue
  sources/packages/web/src/views/student/application-offering-change-request/tabs/RequestedApplicationOfferingDetails.vue
Labels: Bug

#2285 #2180 - Queued Assessments - Assessment Workflow Enqueuer Scheduler - Start Assessment (Part 1)
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1694116500443-AddAssessmentWorkflowEnqueuerQueue.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1694202849264-UpdateStudentAssessmentStatus.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-assessment-workflow-enqueuer-queue.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-assessment-workflow-enqueuer-queue.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Rollback-update-student-assessment-status.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Update-student-assessment-status.sql
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/start-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/start-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/assessment-workflow-enqueuer.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/application/application.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/index.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/workflow/workflow-enqueuer.service.ts
  sources/packages/backend/libs/integrations/src/models/common.model.ts
  sources/packages/backend/libs/services/src/queue/dto/assessment.dto.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
Labels: Queue Consumers, DB, Camunda Worflow

#2290 #2180 - Assessment Workflow Enqueuer Scheduler - Start Assessment (Part 1) - DB migration fix
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Update-student-assessment-status.sql
Labels: Bug, DB

#2284 #88 - Analysis to Migrate the Vue Server
  sources/Makefile
  sources/packages/web/Dockerfile
  sources/packages/web/Dockerfile.dev
  sources/packages/web/default.conf.template
  sources/packages/web/nginx.conf
  sources/packages/web/package.json
  sources/packages/web/serve.json
Labels: Task, Web Portal, Prod Required

#2304 #88 - Change to allow multi staged builds and continue using artifacts repo
  devops/Makefile
  devops/openshift/docker-build.yml
  sources/packages/backend/apps/api/Dockerfile
  sources/packages/backend/apps/db-migrations/Dockerfile
  sources/packages/backend/apps/queue-consumers/Dockerfile
  sources/packages/backend/apps/workers/Dockerfile
  sources/packages/web/Dockerfile
Labels: Task, Web Portal

#2295 #2101 - Student Application Updates: Introduce grant-only for PART-TIME capability
  sources/packages/backend/workflow/BPMN/camunda-8/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Form.io, Camunda Worflow

#2296 #2180 - Log improvements
  sources/packages/backend/apps/queue-consumers/src/processors/models/processors.models.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/assessment-workflow-enqueuer.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/services/workflow/workflow-enqueuer.service.ts
  sources/packages/backend/libs/utilities/src/logger/index.ts
  sources/packages/backend/libs/utilities/src/logger/logger.service.ts
  sources/packages/backend/libs/utilities/src/logger/process-summary.ts
  sources/packages/backend/libs/utilities/src/parse-json.ts
Labels: Enhancement, Queue Consumers

#2310 #1827 - Change dmn id and requirements
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-decisions.dmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-decisions.dmn
Labels: Task, Camunda deployment

#2313 #2305 - Nginx - change configuration to output logs to stdout
  sources/packages/web/default.conf.template
  sources/packages/web/nginx.conf
Labels: Task, Web Portal

#2314 #2180 - Assessment Workflow Enqueuer Scheduler - Start Assessment - E2E tests
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/_tests_/assessment-workflow-enqueuer.scheduler.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/mocks/queue-module-mock.ts
Labels: Queue Consumers, E2E/Unit tests

#2315 #2222 - IER 12 Implementation blue fields
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/models/ier12-integration.model.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/sims-db/src/entities/form-data.type.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2023-2024.bpmn
Labels: Integration, Camunda Worflow

#2326 #2180 - Additional log improvement
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/start-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/start-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/processors/models/processors.models.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/assessment-workflow-enqueuer.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/services/application/application.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/workflow/workflow-enqueuer.service.ts
  sources/packages/backend/apps/queue-consumers/src/utilities/index.ts
  sources/packages/backend/apps/queue-consumers/src/utilities/log-utils.ts
  sources/packages/backend/libs/utilities/src/logger/process-summary.ts
Labels: Enhancement, Queue Consumers

#2325 #2172 - Remove Part-Time Questions from Application
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Student, Web Portal, Form.io

#2333 #2137 Full Time Work Question removal from Student application
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Form.io

#2297 #1980 - Request Offering Change: Ministry View Request (Part 1)
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/models/application-offering-change-request.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/components/aest/OfferingChangeRequest.vue
  sources/packages/web/src/components/aest/StudentApplicationOfferingChangeDetails.vue
  sources/packages/web/src/components/aest/institution/ApplicationOfferingChangeDetailsHeader.vue
  sources/packages/web/src/components/common/OfferingForm.vue
  sources/packages/web/src/components/common/OfferingFormSubmit.vue
  sources/packages/web/src/components/generic/HeaderTitleValue.vue
  sources/packages/web/src/components/generic/Separator.vue
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/main.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/services/ApplicationOfferingChangeRequestService.ts
  sources/packages/web/src/services/EducationProgramOfferingService.ts
  sources/packages/web/src/services/http/ApplicationOfferingChangeRequestApi.ts
  sources/packages/web/src/services/http/EducationProgramOfferingApi.ts
  sources/packages/web/src/services/http/dto/ApplicationOfferingChangeRequest.dto.ts
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/types/contracts/ApplicationOfferingChangeRequest.ts
  sources/packages/web/src/types/contracts/EducationProgram.ts
  sources/packages/web/src/types/contracts/StudentApplicationOfferingChangeContract.ts
  sources/packages/web/src/types/index.ts
  sources/packages/web/src/views/aest/institution/ApplicationOfferingChangeRequestForm.vue
  sources/packages/web/src/views/aest/institution/ViewOfferingChangeRequest.vue
  sources/packages/web/src/views/aest/institution/ViewOfferingChangeRequestComplete.vue
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentsSummary.vue
Labels: Web Portal, SIMS-Api

#2345 #2137 - Full Time Work Question - Bug
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Bug, Form.io

#2344 #1980 - Request Offering Change: Ministry View Request (e2e tests)
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.aest.controller.getApplicationOfferingChangeRequest.e2e-spec.ts
Labels: E2E/Unit tests

#2355 #2349 - Clicking institution name in offering change request view should navigate to institution profile
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/types/contracts/EducationProgram.ts
  sources/packages/web/src/views/aest/institution/ProgramDetails.vue
  sources/packages/web/src/views/aest/institution/ViewOffering.vue
  sources/packages/web/src/views/aest/institution/ViewOfferingChangeRequest.vue
  sources/packages/web/src/views/aest/institution/ViewOfferingChangeRequestComplete.vue
  sources/packages/web/src/views/institution/locations/offerings/OfferingEdit.vue
  sources/packages/web/src/views/institution/locations/offerings/OfferingRequestChange.vue
  sources/packages/web/src/views/institution/locations/programs/LocationProgramView.vue
Labels: Bug, Web Portal, SIMS-Api

#2353 #2323 - Create notifications query error
  sources/packages/backend/apps/api/src/route-controllers/restriction/_tests_/e2e/restriction.aest.controller.addStudentProvincialRestriction.e2e-spec.ts
  sources/packages/backend/libs/services/src/restriction/student-restriction-shared.service.ts
Labels: Bug, SIMS-Api, Queue Consumers

#2351 #2167 - Change how Students Report Dependants
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Form.io

#2358 #2357 - Replace separator component and vertical-divider class with v-divider component
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/components/aest/institution/ApplicationOfferingChangeDetailsHeader.vue
  sources/packages/web/src/components/common/ProgramOfferingDetailHeader.vue
  sources/packages/web/src/components/generic/Separator.vue
  sources/packages/web/src/main.ts
Labels: Web Portal

#2356 #1807 - Fix css style for dividers (<hr />)
  sources/packages/web/src/components/aest/institution/modals/ApproveDenyDesignationModal.vue
  sources/packages/web/src/components/common/restriction/ViewRestriction.vue
  sources/packages/web/src/components/generic/ModalDialogBase.vue
  sources/packages/web/src/views/aest/institution/Profile.vue
  sources/packages/web/src/views/institution/OfferingsUpload.vue
  sources/packages/web/src/views/institution/WithdrawalUpload.vue
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/ApplicationDetailsForCOE.vue
  sources/packages/web/src/views/institution/locations/offerings/OfferingEdit.vue
  sources/packages/web/src/views/student/AppStudent.vue
  sources/packages/web/src/views/student/StudentApplicationDetails.vue
Labels: Bug, Web Portal

#2354 #1910 - Student profile returns SIN
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.students.controller.getStudentProfile.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.institutions.controller.ts
  sources/packages/web/src/components/common/students/StudentProfile.vue
  sources/packages/web/src/services/http/StudentApi.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/types/contracts/StudentContract.ts
  sources/packages/web/src/views/aest/student/StudentDetails.vue
Labels: Student, SIMS-Api
