Repository bcgov/SIMS, pull requests merged in 2023-02, with the labels that each got.

#1699 #1696 - Rename application status enrolment and fix the enum
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/application-fake.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1675373000032-RenameApplicationStatusEnrolment.ts
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rename-application-status-enrolment.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-rename-application-status-enrolment.sql
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/cancel-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/tests/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/services/application/application.service.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/tests/disbursement.controller.e2e-spec.ts
  sources/packages/backend/apps/workers/src/services/application/application.service.e2e.skip-spec.ts
  sources/packages/backend/apps/workers/src/services/application/application.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application-status.type.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/web/src/components/aest/StudentApplications.vue
  sources/packages/web/src/components/common/ConfirmEnrolment.vue
  sources/packages/web/src/components/students/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/composables/useApplication.ts
  sources/packages/web/src/types/contracts/student/ApplicationContract.ts
  sources/packages/web/src/views/student/NoticeOfAssessment.vue
  sources/packages/web/src/views/student/StudentApplicationDetails.vue
  sources/packages/web/src/views/student/StudentApplicationSummary.vue
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: Web Portal, SIMS-Api

#1698 #380 - Constraint to save draft
  sources/packages/backend/apps/api/src/app.exception.filter.ts
  sources/packages/backend/apps/api/src/constants/class-validator-constants.ts
  sources/packages/backend/apps/api/src/constants/index.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/designation-agreement/models/designation-agreement.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/report/models/report.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/models/student-account-application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/models/student-appeal.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/models/student-scholastic-standings.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/models/supporting-user.dto.ts
  sources/packages/backend/apps/api/src/services/designation-agreement/designation-agreement.service.ts
  sources/packages/backend/apps/api/src/utilities/class-validation/custom-validators/json-max-size.ts
  sources/packages/backend/apps/api/src/utilities/class-validation/index.ts
  sources/packages/backend/libs/sims-db/src/entities/user.model.ts
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: SIMS-Api

#1711 #1676 - Condition to display course only with Part Time
  sources/packages/forms/src/form-definitions/programinformationrequest.json
Labels: Form.io

#1713 #1669 - Modify the confirmation period end date for COE
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/forms/src/form-definitions/programinformationrequest.json
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: SIMS-Api, Form.io

#1701 #1693-Resuming E2E Tests
  .github/workflows/build-deploy-dev.yml
  .github/workflows/test.yml
  .github/workflows/tests.yml
  .gitignore
  .vscode/launch.json
  configs/env-example
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/.dockerignore
  sources/packages/backend/apps/api/src/app.controller.spec.ts
  sources/packages/backend/apps/api/src/auth/keycloakConfig.ts
  sources/packages/backend/apps/api/src/route-controllers/config/config.controller.spec.ts
  sources/packages/backend/apps/api/src/route-controllers/note/_tests_/e2e/note.aest.controler.addInstitutionNote.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/note/_tests_/e2e/note.aest.controler.getStudentNotes.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/note/note.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/program-year/program-year.controller.spec.ts
  sources/packages/backend/apps/api/src/services/student/student.service.spec.ts
  sources/packages/backend/apps/api/src/services/user/user.service.spec.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/token-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/index.ts
  sources/packages/backend/apps/api/src/testHelpers/mocked-providers/jwt-service-mock.ts
  sources/packages/backend/apps/api/src/testHelpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/apps/api/test/jest-e2e.json
  sources/packages/backend/apps/queue-consumers/test/jest-e2e.json
  sources/packages/backend/apps/workers/src/controllers/disbursement/_tests_/disbursement.controller.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/_tests_/save-disbursement-schedules-payloads.ts
  sources/packages/backend/apps/workers/src/services/application/application.service.e2e-spec.ts.toberefactored
  sources/packages/backend/apps/workers/src/services/msfaa-number/msfaa-number.service.spec.ts
  sources/packages/backend/apps/workers/test/jest-e2e.json
  sources/packages/backend/libs/sims-db/src/factories/index.ts
  sources/packages/backend/libs/sims-db/src/factories/institution-user-type-role.factory.ts
  sources/packages/backend/libs/sims-db/src/factories/institution.factory.ts
  sources/packages/backend/libs/sims-db/src/factories/user.factory.ts
  sources/packages/backend/libs/test-utils/src/factories/note.ts
  sources/packages/backend/package.json
Labels: Enhancement, SIMS-Api, Queue Consumers, Devops, Camunda Workers

#1716 #1693-E2E tests cleanup and local ad-hoc dev fixes
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/main.ts
  sources/packages/forms/Dockerfile.dev
  sources/packages/forms/src/formio-api.ts
Labels: Devops, Ad-hoc

#1720 #1669 - Fix the student exception to use updated hidden variables and texts
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/studentexceptions.json
Labels: Form.io

#1576 #1543 - Manage Designation Summary Page
  sources/package-lock.json
  sources/packages/web/package-lock.json
  sources/packages/web/src/views/institution/designations/ManageDesignations.vue
Labels: Content, Web Portal

#1731 #1714 - COE Tuition Remittance Request Changes
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/models/confirmation-of-enrollment.dto.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/_tests_/unit/confirmation-of-enrollment.getMaxTuitionRemittance.spec.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/confirmation-of-enrollment.service.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/models/confirmation-of-enrollment.models.ts
  sources/packages/backend/libs/services/src/disbursement-overaward/disbursement-overaward.service.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/components/institutions/modals/confirmationOfEnrollment/ApproveCOE.vue
  sources/packages/web/src/composables/useFormatters.ts
  sources/packages/web/src/composables/useRules.ts
  sources/packages/web/src/services/http/dto/ConfirmationOfEnrolment.dto.ts
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/ApplicationDetailsForCOE.vue
Labels: Web Portal, SIMS-Api

#1733 #1693 - Removing env from tests workflow
  .github/workflows/tests.yml
Labels: Bug, Ad-hoc

#1752 npm audit fix
  sources/packages/backend/package-lock.json
  sources/packages/web/package-lock.json
Labels: Ad-hoc

#1748 #1692 - Ministry overaward part 2
  sources/packages/backend/apps/api/src/route-controllers/overaward/models/overaward.dto.ts
  sources/packages/backend/libs/services/src/disbursement-overaward/disbursement-overaward.service.ts
  sources/packages/web/src/components/aest/students/modals/AddManualOverawardDeduction.vue
  sources/packages/web/src/components/common/AwardTable.vue
  sources/packages/web/src/components/common/OverawardDetails.vue
  sources/packages/web/src/components/common/StudentOverawardDetails.vue
  sources/packages/web/src/components/generic/TitleValue.vue
  sources/packages/web/src/composables/useFormatters.ts
  sources/packages/web/src/constants/award-constants.ts
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/constants/system-constants.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/views/aest/student/Overawards.vue
  sources/packages/web/src/views/aest/student/StudentDetails.vue
Labels: Web Portal, SIMS-Api

#1756 #1692 - UI label fix and Ordering awards in Federal and BC order
  sources/packages/web/src/components/aest/students/modals/AddManualOverawardDeduction.vue
  sources/packages/web/src/components/common/OverawardDetails.vue
  sources/packages/web/src/constants/award-constants.ts
Labels: Web Portal

#1754 #1730 Upgrade Vuetify to Release Version#1730
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.ts
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/helpers/helpers/uri.ts
  sources/packages/web/src/plugins/vuetify.ts
  sources/packages/web/src/services/http/EducationProgramApi.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/views/institution/locations/programs/LocationPrograms.vue
Labels: Web Portal, SIMS-Api, Ad-hoc

#1750 #1751 - Institution E2E Authentication/Authorization
  .github/workflows/tests.yml
  sources/package-lock.json
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.aest.confirmEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.confirmEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getApplicationForCOE.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getCOEDeniedReason.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getCOESummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/models/confirmation-of-enrollment.dto.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/aest-token-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/index.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/institution-auth-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/institution-token-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/token-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/index.ts
  sources/packages/backend/apps/api/test/jest-e2e.json
  sources/packages/backend/apps/queue-consumers/test/jest-e2e.json
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/institution/05-manage-designations.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/institution/basic-seeding/create-institutions-and-authentication-users.model.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/institution/basic-seeding/create-institutions-and-authentication-users.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/institution/basic-seeding/institution-user.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/institution/index.ts
  sources/packages/backend/apps/test-db-seeding/src/main.ts
  sources/packages/backend/apps/test-db-seeding/src/services/user-type-role.service.ts
  sources/packages/backend/apps/test-db-seeding/src/test-db-seeding.module.ts
  sources/packages/backend/apps/workers/test/jest-e2e.json
  sources/packages/backend/libs/test-utils/src/constants/index.ts
  sources/packages/backend/libs/test-utils/src/constants/institution.constants.ts
  sources/packages/backend/libs/test-utils/src/factories/confirmation-of-enrollment.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program-offering.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program.ts
  sources/packages/backend/package.json
  sources/tests/docker-compose.yml
Labels: Institution, Devops, Ad-hoc, E2E/Unit tests
