Repository bcgov/SIMS, pull requests merged in 2023-07, with the labels that each got.

#2071 #2027 - Offering form content changes
  sources/packages/forms/src/form-definitions/educationprogramoffering.json
Labels: Form.io

#2069 #1777 - Process MSFAA Cancellation Notification e2e tests
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-full-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-receive-files/msfaa-full-time-receive-file-with-single-cancellation-record.dat
  sources/packages/backend/libs/test-utils/src/mocks/ssh-service-mock.ts
Labels: E2E/Unit tests, Integration

#2075 #2074 - Fix the store reference
  sources/packages/web/src/composables/institution/useInstitutionAuth.ts
Labels: Web Portal

#2080 #2020 - WAVA Changes - Fix for the COE Approval
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/ApplicationDetailsForCOE.vue
Labels: Bug, Institution, Web Portal, Ad-hoc

#2079 #1957 - Ministry - Build out the ministry homepage
  sources/packages/forms/src/form-definitions/aestwelcomepage.json
  sources/packages/web/src/assets/css/formio-shared.scss
  sources/packages/web/src/assets/images/girl-on-book.svg
  sources/packages/web/src/assets/images/man-with-earth.svg
  sources/packages/web/src/assets/images/refer-a-friend.svg
  sources/packages/web/src/assets/images/webinar.svg
Labels: Web Portal, Form.io

#2077 #2059 - Rename Item in Regulatory Dropdown Field for Institutions
  sources/packages/backend/apps/db-migrations/src/migrations/1688501112255-UpdateRegulatoryBodyCode.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Revert-regulatory-body-ita-code.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Update-regulatory-body-ita-code.sql
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Revert-regulatory-body-ita-code.sql
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Update-regulatory-body-ita-code.sql
  sources/packages/forms/src/form-definitions/educationprogram.json
  sources/packages/forms/src/form-definitions/institutionprofile.json
  sources/packages/forms/src/form-definitions/institutionprofilecreation.json
Labels: Form.io, DB

#2084 #2022 - Form.io definitions cache update for releases
  configs/env-example
  sources/packages/backend/apps/api/src/route-controllers/config/config.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/config/models/config.dto.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/web/src/components/generic/formio.vue
  sources/packages/web/src/services/AppConfigService.ts
  sources/packages/web/src/services/http/dto/Config.dto.ts
  sources/packages/web/src/types/contracts/ConfigContract.ts
Labels: Web Portal, Form.io

#2088 #2086 - Enhance regulatory body dropdown
  sources/packages/forms/src/form-definitions/educationprogram.json
  sources/packages/forms/src/form-definitions/institutionprofile.json
  sources/packages/forms/src/form-definitions/institutionprofilecreation.json
  sources/packages/web/src/views/aest/institution/Profile.vue
Labels: Form.io

#2090 #2086 - Fix question repetition
  sources/packages/forms/src/form-definitions/educationprogram.json
Labels: Form.io

#2098 #2042 - Review axios timeout configuration
  package-lock.json
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/backend/apps/api/src/services/auth/keycloak/keycloak.service.ts
  sources/packages/backend/apps/api/src/services/bceid/bceid.service.mock.ts
  sources/packages/backend/apps/api/src/services/form/form.service.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/workers/src/workers.module.ts
  sources/packages/backend/libs/integrations/src/services/atbc/atbc.service.ts
  sources/packages/backend/libs/services/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/services/src/global-http/global-http.module.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/services/src/notifications/notification/gc-notify.service.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: SIMS-Api

#2103 #2047 - Change BC Sans font with version 2
  sources/packages/web/package.json
  sources/packages/web/src/assets/css/BCSans.scss
  sources/packages/web/src/assets/css/global-style-variables.scss
  sources/packages/web/src/assets/fonts/BCSans/BCSans-Bold.woff
  sources/packages/web/src/assets/fonts/BCSans/BCSans-Bold.woff2
  sources/packages/web/src/assets/fonts/BCSans/BCSans-BoldItalic.woff
  sources/packages/web/src/assets/fonts/BCSans/BCSans-BoldItalic.woff2
  sources/packages/web/src/assets/fonts/BCSans/BCSans-Italic.woff
  sources/packages/web/src/assets/fonts/BCSans/BCSans-Italic.woff2
  sources/packages/web/src/assets/fonts/BCSans/BCSans-Regular.woff
  sources/packages/web/src/assets/fonts/BCSans/BCSans-Regular.woff2
  sources/packages/web/src/main.ts
Labels: Web Portal

#2105 #1954 - Request an Offering Change - Submit/View UI (Part 1)
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.getCompletedApplications.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.getInProgressApplications.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/models/application-offering-change-request.institutions.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application-offering-change-request.model.ts
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/assets/css/vuetify.scss
  sources/packages/web/src/components/common/OfferingView.vue
  sources/packages/web/src/components/generic/BodyHeader.vue
  sources/packages/web/src/components/generic/DetailHeader.vue
  sources/packages/web/src/components/generic/HeaderTitleValue.vue
  sources/packages/web/src/components/generic/TitleValue.vue
  sources/packages/web/src/components/institutions/request-a-change/AvailableToChangeSummary.vue
  sources/packages/web/src/components/institutions/request-a-change/CompletedOfferingChangeSummary.vue
  sources/packages/web/src/components/institutions/request-a-change/InProgressOfferingChangeSummary.vue
  sources/packages/web/src/components/institutions/request-a-change/RequestAChangeForm.vue
  sources/packages/web/src/composables/useFormatters.ts
  sources/packages/web/src/composables/useRules.ts
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/InstitutionRoutes.ts
  sources/packages/web/src/services/ApplicationOfferingChangeRequestService.ts
  sources/packages/web/src/services/EducationProgramOfferingService.ts
  sources/packages/web/src/services/http/ApplicationOfferingChangeRequestApi.ts
  sources/packages/web/src/services/http/EducationProgramOfferingApi.ts
  sources/packages/web/src/services/http/dto/ApplicationOfferingChangeRequest.dto.ts
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/views/institution/locations/request-a-change/RequestAChangeFormSubmit.vue
  sources/packages/web/src/views/institution/locations/request-a-change/RequestAChangeFormView.vue
Labels: Institution, Web Portal, SIMS-Api

#2115 #2001 - Changes to handle PD PPD Part 1
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.getCompletedApplications.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/atbc/atbc.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentProfile.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.students.controller.getStudentProfile.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/api/src/types/index.ts
  sources/packages/backend/apps/api/src/types/pdStatus.ts
  sources/packages/backend/apps/api/src/utilities/student-utils.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1689350242512-AddStudentDisabilityStatusCol.ts
  sources/packages/backend/apps/db-migrations/src/sql/Student/Add-col-disability-status.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Drop-col-disability-status.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Create-disability-status.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Drop-disability-status.sql
  sources/packages/backend/libs/integrations/src/atbc-integration/atbc-integration.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/student/student.service.ts
  sources/packages/backend/libs/services/src/sfas/sfas-individual.service.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/student-disability-status.type.ts
  sources/packages/backend/libs/sims-db/src/entities/student.model.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/studentprofile.json
  sources/packages/web/src/components/common/students/StudentProfile.vue
  sources/packages/web/src/constants/error-code.constants.ts
  sources/packages/web/src/services/StudentService.ts
  sources/packages/web/src/services/http/StudentApi.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/types/contracts/StudentContract.ts
  sources/packages/web/src/views/student/StudentProfileEdit.vue
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: Web Portal, SIMS-Api, Form.io, DB

#2114 #1977 - Request Offering Change: Student Application Tracker - Part 1 [Email Notification]
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1689361018784-InsertApplicationOfferingChangeRequestInProgressWithStudentMessage.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Delete-application-offering-change-request-inprogress-with-student-message.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-application-offering-change-request-inprogress-with-student-message.sql
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: SIMS-Api, DB

#2121 #2001 - Changes to handle PD PPD Part 2
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/atbc-respone-integration/_tests_/atbc-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/atbc-respone-integration/atbc-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/test-db-seeding/src/clean-db/clean-db.ts
  sources/packages/backend/libs/integrations/src/atbc-integration/atbc-integration.processing.service.ts
  sources/packages/backend/libs/integrations/src/atbc-integration/models/atbc-integration.model.ts
  sources/packages/backend/libs/integrations/src/services/atbc/atbc.service.ts
  sources/packages/backend/libs/integrations/src/services/atbc/models/atbc.model.ts
  sources/packages/backend/libs/integrations/src/services/student/student.service.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/test-utils/src/date-utils.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
Labels: Queue Consumers, E2E/Unit tests

#2127 #2126 - Add missing property on student account creation
  sources/packages/web/src/services/http/dto/StudentAccountApplication.dto.ts
Labels: Web Portal

#2129 #2001 - Updating the cache name of redhat docker image artifactory
  devops/Makefile
Labels: Devops

#2128 #1874-Sysdig Monitoring Team creation
  devops/openshift/sysdig-team.yml
Labels: Devops

#2124 #1977 - Request Offering Change: Student Application Tracker - Part 2
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/libs/sims-db/src/entities/assessment-trigger.type.ts
  sources/packages/web/src/components/aest/students/assessment/History.vue
  sources/packages/web/src/components/generic/StatusChipRequestedAssessment.vue
  sources/packages/web/src/components/students/StudentAssessmentDetails.vue
  sources/packages/web/src/components/students/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/students/applicationTracker/Completed.vue
  sources/packages/web/src/composables/useAssessment.ts
  sources/packages/web/src/services/StudentAssessmentsService.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/services/http/dto/Assessment.dto.ts
  sources/packages/web/src/types/contracts/AssessmentTrigger.ts
  sources/packages/web/src/types/contracts/StatusChip.ts
Labels: Web Portal, SIMS-Api

#2130 #2044 Add Ignore errors and timeout for ORM Cache
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/utilities/src/system-configurations-constants.ts
Labels: ORM

#2140 #2134 - Increase the max length of operating and legal operating name to 250
  sources/packages/backend/apps/db-migrations/src/migrations/1690490545372-AlterColOperatingAndLegalOperatingName.ts
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Alter-col-operating-and-legal-operating-name.sql
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Rollback-alter-col-operating-and-legal-operating-name.sql
  sources/packages/forms/src/form-definitions/institutionprofile.json
  sources/packages/forms/src/form-definitions/institutionprofilecreation.json
Labels: Form.io, DB, Hotfix

#2141 #2134 - Institution Search Fix
  sources/packages/backend/libs/sims-db/src/entities/institution.model.ts
  sources/packages/web/src/views/aest/SearchInstitutions.vue
Labels: Web Portal, SIMS-Api, Hotfix

#2133 #1977 - Application Offering Change Request [Student Application Tracker] - Part 3: e2e tests
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getApplicationProgressDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getCompletedApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getRequestedAssessmentSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.students.controller.ts
  sources/packages/backend/libs/test-utils/src/factories/application-offering-change-request.ts
Labels: E2E/Unit tests
