Repository bcgov/SIMS, pull requests merged in 2023-12, with the labels that each got.

#2531 #2510 - e-Cert Individual Student Processing - Schedulers Processing
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-full-time-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-part-time-process-integration.scheduler.ts
  sources/packages/backend/apps/workers/src/services/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/models/e-cert-integration-model.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/application-event-code-during-enrolment-and-completed-utils.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/full-time-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/index.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/part-time-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/apply-overawards-deductions-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/apply-stop-bc-funding-restriction-full-time-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/assert-life-time-maximum-full-time-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/calculate-effective-value-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/calculate-tuition-remittance-effective-amount.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/create-bc-total-grants-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/e-cert-steps-models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/e-cert-steps-utils.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/index.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/persist-calculations-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-base.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-full-time-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-part-time-step.ts
  sources/packages/backend/libs/integrations/src/services/index.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
Labels: Queue Consumers, Integration

#2550 #2546 - Readiness and Liveliness Probe for workers and Queue consumers
  devops/openshift/api-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/web-deploy.yml
  devops/openshift/workers-deploy.yml
Labels: Devops

#2552 #1824 - Scholastic Standing Cloning Offering
  sources/packages/backend/apps/api/src/services/education-program-offering/_tests_/unit/education-program-offering.service-adjustStudyBreaks.spec.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
Labels: SIMS-Api, E2E/Unit tests

#2574 #2510 - Full-time and Part-Time Schedulers Centralization Refactor
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-full-time-feedback-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-full-time-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-part-time-feedback-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-part-time-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-process-integration-base.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/assessment-workflow-enqueuer.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/assessment-workflow-queue-retry.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/utilities/log-utils.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/full-time-e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/part-time-e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/index.ts
Labels: Queue Consumers

#2579 #2525 - Data Inventory Report Analysis
  sources/packages/backend/apps/db-migrations/src/migrations/1702080750384-DataInventoryReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Create-data-inventory-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Drop-data-inventory-report.sql
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
Labels: Enhancement, Ministry

#2581 #2518 - Disability status minimal solution
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.aest.controller.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/studentprofile.json
  sources/packages/web/src/components/aest/students/DisabilityStatusUpdateTileValue.vue
  sources/packages/web/src/components/aest/students/modals/UpdateDisabilityStatusModal.vue
  sources/packages/web/src/components/common/students/StudentProfile.vue
  sources/packages/web/src/components/students/modals/PDStatusApplicationModal.vue
  sources/packages/web/src/composables/useFormatters.ts
  sources/packages/web/src/composables/useRules.ts
  sources/packages/web/src/main.ts
  sources/packages/web/src/services/StudentService.ts
  sources/packages/web/src/services/http/StudentApi.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/types/contracts/StudentContract.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/views/aest/student/Profile.vue
  sources/packages/web/src/views/student/StudentProfileEdit.vue
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: Web Portal, SIMS-Api, Form.io

#2588 #2188 - Queued Assessments - Assessment Status Review
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.models.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/web/src/components/generic/StatusChipAssessmentHistory.vue
  sources/packages/web/src/composables/useAssessment.ts
  sources/packages/web/src/types/contracts/AssessmentStatus.ts
Labels: Web Portal, SIMS-Api

#2592 #2510 - e-Cert Implementation for Individual Student Processing - Fix and Investigation
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-full-time-integration/e-cert-files/e-cert-file-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-files/e-cert-file-record.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/assert-life-time-maximum-full-time-step.ts
  sources/packages/backend/tsconfig.json
Labels: Bug, Queue Consumers

#2597 #2510 - e-Cert Implementation for Individual Student Processing - Added application number to logs
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
Labels: Queue Consumers, Ad-hoc

#2596 #2452 - IER12 File Adjustments
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/programs-inputs.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/students-inputs.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.integration.service.ts
  sources/packages/backend/libs/utilities/src/_tests_/unit/string-utils.replaceLineBreaks.spec.ts
  sources/packages/backend/libs/utilities/src/index.ts
  sources/packages/backend/libs/utilities/src/string-utils.ts
  sources/packages/backend/package.json
Labels: Integration

#2599 #2510 - e-Cert Implementation for Individual Student Processing - Added COE Declined Constraint
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-base.ts
Labels: Bug, Queue Consumers

#2603 #2479 - Finastra - File name change
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/services/src/constants/system-configurations-constants.ts
Labels: Queue Consumers, E2E/Unit tests

#2598 #2505 - Upgrade Axios Package
  package-lock.json
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
  sources/packages/forms/package-lock.json
  sources/packages/forms/package.json
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/services/EducationProgramOfferingService.ts
  sources/packages/web/src/services/ScholasticStandingService.ts
  sources/packages/web/src/services/http/EducationProgramOfferingApi.ts
  sources/packages/web/src/services/http/ScholasticStandingApi.ts
  sources/packages/web/src/services/http/common/FileUploadProgressEvent.ts
  sources/packages/web/src/services/http/common/HttpBaseClient.ts
  sources/packages/web/src/views/institution/OfferingsUpload.vue
  sources/packages/web/src/views/institution/WithdrawalUpload.vue
  testing/src/package-lock.json
  testing/src/package.json
Labels: Task

#2605 #2229 - Remove Exceptional Expenses from PT assessment
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
Labels: Camunda Worflow

#2609 #2215 - Add new CIP codes
  sources/packages/backend/package-lock.json
  sources/packages/forms/src/form-definitions/educationprogram.json
Labels: Form.io

#2604 #2539 apply receive pd ppd profile verification - Part 1
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1702672829350-AddColQueueConfigurationsIsActive.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1702672859669-DisableATBCResponseIntegrationQueue.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-col-queue-configurations-is-active.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Disable-atbc-response-integration.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Drop-col-queue-configurations-is-active.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-disable-atbc-response-integration.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/atbc-respone-integration/_tests_/atbc-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/atbc-respone-integration/atbc-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/services/src/queue/queue.service.ts
  sources/packages/backend/libs/sims-db/src/entities/queue_configuration.model.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
Labels: SIMS-Api, Queue Consumers

#2608 #2488 - Ensure offering parent id is always present
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.updateProgramOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1703014317163-PopulateParentOfferingIdToNonExistingFields.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Revert-update-null-parent-offering-id-as-primary-id.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Update-null-parent-offering-id-as-primary-id.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/web/src/components/common/ProgramOfferingDetailHeader.vue
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/types/contracts/EducationProgram.ts
Labels: Web Portal, SIMS-Api

#2613 #2488 - Ensure offering parent id is always present- build fix
  sources/packages/web/src/types/contracts/EducationProgram.ts
Labels: Web Portal

#2612 #2324 Update PT Grant-Only Text
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Form.io

#2615 #2557 - Remove course load calculation from PT
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
Labels: Camunda Worflow

#2611 #2301 - Input new 2023/2024 Program Year Amounts - PT
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-decisions.dmn
Labels: Camunda Worflow

#2617 #2582 - PT Remove child care cost spilt in half
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
Labels: Camunda Worflow
