Repository bcgov/SIMS, pull requests merged in 2024-09, with the labels that each got.

#3671 #1815 - Ignore restrictions - DB Migrations
  sources/packages/backend/apps/db-migrations/src/migrations/1725052431315-CreateRestrictionBypassBehaviorsType.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1725052532471-CreateApplicationRestrictionBypassesTable.ts
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationRestrictionBypasses/Create-application-restriction-bypasses.sql
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationRestrictionBypasses/Rollback-create-application-restriction-bypasses.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Create-restriction-bypass-behaviors.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-create-restriction-bypass-behaviors.sql
  sources/packages/backend/libs/sims-db/src/constant.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/sims-db/src/entities/application-restriction-bypass.model.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/restriction-bypass-behaviors.type.ts
Labels: DB

#3674 #3257 - CAS Integration 2 - (UX/UI) Add or Edit CAS Supplier Info to Student Profile
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-supplier/_tests_/cas-supplier.aest.controller.addCASSupplier.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-supplier/_tests_/cas-supplier.aest.controller.getCASSupplier.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-supplier/cas-supplier.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-supplier/models/cas-supplier.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-supplier-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-supplier.factory.ts
  sources/packages/backend/libs/integrations/src/cas/models/cas-supplier-response.model.ts
  sources/packages/backend/libs/sims-db/src/entities/cas-supplier.model.ts
  sources/packages/backend/libs/test-utils/src/factories/cas-supplier.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/web/src/components/aest/students/EditCASSupplierInfoModal.vue
  sources/packages/web/src/components/generic/StatusChipSupplier.vue
  sources/packages/web/src/composables/index.ts
  sources/packages/web/src/composables/useSupplierStatus.ts
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/services/CASSupplierService.ts
  sources/packages/web/src/services/http/ApiClient.ts
  sources/packages/web/src/services/http/CASSupplier.ts
  sources/packages/web/src/services/http/dto/CASSupplier.dto.ts
  sources/packages/web/src/services/http/dto/index.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/types/vuetify.ts
  sources/packages/web/src/views/aest/student/CASSupplierInformation.vue
  sources/packages/web/src/views/aest/student/StudentDetails.vue
Labels: Ministry, SIMS-Api, Web portal

#3673 #2446 - Revise Offering Length Validations
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/bulk-insert/multiple-upload-with-total-funded-weeks-less-than-minimum-allowed-weeks.csv
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.bulkInsert.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.createOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.updateProgramOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.validateOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/custom-validators/has-valid-offering-period-for-funded-days.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/custom-validators/has-valid-offering-period-for-funded-weeks.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-validation.models.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/education-program-fake.ts
  sources/packages/backend/apps/api/src/utilities/class-validation/custom-validators/has-no-period-overlap.ts
  sources/packages/backend/apps/api/src/utilities/class-validation/custom-validators/periods-are-between-limits.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/forms/src/form-definitions/educationprogramoffering.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Institution, SIMS-Api, Form.io, E2E/Unit tests

#3679 #1815 - Ignore restrictions for specific disbursement(s) within an assessment
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.confirmAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/parsers/e-cert-record-parser.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/parsers/full-time-e-cert-record-parser.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/full-time-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/part-time-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/assert-life-time-maximum-full-time-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/e-cert-steps-models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/e-cert-steps-utils.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/index.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/restriction-bypasses-resolution-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-full-time-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-part-time-step.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/application-restriction-bypass.ts
  sources/packages/backend/libs/test-utils/src/factories/user.ts
  sources/packages/backend/libs/test-utils/src/index.ts
Labels: Student, E2E/Unit tests, Integration

#3688 #3681 - Prod Values updated for crunchy
  devops/helm/crunchy-postgres/values-0c27fb-prod.yaml
Labels: Bug, Devops

#3682 #3131 - COE Requests Report
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/report/_tests_/e2e/report.institutions.controller.exportReport.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/report/models/report.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/report/report.controller.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/index.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/institution-user-helpers.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1725898775531-CreateCOERequestsReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Create-coe-requests-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-create-coe-requests-report.sql
  sources/packages/backend/libs/test-utils/src/factories/institution.ts
  sources/packages/backend/package.json
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
  sources/packages/web/src/constants/index.ts
  sources/packages/web/src/constants/report-constants.ts
  sources/packages/web/src/views/aest/Reports.vue
  sources/packages/web/src/views/institution/Reports.vue
Labels: SIMS-Api, Form.io, E2E/Unit tests, DB

#3663 #3607 - SIMS Object Storage: Remove DB Data
  devops/openshift/queue-consumers-deploy.yml
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.aest.controller.getUploadedFile.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.students.controller.getUploadedFile.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/services/student-file/student-file.model.ts
  sources/packages/backend/apps/api/src/services/student-file/student-file.service.ts
  sources/packages/backend/apps/api/src/testHelpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1724457049888-DeleteFileContentAndMimeTypeColumns.ts
  sources/packages/backend/apps/db-migrations/src/sql/StudentFiles/Delete-file-content-and-mime-type-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentFiles/Rollback-delete-file-content-and-mime-type-columns.sql
  sources/packages/backend/apps/queue-consumers/src/processors/virus-scan/_tests_/virus-scan.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-file/student-file.service.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/libs/services/src/clamav/models/clamav.models.ts
  sources/packages/backend/libs/services/src/clamav/services/clamav.service.ts
  sources/packages/backend/libs/sims-db/src/entities/student-file.model.ts
  sources/packages/backend/libs/test-utils/src/factories/student-file-uploads.ts
  sources/packages/backend/libs/test-utils/src/mocks/index.ts
  sources/packages/backend/libs/test-utils/src/mocks/object-storage-service-mock.ts
Labels: SIMS-Api, Queue Consumers, Devops, E2E/Unit tests, DB

#3692 #3681 - Release Branch Merge
  devops/helm/crunchy-postgres/values-0c27fb-prod.yaml
Labels: Release Branch Merge

#3686 #3485 - Student: New applications: Student can no longer immediately add trusted contact when "Yes" is selected
  sources/docker-compose.yml
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/web/src/assets/css/formio-shared.scss
Labels: Form.io

#3695 #3131 - Fix content length to be based on byte lenth
  sources/packages/backend/apps/api/src/route-controllers/report/report.controller.service.ts
  sources/packages/backend/libs/utilities/src/system-configurations-constants.ts
Labels: SIMS-Api

#3687 #2997 - 6 Week Deadline - Policy
  sources/packages/forms/src/form-definitions/programinformationrequest.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/load-test/src/_tests_/form-io/form-io-application-submission/models.ts
Labels: Student, Form.io

#3694 #3595 - Ministry Login - Appeals dashboard bug
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.aest.controller.getAppeals.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/libs/test-utils/src/factories/student-appeal-request.ts
  sources/packages/web/src/views/aest/student/StudentApplicationAppeals.vue
Labels: Bug, SIMS-Api, E2E/Unit tests

#3699 #2997 - 6 Week Deadline - Policy (Quick Fix)
  sources/packages/forms/src/form-definitions/programinformationrequest.json
Labels: Student, Form.io

#3678 #3435 - System announcements
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/route-controllers/announcements/_tests_/e2e/announcement.institutions.controller.getAnnouncements.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/announcements/_tests_/e2e/announcement.students.controller.getAnnouncements.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/announcements/announcement.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/announcements/announcement.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/announcements/models/announcement.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/services/announcements/announcement.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1724973005363-CreateAnnouncements.ts
  sources/packages/backend/apps/db-migrations/src/sql/Announcements/Create-announcements-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Announcements/Rollback-create-announcements-table.sql
  sources/packages/backend/libs/sims-db/src/constant.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/sims-db/src/entities/announcement.model.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/test-utils/src/factories/announcement.ts
  sources/packages/web/src/components/common/AnnouncementBanner.vue
  sources/packages/web/src/services/AnnouncementService.ts
  sources/packages/web/src/services/http/AnnouncementApi.ts
  sources/packages/web/src/services/http/ApiClient.ts
  sources/packages/web/src/services/http/dto/Announcement.dto.ts
  sources/packages/web/src/views/institution/InstitutionDashboard.vue
  sources/packages/web/src/views/student/StudentDashboard.vue
Labels: User Experience, Student, Institution, SIMS-Api, E2E/Unit tests, DB, Web portal

#3700 #3500 - Upload supporting documents bug fix
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Bug, Form.io

#3702 #3525 - Remove Overawards Deductions from PT e-Cert
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/_tests_/e2e/disbursement.controller.saveDisbursementSchedules.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/_tests_/e2e/save-disbursement-schedules-payloads.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/part-time-calculation-process.ts
Labels: Student, E2E/Unit tests, Integration

#3709 #3589 - Ministry views designation agreement: 403 error on link
  sources/packages/forms/src/form-definitions/designationagreementdetails.json
  sources/packages/web/src/components/partial-view/DesignationAgreement/DesignationAgreementForm.models.ts
  sources/packages/web/src/views/aest/institution/DesignationAESTView.vue
Labels: Bug, Institution, Ministry, Form.io, Web portal

#3707 #3512 - Review Impact of All Restrictions
  sources/packages/backend/apps/db-migrations/src/migrations/1726275056327-AddStopPartTimeBCFundingRestrictionActionType.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1726275219662-UpdateRestrictionsReviewImpact.ts
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Rollback-update-restrictions-review-impact.sql
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Update-restrictions-review-impact.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-stop-part-time-bc-funding-restriction-action-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-add-stop-part-time-bc-funding-restriction-action-type.sql
  sources/packages/backend/libs/sims-db/src/entities/restriction-action-type.type.ts
Labels: DB

#3708 #3416 - Block no estimated award disbursements
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-utils.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/web/src/constants/ecert-constants.ts
Labels: E2E/Unit tests, Web portal

#3713 #3512 - Review Impact of All Restrictions (Quick Fix)
  sources/packages/backend/apps/db-migrations/src/migrations/1726604196628-UpdateRestrictionsNotificationTypes.ts
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Rollback-update-restrictions-notification-types.sql
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Update-restrictions-notification-types.sql
Labels: DB

#3714 #3634 - Change student account restriction content
  sources/packages/forms/src/form-definitions/studentaccountactivity.json
Labels: Student, Form.io, Web portal

#3716 #3496 - Content: Ministry: Exception request approve/deny
  sources/packages/forms/src/form-definitions/studentexceptions.json
  sources/packages/web/src/components/common/students/applicationDetails/ApplicationExceptionsApproval.vue
Labels: Content, Form.io, Web portal

#3717 #3511 - Revise PT Scholastic Standing
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.institutions.controller.saveScholasticStanding.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/backend/libs/services/src/restriction/model/restriction.model.ts
  sources/packages/backend/libs/test-utils/src/models/common.model.ts
Labels: Institution, SIMS-Api

#3726 #2509 - Update formio server and js
  .github/workflows/env-setup-build-forms-server.yml
  .github/workflows/env-setup-deploy-forms-server.yml
  devops/Makefile
  sources/Makefile
  sources/packages/forms/Dockerfile
  sources/packages/forms/Dockerfile.dev
  sources/packages/forms/package-lock.json
  sources/packages/forms/package.json
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
Labels: Devops, Form.io, Web portal

#3727 #3198 - Upgrade Vuetify and fix UI issues
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/components/generic/SnackBar.vue
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/views/aest/institution/ViewPendingOfferingChangeRequests.vue
  sources/packages/web/src/views/aest/student/CASSupplierInformation.vue
  sources/packages/web/src/views/institution/WithdrawalUpload.vue
  sources/packages/web/src/views/institution/locations/programs/LocationPrograms.vue
  sources/packages/web/src/views/institution/locations/request-a-change/request-a-change/AvailableToChange.vue
  sources/packages/web/src/views/institution/locations/request-a-change/request-a-change/Completed.vue
  sources/packages/web/src/views/institution/locations/request-a-change/request-a-change/InProgress.vue
Labels: Student, Institution, Ministry, Web portal, Supporting User

#3733 #3375 - Add current year income question (income appeal)
  .vscode/launch.json
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/appeals/parttime-assessment-student-financial-information.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/appeals/parttime-assessment-student-financial-information.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/appeals/parttime-assessment-student-financial-information.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
Labels: Form.io, Camunda Worflow

#3735 #3668 - SIMS Beta User Validation
  .github/workflows/release-deploy-all.yml
  configs/env-example
  devops/Makefile
  devops/openshift/api-deploy.yml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/auth/_tests_/e2e/auth.e2e-spec.ts
  sources/packages/backend/apps/api/src/auth/guards/authorized-parties.guard.ts
  sources/packages/backend/apps/api/src/auth/jwt.strategy.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/services/user/user.service.ts
  sources/packages/backend/apps/api/src/testHelpers/controllers/auth-test/auth-test.controller.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1726775504621-CreateBetaUsersAuthorizationsTable.ts
  sources/packages/backend/apps/db-migrations/src/sql/BetaUsersAuthorizations/Create-beta-users-authorizations-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/BetaUsersAuthorizations/Rollback-create-beta-users-authorizations-table.sql
  sources/packages/backend/libs/sims-db/src/constant.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/sims-db/src/entities/beta-users-authorizations.model.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/web/src/constants/error-code.constants.ts
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/StudentRoutes.ts
  sources/packages/web/src/services/AuthService.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/student/Login.vue
  sources/tests/Makefile
  sources/tests/docker-compose.yml
Labels: Student, E2E/Unit tests, Web portal

#3731 #2509 - Web content security policy and forms updates
  sources/Makefile
  sources/forms-docker-compose.yml
  sources/packages/forms/src/form-definitions/reportscholasticstandingchange.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
  sources/packages/forms/src/form-definitions/studentwelcomepage.json
  sources/packages/web/nginx/default.conf.dev.template
  sources/packages/web/nginx/default.conf.template
  sources/packages/web/src/assets/css/formio-shared.scss
Labels: Form.io, Security-related, Web portal

#3740 #2509 - Update formio server and js - Labels adjustment
  sources/packages/forms/src/form-definitions/studentdependantsappeal.json
  sources/packages/forms/src/form-definitions/supportingusersparent2022-2023.json
  sources/packages/forms/src/form-definitions/supportingusersparent2024-2025.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2024-2025.json
  sources/packages/forms/src/form-definitions/uploadstudentdocuments.json
Labels: Content, Form.io

#3741 #3668 - Fix for logout BCSC user bug
  sources/packages/web/src/services/AuthService.ts
Labels: Bug, Student

#3730 #3287 - Add header to minsitry assessment pages
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.institutions.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/web/src/components/aest/students/ApplicationHeaderTitle.vue
  sources/packages/web/src/components/generic/DetailHeader.vue
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentAward.vue
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentsSummary.vue
  sources/packages/web/src/views/aest/student/applicationDetails/NoticeOfAssessment.vue
Labels: User Experience, Ministry, Content, SIMS-Api, E2E/Unit tests, Web portal

#3742 #3668 - Send the invalid beta user immediately to login page
  sources/packages/web/src/services/AuthService.ts
Labels: Bug, Student

#3743 #3262 - Ministry Student Application Tracker
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationAssessmentStatusDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationProgressDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getCompletedApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getEnrolmentApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getInProgressApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.reissueMSFAA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getInProgressApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
Labels: SIMS-Api, E2E/Unit tests

#3734 #1862 - UX/UI for Ignore Restriction - Bypass List
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/_tests_/e2e/application-restriction-bypass.aest.controller.getApplicationRestrictionBypasses.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/application-restriction-bypass.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/models/application-restriction-bypass.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/services/application-restriction-bypass/application-restriction-bypass.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/web/src/components/aest/students/bypassedRestrictions/HistoryBypassedRestrictions.vue
  sources/packages/web/src/components/generic/StatusChipBypass.vue
  sources/packages/web/src/components/layouts/aest/AESTApplicationSideBar.vue
  sources/packages/web/src/composables/index.ts
  sources/packages/web/src/composables/useRestrictionBypass.ts
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/services/ApplicationRestrictionBypassService.ts
  sources/packages/web/src/services/http/ApiClient.ts
  sources/packages/web/src/services/http/ApplicationRestrictionBypassApi.ts
  sources/packages/web/src/services/http/dto/ApplicationRestrictionBypass.dto.ts
  sources/packages/web/src/services/http/dto/index.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/types/contracts/StatusChip.ts
  sources/packages/web/src/views/aest/student/applicationDetails/ApplicationRestrictionsManagement.vue
Labels: SIMS-Api, E2E/Unit tests, Web portal
