Repository bcgov/SIMS, pull requests merged in 2024-04, with the labels that each got.

#3049 #2948 - Add conditional to institution link routing
  sources/packages/web/src/components/common/ProgramOfferingDetailHeader.vue
Labels: Bug, Institution, Web portal

#3042 #2272 - Ministry Trigger Manual Reassessment
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1710794565866-AddManualReassessmentTriggerType.ts
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-manual-reassessment-trigger-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-add-manual-reassessment-trigger-type.sql
  sources/packages/backend/libs/sims-db/src/entities/assessment-trigger.type.ts
  sources/packages/web/src/components/aest/students/assessment/ManualReassessment.vue
  sources/packages/web/src/components/aest/students/modals/TriggerReassessmentModal.vue
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/StudentAssessmentsService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/services/http/StudentAssessmentApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/services/http/dto/Assessment.dto.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentsSummary.vue
Labels: User Experience, Ministry, SIMS-Api, DB

#3048 #2813 - form security update
  sims.code-workspace
  sources/packages/forms/src/form-definitions/reportscholasticstandingchange.json
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/studentdependantsappeal.json
  sources/packages/forms/src/form-definitions/studentdisabilityappeal.json
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
  sources/packages/forms/src/form-definitions/supportingusersparent2022-2023.json
  sources/packages/forms/src/form-definitions/supportingusersparent2024-2025.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2024-2025.json
Labels: Security-related, Web portal

#3058 #2694 - PT life time maximum part 2
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/route-controllers/student-loan-balance/_tests_/e2e/student-loan-balance.aest.controller.getStudentLoanBalance.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-loan-balance/models/student-loan-balance.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-loan-balance/student-loan-balance.aest.controller.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/api/src/services/student-loan-balance/student-loan-balance.service.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1711342815738-CreateStudentLoanBalances.ts
  sources/packages/backend/apps/db-migrations/src/sql/StudentLoanBalances/Create-student-loan-balances.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentLoanBalances/Rollback-create-student-loan-balances.sql
  sources/packages/backend/libs/sims-db/src/constant.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/student-loan-balances.model.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/student-loan-balance.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/web/src/services/StudentLoanBalanceService.ts
  sources/packages/web/src/services/http/StudentLoanBalanceApi.ts
Labels: SIMS-Api, E2E/Unit tests, DB

#3036 #3018 - PT Lifetime Maximum (Balance) File Import
  sources/packages/backend/apps/db-migrations/src/migrations/1712154983139-AddStudentLoanBalancesPartTimeIntegrationQueue.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-student-loan-balances-part-time-integration.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-student-loan-balances-part-time-integration.sql.sql
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/_tests_/student-loan-balances-files/PEDU.PBC.PT.MBAL.20240302.001
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/_tests_/student-loan-balances-part-time-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/student-loan-balances-part-time-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/index.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/models/student-loan-balances.model.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances-files/student-loan-balances-file-footer.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances-files/student-loan-balances-file-header.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances-files/student-loan-balances-file-response.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/student/student.service.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/student-loan-balance.model.ts
  sources/packages/backend/libs/test-utils/src/factories/sin-validation.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
Labels: Queue Consumers, E2E/Unit tests, DB

#3063 #2272 - Ministry Trigger Manual Reassessment E2E tests
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.getApplicationAssessmentStatusDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.aest.controller.manualReassessment.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
Labels: SIMS-Api, E2E/Unit tests

#3069 #3018 - Student Loan Balances File Process Error Upgrade
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/_tests_/student-loan-balances-files/PEDU.PBC.PT.MBAL.20240102.001
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/_tests_/student-loan-balances-files/PEDU.PBC.PT.MBAL.20240202.001
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/_tests_/student-loan-balances-part-time-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/models/student-loan-balances.model.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances.processing.service.ts
  sources/packages/backend/libs/sims-db/src/error-handler.ts
Labels: Bug, E2E/Unit tests

#3070 #2748 - Changed Queues IsActive Flag Behavior
  sources/packages/backend/apps/queue-consumers/src/main.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-scheduler.ts
  sources/packages/backend/libs/services/src/queue/model/queue.model.ts
  sources/packages/backend/libs/services/src/queue/queue.service.ts
Labels: Task, Queue Consumers, Technical Debt

#3074 #2852 - SFAS SAIL Student Data Match Import Note
  sources/packages/backend/apps/api/src/services/student/student.service.ts
Labels: Student, SIMS-Api

#3077 #3064 - Student Start New Application Content Update
  sources/packages/backend/apps/db-migrations/src/migrations/1712601354111-UpdateProgramYearDescription.ts
  sources/packages/backend/apps/db-migrations/src/sql/ProgramYear/Rollback-update-program-year-description.sql
  sources/packages/backend/apps/db-migrations/src/sql/ProgramYear/Update-program-year-description.sql
  sources/packages/web/src/views/student/financial-aid-application/StudentApplication.vue
Labels: DB, Web portal

#3068 #3029 - Lifetime Maximum - Zero Balance Import
  sims.code-workspace
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/_tests_/student-loan-balances-files/PEDU.PBC.PT.MBAL.20240302.001
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/_tests_/student-loan-balances-part-time-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/index.ts
  sources/packages/backend/libs/integrations/src/services/student-loan-balance/student-loan-balance.service.ts
Labels: Queue Consumers, Integration

#3075 #2875 - Exclude student dependents born after study end date
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
Labels: Camunda Worflow

#3094 #3093 - Fixing Rollback File
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-student-loan-balances-part-time-integration.sql
Labels: Bug, Release Branch Merge, High Priority

#3087 #3076 - Application exception bug fix
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.approveException.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/application-exception.aest.controller.ts
  sources/packages/backend/libs/services/src/workflow/workflow-client.service.ts
Labels: Bug, Camunda Workers, E2E/Unit tests

#3095 #2875 - Newborn dependant born after study end date E2E
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/costs/parttime-assessment-costs-child-care-cost.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/costs/parttime-assessment-costs-child-care-cost.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/costs/parttime-assessment-costs-child-care-cost.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/test-utils/factories/student-dependent.ts
Labels: E2E/Unit tests

#3118 #3093 - Fixing Rollback File (#3094)
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-student-loan-balances-part-time-integration.sql
Labels: Release Branch Merge

#3106 #2549 - PT Request a Change - Financial Information (Ministry Processing)
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/appeals/parttime-assessment-student-financial-information.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/appeals/parttime-assessment-student-financial-information.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/appeals/parttime-assessment-student-financial-information.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: Ministry, Camunda Worflow

#3124 #2958 - Part-time NOA Summary Based on e-Cert Values - Part 1
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.aest.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule.model.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-schedule.ts
Labels: SIMS-Api, E2E/Unit tests

#3129 Add a warning message to the disability section of applications.
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: User Experience, Student, Form.io, Web portal

#3130 3027 - Investigate Queue-Consumers error in Prod
  devops/Makefile
  devops/openshift/database/redis-ha-deploy.yml
Labels: Queue Consumers, Devops

#3121 #2872 - PartTime Lifetime maximum check - Part 1
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.dto.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/workers/src/workers.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-part-time-step.ts
  sources/packages/backend/libs/integrations/src/services/student-loan-balance/student-loan-balance.service.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/services/src/student-loan-balance/student-loan-balance-shared.service.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
Labels: Queue Consumers, Camunda Workers, E2E/Unit tests, Camunda Worflow

#3120 #2689 - Retrieve SFAS/SAIL Award Values Needed for PT PY Maximums
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/test-utils/src/factories/sfas-application.ts
  sources/packages/backend/libs/test-utils/src/factories/sfas-part-time-application.ts
Labels: Task, Student, Camunda Workers, E2E/Unit tests

#3137 #2806 - Additional Transportation Form Change
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: User Experience, Student, Form.io, Web portal

#3138 #3047 - Update on transportation allowance and additional transportation allowance
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: Bug, E2E/Unit tests, Camunda Worflow

#3162 #2841 - Fix Study Codes
  sources/packages/forms/src/form-definitions/educationprogram.json
Labels: Bug, Institution, Form.io

#3161 #2872 - PT Lifetime maximum CSLP - E2E Tests
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: E2E/Unit tests

#3159 #2958 - Part-time Final Award From e-Certs - UI
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.aest.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/web/src/components/common/AssessmentAwardDetails.vue
  sources/packages/web/src/components/common/AwardTable.vue
  sources/packages/web/src/components/common/students/applicationDetails/AssessmentAward.vue
  sources/packages/web/src/services/http/dto/Assessment.dto.ts
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentAward.vue
Labels: Ministry, Web portal

#3122 #2369 - Create Automatic Email Notifications to SABC Staff
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.bulkInsert.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/designation-agreement/designation-agreement.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-import-csv.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-validation.models.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.models.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.ts
  sources/packages/backend/apps/api/src/services/institution-location/institution-location.service.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
  sources/packages/backend/apps/api/src/services/student-account-applications/student-account-applications.models.ts
  sources/packages/backend/apps/api/src/services/student-account-applications/student-account-applications.service.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1712258604506-AddEmailContactsColumn.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1712265966499-InsertMinistryNotificationMessages.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Add-email-contacts-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-ministry-notification-messages.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Rollback-add-email-contacts-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Rollback-insert-ministry-notification-messages.sql
  sources/packages/backend/apps/load-test-gateway/src/constants/application.constants.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/application/_tests_/e2e/application.controller-verifyApplicationExceptions.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/application/application.controller.ts
  sources/packages/backend/apps/workers/src/services/application-exception/application-exception.service.ts
  sources/packages/backend/apps/workers/src/services/application/application.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-notification/e-cert-notification.service.ts
  sources/packages/backend/libs/services/src/notifications/notification-message/notification-message.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.service.ts
  sources/packages/backend/libs/sims-db/src/entities/notification-message.model.ts
  sources/packages/backend/libs/sims-db/src/entities/notification-metadata.type.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
Labels: SIMS-Api, Queue Consumers, Camunda Workers, E2E/Unit tests, DB

#3186 #2369 - Added missing institution id to prevent institution creation from Typeorm
  sources/packages/backend/apps/api/src/services/institution-location/institution-location.service.ts
Labels: Bug, Student, SIMS-Api, Ad-hoc

#3173 #3025 - offering change request redirect
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/aest/institution/ViewOfferingChangeRequest.vue
  sources/packages/web/src/views/aest/institution/ViewOfferingChangeRequestComplete.vue
Labels: Bug, Ministry, Web portal

#3179 #2369 - Create automatic email notifications for SABC staff (Final PR)
  .github/workflows/env-setup-deploy-secrets.yml
  configs/env-example
  devops/Makefile
  devops/openshift/init-secrets.yml
  devops/openshift/queue-consumers-deploy.yml
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/services/src/notifications/notification/gc-notify.service.ts
  sources/packages/backend/libs/utilities/src/config/config.models.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/tests/docker-compose.yml
Labels: Queue Consumers, Devops, E2E/Unit tests

#3188 Fix Webpack Config and Enable Multiple Debug
  .vscode/launch.json
  sources/packages/backend/webpack.config.js
Labels: Bug, Ad-hoc, Technical Debt

#3194 #2589 - Use a CSV parser library for the report service
  sims.code-workspace
  sources/packages/backend/libs/services/src/report/report.service.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: SIMS-Api

#3170 #3043 - Update the frontend npm packages (outdated)
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
Labels: Task, Devops

#3202 Queue-consumers Fail to Start
  sources/packages/backend/package.json
  sources/packages/backend/webpack.config.js
Labels: Bug, Queue Consumers, Ad-hoc

#3203 #2650 - Cancel Future Disbursements if COE is declined (Bug)
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.denyConfirmationOfEnrollment.e2e-spec.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/confirmation-of-enrollment.service.ts
  sources/packages/web/src/components/students/applicationTracker/DisbursementBanner.vue
  sources/packages/web/src/components/students/applicationTracker/MultipleDisbursementBanner.vue
Labels: Institution, SIMS-Api, Web portal
