Repository bcgov/SIMS, pull requests merged in 2024-01, with the labels that each got.

#2636 #2466 - Fix for UI issue
  sources/packages/web/src/assets/css/vuetify.scss
  sources/packages/web/src/views/student/StudentAppealRequest.vue
Labels: Bug

#2637 #2299 - Adjust Maximum Allowable Tuition Remittance
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.confirmEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.institutions.controller.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/_tests_/unit/confirmation-of-enrollment.getMaxTuitionRemittance.spec.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/confirmation-of-enrollment.service.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/models/confirmation-of-enrollment.models.ts
Labels: SIMS-Api

#2631 #2482 - Update PT Declarations Wording
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/models/supporting-user.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/libs/sims-db/src/entities/education-program-offering.model.ts
  sources/packages/forms/package-lock.json
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/web/src/services/http/dto/SupportingUser.dto.ts
  sources/packages/web/src/views/supporting-user/SupportingInformation.vue
Labels: Web Portal, SIMS-Api, Form.io

#2642 #2523 - PD/PPD Assessment and Disbursement Logic
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/data-inputs.models.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/workflow-data-input.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-base.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
Labels: Queue Consumers, Camunda Worflow

#2647 #2646 - Patroni Prod issue
  devops/openshift/database/patroni-deploy.yml
Labels: Devops, Hotfix

#2656 #2641 - Award Configurations - PT BCAG (Net)
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-2021-2022-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-2022-2023-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-2023-2024-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: Student, Camunda Worflow

#2643 #2484 - Incorporate 'Year of Study' Field into All Offering Names
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/bulk-insert/multiple-upload-with-duplicate-offering-validation-errors.csv
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.bulkInsert.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.createOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.updateProgramOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.validateOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-import-csv.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-validation.models.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/utilities/eductaion-program-offering-utils.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1704480832432-DropShowYearOfStudyColumn.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1704494480880-UpdateOfferingUniqueIndex.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Add-col-show-year-of-study.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Drop-col-show-year-of-study.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Rollback-update-offering-duplication-unique-index.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Update-offering-duplication-unique-index.sql
  sources/packages/backend/libs/sims-db/src/entities/education-program-offering.model.ts
  sources/packages/backend/libs/sims-db/src/error-handler.ts
  sources/packages/forms/src/form-definitions/educationprogramoffering.json
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/views/institution/locations/offerings/OfferingCreate.vue
  sources/packages/web/src/views/institution/locations/offerings/OfferingEdit.vue
  testing/src/cypress/page-objects/Institution-objects/LocationProgramObject.ts
Labels: Institution, SIMS-Api

#2655 #2594 - Display Lifetime Tally of Unsuccessful Weeks for all Users
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/models/student-scholastic-standings.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.students.controller.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.models.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
  sources/packages/backend/libs/services/src/sfas/sfas-individual.model.ts
  sources/packages/backend/libs/services/src/sfas/sfas-individual.service.ts
  sources/packages/web/src/components/common/students/StudentRestrictions.vue
  sources/packages/web/src/components/common/students/StudentScholasticStandingLimitedHistory.vue
  sources/packages/web/src/services/ScholasticStandingService.ts
  sources/packages/web/src/services/http/ScholasticStandingApi.ts
  sources/packages/web/src/services/http/dto/ScholasticStanding.dto.ts
  sources/packages/web/src/views/aest/student/StudentRestrictions.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentRestrictions.vue
  sources/packages/web/src/views/student/StudentAccountActivity.vue
Labels: Web Portal, SIMS-Api

#2682 #2632 - PT CSPT Awards Update
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-2021-2022-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-2022-2023-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-2023-2024-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: Camunda Worflow

#2681 #2594 - Display Lifetime Tally Of Unsuccessful Weeks [e2e tests]
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.aest.controller.getScholasticStandingSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.institutions.controller.getScholasticStandingSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.students.controller.getScholasticStandingSummary.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/factories/sfas-individuals.ts
  sources/packages/backend/libs/test-utils/src/factories/student-scholastic-standing.ts
  sources/packages/backend/libs/test-utils/src/index.ts
Labels: E2E/Unit tests

#2680 #2641 - Award Configurations - PT BCAG (Net) Quick Fix
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-2021-2022-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-2022-2023-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-2023-2024-awards-amount-BCAG.e2e-spec.ts
Labels: E2E/Unit tests

#2698 #2484 - Add year of study column to offering listing
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/web/src/components/common/OfferingSummary.vue
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
Labels: Institution, Web Portal

#2699 #2614 - PT Award Eligibility - BCAG
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/eligibility/parttime-assessment-2021-2022-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/eligibility/parttime-assessment-2022-2023-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/eligibility/parttime-assessment-2023-2024-eligibility-BCAG.e2e-spec.ts
Labels: Student, E2E/Unit tests, Camunda Worflow

#2712 #2233 - Unable to view files Uploaded within App (Through Exception Path)
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
Labels: Bug, Question, Student, Ministry, SIMS-Api

#2730 #2544 - Patroni Recovery mode resolution
  devops/openshift/api-deploy.yml
  devops/openshift/load-test-gateway-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/workers-deploy.yml
Labels: Devops

#2691 #2522 - Map PD/PPD Status to COE screen
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getApplicationForCOE.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/models/confirmation-of-enrollment.dto.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1705441135641-RemovePDVerifiedColumn.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1705971287788-AddPPDAndPPDStatusDate.ts
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Add-ppd-status-ppd-status-date.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Drop-ppd-status-ppd-status-date.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Remove-student-pd-verified.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Rollback-student-pd-verified.sql
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/_tests_/unit/e-cert-part-time-integration.service.spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-part-time.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/models/e-cert-integration-model.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa.integration.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-individual.service.ts
  sources/packages/backend/libs/integrations/src/services/ssh/sftp-integration-base.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-files/sfas-individual-record.ts
  sources/packages/backend/libs/sims-db/src/entities/application-disability-status.type.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-individual.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student.model.ts
  sources/packages/backend/libs/utilities/src/esdc-utils.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
  sources/packages/forms/package-lock.json
  sources/packages/forms/src/form-definitions/confirmsstudentenrollment.json
  sources/packages/web/src/composables/useFormatters.ts
  sources/packages/web/src/services/http/dto/ConfirmationOfEnrolment.dto.ts
  sources/packages/web/src/types/contracts/student/ApplicationContract.ts
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/ApplicationDetailsForCOE.vue
Labels: Institution, Web Portal, SIMS-Api, Queue Consumers, Form.io, DB, Integration, Prod Required

#2728 #2618 - Award Configurations - PT CSG-DEP (Award)
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-2021-2022-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-2022-2023-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-2023-2024-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: Student, Camunda Worflow

#2719 #2524 - Hide FT Programs for PT release [Part 1]
  .github/workflows/release-deploy-all.yml
  .github/workflows/repo-checks-tests.yml
  configs/env-example
  devops/Makefile
  devops/openshift/api-deploy.yml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/config/_tests_/e2e/config.controller.getConfig.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/config/config.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/config/models/config.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.students.controller.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/web/src/components/common/StudentApplication.vue
  sources/packages/web/src/composables/useFormioDropdownLoader.ts
  sources/packages/web/src/services/AppConfigService.ts
  sources/packages/web/src/services/http/dto/Common.dto.ts
  sources/packages/web/src/services/http/dto/Config.dto.ts
  sources/packages/web/src/types/contracts/ConfigContract.ts
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
  sources/tests/Makefile
  sources/tests/docker-compose.yml
Labels: Web Portal, SIMS-Api, Devops, Form.io

#2744 #2524 - Hide FT Programs for PT Release - File Formatting Fix
  devops/openshift/api-deploy.yml
Labels: Bug

#2747 #2522 - COE Disability Application Status description
  sources/packages/web/src/composables/useFormatters.ts
Labels: Institution, Web Portal

#2745 #2664 - Execute assessment calculations in sequence
  sources/packages/backend/apps/db-migrations/src/migrations/1706455811800-AddStudentAssessmentCalculationStartDate.ts
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Add-calculation-start-date.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Rollback-add-calculation-start-date.sql
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.dto.ts
  sources/packages/backend/apps/workers/src/services/index.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.model.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/services/src/constants/worker-constants.ts
  sources/packages/backend/libs/services/src/workflow/workflow-client.service.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/test-utils/constants/workflow-variables-constants.ts
  sources/packages/backend/workflow/test/test-utils/mock/assessment-gateway/verify-assessment-calculation-order-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/index.ts
Labels: Camunda Workers, Camunda Worflow

#2777 #2664 - Fix the DB migration revert script
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Rollback-add-calculation-start-date.sql
Labels: DB

#2755 #2524 - Hide FT programs for PT release: Disable FT Schedulers
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-scheduler.ts
Labels: Queue Consumers

#2753 #2451 - Enable typescript reference on backend errors
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/package.json
  sources/packages/backend/webpack.config.js
Labels: Enhancement, Task, Technical Debt
