Repository bcgov/SIMS, pull requests merged in 2024-07, with the labels that each got.

#3467 #3383 - Queue-consumers Settings Changes - DB Migration
  sources/packages/backend/apps/db-migrations/src/migrations/1719518842290-AddQueueConfigurationsSettingsColumn.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-col-queue-configurations-settings.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-col-queue-configurations-settings.sql
  sources/packages/backend/libs/services/src/queue/queue.module.ts
  sources/packages/backend/libs/services/src/queue/queue.service.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/queue-configuration.model.ts
  sources/packages/backend/libs/sims-db/src/entities/queue-settings.type.ts
Labels: Queue Consumers, DB

#3475 #3255 - CAS Integration - Add CAS Supplier Info to Student Profile - Part 1
  sources/packages/backend/apps/db-migrations/src/migrations/1719531876964-CreateSupplierStatusType.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1719533191327-CreateCASSuppliersTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1719597653676-AddCASSupplierIdColumnToStudentsTable.ts
  sources/packages/backend/apps/db-migrations/src/sql/CASSuppliers/Create-cas-suppliers.sql
  sources/packages/backend/apps/db-migrations/src/sql/CASSuppliers/Rollback-create-cas-suppliers.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Add-cas-supplier-id.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Rollback-add-cas-supplier-id.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Create-supplier-status-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-create-supplier-status-type.sql
  sources/packages/backend/libs/sims-db/src/constant.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/sims-db/src/entities/cas-supplier.model.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/student.model.ts
  sources/packages/backend/libs/sims-db/src/entities/supplier-status.type.ts
Labels: Student, DB, Integration

#3477 #3178 - Updates to Provincial Daily Disbursement Report Sent to Finance - CSV Sent By Email (Part 1)
  sources/packages/backend/apps/db-migrations/src/migrations/1719523852237-DeleteFINProcessProvincialDailyDisbursementsIntegration.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Drop-fin-process-provincial-daily-disbursements-integration.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-drop-fin-process-provincial-daily-disbursements-integration.sql
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/provincial-daily-disbursements-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
Labels: Ministry, Queue Consumers, DB

#3487 #2706 - Block Assessment Acceptance
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getApplicationWarnings.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-pre-validation-service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/web/src/services/StudentAssessmentsService.ts
  sources/packages/web/src/services/http/StudentAssessmentApi.ts
  sources/packages/web/src/views/student/NoticeOfAssessment.vue
Labels: Student, E2E/Unit tests, Web portal

#3497 #2990 - Supporting User Footer
  sources/packages/web/src/views/supporting-user/SupportingInformation.vue
Labels: Bug, Web portal, Supporting User

#3484 #3178 - Updates to Provincial Daily Disbursement Report Sent to Finance - CSV Sent By Email (Part 2)
  sources/packages/backend/apps/db-migrations/src/migrations/1719966874494-UpdateFullTimeDisbursementReceiptsFileIntegrationName.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-update-full-time-disbursement-receipts-file-integration-name.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Update-full-time-disbursement-receipts-file-integration-name.sql
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/disbursement-receipts-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-feedback-files/EDU.PBC.DIS-federal-provincial-part-time.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/disbursement-receipts-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/daily-disbursement-receipt.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/index.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-receipt/disbursement-receipt.service.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-receipts.model.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-receipt.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
Labels: Ministry, Queue Consumers, DB

#3488 #3377 - Virus Scanning
  configs/env-example
  devops/Makefile
  devops/openshift/queue-consumers-deploy.yml
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/backend/apps/api/src/services/student-file/student-file.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1719968338008-AddVirusScanQueue.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1720549467795-CreateVirusScanStatusType.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1720549716176-AddVirusScanColumns.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-virus-scan-queue.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-virus-scan-queue.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentFiles/Add-virus-scan-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentFiles/Rollback-add-virus-scan-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Create-virus-scan-status.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-create-virus-scan-status.sql
  sources/packages/backend/apps/queue-consumers/src/constants/error-code.constants.ts
  sources/packages/backend/apps/queue-consumers/src/processors/virus-scan/virus-scan.processor.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/index.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-file/student-file.service.ts
  sources/packages/backend/libs/services/src/clamav/clam-antivirus.module.ts
  sources/packages/backend/libs/services/src/clamav/models/clamav.models.ts
  sources/packages/backend/libs/services/src/clamav/services/clamav.service.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/services/src/queue/dto/virus-scan.dto.ts
  sources/packages/backend/libs/sims-db/src/entities/student-file.model.ts
  sources/packages/backend/libs/sims-db/src/entities/virus-scan-status-type.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: SIMS-Api, Queue Consumers, Devops, DB

#3501 #3377- Virus Scanning bug Fix
  devops/openshift/queue-consumers-deploy.yml
Labels: Bug

#3503 #2706 - add a list form for banners
  sources/packages/web/src/components/generic/Banner.vue
  sources/packages/web/src/views/student/NoticeOfAssessment.vue
Labels: Student, Web portal

#3504 #2903 - multiple designation requests
  sources/packages/backend/apps/api/src/route-controllers/designation-agreement/_tests_/e2e/designation-agreement.institutions.controller.submitDesignationAgreement.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/designation-agreement/designation-agreement.institutions.controller.ts
  sources/packages/backend/libs/test-utils/src/factories/designation-agreement.ts
  sources/packages/web/src/views/institution/designations/ManageDesignations.vue
Labels: Institution, E2E/Unit tests

#3517 #3469 - Request a change update
  sources/packages/web/src/views/student/StudentAppealRequest.vue
Labels: Student, Web portal

#3478 #3383 - Queue-consumers Settings Changes - Health Check Updated
  devops/openshift/queue-consumers-deploy.yml
  sources/packages/backend/apps/queue-consumers/src/controllers/health-check/health.controller.ts
Labels: Queue Consumers, Devops

#3516 #3307 - Request a change update
  sources/packages/forms/src/form-definitions/studentrequestchange.json
Labels: Student, Form.io, Web portal

#3524 #3491 - Ministry student account creation
  sources/packages/web/src/views/aest/student/StudentAccountApplicationsApproval.vue
Labels: Ministry, Web portal

#3489 #3183 - Generate eCert Feedback File Error Ministry Notification
  sources/packages/backend/apps/db-migrations/src/migrations/1720187973379-InsertEcertFeedbackFileErrorMinistryMessage.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-ecert-feedback-file-error-message.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Rollback-insert-ecert-feedback-file-error-message.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-feedback-error-files/EDU.PBC.FTECERTSFB.ERRORNOTIFICATION
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-feedback-error-files/EDU.PBC.NEW.ECERTSFB.PT.ERRORNONNOTIFICATION
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-feedback-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-feedback-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule-errors/disbursement-schedule-errors.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/libs/integrations/src/services/ecert-feedback-error/ecert-feedback-error.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/gc-notify.model.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: Queue Consumers, DB, Integration

#3506 #3178 - Updates to Provincial Daily Disbursement Report Sent to Finance - CSV Sent By Email (Part 3)
  sources/packages/backend/apps/db-migrations/src/migrations/1720568459914-InsertMinistryNotificationProvincialDailyDisbursementReport.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1720568581752-UpdateDailyDisbursementFile.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-ministry-notification-provincial-daily-disbursement-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Rollback-insert-ministry-notification-provincial-daily-disbursement-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-daily-disbursement-file.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-daily-disbursement-file.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/disbursement-receipts-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt.processing.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: Ministry, Queue Consumers, DB

#3532 Camunda SDK and Camunda Localhost Upgrade
  sources/Makefile
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Bug, Ad-hoc, Camunda Workers

#3490 #3255 - Add CAS Supplier Info to Student Profile (Get Supplier Number) - Part 2
  .github/workflows/env-setup-deploy-secrets.yml
  configs/env-example
  devops/Makefile
  devops/openshift/init-secrets.yml
  devops/openshift/queue-consumers-deploy.yml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1719964476201-AddCASSupplierQueueConfiguration.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-cas-supplier-queue-configuration.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-cas-supplier-queue-configuration.sql
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-supplier-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-supplier.factory.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/cas-supplier-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/index.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/mock-utils/cas-response.factory.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/mock-utils/cas-service.mock.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/libs/integrations/src/cas/models/cas-supplier-response.model.ts
  sources/packages/backend/libs/integrations/src/constants/error-code.constants.ts
  sources/packages/backend/libs/sims-db/src/entities/cas-supplier.model.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/utilities/src/config/config.models.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
  sources/tests/docker-compose.yml
Labels: Queue Consumers, Integration

#3537 #3255 - CAS - deploy error fix
  devops/Makefile
  devops/openshift/queue-consumers-deploy.yml
Labels: Bug, Devops

#3538 #3255 - CAS - deploy error fix - 2
  devops/Makefile
Labels: Bug, Devops

#3540 #3255 - CAS - deploy error fix - 3
  devops/Makefile
Labels: Bug, Devops

#3536 #3415 - Update disability appeal form
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/studentdisabilityappeal.json
Labels: Student, Form.io, Web portal

#3531 #3306 - Select program content updates
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Student, Content, Form.io, Web portal

#3543 #3255 - CAS logon bugfix
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
Labels: Bug, Queue Consumers

#3542 #1366 - Set FileOriginType for Student Application Files
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application-student-file.model.ts
Labels: Student, SIMS-Api, Technical Debt

#3520 #2823 - Implement Camunda Impacts of Request a Change to Dependants
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/appeals/parttime-assessment-student-dependants.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/appeals/parttime-assessment-student-financial-information.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/costs/parttime-assessment-costs-child-care-cost.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/appeals/parttime-assessment-student-dependants.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/appeals/parttime-assessment-student-financial-information.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/costs/parttime-assessment-costs-child-care-cost.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/appeals/parttime-assessment-student-dependants.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/appeals/parttime-assessment-student-financial-information.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/costs/parttime-assessment-costs-child-care-cost.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: Student, E2E/Unit tests, Camunda Worflow

#3544 #2919 - Institution offering warning message
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-validation.models.ts
Labels: Bug, User Experience, Institution

#3523 #1706 - Add Estimated Current Year Income Exception Question to PT and FT Applications
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/studentexceptions.json
Labels: Form.io, E2E/Unit tests, Camunda Worflow

#3546 #3502 - Workers PODs Logging Cancellation Errors
  .github/workflows/env-setup-deploy-secrets.yml
  .github/workflows/release-deploy-all.yml
  configs/env-example
  devops/Makefile
  devops/openshift/init-secrets.yml
  devops/openshift/workers-deploy.yml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/workers/src/zeebe/zeebe-health-indicator.ts
  sources/tests/docker-compose.yml
Labels: Bug, Devops, Camunda Workers

#3549 #3502 - Removed ATBC_LOGIN_ENDPOINT
  devops/openshift/workers-deploy.yml
Labels: Bug, Camunda Workers

#3551 #3502 - Removing "required" when value is provided.
  devops/openshift/workers-deploy.yml
Labels: Bug, Camunda Workers

#3552 #3502 - Mapped missing DISABLE_ORM_CACHE
  devops/Makefile
  devops/openshift/workers-deploy.yml
Labels: Bug, Camunda Workers

#3559 #3560 - Migration revert bug fix
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-drop-fin-process-provincial-daily-disbursements-integration.sql
Labels: Bug

#3556 #2973 - File Uploader Bug
  sources/packages/web/src/composables/useFileUtils.ts
  sources/packages/web/src/services/FormUploadService.ts
Labels: Bug, Student, Web portal

#3548 #3291 - Student search
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/student/student.aest.controller.searchStudents.e2e-spec.ts
  sources/packages/web/src/components/common/SearchStudents.vue
Labels: Institution, Ministry, Web portal

#3566 #2973 - File Uploader UI Bug Fix
  sources/packages/web/src/services/FormUploadService.ts
Labels: Student, Ministry, Web portal

#3567 #2919 - Institution offering warning
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-validation.models.ts
  sources/packages/web/src/components/common/OfferingForm.vue
  sources/packages/web/src/components/common/OfferingFormSubmit.vue
Labels: Institution, Web portal

#3572 #3560 - Migration revert bug fix (#3559)
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-drop-fin-process-provincial-daily-disbursements-integration.sql
Labels: DB, Release Branch Merge

#3570 #3351 - Form Additional Transportation Question (FT/PT)
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/studentadditionaltransportationappeal.json
Labels: Form.io

#3575 #2742 - Designation request role validation
  sources/packages/forms/src/form-definitions/designationagreementdetails.json
Labels: Institution, Form.io, Web portal

#3564 #3336 - Generate Email to Student with Partner / Parent Login Info
  sources/packages/backend/apps/db-migrations/src/migrations/1721687574277-InsertStudentNotificationSupportingUserInformationRequired.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-student-supporting-user-information-required-message.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Rollback-insert-student-supporting-user-information-required-message.sql
  sources/packages/backend/apps/workers/src/controllers/supporting-user/_test_/e2e/supporting-user.controller.createSupportingUsers.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/supporting-user/supporting-user.controller.ts
  sources/packages/backend/apps/workers/src/services/supporting-user/supporting-user.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: Student, Camunda Workers, DB, Supporting User

#3576 #3127 - Remove Request a Change POC Options
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/forms/src/form-definitions/partnerincomeappeal.json
  sources/packages/forms/src/form-definitions/studentincomeappeal.json
  sources/packages/forms/src/form-definitions/studentrequestchange.json
Labels: Form.io, Camunda Worflow

#3585 #3350 - Update indigenous questions
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Student, Form.io, Web portal

#3571 #3382 - NOA - Displaying $0 award/not eligible
  sims.code-workspace
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getApplicationProgressDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getApplicationWarnings.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getCompletedApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.confirmAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/student-token-helpers.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-pre-validation-service-models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-pre-validation-service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-base.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-full-time-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-part-time-step.ts
  sources/packages/backend/libs/test-utils/src/factories/student-assessment.ts
  sources/packages/backend/workflow/src/workflow-definitions/parttime-configure-disbursement.bpmn
  sources/packages/web/src/components/layouts/student/StudentPageContainer.vue
  sources/packages/web/src/services/StudentAssessmentsService.ts
  sources/packages/web/src/services/http/StudentAssessmentApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/types/contracts/ECertFailedValidation.ts
  sources/packages/web/src/views/student/CheckValidSINBanner.vue
  sources/packages/web/src/views/student/NoticeOfAssessment.vue
Labels: Student, SIMS-Api, E2E/Unit tests, Integration, Camunda Worflow, Web portal

#3568 #3297 - Virus Scanning - Ministry User File Interactions
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.aest.controller.getUploadedFile.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.aest.controller.searchStudents.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.students.controller.getUploadedFile.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/services/student-file/student-file.service.ts
  sources/packages/backend/apps/queue-consumers/src/processors/virus-scan/_tests_/virus-scan.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/virus-scan/virus-scan.processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-file/student-file.service.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/libs/services/src/queue/index.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/test-utils/src/factories/student-file-uploads.ts
  sources/packages/web/src/composables/useFileUtils.ts
  sources/packages/web/src/constants/error-code.constants.ts
  sources/packages/web/src/services/FormUploadService.ts
  sources/packages/web/src/services/http/common/HttpBaseClient.ts
Labels: Student, Ministry, SIMS-Api, Queue Consumers, E2E/Unit tests

#3590 #3452 - Student landing page
  sources/packages/forms/src/form-definitions/studentwelcomepage.json
Labels: Student, Content, Form.io, Web portal

#3588 #3505 - Additional transportation workflow updates
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-decisions.dmn
  sources/packages/backend/workflow/test/2022-2023/constants/program-year.constants.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/appeals/parttime-assessment-student-additional-transportation.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/constants/program-year.constants.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/appeals/parttime-assessment-student-additional-transportation.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/constants/program-year.constants.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/appeals/parttime-assessment-student-additional-transportation.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/load-test/src/_tests_/form-io/form-io-application-submission/models.ts
Labels: E2E/Unit tests, Camunda Worflow
