Repository bcgov/SIMS, pull requests merged in 2024-10, with the labels that each got.

#3747 #2509 - Update formio server and js - Side Effects
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
  sources/packages/forms/src/form-definitions/supportingusersparent2022-2023.json
  sources/packages/forms/src/form-definitions/supportingusersparent2024-2025.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2024-2025.json
Labels: SIMS-Api, Form.io, Security-related

#3750 #3574 - Add edit notification checkbox and warning
  sources/packages/web/src/components/students/modals/ConfirmEditApplication.vue
  sources/packages/web/src/views/student/StudentApplicationDetails.vue
  sources/packages/web/src/views/student/StudentApplicationSummary.vue
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: User Experience, Student, Content, Web portal

#3756 #3262 - Ministry Application Tracker UI
  sources/packages/web/src/components/common/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/common/applicationTracker/Assessment.vue
  sources/packages/web/src/components/common/applicationTracker/Cancelled.vue
  sources/packages/web/src/components/common/applicationTracker/Completed.vue
  sources/packages/web/src/components/common/applicationTracker/DisbursementBanner.vue
  sources/packages/web/src/components/common/applicationTracker/Draft.vue
  sources/packages/web/src/components/common/applicationTracker/Enrolment.vue
  sources/packages/web/src/components/common/applicationTracker/InProgress.vue
  sources/packages/web/src/components/common/applicationTracker/MultipleDisbursementBanner.vue
  sources/packages/web/src/components/common/applicationTracker/RelatedApplicationChanged.vue
  sources/packages/web/src/components/common/applicationTracker/Submitted.vue
  sources/packages/web/src/components/common/applicationTracker/generic/ApplicationStatusTrackerBanner.vue
  sources/packages/web/src/components/layouts/aest/AESTApplicationSideBar.vue
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/aest/student/applicationDetails/ApplicationStatusTracker.vue
  sources/packages/web/src/views/student/StudentApplicationDetails.vue
Labels: Web portal

#3758 #3704 - Fix dependabot security issues
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  testing/src/package-lock.json
  testing/src/package.json
Labels: Good first issue, Security-related

#3760 #1862 - UX/UI for Ignore Restriction - Bypass List (Adjustment)
  sources/packages/web/src/components/aest/students/bypassedRestrictions/HistoryBypassedRestrictions.vue
  sources/packages/web/src/components/generic/StatusChipBypass.vue
  sources/packages/web/src/composables/useRestrictionBypass.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
Labels: User Story, Ministry, Web portal

#3755 #18 - All users' log in / log off needs to be logged
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/backend/apps/api/src/route-controllers/audit/_tests_/audit.controller.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/audit/audit.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/audit/models/audit.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/services/audit/audit-event.enum.ts
  sources/packages/backend/apps/api/src/services/audit/audit.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/web/src/components/common/IdleTimeChecker.vue
  sources/packages/web/src/services/AuditService.ts
  sources/packages/web/src/services/AuthService.ts
  sources/packages/web/src/services/http/ApiClient.ts
  sources/packages/web/src/services/http/AuditApi.ts
  sources/packages/web/src/services/http/dto/Audit.dto.ts
  sources/packages/web/src/services/http/dto/index.ts
  sources/packages/web/src/types/contracts/AuditEnum.ts
  sources/packages/web/src/views/aest/Login.vue
  sources/packages/web/src/views/institution/Login.vue
  sources/packages/web/src/views/student/Login.vue
  sources/packages/web/src/views/supporting-user/Login.vue
Labels: Enhancement, SIMS-Api

#3769 #3676 - Declaration content updates
  sources/packages/forms/src/form-definitions/designationagreementdetails.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
  sources/packages/forms/src/form-definitions/studentprofile.json
  sources/packages/forms/src/form-definitions/supportingusersparent2022-2023.json
  sources/packages/forms/src/form-definitions/supportingusersparent2024-2025.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2024-2025.json
  sources/packages/forms/src/form-definitions/uploadstudentdocuments.json
  sources/packages/web/src/constants/message-constants.ts
Labels: Student, Content, Form.io, Web portal

#3773 #3752 - Update activity page
  sources/packages/forms/src/form-definitions/studentaccountactivity.json
Labels: Student, Form.io, Web portal

#3766 #2568 - Minimum validation for the date entered on scholastic standing creation
  sources/packages/backend/apps/api/src/route-controllers/institution-locations/_tests_/e2e/institution-location.institutions.controller.getActiveApplications.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/institution-locations/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.institutions.controller.saveScholasticStanding.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/models/student-scholastic-standings.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/_tests_/e2e/aest-token-helpers.getAESTToken.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/forms/src/form-definitions/reportscholasticstandingchange.json
  sources/packages/web/src/services/ScholasticStandingService.ts
  sources/packages/web/src/services/http/dto/InstitutionLocation.dto.ts
  sources/packages/web/src/views/institution/locations/active-applications/ActiveApplicationReportAChange.vue
Labels: SIMS-Api, Form.io, E2E/Unit tests

#3775 #3623 - SFAS-SIMS Bridge File - Update layout and Insert PT MSFAA info
  sources/packages/backend/apps/db-migrations/src/migrations/1728416893266-SFAStoSIMSBridgePartTimeMSFAAColumns.ts
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Add-part-time-msfaa-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Rollback-add-part-time-msfaa-columns.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-VALID-INDIVIDUAL-RECORDS.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-individual.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-files/sfas-individual-record.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-individual.model.ts
Labels: DB, Integration

#3783 #3623 - SFAS-SIMS Bridge File - Adjusted E2E Sample Files
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-2024MAR07-ALL-RESTRICTIONS.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-2024MAR07-LEGACY-RESTRICTIONS.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-INVALID-INDIVIDUAL-RECORDS-INCONSISTENT-WITH-DATA-IMPORT.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-VALID-INDIVIDUAL-RECORDS.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
Labels: Queue Consumers, E2E/Unit tests, Integration

#3771 #3721 - PT Assessment - Books and Supplies Limit
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-decisions.dmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/costs/parttime-assessment-costs-program-related-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/costs/parttime-assessment-costs-program-related-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/costs/parttime-assessment-costs-program-related-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/forms/Dockerfile.dev
Labels: Camunda Worflow

#3785 #3738 - SIMS To SFAS Bridge DB Migrations and Scheduler Setup
  sources/packages/backend/apps/db-migrations/src/migrations/1728495006117-CreateSFASBridgeLogs.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1728496597986-AddSIMSToSFASIntegration.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-sims-to-sfas-integration.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-sims-to-sfas-integration.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASBridgeLogs/Create-sfas-bridge-logs.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASBridgeLogs/Rollback-create-sfas-bridge-logs.sql
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/sims-to-sfas-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/sims-db/src/constant.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-bridge-log.model.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
Labels: Queue Consumers, DB

#3784 #3260 - CAS Integration 3A - Create new Supplier and Site - Get Supplier
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.institutions.controller.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1728327203709-AddManualInterventionCASSupplierType.ts
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-manual-intervention-cas-supplier-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-add-manual-intervention-cas-supplier-type.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-supplier-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/libs/integrations/src/cas/_tests_/unit/cas.service.getSupplierInfoFromCAS.spec.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/libs/integrations/src/cra-integration/__mocks__/SshServiceMock.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa.integration.service.ts
  sources/packages/backend/libs/integrations/src/services/ssh/sftp-integration-base.ts
  sources/packages/backend/libs/services/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/sims-db/src/entities/supplier-status.type.ts
  sources/packages/backend/libs/test-utils/src/mocks/ssh-service-mock.ts
  sources/packages/backend/libs/utilities/src/_tests_/unit/string-utils.translateToASCII.spec.ts
  sources/packages/backend/libs/utilities/src/string-utils.ts
  sources/packages/backend/libs/utilities/src/system-configurations-constants.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Queue Consumers, DB, Integration

#3770 #3222 - Provide Ministry the ability to edit basic BCeID Profile Info
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/services/student/student.service.models.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/api/src/services/user/user.service.ts
  sources/packages/backend/libs/sims-db/src/entities/user.model.ts
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/components/aest/students/modals/EditStudentProfileModal.vue
  sources/packages/web/src/components/common/students/StudentProfile.vue
  sources/packages/web/src/composables/useModalDialog.ts
  sources/packages/web/src/composables/useRules.ts
  sources/packages/web/src/services/StudentService.ts
  sources/packages/web/src/services/http/StudentApi.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/types/ApplicationToken.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
Labels: User Experience, Ministry, SIMS-Api

#3794 #3222 - Provide Ministry the ability to edit Basic BCeID Profile Info (e2e tests)
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.aest.controller.updateProfileInformation.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
Labels: E2E/Unit tests

#3804 #3260 - CAS Integration 3A - Create new Supplier and Site - CAS API Call
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/models/common.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/utils/address-utils.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-supplier-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-and-site-found-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-found-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-not-found-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-evaluation-result-processor.models.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-evaluation-result-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-pre-validations-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/index.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-supplier.models.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/index.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/mock-utils/cas-response.factory.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/mock-utils/cas-service.mock.ts
  sources/packages/backend/libs/integrations/src/cas/cas-formatters.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/libs/integrations/src/cas/index.ts
  sources/packages/backend/libs/integrations/src/cas/models/cas-service.model.ts
  sources/packages/backend/libs/integrations/src/cas/models/cas-supplier-response.model.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/backend/libs/utilities/src/address-utils.ts
  sources/packages/backend/libs/utilities/src/index.ts
Labels: Queue Consumers, Integration

#3801 #2621 - Notice of Assessment Updates
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.aest.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
  sources/packages/forms/src/form-definitions/noticeofassessment.json
  sources/packages/web/src/assets/css/formio-shared.scss
  sources/packages/web/src/components/generic/FooterButtons.vue
  sources/packages/web/src/views/student/NoticeOfAssessment.vue
Labels: Student, Form.io

#3805 #2741 - Ministry Filter: Search Programs & Offerings [Data Table Conversion to Vuetify]
  sources/packages/web/src/services/http/EducationProgramApi.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/views/aest/institution/Programs.vue
Labels: User Experience, Ministry

#3799 #3620 - Change Request - Partner Current Year Income (financial information) option
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.students.controller.submitStudentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/appeals/parttime-assessment-partner-information-and-income.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/appeals/parttime-assessment-partner-information-and-income.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/appeals/parttime-assessment-partner-information-and-income.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/forms/src/form-definitions/partnerinformationandincomeappeal.json
Labels: User Story, Student, Form.io, E2E/Unit tests, Camunda Worflow, Supporting User

#3820 #3620 - Change Request - Partner Current Year Income (financial information) option (Quick Fix)
  sources/packages/forms/src/form-definitions/partnerinformationandincomeappeal.json
Labels: Form.io

#3821 Fixed Rollback File
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Rollback-insert-student-notification-pd-ppd-student-reminder.sql
Labels: Bug, Release Branch Merge, High Priority

#3822 #3260 - CAS Integration 3A - Create new Supplier and Site - Refactor CAS authentication
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-supplier-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-and-site-found-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-found-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-not-found-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-evaluation-result-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-pre-validations-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/mock-utils/cas-service.mock.ts
  sources/packages/backend/libs/integrations/src/cas/_tests_/unit/cas.service.getSupplierInfoFromCAS.spec.ts
  sources/packages/backend/libs/integrations/src/cas/cas-cached-auth-details.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/libs/integrations/src/cas/index.ts
  sources/packages/backend/libs/integrations/src/cas/models/cas-service.model.ts
Labels: Queue Consumers, Integration

#3830 #3260 - CAS Integration 3A - Create new Supplier and Site - Retry on Error and Scheduler Time
  sources/packages/backend/apps/db-migrations/src/migrations/1729785100207-UpdateCASSupplierIntegrationScheduler.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-update-cas-supplier-integration.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Update-cas-supplier-integration.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-supplier-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/cas-supplier-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/utilities/log-utils.ts
  sources/packages/backend/libs/integrations/src/cas/cas-formatters.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/libs/utilities/src/_tests_/unit/string-utils.translateToASCII.spec.ts
  sources/packages/backend/libs/utilities/src/address-utils.ts
  sources/packages/backend/libs/utilities/src/string-utils.ts
Labels: Queue Consumers, DB

#3828 #3812 - BUG - Content displayed twice
  sources/packages/forms/src/form-definitions/programinformationrequest.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/studentaccountactivity.json
  sources/packages/forms/src/form-definitions/studentadditionaltransportationappeal.json
  sources/packages/forms/src/form-definitions/studentdependantsappeal.json
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
  sources/packages/forms/src/form-definitions/uploadstudentdocuments.json
Labels: Bug, Form.io

#3834 #3620 - Change Request - Partner Current Year Income (financial information) option (Fix Duplicate Markup)
  sources/packages/forms/src/form-definitions/partnerinformationandincomeappeal.json
Labels: Form.io

#3813 #3697 - View Assessment Updates
  sources/packages/web/src/components/common/AssessmentAwardDetails.vue
  sources/packages/web/src/components/common/AwardTable.vue
  sources/packages/web/src/components/common/students/applicationDetails/AssessmentAward.vue
  sources/packages/web/src/composables/useFormatters.ts
  sources/packages/web/src/constants/award-constants.ts
Labels: Enhancement, User Story, Student, Content, Web portal

#3837 #3260 - CAS Integration 3A - Create new Supplier and Site - Process in Parallel
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/mock-utils/cas-service.mock.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/libs/utilities/src/parallel-processing-utils.ts
Labels: Queue Consumers, Ad-hoc, Integration

#3839 #3833 - SIN Validation - Gender Field Limit
  sources/packages/backend/apps/db-migrations/src/migrations/1729880822018-SINValidationsGenderSentLengthIncrease.ts
  sources/packages/backend/apps/db-migrations/src/sql/SINValidations/Alter-column-gender-sent.sql
  sources/packages/backend/apps/db-migrations/src/sql/SINValidations/Rollback-alter-column-gender-sent.sql
Labels: DB

#3843 #3260 - CAS Integration 3A - Create new Supplier and Site - Name Fix And Error Log Improvement
  sources/packages/backend/libs/integrations/src/cas/_tests_/unit/cas-test.utils.ts
  sources/packages/backend/libs/integrations/src/cas/_tests_/unit/cas.service.createSupplierAndSite.spec.ts
  sources/packages/backend/libs/integrations/src/cas/_tests_/unit/cas.service.getSupplierInfoFromCAS.spec.ts
  sources/packages/backend/libs/integrations/src/cas/cas-formatters.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/libs/integrations/src/constants/error-code.constants.ts
Labels: Bug, Queue Consumers

#3853 #3774 - Refactoring Import Modules
  sources/packages/backend/libs/integrations/src/services/sfas/index.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-application-import.service.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-individual-import.service.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-part-time-application-import.service.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-restriction-import.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.module.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
Labels: Camunda Workers

#3847 #3738 - E2E Tests SIMS to SFAS
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sims-to-sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sims-to-sfas.processing.service.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/backend/libs/test-utils/src/utils/date-utils.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: E2E/Unit tests, Integration

#3846 #3831 - SINF restriction bridge mapping and rename to SINR
  sources/packages/backend/apps/api/src/services/restriction/student-restriction.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1730141787641-UpdateSINRestriction.ts
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Rollback-update-sin-restriction.sql
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Update-sin-restriction.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-2024MAR07-LEGACY-RESTRICTIONS.txt
  sources/packages/backend/libs/services/src/restriction/model/restriction.model.ts
  sources/packages/forms/src/form-definitions/studentaccountactivity.json
Labels: User Story, Queue Consumers, Form.io, E2E/Unit tests, DB, Integration, Web portal

#3854 #3825 - Virus Scanning - Not functioning PROD
  sources/packages/backend/libs/services/src/clamav/services/clamav.service.ts
Labels: Bug, Security-related

#3861 #260 - File integration fix - Cherry Pick Commit
  sources/packages/backend/apps/api/src/services/restriction/student-restriction.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1729880822018-SINValidationsGenderSentLengthIncrease.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1730141787641-UpdateSINRestriction.ts
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Rollback-update-sin-restriction.sql
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Update-sin-restriction.sql
  sources/packages/backend/apps/db-migrations/src/sql/SINValidations/Alter-column-gender-sent.sql
  sources/packages/backend/apps/db-migrations/src/sql/SINValidations/Rollback-alter-column-gender-sent.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cra-integration/_tests_/cra-receive-files/CRA_200_PBCSA00000.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cra-integration/_tests_/cra-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/sin-validation-integration/_tests_/sin-receive-files/PCSLP.PBC.BC0000.ISR
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/sin-validation-integration/_tests_/sin-validation-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-2024MAR07-LEGACY-RESTRICTIONS.txt
  sources/packages/backend/libs/integrations/src/esdc-integration/sin-validation/models/sin-validation-models.ts
  sources/packages/backend/libs/integrations/src/services/sin-validation/sin-validation.service.ts
  sources/packages/backend/libs/services/src/clamav/services/clamav.service.ts
  sources/packages/backend/libs/services/src/restriction/model/restriction.model.ts
  sources/packages/backend/libs/test-utils/src/factories/sin-validation.ts
  sources/packages/forms/src/form-definitions/studentaccountactivity.json
Labels: Queue Consumers, Integration, Branch Sync-up

#3860 #3840 - Hotfix: Bulk uploads: Unexpected error while uploading the file displays when "Validate" or "Create now" are selected for valid bulk upload
  sources/packages/web/src/views/institution/OfferingsUpload.vue
Labels: Bug, Institution

#3862 #3825 - Virus Scanning - Empty File Check
  sources/packages/backend/apps/queue-consumers/src/constants/error-code.constants.ts
  sources/packages/backend/apps/queue-consumers/src/processors/virus-scan/_tests_/virus-scan.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/virus-scan/virus-scan.processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-file/student-file.service.ts
  sources/packages/backend/libs/test-utils/src/mocks/object-storage-service-mock.ts
Labels: Queue Consumers, Security-related

#3868 #3840 - Hotfix: Fix for withdraw upload
  sources/packages/web/src/views/institution/WithdrawalUpload.vue
Labels: Bug, Institution

#3819 #2741 - Ministry Filter Search Programs and Offerings [Location and Program Status Search]
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
  sources/packages/backend/apps/api/src/services/education-program/constants.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.ts
  sources/packages/backend/apps/api/src/utilities/datatable-config.ts
  sources/packages/backend/apps/api/src/utilities/datatable-database-mapping-utils.ts
  sources/packages/web/src/components/generic/StatusChipProgram.vue
  sources/packages/web/src/constants/index.ts
  sources/packages/web/src/constants/program-constants.ts
  sources/packages/web/src/helpers/helpers/uri.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/views/aest/institution/Programs.vue
Labels: Ministry, SIMS-Api
