Repository bcgov/SIMS, pull requests merged in 2024-02, with the labels that each got.

#2779 #2620 - Multiple assessments fail with the enqueuer down
  sources/packages/backend/apps/db-migrations/src/migrations/1706733349802-RemoveConstraintStudentAssessmentsOnlyOneAssessmentDataNullIndex.ts
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Drop-student-assessments-index-only-one-assessment-data-null.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Rollback-drop-student-assessments-index-only-one-assessment-data-null.sql
Labels: Bug

#2732 #2665 - Program Year Maximums Related Applications
  sources/packages/backend/apps/db-migrations/src/migrations/1705955927878-AddRelatedApplicationChangedAssessmentTriggerType.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1705971944966-AddRelatedApplicationAssessmentIdCol.ts
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Add-related-application-assessment-id-col.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Rollback-add-related-application-assessment-id-col.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-related-application-changed-assessment-trigger-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-add-related-application-changed-assessment-trigger-type.sql
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/cancel-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/cancel-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/application/application.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.models.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/sims-db/src/entities/assessment-trigger.type.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
Labels: Queue Consumers, DB

#2787 #2688 - Bug in submitting application when total income has non integer values
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/supportingusersparent2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
Labels: Form.io

#2795 #2665 - Added Missing Assessment for Queue Processing
  sources/packages/backend/apps/queue-consumers/src/services/application/application.service.ts
Labels: Bug, Queue Consumers

#2789 #2623 - Program Validation - Online - BC Public/BC Private
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/models/education-program.dto.ts
  sources/packages/forms/src/form-definitions/educationprogram.json
  sources/packages/web/src/services/http/dto/EducationProgram.dto.ts
  sources/packages/web/src/views/institution/locations/programs/LocationProgramAddEdit.vue
Labels: Institution, Web Portal, SIMS-Api, Form.io

#2788 #2713 - Revise Disbursement Schedule for PT offerings
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-configure-disbursement.bpmn
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/disbursements/parttime-assessment-2021-2022-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/disbursements/parttime-assessment-2022-2023-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/disbursements/parttime-assessment-2023-2024-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/execute-workflow-instance-utils.ts
  sources/packages/backend/workflow/test/test-utils/factories/configure-disbursement-data.ts
  sources/packages/backend/workflow/test/test-utils/factories/index.ts
Labels: Camunda Worflow

#2796 #1707 - Application Form: Additional Transportation Costs (FT & PT)
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/load-test/src/_tests_/form-io/form-io-application-submission/models.ts
Labels: Form.io

#2802 #2633 - Assessment gateway related changes on child care cost
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
Labels: Camunda Worflow

#2803 #1707 - Application Form: Additional Transportation Cost (Bug Fix)
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Bug, Form.io

#2797 #1989 - Prune images
  .github/workflows/prune-images.yml
  devops/scripts/fetchOldTags.sh
Labels: Devops

#2808 #2553 - Ineligible Program Message on Eligible Program
  sources/packages/forms/src/form-definitions/educationprogram.json
Labels: Bug, Institution, Form.io

#2811 #2348 - Removal of Part-Time Application Questions For Partner Supporting Users
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
Labels: Task, Student, Form.io

#2810 #2670 - Add 2 new program length options and revise camunda calculations
  sources/packages/backend/apps/db-migrations/src/migrations/1707343675759-UpdateProgramCompletionYears.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Rollback-update-program-completion-years.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Update-program-completion-years.sql
  sources/packages/backend/libs/utilities/src/integration-utils.ts
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/fulltime-assessment/eligibility/fulltime-assessment-2021-2022-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/fulltime-assessment/eligibility/fulltime-assessment-2021-2022-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-2022-2023-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-2022-2023-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/fulltime-assessment-2022-2023.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/fulltime-assessment-2023-2024.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/forms/src/form-definitions/educationprogram.json
  testing/src/cypress/page-objects/Institution-objects/DashboardInstitutionObject.ts
Labels: Form.io, E2E/Unit tests, DB, Camunda Worflow

#2816 #2633 - Child care cost calculation PT
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/costs/parttime-assessment-2021-2022-costs-child-care-cost.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/costs/parttime-assessment-2022-2023-costs-child-care-cost.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/costs/parttime-assessment-2023-2024-costs-child-care-cost.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/student-dependent.ts
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Form.io, E2E/Unit tests, Camunda Worflow

#2819 #2072 - New Program Credential Type
  sources/packages/backend/apps/api/src/utilities/credential-type-utils.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.integration.service.ts
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/fulltime-assessment/eligibility/fulltime-assessment-2021-2022-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/fulltime-assessment/eligibility/fulltime-assessment-2021-2022-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/fulltime-assessment/eligibility/fulltime-assessment-2021-2022-eligibility-CSGF.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/eligibility/parttime-assessment-2021-2022-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-2022-2023-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-2022-2023-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-2022-2023-eligibility-CSGF.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/eligibility/parttime-assessment-2022-2023-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-CSGF.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/eligibility/parttime-assessment-2023-2024-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/forms/src/form-definitions/educationprogram.json
Labels: Institution, Form.io, Camunda Worflow

#2821 #1989 - Prune images
  .github/workflows/prune-images.yml
  devops/scripts/fetchOldTags.sh
  devops/scripts/pruneImages.sh
Labels: Devops

#2817 #2672 - Assessment Gateway Inputs for Program Year Awards Consumed
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-workflowWrapUp.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/verify-assessment-calculation-order-factory.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.dto.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/workers/src/workers.module.ts
  sources/packages/backend/apps/workers/test/utils/worker-job-mock.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.models.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
Labels: Camunda Workers, E2E/Unit tests, Camunda Worflow

#2838 #2791 - Add missing env variable IS_FULLTIME_ALLOWED to queue consumers
  .github/workflows/repo-checks-tests.yml
  devops/Makefile
  devops/openshift/queue-consumers-deploy.yml
  sources/docker-compose.yml
  sources/tests/docker-compose.yml
Labels: Devops

#2842 #1989 - prune images
  .github/workflows/prune-images.yml
Labels: Devops

#2845 #2820 - Program length form and label changes
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.institutions.controller.createEducationProgram.e2e-spec.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1708121940221-UpdateProgramLength.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Rollback-update-program-length.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Update-program-length.sql
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/_tests_/unit/e-cert-part-time-integration.service.spec.ts
  sources/packages/backend/libs/utilities/src/integration-utils.ts
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/fulltime-assessment/eligibility/fulltime-assessment-2021-2022-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-2022-2023-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-2023-2024-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/forms/src/form-definitions/educationprogram.json
  testing/src/cypress/e2e/02-institution/07-location-programs.cy.ts
  testing/src/cypress/page-objects/Institution-objects/DashboardInstitutionObject.ts
Labels: Institution, Form.io, DB, Camunda Worflow

#2824 #2668 - PT Assessment - Additional Transportation Costs
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-decisions.dmn
  sources/packages/backend/workflow/test/2021-2022/constants/program-year.constants.ts
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/costs/parttime-assessment-2021-2022-additional-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/constants/program-year.constants.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/costs/parttime-assessment-2022-2023-additional-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/constants/program-year.constants.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/costs/parttime-assessment-2023-2024-additional-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
Labels: Student, Form.io, E2E/Unit tests, Camunda Worflow

#2851 #2783 - Patroni Recovery mode Bug
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.institutions.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/libs/sims-db/src/entities/application-student-file.model.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/cra-income-verification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/designation-agreement-location.model.ts
  sources/packages/backend/libs/sims-db/src/entities/designation-agreement.model.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-feedback-errors.model.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-receipts.model.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-values.model.ts
  sources/packages/backend/libs/sims-db/src/entities/msfaa-number.model.ts
  sources/packages/backend/libs/sims-db/src/entities/sin-validation.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-appeal-requests.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-appeal.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-scholastic-standing.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student.model.ts
  sources/packages/backend/libs/sims-db/src/entities/supporting-user.model.ts
Labels: DB, Technical Debt

#2876 #2734 - Ecert File Revisions
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-full-time-integration/_tests_/unit/e-cert-full-time-integration.service.spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-full-time-integration/e-cert-files/e-cert-file-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-full-time-integration/e-cert-full-time.integration.service.ts
Labels: Integration

#2848 #2685 - Import Provincial Restrictions from SFAS Data Bridge into SIMS
  sources/packages/backend/apps/db-migrations/src/migrations/1708133605735-AddProcessedColumn.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1708133625702-InsertLegacyRestriction.ts
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Insert-lgcy-restriction.sql
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Rollback-insert-lgcy-restriction.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASRestrictions/Add-col-processed.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASRestrictions/Rollback-add-col-processed.sql
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-individual.service.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-restriction.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
  sources/packages/backend/libs/src-sql/sfas-restrictions/Bulk-insert-restrictions.sql
Labels: DB

#2868 #2530 - Rename Upcoming Enrollment Tab Within Institution Account
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/COESummaryData.vue
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/LocationCOESummary.vue
Labels: Web Portal

#2893 #2685 - Import Provincial Restrictions from SFAS [Bug Fix]
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-restriction.service.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-restriction.model.ts
  sources/packages/backend/libs/src-sql/sfas-restrictions/Bulk-insert-legacy-restrictions.sql
  sources/packages/backend/libs/src-sql/sfas-restrictions/Bulk-insert-sfas-mapped-restrictions.sql
Labels: Bug

#2901 #2471 - Financial information request a change
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.confirmEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/bulk-insert/single-upload-error-when-offering-cost-exceed-max.csv
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.bulkInsert.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.createOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.updateProgramOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.validateOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.students.controller.submitStudentAppeal.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/models/student-appeal.model.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.students.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
  sources/packages/forms/src/form-definitions/studentrequestchange.json
  sources/packages/web/src/components/common/AppealRequestsForm.vue
  sources/packages/web/src/constants/system-constants.ts
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/views/student/StudentAppealRequest.vue
Labels: Web Portal, SIMS-Api, Form.io, E2E/Unit tests
