Repository bcgov/SIMS, pull requests merged in 2024-08, with the labels that each got.

#3597 #3539 - Award Configuration Round - PT
  sources/packages/backend/workflow/src/workflow-definitions/parttime-configure-disbursement.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
Labels: Ministry, E2E/Unit tests, Camunda Worflow

#3599 #2826 - Update to Youth in Care Question (content & radio option)
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Content, Form.io

#3598 #3495 - Edit application
  sources/Makefile
  sources/packages/web/src/components/students/modals/ConfirmEditApplication.vue
  sources/packages/web/src/views/student/StudentApplicationDetails.vue
  sources/packages/web/src/views/student/StudentApplicationSummary.vue
  sources/tests/Makefile
Labels: User Experience, Student, Web portal

#3605 #3456 - Content: Student: Account creation declarations
  sources/packages/forms/src/form-definitions/studentprofile.json
Labels: Content, Form.io

#3604 #2970 - SIMS Object Storage for Files (POC)
  .github/workflows/env-setup-deploy-secrets.yml
  configs/env-example
  devops/Makefile
  devops/openshift/api-deploy.yml
  devops/openshift/init-secrets.yml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/libs/integrations/src/object-storage/index.ts
  sources/packages/backend/libs/integrations/src/object-storage/models/object-storage.models.ts
  sources/packages/backend/libs/integrations/src/object-storage/object-storage.module.ts
  sources/packages/backend/libs/integrations/src/object-storage/object-storage.service.ts
  sources/packages/backend/libs/utilities/src/config/config.models.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Student, SIMS-Api, Devops

#3606 #2970 - SIMS Object Storage for Files (POC) - Deployment Fix
  devops/Makefile
Labels: Bug, Devops

#3600 #3335 - Submitting Application Validations Bug
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.submitApplication.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/designation-agreement/_tests_/e2e/designation-agreement.institutions.controller.submitDesignationAgreement.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/form/constants.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program-offering.ts
Labels: SIMS-Api, E2E/Unit tests

#3608 #3399 - Content: Student: Request a Change: Options
  sources/packages/forms/src/form-definitions/studentrequestchange.json
Labels: Content, Form.io

#3476 #3268 - Crunchy Postgres Database setup - Part 1
  .github/workflows/crunchy-db.yml
  devops/helm/crunchy-postgres/.helmignore
  devops/helm/crunchy-postgres/Chart.yaml
  devops/helm/crunchy-postgres/Makefile
  devops/helm/crunchy-postgres/README.md
  devops/helm/crunchy-postgres/templates/PostgresCluster.yaml
  devops/helm/crunchy-postgres/templates/_helpers.tpl
  devops/helm/crunchy-postgres/values.yaml
Labels: Devops, DB

#3612 #3486 - Content fixes for previous issues
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/studentadditionaltransportationappeal.json
  sources/packages/forms/src/form-definitions/studentwelcomepage.json
  sources/packages/web/src/components/students/modals/PDStatusApplicationModal.vue
  sources/packages/web/src/views/student/Login.vue
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: Student, Content, Form.io

#3613 #2857 - Remove formio long variables
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/supportingusersparent2022-2023.json
  sources/packages/forms/src/form-definitions/supportingusersparent2024-2025.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2024-2025.json
  sources/packages/load-test/src/_tests_/form-io/form-io-application-submission/models.ts
Labels: Form.io, E2E/Unit tests, Camunda Worflow

#3609 #3455 - Content: Student: Basic BCeID Create Profile
  sources/packages/forms/src/form-definitions/studentprofile.json
  sources/packages/web/src/views/student/StudentProfileCreate.vue
Labels: User Story, Student, Content, Form.io, Web portal

#3617 #3061
  .github/workflows/env-setup-build-forms-server.yml
  .github/workflows/env-setup-deploy-forms-server.yml
  .github/workflows/env-setup-deploy-secrets.yml
  .github/workflows/env-setup-redis-recovery.yml
  .github/workflows/prune-images.yml
  .github/workflows/release-build-all.yml
  .github/workflows/release-create-branch.yml
  .github/workflows/release-deploy-all.yml
  .github/workflows/release-deploy-camunda-definitions.yml
  .github/workflows/release-deploy-formio-definitions.yml
  .github/workflows/repo-checks-tests.yml
Labels: Devops, Technical Debt

#3621 #3061 - Upgraded actions/github-script to v7
  .github/workflows/release-build-all.yml
  .github/workflows/release-deploy-camunda-definitions.yml
  .github/workflows/release-deploy-formio-definitions.yml
  .github/workflows/repo-checks-tests.yml
Labels: Devops, Technical Debt

#3618 #3223 - Create history/journal tables for auditing purposes (users and students)
  sources/packages/backend/apps/db-migrations/src/migrations/1723231015871-CreateHistoryEntryFunction.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723231119349-CreateUsersHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723239334876-CreateStudentsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/sql/Functions/Create-function-create-history-entry.sql
  sources/packages/backend/apps/db-migrations/src/sql/Functions/Rollback-create-function-create-history-entry.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Create-student-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Rollback-create-student-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/User/Create-user-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/User/Rollback-create-user-history-table.sql
Labels: DB, Security-related

#3624 #2966 - File Encoding
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/bulk-insert/multiple-upload-with-duplicate-offering-validation-errors.csv
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/bulk-insert/multiple-upload.csv
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/bulk-insert/single-upload-example1.csv
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/bulk-insert/single-upload-example2.csv
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.bulkInsert.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-process-integration.scheduler.models.ts
  sources/packages/backend/libs/integrations/src/services/ssh/sftp-integration-base.ts
  sources/packages/backend/libs/services/src/constants/system-configurations-constants.ts
Labels: Integration

#3627 #3223 - Create history/journal tables for auditing purposes (remaining tables)
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494302501-CreateSupportingUsersHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494314291-CreateInstitutionsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494323451-CreateInstitutionLocationsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494334204-CreateEducationProgramsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494349958-CreateEducationProgramsOfferingsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Create-education-programs-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Rollback-create-education-programs-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Create-education-programs-offerings-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Rollback-create-education-programs-offerings-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Create-institutions-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Rollback-create-institutions-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/InstitutionLocations/Create-institution-locations-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/InstitutionLocations/Rollback-create-institution-locations-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/SupportingUsers/Create-supporting-users-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/SupportingUsers/Rollback-create-supporting-users-history-table.sql
  sources/packages/backend/apps/workers/src/services/supporting-user/supporting-user.service.ts
Labels: SIMS-Api, DB, Security-related

#3631 #3223 - Create history/journal tables for auditing purposes (revert)
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723231015871-CreateHistoryEntryFunction.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723231119349-CreateUsersHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723239334876-CreateStudentsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494302501-CreateSupportingUsersHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494314291-CreateInstitutionsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494323451-CreateInstitutionLocationsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494334204-CreateEducationProgramsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494349958-CreateEducationProgramsOfferingsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Create-education-programs-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Rollback-create-education-programs-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Create-education-programs-offerings-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Rollback-create-education-programs-offerings-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Functions/Create-function-create-history-entry.sql
  sources/packages/backend/apps/db-migrations/src/sql/Functions/Rollback-create-function-create-history-entry.sql
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Create-institutions-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Rollback-create-institutions-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/InstitutionLocations/Create-institution-locations-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/InstitutionLocations/Rollback-create-institution-locations-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Create-student-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Rollback-create-student-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/SupportingUsers/Create-supporting-users-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/SupportingUsers/Rollback-create-supporting-users-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/User/Create-user-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/User/Rollback-create-user-history-table.sql
  sources/packages/backend/apps/workers/src/services/supporting-user/supporting-user.service.ts
Labels: Bug, DB

#3630 #2499 - Application changes report scheduler setup
  sources/packages/backend/apps/db-migrations/src/migrations/1723651012387-AddApplicationChangesReportIntegration.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-application-changes-report-integration.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-application-changes-report-integration.sql
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/application-changes-report-integration/application-changes-report-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
Labels: Queue Consumers, DB

#3632 #3223 - Create history/journal tables for auditing purposes
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723231015871-CreateHistoryEntryFunction.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723231119349-CreateUsersHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723239334876-CreateStudentsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494302501-CreateSupportingUsersHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494314291-CreateInstitutionsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494323451-CreateInstitutionLocationsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494334204-CreateEducationProgramsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1723494349958-CreateEducationProgramsOfferingsHistoryTable.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Create-education-programs-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Rollback-create-education-programs-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Create-education-programs-offerings-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Rollback-create-education-programs-offerings-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Functions/Create-function-create-history-entry.sql
  sources/packages/backend/apps/db-migrations/src/sql/Functions/Rollback-create-function-create-history-entry.sql
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Create-institutions-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Institution/Rollback-create-institutions-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/InstitutionLocations/Create-institution-locations-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/InstitutionLocations/Rollback-create-institution-locations-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Create-student-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Rollback-create-student-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/SupportingUsers/Create-supporting-users-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/SupportingUsers/Rollback-create-supporting-users-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/User/Create-user-history-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/User/Rollback-create-user-history-table.sql
  sources/packages/backend/apps/workers/src/services/supporting-user/supporting-user.service.ts
Labels: DB, Security-related

#3643 #3268- Crunchy DB PVC size change
  devops/helm/crunchy-postgres/Makefile
  devops/helm/crunchy-postgres/value-0c27fb-prod.yaml
  devops/helm/crunchy-postgres/values-0c27fb-dev.yaml
  devops/helm/crunchy-postgres/values-0c27fb-test.yaml
  devops/helm/crunchy-postgres/values-a6ef19-dev.yaml
  devops/helm/crunchy-postgres/values-a6ef19-prod.yaml
  devops/helm/crunchy-postgres/values-a6ef19-test.yaml
Labels: DB

#3640 #3610 - Missing check for SRI (Subresource Integrity) support
  sources/packages/web/public/index.html
  sources/packages/web/src/main.ts
Labels: Security-related, Web portal

#3633 #3527 - Investigate errors in SFAS Bridge File load and remediate as required.
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-INVALID-INDIVIDUAL-RECORDS-INCONSISTENT-WITH-DATA-IMPORT.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-VALID-INDIVIDUAL-RECORDS.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-files/sfas-individual-record.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
Labels: Bug, Queue Consumers, E2E/Unit tests, Integration

#3644 #3610 - Missing Content-security-policy
  sources/Makefile
  sources/packages/web/Dockerfile
  sources/packages/web/Dockerfile.dev
  sources/packages/web/default.conf.template
  sources/packages/web/nginx.conf
  sources/packages/web/nginx/default.conf.dev.template
  sources/packages/web/nginx/default.conf.template
  sources/packages/web/nginx/nginx.conf
Labels: Devops, Security-related

#3642 #1859 - Standardize database column types for monetary values
  sources/packages/backend/apps/db-migrations/src/migrations/1723759729845-StandardizeMonetaryColumnTypes.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementReceiptValues/Rollback-standardize-monetary-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementReceiptValues/Standardize-monetary-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementReceipts/Rollback-standardize-monetary-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementReceipts/Standardize-monetary-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Rollback-standardize-monetary-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Standardize-monetary-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Rollback-standardize-monetary-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Standardize-monetary-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASPartTimeApplications/Rollback-standardize-monetary-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASPartTimeApplications/Standardize-monetary-columns.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/sims-db/src/entities/cra-income-verification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule.model.ts
  sources/packages/backend/libs/sims-db/src/entities/education-program-offering.model.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-individual.model.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-part-time-application.model.ts
Labels: DB

#3648 #2499 - Application changes report part 2
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/application-changes-report-integration/_tests_/application-changes-report-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/application-changes-report-integration/application-changes-report-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/integrations/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/application-changes-report/application-changes-report-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/application-changes-report/application-changes-report.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/application-changes-report/application-changes-report.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/application-changes-report/models/application-changes-report-integration.model.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/index.ts
  sources/packages/backend/libs/integrations/src/services/application/application.service.ts
  sources/packages/backend/libs/integrations/src/services/index.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
Labels: Queue Consumers, E2E/Unit tests, Integration

#3649 #3193 - New OCP Routes
  .github/workflows/env-setup-deploy-forms-server.yml
  .github/workflows/release-deploy-all.yml
  devops/Makefile
  devops/openshift/api-deploy.yml
  devops/openshift/forms-deploy.yml
  devops/openshift/load-test-gateway-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/web-deploy.yml
Labels: Devops

#3657 #3193 - New OCP Routes - Form.io Server
  .github/workflows/env-setup-deploy-forms-server.yml
  devops/Makefile
Labels: Bug, Devops

#3647 #3268 - DB connection parameter change
  devops/Makefile
  devops/openshift/api-deploy.yml
  devops/openshift/db-migrations-job.yml
  devops/openshift/load-test-gateway-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/workers-deploy.yml
Labels: DB

#3659 #1652 - Update Scheduler Cron Job
  sources/packages/backend/apps/db-migrations/src/migrations/1724722614598-UpdateConfigurationSchedulerCron.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1724724771391-UpdateQueueNameSINValidationRequest.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-update-configuration-scheduler-cron.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-update-queue-name-sin-validation-request.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Update-configuration-scheduler-cron.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Update-queue-name-sin-validation-request.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/sin-validation-integration/sin-validation-process-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
Labels: Queue Consumers, DB

#3655 2801 - Archive SFTP files
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-feedback-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-feedback-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-full-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/_tests_/student-loan-balances-part-time-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-income-verification.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/fed-restriction-integration/fed-restriction.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/sin-validation/sin-validation.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/ssh/sftp-integration-base.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
Labels: Integration

#3651 #3565 - Virus Scanning - Retry on error
  sources/docker-compose.yml
  sources/packages/backend/apps/db-migrations/src/migrations/1724108928803-UpdateVirusScanQueueConfiguration.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-update-virus-scan-queue-configuration.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Update-virus-scan-queue-configuration.sql
  sources/packages/backend/apps/queue-consumers/src/constants/error-code.constants.ts
  sources/packages/backend/apps/queue-consumers/src/processors/virus-scan/_tests_/virus-scan.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/virus-scan/virus-scan.processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-file/student-file.service.ts
  sources/packages/backend/libs/services/src/clamav/models/clamav.models.ts
  sources/packages/backend/libs/services/src/clamav/services/clamav.service.ts
Labels: Enhancement, User Story, Queue Consumers, E2E/Unit tests

#3665 #3464 - Disability status info
  sources/packages/forms/src/form-definitions/studentprofile.json
  sources/packages/web/src/views/student/NoticeOfAssessment.vue
Labels: Student, Content, Form.io
