Repository bcgov/SIMS, pull requests merged in 2024-11, with the labels that each got.

#3880 #3878 - Update PTMSFAA File Name
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-request.processing.service.ts
  sources/packages/backend/libs/services/src/constants/system-configurations-constants.ts
Labels: Queue Consumers, Hotfix

#3874 #3788 - Gateway Assessment Data Update - PT & FT
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
Labels: Student, Camunda Worflow

#3897 #3889 - Increase Logging for SFTP and file handling
  sources/packages/backend/apps/api/src/app.exception.filter.ts
  sources/packages/backend/apps/api/src/main.ts
  sources/packages/backend/libs/integrations/src/cra-integration/cra-income-verification.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/fed-restriction-integration/fed-restriction.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/sin-validation/sin-validation.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/ssh/sftp-integration-base.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
  sources/packages/backend/libs/utilities/src/logger/logger.service.ts
Labels: SIMS-Api, Queue Consumers, Ad-hoc, Integration, Prod Required

#3901 #3889 - Increase Logging for SFTP and file handling - (Catch fix)
  sources/packages/backend/libs/integrations/src/esdc-integration/sin-validation/sin-validation.processing.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
Labels: Bug, Queue Consumers, Prod Required

#3903 #3889 - Increase Logging for SFTP and file handling - SSH Lib Upgrade
  sources/packages/backend/libs/integrations/src/services/ssh/sftp-integration-base.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Queue Consumers, Integration

#3883 #2741 - Ministry Filter: Search Programs and Offerings [e2e tests]
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.aest.controller.getProgramsSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/education-program-fake.ts
  sources/packages/web/src/assets/css/vuetify.scss
  sources/packages/web/src/views/aest/institution/Programs.vue
Labels: E2E/Unit tests

#3913 #3912 - Allow Disbursement Receipts File Integration Scheduler For Parttime
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-scheduler.ts
Labels: Queue Consumers, Ad-hoc, Prod Required

#3884 #3729 - CAS Integration 3B - Create New Site (Supplier found, Multiple Sites / No matching address)
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-supplier-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-found-processor.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/mock-utils/cas-response.factory.ts
  sources/packages/backend/libs/integrations/src/cas/_tests_/unit/cas.service.createSiteForExistingSupplier.spec.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/libs/integrations/src/cas/models/cas-service.model.ts
  sources/packages/backend/libs/test-utils/src/factories/cas-supplier.ts
Labels: Queue Consumers, E2E/Unit tests, Integration, Business

#3921 #2741 - Ministry Filter Search Programs and Offerings [Fix Expired Programs Sort Issue]
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.ts
Labels: SIMS-Api

#3918 #3615 - Partner current year income path - Part 1
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/studentexceptions.json
Labels: Form.io, Camunda Worflow

#3905 #3691 - UX/UI for Ignore Restriction - Bypass Add/Remove - API part
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/_tests_/e2e/application-restriction-bypass.aest.controller.bypassRestriction.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/_tests_/e2e/application-restriction-bypass.aest.controller.getApplicationRestrictionBypass.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/_tests_/e2e/application-restriction-bypass.aest.controller.getAvailableRestricitionsToBypass.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/_tests_/e2e/application-restriction-bypass.aest.controller.removeBypassRestriction.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/application-restriction-bypass.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/models/application-restriction-bypass.dto.ts
  sources/packages/backend/apps/api/src/services/application-restriction-bypass/application-restriction-bypass.models.ts
  sources/packages/backend/apps/api/src/services/application-restriction-bypass/application-restriction-bypass.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/libs/sims-db/src/entities/student-restriction.model.ts
  sources/packages/backend/libs/test-utils/src/factories/application-restriction-bypass.ts
  sources/packages/backend/libs/test-utils/src/factories/student-restriction.ts
  sources/packages/backend/libs/test-utils/src/models/common.model.ts
Labels: Ministry, SIMS-Api

#3927 #3924 - Ecert Creation - "Prefer not to answer" Gender
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/parsers/e-cert-record-parser.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/parsers/full-time-e-cert-record-parser.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/parsers/part-time-e-cert-record-parser.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-full-time-integration/e-cert-files/e-cert-file-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-files/e-cert-file-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/sin-validation/sin-validation-files/sin-validation-file-request.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/backend/libs/utilities/src/esdc-utils.ts
Labels: Bug, Queue Consumers, Integration

#3932 #3896 - Mask Institution User Income View
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.constants.ts
Labels: SIMS-Api

#3938 #3691 - Fix for the cyclic dependency
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/application-restriction-bypass.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/models/application-restriction-bypass.dto.ts
Labels: Bug

#3942 #3615 - Minor FormIO content update
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Form.io

#3944 #3789 - PIR: Program Name and Program Description Bug
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Form.io

#3945 #3744 - Bug - Exception Dashboard Count is Incorrect
  sources/packages/web/src/views/aest/student/StudentApplicationExceptions.vue
Labels: Ministry, Web portal

#3895 #2912 - SIMS-SFAS_Application and Restriction Data
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sims-to-sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/sims-to-sfas-integration.scheduler.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sims-to-sfas.model.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sims-to-sfas.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.models.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sims-sfas-files/sims-to-sfas-application-record.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sims-sfas-files/sims-to-sfas-file-line-builder.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sims-sfas-files/sims-to-sfas-restriction-record.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sims-to-sfas.integration.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sims-to-sfas.processing.service.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/test-utils/src/factories/student-assessment.ts
Labels: Queue Consumers, E2E/Unit tests, Integration

#3933 #3887 - Limit Parallel Processing
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/test-db-seeding/src/seed-executors/seed-executor.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/fed-restriction-integration/fed-restriction.processing.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
  sources/packages/backend/libs/utilities/src/parallel-processing-utils.ts
Labels: SIMS-Api, Queue Consumers, Ad-hoc, Integration

#3957 #3667 - Bull Scheduler Increments the Next Scheduled Job When Manually Promoted
  sources/packages/backend/apps/queue-consumers/src/bull-board/bull-board-queues-registration.module.ts
  sources/packages/backend/apps/queue-consumers/src/bull-board/bull-board-queues.module.ts
  sources/packages/backend/apps/queue-consumers/src/constants/index.ts
  sources/packages/backend/apps/queue-consumers/src/constants/system-configurations.constants.ts
  sources/packages/backend/apps/queue-consumers/src/main.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/libs/test-utils/src/mocks/bull-board-queues-module-mock.ts
  sources/packages/backend/libs/test-utils/src/mocks/index.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Queue Consumers

#3963 #3920 - Update Expected Name for Disbursement File
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt.processing.service.ts
Labels: Queue Consumers, Integration

#3967 #3789 - Fix program description on Institution PIR Page
  sources/packages/backend/apps/api/src/route-controllers/program-info-request/models/program-info-request.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/program-info-request/program-info-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/forms/src/form-definitions/programinformationrequest.json
Labels: SIMS-Api, Form.io

#3962 #3691 - UX/UI for Ignore Restriction - Bypass Add/Remove - Modals
  sources/packages/web/src/components/aest/students/bypassedRestrictions/BypassRestrictionModal.vue
  sources/packages/web/src/components/aest/students/bypassedRestrictions/HistoryBypassedRestrictions.vue
  sources/packages/web/src/components/aest/students/bypassedRestrictions/RemoveRestrictionBypassModal.vue
  sources/packages/web/src/constants/error-code.constants.ts
  sources/packages/web/src/services/ApplicationRestrictionBypassService.ts
  sources/packages/web/src/services/http/ApplicationRestrictionBypassApi.ts
  sources/packages/web/src/services/http/dto/ApplicationRestrictionBypass.dto.ts
  sources/packages/web/src/types/contracts/RestrictionBypassContracts.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/types/index.ts
Labels: User Experience, Ministry

#3969 #3691 - UX/UI for Ignore Restriction - API bugfix
  sources/packages/backend/apps/api/src/services/application-restriction-bypass/application-restriction-bypass.service.ts
Labels: Bug, SIMS-Api

#3977 #3691 - UX/UI for Ignore Restriction - Bypass Add/Remove - Added "Stop part time BC funding" action type
  sources/packages/backend/apps/api/src/route-controllers/application-restriction-bypass/_tests_/e2e/application-restriction-bypass.aest.controller.getAvailableRestricitionsToBypass.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/application-restriction-bypass/application-restriction-bypass.service.ts
Labels: SIMS-Api

#3982 #3943 - Bug - restriction view when access limited
  sources/packages/web/src/components/common/restriction/ViewRestriction.vue
Labels: Bug, Security-related, Web portal, Usability

#3978 #3667 - Bull Scheduler increments the next scheduled job when manually promoted (Ensure Next Delayed Job)
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-scheduler.ts
  sources/packages/backend/libs/services/src/queue/queue.service.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Queue Consumers

#3989 #3667 - Bull Scheduler - Updated ioredis and Added Logs
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-scheduler.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Bug, Queue Consumers

#3992 #3667 - Reuse Redis Connections
  sources/packages/backend/libs/services/src/queue/queue.module.ts
Labels: Bug, Queue Consumers

#3993 #3667 - Bull Scheduler - Added Global Bootstrap Synchronization
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-scheduler.ts
  sources/packages/backend/libs/services/src/queue/queue.module.ts
  sources/packages/backend/libs/services/src/queue/queue.service.ts
Labels: Queue Consumers

#3985 #3881 - Validate user account for all routes
  sims.code-workspace
  sources/packages/backend/apps/api/src/auth/_tests_/e2e/auth.e2e-spec.ts
  sources/packages/backend/apps/api/src/auth/auth.module.ts
  sources/packages/backend/apps/api/src/auth/decorators/common.decorator.ts
  sources/packages/backend/apps/api/src/auth/decorators/index.ts
  sources/packages/backend/apps/api/src/auth/guards/groups.guard.ts
  sources/packages/backend/apps/api/src/auth/guards/index.ts
  sources/packages/backend/apps/api/src/auth/guards/requires-user-account.guard.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/audit/audit.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/dynamic-form/dynamic-form.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/institution-user/institution-user.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/institution/institution.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/student-account-application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/user/user.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/user/user.institutions.controller.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/student-user-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/controllers/auth-test/auth-test.controller.ts
  sources/packages/web/src/components/layouts/student/StudentPageContainer.vue
  sources/packages/web/src/composables/useStudentStore.ts
  sources/packages/web/src/constants/error-code.constants.ts
  sources/packages/web/src/services/UserService.ts
  sources/packages/web/src/services/http/UserApi.ts
  sources/packages/web/src/services/http/common/HttpBaseClient.ts
Labels: SIMS-Api, E2E/Unit tests, Web portal

#3995 #3667 - Bull Scheduler - Ensure Delayed Job
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-scheduler.ts
  sources/packages/backend/libs/services/src/queue/queue.service.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Queue Consumers, Branch Sync-up

#3997 #3877 - Setup Program Year 2025 - 2026
  sources/packages/backend/apps/db-migrations/src/migrations/1732577225542-CreateProgramYear2025to2026.ts
  sources/packages/backend/apps/db-migrations/src/sql/ProgramYear/Create-program-year-2025-2026.sql
  sources/packages/backend/apps/db-migrations/src/sql/ProgramYear/Rollback-create-program-year-2025-2026.sql
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-decisions.dmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-decisions.dmn
  sources/packages/backend/workflow/test/2025-2026/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/constants/program-year.constants.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/appeals/fulltime-assessment-PDPPD-status.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BGPD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGF.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/appeals/parttime-assessment-PDPPD-status.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/appeals/parttime-assessment-partner-information-and-income.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/appeals/parttime-assessment-student-additional-transportation.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/appeals/parttime-assessment-student-dependants.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/appeals/parttime-assessment-student-financial-information.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/costs/parttime-assessment-costs-child-care-cost.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/costs/parttime-assessment-costs-program-related-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/costs/parttime-assessment-costs-total-academic-expenses.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/costs/parttime-assessment-total-partner-income.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/eligibility/parttime-assessment-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/eligibility/parttime-assessment-eligibility-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/eligibility/parttime-assessment-eligibility-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/eligibility/parttime-assessment-eligibility-SBSD.e2e-spec.ts
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
  sources/packages/forms/src/form-definitions/supportingusersparent2025-2026.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2025-2026.json
Labels: Form.io, E2E/Unit tests, DB, Camunda Worflow

#3999 #3693 - [Bug] 0 is removed from the Exceptional costs field
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/sims-db/src/transformers/numeric.transformer.ts
Labels: Bug, Institution, E2E/Unit tests, Web portal

#4004 #3763 - Ministry Reports - Disbursements Without Supplier (CAS) - Query fix
  sources/packages/backend/apps/db-migrations/src/migrations/1732672366956-UpdateDisbursementsWithoutValidSupplierReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-disbursements-without-valid-supplier-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-disbursements-without-valid-supplier-report.sql
Labels: Bug, DB

#4002 #3768 - CAS Supplier Maintenance Updates Part 1
  sources/packages/backend/apps/api/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1732666324256-AddStudentProfileSnapshotToCASSupplier.ts
  sources/packages/backend/apps/db-migrations/src/sql/CASSuppliers/Add-student-profile-snapshot-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/CASSuppliers/Rollback-add-student-profile-snapshot-column.sql
  sources/packages/backend/libs/sims-db/src/entities/cas-supplier.model.ts
Labels: Bug, SIMS-Api, DB

#4009 #3187 - Content: Institution: Offerings Upload: Add bullets and links Fixes
  sources/packages/web/src/views/institution/OfferingsUpload.vue
Labels: Institution, Content

#4011 #3768 - CAS Supplier Updates Report - Saving Snapshot
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-supplier/cas-supplier.aest.controller.ts
  sources/packages/backend/apps/api/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-and-site-found-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-found-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-not-found-processor.ts
  sources/packages/backend/libs/services/src/cas-supplier/cas-supplier.shared.service.ts
  sources/packages/backend/libs/services/src/index.ts
  sources/packages/backend/libs/sims-db/src/entities/cas-supplier.model.ts
Labels: SIMS-Api, Queue Consumers
