Repository bcgov/SIMS, pull requests merged in 2024-03, with the labels that each got.

#2890 #2815 - Disbursement File Code Type Mapping (Part 1)
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/services/disbursement-receipt/_tests_/unit/disbursement-receipt.service.getLoanAwardCode.spec.ts
  sources/packages/backend/apps/api/src/services/disbursement-receipt/disbursement-receipt.service.ts
  sources/packages/backend/libs/services/src/constants/disbursements.constants.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-receipts.model.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-receipt.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-schedule.ts
  sources/packages/web/src/components/common/AssessmentAwardDetails.vue
  sources/packages/web/src/components/common/AwardTable.vue
  sources/packages/web/src/services/http/dto/Assessment.dto.ts
Labels: Student, SIMS-Api, E2E/Unit tests

#2916 #2685 - Import Provincial Restrictions from SFAS into SIMS [Bug Fix 2]
  sources/packages/backend/libs/src-sql/sfas-restrictions/Bulk-insert-sfas-mapped-restrictions.sql
  sources/packages/web/src/components/common/students/StudentRestrictions.vue
Labels: Bug, Ministry, Web Portal

#2915 #2880 - PT Award Configuration BCAG
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-2021-2022-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-2022-2023-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-2023-2024-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: Camunda Worflow

#2910 #2685 - Import Provincial Restrictions from SFAS to SIMS (Part 2) - PR 1
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1709232280293-InsertLegacyRestrictionAddedMessage.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-legacy-restriction-message.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Rollback-insert-legacy-restriction-message.sql
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-restriction.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
  sources/packages/backend/libs/src-sql/sfas-restrictions/Bulk-insert-legacy-restrictions.sql
  sources/packages/forms/src/form-definitions/studentaccountactivity.json
Labels: SIMS-Api, Form.io, DB

#2902 #2775 - PT Request a Change - Add Dependants
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.students.controller.submitStudentAppeal.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/models/student-appeal.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.model.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/apps/api/src/services/student-file/student-file.model.ts
  sources/packages/backend/apps/api/src/services/student-file/student-file.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1709169416960-AddFileOriginTypeAppeal.ts
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-file-origin-type-appeal.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-add-file-origin-type-appeal.sql
  sources/packages/backend/libs/sims-db/src/entities/student-file.type.ts
  sources/packages/forms/src/form-definitions/studentdependantsappeal.json
  sources/packages/forms/src/form-definitions/studentrequestchange.json
  sources/packages/web/src/components/common/AppealRequestsForm.vue
  sources/packages/web/src/services/StudentAppealService.ts
  sources/packages/web/src/services/http/dto/StudentAppeal.dto.ts
  sources/packages/web/src/types/contracts/StudentAppealContract.ts
Labels: User Story, Student, Form.io, E2E/Unit tests

#2920 #2882 - PT Award Configuration SBSD
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: E2E/Unit tests, Camunda Worflow

#2921 #2815 - Disbursement File Code Type Mapping - Part 2
  sims.code-workspace
  sources/packages/backend/apps/db-migrations/src/migrations/1709249786990-UpdateDisbursementReceiptsColumnsComments.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementReceipts/Rollback-update-disbursement-receipts-columns-comments.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementReceipts/Update-disbursement-receipts-columns-comments.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-feedback-files/EDU.PBC.DIS-federal-only-full-time.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-feedback-files/EDU.PBC.DIS-federal-provincial-full-time.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/full-time-disbursement-receipts-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-receipt/disbursement-receipt.service.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-receipts.model.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-schedule.ts
Labels: Queue Consumers, E2E/Unit tests, DB

#2923 #2610 - NOA Content update
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/costs/parttime-assessment-costs-total-academic-expenses.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/costs/parttime-assessment-costs-total-academic-expenses.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/costs/parttime-assessment-costs-total-academic-expenses.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/forms/src/form-definitions/noticeofassessment.json
  sources/packages/web/src/types/contracts/student/ApplicationContract.ts
Labels: Form.io, E2E/Unit tests, Camunda Worflow

#2959 #2624 - Award Configuration - CSGP
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: E2E/Unit tests, Camunda Worflow

#2967 #2700 - MSFAA File Creation Revisions
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-process-integration.scheduler.models.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-files/msfaa-file-detail.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa.integration.service.ts
  sources/packages/backend/libs/utilities/src/esdc-utils.ts
Labels: Bug

#2968 #2639 - Award Configuration PT - CSPT
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-2021-2022-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-2021-2022-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-2021-2022-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2021-2022/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-2022-2023-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-2022-2023-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-2022-2023-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-2023-2024-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-2023-2024-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-2023-2024-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: Bug, E2E/Unit tests, Camunda Worflow

#2965 #2685 - Import Provincial Restrictions From SFAS to SIMS - Part 2 (e2e tests)
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-2024MAR07-ALL-RESTRICTIONS.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-2024MAR07-LEGACY-RESTRICTIONS.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/models/common.model.ts
Labels: Queue Consumers, E2E/Unit tests

#2974 #2580 - Data Inventory report analysis - next step
  sources/packages/backend/apps/db-migrations/src/migrations/1709933679647-UpdateDataInventoryReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-data-inventory-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-data-inventory-report.sql
Labels: Ministry, DB

#2961 #2847 - Ensure Re-assessments Recognize Request a Change Assessments as the Relevant Baseline
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.aest.controller.assessApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.aest.controller.assessOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.institutions.controller.saveScholasticStanding.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.models.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-workflowWrapUp.e2e-spec.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.models.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/test-utils/src/factories/student-assessment.ts
Labels: Task

#2977 #2677 - Impacted application reassessment on COE declined
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.denyConfirmationOfEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/_tests_/unit/disbursement-schedule.getCOEApprovalPeriodStatus.spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/cancel-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/cancel-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-integration.module.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/_tests_/unit/confirmation-of-enrollment.getMaxTuitionRemittance.spec.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/confirmation-of-enrollment.service.ts
  sources/packages/backend/libs/services/src/index.ts
Labels: SIMS-Api, Queue Consumers, E2E/Unit tests

#2989 #2685 - Import Provincial Restrictions from SFAS to SIMS (Bug Fix)
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
  sources/packages/backend/libs/services/src/sfas/sfas-individual.service.ts
Labels: Bug, Queue Consumers

#2996 #2171 Revise Content of Partner Self-Report Feature
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/fulltime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Student, Content, Form.io

#3004 #2645 - Program Deactivation - DB migrations
  sims.code-workspace
  sources/packages/backend/apps/db-migrations/src/migrations/1710462853532-CreateProgramDeactivationColumns.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Add-deactivation-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Rollback-add-deactivation-columns.sql
  sources/packages/backend/libs/sims-db/src/entities/education-program.model.ts
Labels: DB

#3014 #2428 - Camunda retry intervals (Timers)
  sources/packages/backend/workflow/BPMN/camunda-8/assessment-gateway.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/income-verification.bpmn
  sources/packages/backend/workflow/BPMN/camunda-8/supporting-user-information-request.bpmn
Labels: Task, Camunda Worflow

#3019 #1705 - Remove Obsolete Form Definitions
  sources/packages/forms/src/form-definitions/aestdashboard.json
  sources/packages/forms/src/form-definitions/approvedeclineoffering.json
  sources/packages/forms/src/form-definitions/approvedenydesignation.json
  sources/packages/forms/src/form-definitions/approveeducationprogram.json
  sources/packages/forms/src/form-definitions/createnote.json
  sources/packages/forms/src/form-definitions/declineeducationprogram.json
  sources/packages/forms/src/form-definitions/institutiondashboard.json
  sources/packages/forms/src/form-definitions/studentapplicationdetails.json
  sources/packages/forms/src/form-definitions/studentdashboard.json
  sources/packages/forms/src/form-definitions/trackstudentapplication.json
Labels: Form.io

#3015 #2702 - Nest upgrade for dependabot fix
  sources/packages/backend/apps/api/src/route-controllers/institution/_tests_/e2e/institution.aest.controller.searchInstitutions.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/models/overaward.dto.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/education-program-offering-fake.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/msfaa-number-fake.ts
  sources/packages/backend/apps/api/src/testHelpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/apps/api/test/auth.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/cancel-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/start-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/full-time-disbursement-receipts-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-full-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/_tests_/assessment-workflow-enqueuer.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/_tests_/assessment-workflow-queue-retry.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/apps/workers/test/helpers/testing-modules/testing-modules-helper.ts
  sources/packages/backend/libs/services/src/workflow/workflow-client.service.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-overaward.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-receipt-value.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-receipt.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-schedule.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program-offering.ts
  sources/packages/backend/libs/test-utils/src/factories/institution.ts
  sources/packages/backend/libs/test-utils/src/factories/msfaa-number.ts
  sources/packages/backend/libs/test-utils/src/factories/sfas-individuals.ts
  sources/packages/backend/libs/test-utils/src/factories/sin-validation.ts
  sources/packages/backend/libs/test-utils/src/factories/student-file-uploads.ts
  sources/packages/backend/libs/test-utils/src/factories/user.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/backend/libs/test-utils/src/mocks/index.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: SIMS-Api, Queue Consumers, Camunda Workers, E2E/Unit tests

#3020 #2536 - Notify student about blocked disbursements (email only)
  sources/packages/backend/apps/db-migrations/src/migrations/1710800543392-InsertDisbursementBlockedMessage.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-disbursement-blocked-message.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Rollback-insert-disbursement-blocked-message.sql
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/full-time-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/part-time-calculation-process.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: Queue Consumers, DB

#3023 #2645 - Program Deactivation - API Changes
  sims.code-workspace
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.aest.controller.deactivateProgram.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.institutions.controller.deactivateProgram.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/models/education-program.dto.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/education-program-fake.ts
Labels: SIMS-Api, E2E/Unit tests

#3032 #2536 - Notify student about blocked disbursements: email only (PR 2)
  sources/packages/backend/apps/db-migrations/src/migrations/1710951671935-AddMetadataColumn.ts
  sources/packages/backend/apps/db-migrations/src/sql/Notifications/Add-metadata-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/Notifications/Rollback-add-metadata-column.sql
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/full-time-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/part-time-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-notification/e-cert-notification.service.ts
  sources/packages/backend/libs/integrations/src/services/index.ts
  sources/packages/backend/libs/services/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.service.ts
  sources/packages/backend/libs/sims-db/src/entities/notification-metadata.type.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: Queue Consumers, DB

#3034 #2686 - Expand SAIL/SFAS Data Import to Support PY Maximum Rules and other functions
  sources/packages/backend/apps/db-migrations/src/migrations/1711061241340-AddSFASPartTimeApplicationColumns.ts
  sources/packages/backend/apps/db-migrations/src/sql/SFASPartTimeApplications/Add-cols-sfas-pt-awards.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASPartTimeApplications/Rollback-add-cols-sfas-pt-awards.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-2024MAR21-PT-APPLICATION-DATA-IMPORT.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-part-time-application.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-files/sfas-part-time-application-record.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-part-time-application.model.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
Labels: Good first issue, Student, Queue Consumers, E2E/Unit tests

#3041 #2536 - Notify Student About Blocked Disbursements (e2e tests)
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-notification/e-cert-notification.service.ts
  sources/packages/backend/libs/test-utils/src/factories/notification.ts
  sources/packages/backend/libs/test-utils/src/factories/sin-validation.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/backend/libs/test-utils/src/index.ts
Labels: E2E/Unit tests

#3038 #2694 - Student PT life time loan balance - Part 1
  sims.code-workspace
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/student-loan-balance/models/student-loan-balance.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-loan-balance/student-loan-balance.aest.controller.ts
  sources/packages/web/src/components/aest/students/StudentLoanBalancePartTime.vue
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/router/InstitutionRoutes.ts
  sources/packages/web/src/services/StudentLoanBalanceService.ts
  sources/packages/web/src/services/http/ApiClient.ts
  sources/packages/web/src/services/http/StudentLoanBalanceApi.ts
  sources/packages/web/src/services/http/dto/StudentLoanBalance.dto.ts
  sources/packages/web/src/services/http/dto/index.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/aest/student/Balances.vue
  sources/packages/web/src/views/aest/student/StudentDetails.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentBalances.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentDetails.vue
Labels: SIMS-Api, Web portal

#3039 #2645 - Program deactivation UI - Part 2
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.institutions.controller.createEducationProgram.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/models/education-program.dto.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.models.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1711405137371-AlterSABCCodeUniqueConstraintToActivePrograms.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Alter-sabc-code-unique-constraint-to-active-programs.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Rollback-alter-sabc-code-unique-constraint-to-active-programs.sql
  sources/packages/forms/src/form-definitions/educationprogram.json
  sources/packages/web/src/assets/css/vuetify.scss
  sources/packages/web/src/components/common/ManageProgramAndOfferingSummary.vue
  sources/packages/web/src/components/common/ProgramDetails.vue
  sources/packages/web/src/components/common/modals/EducationProgramDeactivationModal.vue
  sources/packages/web/src/components/generic/FooterButtons.vue
  sources/packages/web/src/components/generic/StatusChipProgram.vue
  sources/packages/web/src/composables/useModalDialog.ts
  sources/packages/web/src/composables/useProgram.ts
  sources/packages/web/src/plugins/vuetify.ts
  sources/packages/web/src/services/EducationProgramService.ts
  sources/packages/web/src/services/http/EducationProgramApi.ts
  sources/packages/web/src/services/http/dto/EducationProgram.dto.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/views/aest/institution/ProgramDetails.vue
  sources/packages/web/src/views/aest/institution/Programs.vue
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/ApplicationDetailsForCOE.vue
  sources/packages/web/src/views/institution/locations/programs/LocationProgramAddEdit.vue
  sources/packages/web/src/views/institution/locations/programs/LocationProgramView.vue
  sources/packages/web/src/views/institution/locations/programs/LocationPrograms.vue
Labels: Institution, Ministry, SIMS-Api, Web portal
