Repository bcgov/SIMS, pull requests merged in 2024-06, with the labels that each got.

#3363 #3096 - 2.1.1 Menu Navigation- Student- Accessibility Fixes - Level A - Keyboard
  sources/packages/web/src/views/student/AppStudent.vue
Labels: Good first issue, Student, Accessibility

#3366 #2572 - 2024 2025 Award Configuration
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-decisions.dmn
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
Labels: Camunda Worflow

#3372 #3283 - Adjusted Federal Restrictions Import Parallelism
  sources/packages/backend/libs/integrations/src/esdc-integration/fed-restriction-integration/fed-restriction.processing.service.ts
Labels: Student, Integration

#3369 #2869 - Updates to Provincial Daily Disbursement - Import Data Changes
  sources/packages/backend/apps/db-migrations/src/migrations/1717182261632-AddFileDateAndSequenceNumberColumnsToDisbursementReceipts.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementReceipts/Add-file-date-and-sequence-number-cols.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementReceipts/Drop-add-file-date-and-sequence-number-cols.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/full-time-disbursement-receipts-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt-files/disbursement-receipt-file-header.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-receipt/disbursement-receipt.service.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-receipts.model.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-receipt.ts
Labels: DB, Integration

#3298 #2798 - Student Application Status Tracker for Blocked Disbursements
  devops/Makefile
  devops/openshift/api-deploy.yml
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getApplicationProgressDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getCompletedApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/web/src/components/students/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/students/applicationTracker/Completed.vue
  sources/packages/web/src/constants/ecert-constants.ts
  sources/packages/web/src/constants/index.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/types/contracts/ECertFailedValidation.ts
  sources/packages/web/src/types/index.ts
  sources/tests/docker-compose.yml
Labels: User Story, Student, SIMS-Api

#3373 #3301 - Student login page content updates
  sources/packages/web/src/views/student/Login.vue
Labels: Student, Content, Web portal

#3379 #3160 - Get started on your application page
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: User Experience, Student, Form.io, Web portal

#3371 #3300 - Income Eligibility - PT CSLP/SBSD
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-configure-disbursement.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/eligibility/parttime-assessment-eligibility-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/eligibility/parttime-assessment-eligibility-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/eligibility/parttime-assessment-eligibility-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/eligibility/parttime-assessment-eligibility-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/eligibility/parttime-assessment-eligibility-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/eligibility/parttime-assessment-eligibility-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/configure-disbursement-data.ts
Labels: E2E/Unit tests, Camunda Worflow

#3374 #3132 - Institution Designation Ministry Specific Report (e2e tests)
  sources/packages/backend/apps/api/src/route-controllers/institution-locations/_tests_/e2e/institution-location.students.controller.getOptionsList.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/report/_tests_/e2e/report.aest.controller.exportReport.e2e-spec.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1717564473617-UpdateInstitutionDesignationReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-institution-designation-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-institution-designation-report.sql
  sources/packages/backend/libs/test-utils/src/factories/designation-agreement-locations.ts
  sources/packages/backend/libs/test-utils/src/factories/designation-agreement.ts
  sources/packages/web/src/views/aest/Reports.vue
  sources/packages/web/src/views/institution/Reports.vue
Labels: Bug, User Experience, Ministry, E2E/Unit tests, DB, Web portal

#3380 #3311 - Student financial information content
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Student, Content, Form.io, Web portal

#3388 #3352 - Disability form section
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getApplicationForCOE.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/models/confirmation-of-enrollment.dto.ts
  sources/packages/backend/apps/load-test-gateway/src/constants/application.constants.ts
  sources/packages/backend/libs/sims-db/src/entities/application-disability-status.type.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/appeals/fulltime-assessment-PDPPD-status.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/appeals/parttime-assessment-PDPPD-status.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/eligibility/parttime-assessment-eligibility-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/appeals/fulltime-assessment-PDPPD-status.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/appeals/parttime-assessment-PDPPD-status.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/eligibility/parttime-assessment-eligibility-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/appeals/fulltime-assessment-PDPPD-status.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/appeals/parttime-assessment-PDPPD-status.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGP.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/eligibility/parttime-assessment-eligibility-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/studentdisabilityappeal.json
  sources/packages/load-test/src/_tests_/form-io/form-io-application-submission/models.ts
  sources/packages/web/src/composables/useFormatters.ts
  sources/packages/web/src/services/http/dto/ConfirmationOfEnrolment.dto.ts
  sources/packages/web/src/types/contracts/student/ApplicationContract.ts
Labels: Student, Form.io, E2E/Unit tests, Web portal

#3398 #3140 - Build Ministry-Specific Reports - Programs and Offering Status (Part 1)
  sources/packages/backend/apps/api/src/route-controllers/institution/institution.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/institution/institution.controller.service.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
  sources/packages/web/src/components/common/Reports.vue
  sources/packages/web/src/composables/useFormioDropdownLoader.ts
  sources/packages/web/src/services/InstitutionService.ts
  sources/packages/web/src/services/http/InstitutionApi.ts
  sources/packages/web/src/views/aest/Reports.vue
Labels: User Story, Ministry, Form.io

#3400 #2836 - Change Requests: Error Message Details on Multiple Requests
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.students.controller.submitStudentAppeal.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.students.controller.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/web/src/constants/error-code.constants.ts
  sources/packages/web/src/views/student/StudentAppealRequest.vue
Labels: Student, SIMS-Api, E2E/Unit tests, Web portal

#3401 #2831 - Update student gender options
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/_test_/e2e/student-account-application.aest.controller.approveStudentAccountApplication.e2e-spec.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/student-fake.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1718050524263-UpdateGenderOptions.ts
  sources/packages/backend/apps/db-migrations/src/sql/Student/Rollback-update-gender-options.sql
  sources/packages/backend/apps/db-migrations/src/sql/Student/Update-gender-options.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-process-integration.scheduler.models.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-full-time-integration/_tests_/unit/e-cert-full-time-integration.service.spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-full-time-integration/e-cert-files/e-cert-file-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/_tests_/unit/e-cert-part-time-integration.service.spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-files/e-cert-file-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/sin-validation/sin-validation-files/sin-validation-file-request.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/backend/libs/utilities/src/esdc-utils.ts
  sources/packages/forms/src/form-definitions/studentprofile.json
  sources/packages/load-test/src/_tests_/form-io/form-io-application-submission/models.ts
Labels: Student, Form.io, Web portal

#3410 #2846 - add change request instructions
  sources/packages/web/src/views/student/StudentAppealRequest.vue
Labels: Student, Content, Web portal

#3417 #2831 - Add a display formatter for the ministry view of student gender
  sources/packages/web/src/components/common/students/StudentProfile.vue
  sources/packages/web/src/composables/useFormatters.ts
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: Ministry, Web portal

#3418 Helm initialization of ClamAV virus scan
  .github/workflows/clamav.yml
  .gitignore
  devops/helm/clamAV/_clamav/.helmignore
  devops/helm/clamAV/_clamav/Chart.yaml
  devops/helm/clamAV/_clamav/README.md
  devops/helm/clamAV/_clamav/configurations/1.0/clamav-milter.conf
  devops/helm/clamAV/_clamav/configurations/1.0/clamd.conf
  devops/helm/clamAV/_clamav/configurations/1.0/freshclam.conf
  devops/helm/clamAV/_clamav/templates/_helpers.tpl
  devops/helm/clamAV/_clamav/templates/configmap.yaml
  devops/helm/clamAV/_clamav/templates/hpa.yaml
  devops/helm/clamAV/_clamav/templates/poddisruptionbudget.yaml
  devops/helm/clamAV/_clamav/templates/service.yaml
  devops/helm/clamAV/_clamav/templates/statefulset.yaml
  devops/helm/clamAV/_clamav/values.yaml
  devops/helm/clamAV/main/.helmignore
  devops/helm/clamAV/main/Chart.lock
  devops/helm/clamAV/main/Chart.yaml
  devops/helm/clamAV/main/Makefile
  devops/helm/clamAV/main/templates/_helpers.tpl
  devops/helm/clamAV/main/templates/networkpolicy.yaml
  devops/helm/clamAV/main/values-0c27fb-dev.yaml
  devops/helm/clamAV/main/values-0c27fb-prod.yaml
  devops/helm/clamAV/main/values-0c27fb-test.yaml
  devops/helm/clamAV/main/values-a6ef19-dev.yaml
  devops/helm/clamAV/main/values-a6ef19-prod.yaml
  devops/helm/clamAV/main/values-a6ef19-test.yaml
  devops/helm/clamAV/main/values.yaml
  sims.code-workspace
Labels: Devops

#3408 #3409 - Update Readme and Architecture
  README.md
  docs/assets/DraftArchitecture.jpg
  docs/assets/SIMSArchitecture2024.jpg
Labels: Documentation, Devops

#3396 #3128 - PT Request a Change - Partner Information and Income (Student Form and Ministry Processing)
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/appeals/parttime-assessment-partner-information-and-income.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/appeals/parttime-assessment-partner-information-and-income.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/appeals/parttime-assessment-partner-information-and-income.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/forms/src/form-definitions/partnerinformationandincomeappeal.json
  sources/packages/forms/src/form-definitions/studentrequestchange.json
Labels: Student, Form.io, Camunda Worflow

#3422 #2831 - Reorder gender options
  sources/packages/forms/src/form-definitions/studentprofile.json
Labels: Student, Form.io, Web portal

#3402 #3133 - Build Student Unmet Need: Report BC Public Institution
  sources/packages/backend/apps/db-migrations/src/migrations/1718231729297-CreateStudentUnmetNeedReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Create-student-unmet-need-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-create-student-unmet-need-report.sql
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
  sources/packages/web/src/components/common/students/StudentProfile.vue
  sources/packages/web/src/views/institution/Reports.vue
Labels: Institution, Form.io, DB, Camunda Worflow, Web portal

#3440 #3105 - Camunda Definitions Deployment Healthy Check
  sources/packages/backend/workflow/src/deploy.ts
Labels: Bug, Devops, Camunda Workers

#3427 #3180 - Helm clam av GitHub action
  .github/workflows/clamav.yml
  devops/helm/clam-av/_clamav/.helmignore
  devops/helm/clam-av/_clamav/Chart.yaml
  devops/helm/clam-av/_clamav/README.md
  devops/helm/clam-av/_clamav/configurations/1.0/clamav-milter.conf
  devops/helm/clam-av/_clamav/configurations/1.0/clamd.conf
  devops/helm/clam-av/_clamav/configurations/1.0/freshclam.conf
  devops/helm/clam-av/_clamav/templates/_helpers.tpl
  devops/helm/clam-av/_clamav/templates/configmap.yaml
  devops/helm/clam-av/_clamav/templates/hpa.yaml
  devops/helm/clam-av/_clamav/templates/poddisruptionbudget.yaml
  devops/helm/clam-av/_clamav/templates/service.yaml
  devops/helm/clam-av/_clamav/templates/statefulset.yaml
  devops/helm/clam-av/_clamav/values.yaml
  devops/helm/clam-av/main/.helmignore
  devops/helm/clam-av/main/Chart.lock
  devops/helm/clam-av/main/Chart.yaml
  devops/helm/clam-av/main/Makefile
  devops/helm/clam-av/main/templates/_helpers.tpl
  devops/helm/clam-av/main/values-0c27fb-dev.yaml
  devops/helm/clam-av/main/values-0c27fb-prod.yaml
  devops/helm/clam-av/main/values-0c27fb-test.yaml
  devops/helm/clam-av/main/values-a6ef19-dev.yaml
  devops/helm/clam-av/main/values-a6ef19-prod.yaml
  devops/helm/clam-av/main/values-a6ef19-test.yaml
  devops/helm/clam-av/main/values.yaml
  devops/helm/clamAV/main/templates/networkpolicy.yaml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/clam-av/Dockerfile
  sources/packages/clam-av/Dockerfile.dev
  sources/packages/clam-av/clamd.conf
  sources/packages/clam-av/scripts/docker-entrypoint-unprivileged.sh
Labels: Devops

#3420 #3140 - Build Ministry-Specific Reports - Programs and Offering Status (Part 2)
  sources/packages/backend/apps/api/src/route-controllers/institution/_tests_/e2e/institution.aest.controller.getInstitutionNameOptions.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/institution/institution.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/report/_tests_/e2e/report.aest.controller.exportReport.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/report/models/report.dto.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1718210159387-ProgramAndOfferingStatusReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Create-program-and-offering-status-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-create-program-and-offering-status-report.sql
  sources/packages/backend/libs/test-utils/src/factories/education-program-offering.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program.ts
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
  sources/packages/web/src/components/common/Reports.vue
  sources/packages/web/src/views/aest/Reports.vue
Labels: User Story, Ministry, Form.io, E2E/Unit tests

#3425 #3133 - Build Student Unmet Need Report: BC Public Institutions (Part 2)
  sources/packages/backend/apps/api/src/route-controllers/report/_tests_/e2e/report.institutions.controller.exportReport.e2e-spec.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1718413819312-UpdateStudentUnmetNeedReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-student-unmet-need-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-student-unmet-need-report.sql
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
Labels: Bug, Form.io, E2E/Unit tests, DB

#3444 #3310 - Update personal info content
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Form.io

#3443 #3140 - Build Ministry-Specific Reports - Programs and Offering Status (Quick Fix)
  sources/packages/backend/apps/db-migrations/src/migrations/1718842224620-UpdateProgramAndOfferingStatusReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-program-and-offering-status-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-program-and-offering-status-report.sql
Labels: Bug, DB

#3446 #3309 - Family Information Updates
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Form.io

#3449 #3105 - Camunda8 SDK Updated
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Ad-hoc, Camunda Workers, Security-related

#3430 #2679 - Remittance calculation change
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.confirmEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getApplicationForCOE.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.institutions.controller.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/VALD/CONR_008.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-helper.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/calculate-tuition-remittance-effective-amount.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/_tests_/unit/confirmation-of-enrollment.getMaxTuitionRemittance.spec.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/confirmation-of-enrollment.service.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-schedule.ts
Labels: Institution, SIMS-Api, E2E/Unit tests, Integration

#3451 #3322 - Update partner content
  sources/packages/forms/src/form-definitions/supportingusersparent2022-2023.json
  sources/packages/forms/src/form-definitions/supportingusersparent2024-2025.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2024-2025.json
Labels: Form.io

#3457 #3133 - Student Unmet Need Report: BC Public Institution (Bug Fix)
  sources/packages/backend/apps/db-migrations/src/migrations/1719252081303-UpdateSINValidationStudentUnmetNeedReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-sin-validation-student-unmet-need-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-sin-validation-student-unmet-need-report.sql
Labels: Bug, DB

#3458 #3441 - Content: Student: Request a Change - Add/Remove Dependant
  sources/packages/forms/src/form-definitions/studentdependantsappeal.json
Labels: Content, Form.io

#3460 #3342 - Content: Student: Partner Information fixes
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Task, Student, Content, Form.io

#3461 #3031 - Overawards menu item
  sources/packages/web/src/views/student/AppStudent.vue
Labels: Student, Web portal

#3431 #3050 - Build Student Unmet Need: Ministry Report
  sources/packages/backend/apps/api/src/route-controllers/report/_tests_/e2e/report.aest.controller.exportReport.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/report/models/report.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/report/report.controller.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1718660711659-CreateMinistryStudentUnmetNeedReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Create-ministry-student-unmet-need-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-create-ministry-student-unmet-need-report.sql
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
  sources/packages/web/src/components/common/Reports.vue
  sources/packages/web/src/composables/useFormioDropdownLoader.ts
  sources/packages/web/src/types/formio.ts
  sources/packages/web/src/views/aest/Reports.vue
Labels: Ministry, SIMS-Api, Form.io, DB, Web portal
