Repository bcgov/SIMS, pull requests merged in 2024-12, with the labels that each got.

#4012 #3666 - Queue Monitoring - Enable Prometheus Metrics
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/sysdig-team.yml
  sources/packages/backend/apps/queue-consumers/src/controllers/index.ts
  sources/packages/backend/apps/queue-consumers/src/controllers/metrics/metrics.controller.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/queues-metrics.module.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/index.ts
  sources/packages/backend/apps/queue-consumers/src/services/metrics/metrics.models.ts
  sources/packages/backend/apps/queue-consumers/src/services/metrics/metrics.service.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Queue Consumers

#4001 #3035 - Enable Application Saving on Page Change
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: Student, Web portal

#4010 #3453 - COE for $0/Not Eligible Assessments - Part 1
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.aest.confirmEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.confirmEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.denyConfirmationOfEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getApplicationForCOE.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getCOESummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1732577112272-DisbursementSchedulesAddHasEstimatedAwards.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Add-has-estimated-awards-col.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Rollback-add-has-estimated-awards-col.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/_tests_/e2e/disbursement.controller.saveDisbursementSchedules.e2e-spec.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/confirmation-of-enrollment.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule.model.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-schedule.ts
Labels: Institution, SIMS-Api, Camunda Workers, DB

#4020 #3666 - Queue Monitoring - Default Queue Error Handling
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/cancel-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/start-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/cancel-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/start-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-queue.ts
  sources/packages/backend/apps/queue-consumers/src/utilities/log-utils.ts
  sources/packages/backend/libs/services/src/workflow/workflow-client.service.ts
  sources/packages/backend/libs/test-utils/src/mocks/zeebe-client-mock.ts
  sources/packages/backend/libs/utilities/src/logger/logger.service.ts
Labels: Queue Consumers

#4021 #3666 - Queue Monitoring - Adjusted Queues Cleanup Period
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/application/process-archive-application.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/atbc-respone-integration/atbc-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/cas-supplier-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cra-integration/cra-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cra-integration/cra-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/application-changes-report-integration/application-changes-report-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/disbursement-receipts-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-full-time-feedback-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-part-time-feedback-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-process-integration-base.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/federal-restrictions-integration/federal-restrictions-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/msfaa-full-time-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/msfaa-full-time-process-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/msfaa-part-time-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/msfaa-part-time-process-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/sin-validation-integration/sin-validation-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/sin-validation-integration/sin-validation-process-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/student-loan-balances-part-time-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-request/ece-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/ece-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/ier12-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/notification/process-notifications.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/sfas-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/sims-to-sfas-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/student-application-notifications/student-application-notifications.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/assessment-workflow-enqueuer.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/assessment-workflow-queue-retry.scheduler.ts
  sources/packages/backend/libs/services/src/queue/queue.service.ts
Labels: Queue Consumers

#4018 #3981 - Model SDPR API
  devops/openshift/api-deploy.yml
  sources/packages/backend/apps/api/src/app.external.module.ts
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/backend/apps/api/src/auth/audiences.enum.ts
  sources/packages/backend/apps/api/src/auth/authorized-parties.enum.ts
  sources/packages/backend/apps/api/src/auth/guards/authorized-parties.guard.ts
  sources/packages/backend/apps/api/src/auth/jwt.strategy.ts
  sources/packages/backend/apps/api/src/auth/userToken.interface.ts
  sources/packages/backend/apps/api/src/main.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.external.controller.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/api/src/types/clientTypeBaseRoute.ts
  sources/packages/backend/libs/sims-db/src/entities/student.model.ts
Labels: SIMS-Api, Integration

#4017 #3258 - CAS supplier errors - Part 2
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-supplier-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-and-site-found-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-found-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-active-supplier-not-found-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-evaluation-result-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-known-errors-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/cas-pre-validations-processor.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-evaluation-result-processor/index.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-supplier.models.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/mock-utils/cas-response.factory.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
Labels: Queue Consumers, E2E/Unit tests

#4038 #3981 - Model SDPR API - Query fix
  sources/packages/backend/apps/api/src/services/student/student.service.ts
Labels: Bug, SIMS-Api

#4040 #3981 - Model SDPR API - Query improvement
  sources/packages/backend/apps/api/src/services/student/student.service.ts
Labels: SIMS-Api

#4037 #4013 - Legacy Restriction Mapping - Migrations and SQL Changes
  sims.code-workspace
  sources/packages/backend/apps/db-migrations/src/migrations/1733437987626-CreateSFASRestrictionMapsTable.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1733439945646-AddIsLegacyColumnToRestrictions.ts
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Add-col-is-legacy.sql
  sources/packages/backend/apps/db-migrations/src/sql/Restrictions/Rollback-add-col-is-legacy.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASRestrictionMaps/Create-sfas-restriction-maps.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASRestrictionMaps/Rollback-create-sfas-restriction-maps.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-2024MAR07-ALL-RESTRICTIONS.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-2024MAR07-LEGACY-RESTRICTIONS.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-restriction-import.service.ts
  sources/packages/backend/libs/sims-db/src/constant.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/restriction.model.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-restriction-map.ts
  sources/packages/backend/libs/src-sql/sfas-restrictions/Bulk-insert-legacy-restrictions.sql
  sources/packages/backend/libs/src-sql/sfas-restrictions/Bulk-insert-sfas-mapped-restrictions.sql
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/sfas-restriction-maps.ts
  sources/packages/backend/libs/test-utils/src/index.ts
Labels: Queue Consumers, DB, Hotfix

#4031 #3258 - Supplier Errors Part 3
  sources/packages/backend/apps/api/src/route-controllers/cas-supplier/_tests_/cas-supplier.aest.controller.getCASSupplier.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-supplier/cas-supplier.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-supplier/models/cas-supplier.dto.ts
  sources/packages/backend/apps/api/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/libs/test-utils/src/factories/cas-supplier.ts
  sources/packages/web/src/services/http/dto/CASSupplier.dto.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/views/aest/student/CASSupplierInformation.vue
Labels: User Experience, Web portal

#4042 #4041 - Ignore Cancelled Legacy Applications on SIMS Validations and Calculations
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.submitApplication.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/parsers/full-time-e-cert-record-parser.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/libs/services/src/sfas/sfas-application.service.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/test-utils/src/factories/sfas-application.ts
Labels: E2E/Unit tests, Integration, Hotfix

#4054 #3645 - Content: Support Portal: Welcome Page
  sources/packages/forms/src/form-definitions/supportingusersdashboard.json
  sources/packages/web/src/views/supporting-user/Dashboard.vue
Labels: Form.io, Supporting User

#4049 #4013 - Legacy Restriction Mapping - Student Changes
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/restriction/_tests_/e2e/restriction.students.controller.getStudentRestrictions.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/restriction/restriction.students.controller.ts
  sources/packages/backend/apps/api/src/services/restriction/student-restriction.service.ts
  sources/packages/backend/apps/test-db-seeding/src/clean-db/clean-db.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/restriction/basic-seeding/create-restrictions.model.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/restriction/basic-seeding/create-restrictions.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/restriction/index.ts
  sources/packages/backend/apps/test-db-seeding/src/main.ts
  sources/packages/backend/apps/test-db-seeding/src/test-db-seeding.module.ts
  sources/packages/backend/libs/services/src/constants/restriction.constants.ts
  sources/packages/backend/libs/test-utils/src/factories/restriction.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/backend/libs/test-utils/src/models/common.model.ts
  sources/packages/backend/package.json
Labels: SIMS-Api, E2E/Unit tests, Hotfix, Web portal

#4057 #3645 - Content: Support Portal: Welcome Page- Formio issue
  sources/packages/forms/src/form-definitions/supportingusersdashboard.json
Labels: Form.io, Supporting User

#4058 #4052 - Fix the legacy program year totals for program year limits
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
Labels: Camunda Workers, E2E/Unit tests, Hotfix

#4027 #3453 - COE for $0/Not Eligible Assessments - Part 2
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getApplicationWarnings.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/report/_tests_/e2e/report.institutions.controller.exportReport.e2e-spec.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1733352353468-UpdateHasEstimatedAwardsForCOERequestsReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-coe-requests-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-coe-requests-report.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-utils.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-request/_tests_/ece-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-base.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-schedule.ts
Labels: Institution, SIMS-Api, Queue Consumers, E2E/Unit tests, DB, Integration

#4053 #3258 - CAS Supplier Retry operation
  sources/packages/backend/apps/api/src/route-controllers/cas-supplier/_tests_/cas-supplier.aest.controller.retryCASSupplier.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-supplier/cas-supplier.aest.controller.ts
  sources/packages/backend/apps/api/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/web/src/services/CASSupplierService.ts
  sources/packages/web/src/services/http/CASSupplier.ts
  sources/packages/web/src/views/aest/student/CASSupplierInformation.vue
Labels: User Experience, SIMS-Api, E2E/Unit tests

#4071 #3258 - Bug in the Error creation of CAS Supplier
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
Labels: Bug

#4078 #3258 - CAS supplier errors enhancement and Unit Test
  sources/packages/backend/libs/integrations/src/cas/_tests_/unit/cas.service.createSiteForExistingSupplier.spec.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/web/src/views/aest/student/CASSupplierInformation.vue
Labels: Test Case, E2E/Unit tests

#4081 #3983 - CAS Addressline1 Update - Restrict to Alpha Numeric
  sources/packages/backend/libs/integrations/src/cas/_tests_/unit/cas.service.createSiteForExistingSupplier.spec.ts
  sources/packages/backend/libs/integrations/src/cas/_tests_/unit/cas.service.createSupplierAndSite.spec.ts
  sources/packages/backend/libs/integrations/src/cas/cas-formatters.ts
Labels: Queue Consumers, Integration

#4084 #4082 - 2 Disbursement PT Schedules - Correct First Disbursement Date
  sources/packages/backend/workflow/src/workflow-definitions/parttime-configure-disbursement.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
Labels: Camunda Worflow, Hotfix

#4089 #4087 - Search Student Bug
  sources/packages/backend/apps/api/src/services/cas-supplier/cas-supplier.service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
Labels: Bug, SIMS-Api

#4088 #270 - Merge Hotfix V2.1.2 to main
  sources/packages/backend/workflow/src/workflow-definitions/parttime-configure-disbursement.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
Labels: Branch Sync-up

#4097 #4076 - Queue Monitoring - Schedulers Refactor (SFAS Integration)
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sims-to-sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/models/sfas-integration.dto.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/sfas-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/sims-to-sfas-integration.scheduler.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sims-to-sfas.processing.service.ts
Labels: Queue Consumers, E2E/Unit tests

#4091 #3827 - Student: Sole custody dependant question change
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: User Story, Student, Form.io

#4118 #4076 - Queue Monitoring - Schedulers Refactor (SIN validation and loan balance)
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/cancel-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/start-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-queue.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-supplier-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/sin-validation-integration/_tests_/sin-validation-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/sin-validation-integration/sin-validation-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/sin-validation-integration/sin-validation-process-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/_tests_/student-loan-balances-part-time-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/student-loan-balances/student-loan-balances-part-time-integration.scheduler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/sin-validation/sin-validation.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/student-loan-balances/student-loan-balances.processing.service.ts
Labels: Queue Consumers

#4096 #3941 - Update FT Assessment & Configure Disbursement
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-decisions.dmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-configure-disbursement.bpmn
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/fulltime-assessment.e2e-spec.ts
Labels: E2E/Unit tests, Camunda Worflow

#4135 #4076 - Queue Monitoring - Schedulers Refactor (Fed Restrictions and Receipts)
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/disbursement-receipts-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/disbursement-receipts-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/federal-restrictions-integration/federal-restrictions-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/sims-to-sfas-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/mock-utils/job-mock-utils.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/fed-restriction-integration/fed-restriction.processing.service.ts
Labels: Queue Consumers, E2E/Unit tests

#4141 #4079 - Queue Monitoring - Schedulers Refactor - (MSFAA)
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-queue.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-full-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/msfaa-full-time-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/msfaa-full-time-process-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/msfaa-part-time-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/msfaa-part-time-process-response-integration.scheduler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-request.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-response.processing.service.ts
Labels: Queue Consumers

#4163 #3869 - Federal Restrictions - Unzip ZIP files coming from SFTP
  sources/packages/backend/libs/integrations/src/esdc-integration/fed-restriction-integration/fed-restriction.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/ssh/sftp-integration-base.ts
  sources/packages/backend/libs/utilities/src/compressed-file-utils.ts
  sources/packages/backend/libs/utilities/src/index.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Queue Consumers, Integration

#4154 #4015 - FT program year total contribution limits
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.models.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/services/src/students-assessments/student-assessment.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
Labels: Camunda Workers, Camunda Worflow

#4159 #4076 - Queue Monitoring - Schedulers Refactor (e-Cert and e-Cert Feedback)
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-feedback-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-feedback-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-full-time-feedback-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-full-time-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-part-time-feedback-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-part-time-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-process-integration-base.scheduler.ts
Labels: Queue Consumers

#4175 #4133 - SFAS to SIMS Bridge - PT App Cancellation Date & MSFAA (FT/PT) Change - Part 1
  sources/packages/backend/apps/db-migrations/src/migrations/1734984637510-AddApplicationCancelDateSFASPartTimeApplications.ts
  sources/packages/backend/apps/db-migrations/src/sql/SFASPartTimeApplications/Add-application-cancel-date.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASPartTimeApplications/Rollback-add-application-cancel-date.sql
Labels: DB, Integration

#4177 #4079 - Queue Monitoring - Schedulers Refactor (Part 6)
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/atbc-respone-integration/_tests_/atbc-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/atbc-respone-integration/atbc-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/application-changes-report-integration/_tests_/application-changes-report-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/application-changes-report-integration/application-changes-report-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/notification/process-notifications.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/student-application-notifications/_tests_/student-application-notifications.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/student-application-notifications/student-application-notifications.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/_tests_/assessment-workflow-enqueuer.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/_tests_/assessment-workflow-queue-retry.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/assessment-workflow-enqueuer.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/assessment-workflow-queue-retry.scheduler.ts
  sources/packages/backend/libs/integrations/src/atbc-integration/atbc-integration.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/application-changes-report/application-changes-report.processing.service.ts
Labels: Queue Consumers

#4178 #4133 - SFAS to SIMS Bridge - PT App Cancellation Date & MSFAA (FT/PT) Change - part 2
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-2024MAR21-PT-APPLICATION-DATA-IMPORT.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-part-time-application-import.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-files/sfas-part-time-application-record.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-part-time-application.model.ts
Labels: E2E/Unit tests, Integration

#4148 #4132 - Update Form IO
  .github/workflows/env-setup-build-forms-server.yml
  .github/workflows/env-setup-deploy-forms-server.yml
  devops/Makefile
  sources/Makefile
  sources/packages/forms/src/form-definitions/noticeofassessment.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/assets/css/formio-shared.scss
  sources/packages/web/src/components/generic/formio.vue
  sources/packages/web/src/composables/useFormioUtils.ts
  sources/packages/web/src/main.ts
Labels: Form.io, Web portal

#4183 #4132 - Update Form IO (Quick Fix)
  sources/packages/forms/Dockerfile
Labels: Form.io

#4179 #4079 - Queue Monitoring - Schedulers Refactor (Part 7)
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/models/esdc.models.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/models/msfaa-file-result.models.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-request/_tests_/ece-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-request/ece-process-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/ece-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/utils/mock-utils.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/utils/string-utils.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/ier12-integration.scheduler.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
Labels: Queue Consumers

#4186 #4076 - Queue Monitoring - Schedulers Refactor - Warnings Metrics Counter
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/base-queue.ts
  sources/packages/backend/apps/queue-consumers/src/services/index.ts
  sources/packages/backend/apps/queue-consumers/src/services/metrics/metrics.models.ts
  sources/packages/backend/apps/queue-consumers/src/services/metrics/metrics.service.ts
Labels: Queue Consumers

#4182 #4133 - SFAS to SIMS Bridge - PT App Cancellation Date & MSFAA (FT/PT) Change - Part 3
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.submitApplication.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/_tests_/e2e/disbursement.controller.associateMSFAA.e2e-spec.ts
  sources/packages/backend/libs/services/src/sfas/sfas-application.service.ts
  sources/packages/backend/libs/services/src/sfas/sfas-part-time-application.service.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/test-utils/src/factories/sfas-part-time-application.ts
Labels: SIMS-Api, Camunda Workers, E2E/Unit tests

#4190 #3946-Update BC Grants displayed
  sources/packages/backend/apps/db-migrations/src/migrations/1735584931753-UpdateDisbursementReportsBCGrants.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-disbursements-report-bc-grants.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-disbursements-report-bc-grants.sql
Labels: DB

#4191 #3596 - Bug on ministry add new SIN to student
  sources/packages/web/src/components/common/sin/AddNewSIN.vue
Labels: Ministry, Web portal

#4192 #4060 - Content: Protected Person Update
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Content, Form.io
