Repository bcgov/SIMS, pull requests merged in 2024-05, with the labels that each got.

#3211 #2650 - Cancel Future Disbursements if COE is declined (Bug) - Content Fix
  sources/packages/web/src/components/students/applicationTracker/DisbursementBanner.vue
Labels: Bug, Student, Content, Web portal

#3204 #2710 - PT Request a Change - Additional Transportation
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/appeals/parttime-assessment-student-additional-transportation.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/appeals/parttime-assessment-student-additional-transportation.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/appeals/parttime-assessment-student-additional-transportation.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/costs/parttime-assessment-transportation-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/forms/src/form-definitions/studentadditionaltransportationappeal.json
  sources/packages/forms/src/form-definitions/studentrequestchange.json
Labels: Student, Form.io, E2E/Unit tests, Camunda Worflow, Web portal

#3212 #2366 - ECert Feedback file Part 1
  sims.code-workspace
  sources/packages/backend/apps/db-migrations/src/migrations/1714624663811-CreateECertFeedbackErrors.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1714625235969-AddECertFeedbackErrorIdColumn.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementFeedbackErrors/Add-column-ecert-feedback-error-id.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementFeedbackErrors/Rollback-add-column-ecert-feedback-error-id.sql
  sources/packages/backend/apps/db-migrations/src/sql/ECertFeedbackErrors/Create-ecert-feedback-errors-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/ECertFeedbackErrors/Insert-ecert-feedback-errors-full-time.sql
  sources/packages/backend/apps/db-migrations/src/sql/ECertFeedbackErrors/Insert-ecert-feedback-errors-part-time.sql
  sources/packages/backend/apps/db-migrations/src/sql/ECertFeedbackErrors/Rollback-create-ecert-feedback-errors-table.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/sims-db/src/constant.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-feedback-errors.model.ts
  sources/packages/backend/libs/sims-db/src/entities/ecert-feedback-error.model.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-feedback-error.ts
Labels: E2E/Unit tests, DB

#3206 #2930 - Deactivate Program Constraints - Part 1
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/app.supporting-users.module.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.createApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/models/application-offering-change-request.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/program-info-request/program-info-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program-offering.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program.ts
  sources/packages/web/src/composables/useFormioDropdownLoader.ts
  sources/packages/web/src/services/EducationProgramService.ts
  sources/packages/web/src/services/http/EducationProgramApi.ts
  sources/packages/web/src/services/http/dto/ApplicationOfferingChangeRequest.dto.ts
  sources/packages/web/src/views/institution/locations/program-info-request/LocationEditProgramInfoRequest.vue
  sources/packages/web/src/views/institution/locations/request-a-change/RequestAChangeFormSubmit.vue
Labels: SIMS-Api, E2E/Unit tests, Web portal

#3218 #2235 - sfas to sims data bridge partial match
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/_test_/e2e/student-account-application.aest.controller.approveStudentAccountApplication.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1714158310337-InsertMinistryNotificationForPartialStudentAccountMatch.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-ministry-notification-partial-student-match.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Rollback-insert-ministry-notification-partial-student-match.sql
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/services/src/sfas/sfas-individual.service.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
  sources/packages/backend/libs/test-utils/src/factories/student-account-application.ts
  sources/packages/backend/libs/test-utils/src/index.ts
Labels: Ministry, E2E/Unit tests, Integration

#3208 #2673 - Student application tracker adjustments for new assessment trigger type
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getApplicationProgressDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getCompletedApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getEnrolmentApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getInProgressApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/apps/workers/src/services/index.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/services/src/students-assessments/student-assessment.model.ts
  sources/packages/backend/libs/test-utils/src/factories/cra-income-verification.ts
  sources/packages/backend/libs/test-utils/src/factories/student-assessment.ts
  sources/packages/backend/libs/test-utils/src/factories/supporting-user.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/web/src/components/students/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/students/applicationTracker/Assessment.vue
  sources/packages/web/src/components/students/applicationTracker/Completed.vue
  sources/packages/web/src/components/students/applicationTracker/Enrolment.vue
  sources/packages/web/src/components/students/applicationTracker/InProgress.vue
  sources/packages/web/src/components/students/applicationTracker/RelatedApplicationChanged.vue
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/types/contracts/AssessmentTrigger.ts
Labels: User Story, Task, User Experience, Student, SIMS-Api, E2E/Unit tests, High Priority, Web portal

#3227 #2930 - Deactivate Program-Constraints Part2
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/program-info-request/models/program-info-request.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/program-info-request/program-info-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/web/src/components/common/ManageProgramAndOfferingSummary.vue
  sources/packages/web/src/components/common/OfferingSummary.vue
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/InstitutionRoutes.ts
  sources/packages/web/src/services/http/dto/ProgramInfoRequest.dto.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/institution/locations/offerings/LocationOfferingView.vue
  sources/packages/web/src/views/institution/locations/program-info-request/LocationEditProgramInfoRequest.vue
Labels: Institution, Ministry, Content, SIMS-Api, E2E/Unit tests, Web portal

#3226 #3026 - Ecert File Creation - PT & FT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/parsers/full-time-e-cert-record-parser.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/parsers/part-time-e-cert-record-parser.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-full-time-integration/_tests_/unit/e-cert-full-time-integration.service.spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-full-time-integration/e-cert-full-time.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/_tests_/unit/e-cert-part-time-integration.service.spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-part-time-integration/e-cert-part-time.integration.service.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/packages/backend/libs/utilities/src/esdc-utils.ts
  sources/packages/backend/webpack.config.js
Labels: Queue Consumers, Integration

#3251 #2908 - Remove program year 2021 2022
  sources/packages/backend/apps/db-migrations/src/migrations/1715286093568-Deactivate20212022ProgramYear.ts
  sources/packages/backend/apps/db-migrations/src/sql/ProgramYear/Deactivate-program-year-2021-2022.sql
  sources/packages/backend/apps/db-migrations/src/sql/ProgramYear/Rollback-deactivate-program-year-2021-2022.sql
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-decisions.dmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2021-2022.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-decisions.dmn
  sources/packages/forms/src/form-definitions/sfaa2021-22.json
Labels: Form.io, DB, Camunda Worflow

#3239 #3062 - Enable Reports for BC Public Institutions (Part 3)
  sources/packages/backend/apps/api/src/app.institutions.module.ts
  sources/packages/backend/apps/api/src/route-controllers/report/models/report.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/report/report.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/report/report.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/report/report.institutions.controller.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1715153766792-OfferingDetailsReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Create-offering-details-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-create-offering-details-report.sql
Labels: SIMS-Api, DB

#3261 #3185 - Content: Institution: Create program: “SABC program code” text box label Fixes
  sources/packages/forms/src/form-definitions/educationprogram.json
Labels: Institution, Content, Form.io

#3250 #2894 - Bug - Mass offering change cannot be approved
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.aest.controller.assessOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.models.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
Labels: Bug, Ministry, SIMS-Api, E2E/Unit tests

#3246 #2366 - ECert feedback file processing Part 2
  sources/packages/backend/apps/db-migrations/src/migrations/1715036060792-DropErrorCodeColumnAndUpdateConstraints.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementFeedbackErrors/Drop-column-error-code-and-update-constraint.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementFeedbackErrors/Rollback-drop-column-error-code-and-update-constraint.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-full-time-feedback-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-part-time-feedback-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/full-time-e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/part-time-e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/models/ier12-integration.model.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/_tests_/unit/application-event-code-during-enrolment-and-completed-utils.service.applicationEventCodeDuringCompleted.spec.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/_tests_/unit/application-event-date-utils.service.getApplicationEventDate.spec.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/application-event-code-during-enrolment-and-completed-utils.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/utils-service/application-event-date-utils.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule-errors/disbursement-schedule-errors.service.ts
  sources/packages/backend/libs/integrations/src/services/ecert-feedback-error/ecert-feedback-error.service.ts
  sources/packages/backend/libs/integrations/src/services/index.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-feedback-errors.model.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-feedback-error.ts
Labels: Queue Consumers, DB, Integration

#3265 #3026 - Ecert File Creation - PT & FT - E2E fix
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/parsers/full-time-e-cert-record-parser.ts
Labels: E2E/Unit tests, Integration

#3270 #3263 - Refactor Code for Mass Offering Change Request
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.models.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
Labels: SIMS-Api

#3273 #3216 - Make transport weeks a required field
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
Labels: Form.io

#3269 #2366 - ECert feedback file part 3
  sources/packages/backend/apps/db-migrations/src/migrations/1715616156014-AddFeedbackFileNameColumn.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementFeedbackErrors/Add-column-feedback-file-name.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementFeedbackErrors/Rollback-add-column-feedback-file-name.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementFeedbackErrors/Rollback-drop-column-error-code-and-update-constraint.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-feedback-error-files/EDU.PBC.FTECERTSFB.MULTIPLERECORDS
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-feedback-error-files/EDU.PBC.FTECERTSFB.SINGLERECORD
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-feedback-error-files/EDU.PBC.NEW.ECERTSFB.PT.MULTIPLERECORDS
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-feedback-error-files/EDU.PBC.NEW.ECERTSFB.PT.SINGLERECORD
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-feedback-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-feedback-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/constants/error-code.constants.ts
  sources/packages/backend/libs/integrations/src/constants/index.ts
  sources/packages/backend/libs/integrations/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa.integration.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule-errors/disbursement-schedule-errors.service.ts
  sources/packages/backend/libs/integrations/src/services/ssh/sftp-integration-base.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-feedback-errors.model.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-feedback-error.ts
  sources/packages/backend/libs/test-utils/src/mocks/ssh-service-mock.ts
  sources/packages/backend/libs/utilities/src/logger/process-summary.ts
Labels: Queue Consumers, E2E/Unit tests, DB, Integration

#3275 #3113 - Update second level headings to h2 from h3
  sources/packages/forms/src/form-definitions/studentrequestchange.json
  sources/packages/web/src/views/institution/Login.vue
  sources/packages/web/src/views/student/Login.vue
  sources/packages/web/src/views/supporting-user/Login.vue
Labels: Web portal

#3264 Rename variable and initialize properly
  .github/workflows/prune-images.yml
Labels: Devops

#3276 #3062 - Enable Reports for BC Public Institutions - Part 4 (e2e tests)
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/route-controllers/report/_tests_/e2e/report.institutions.controller.exportReport.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/report/report.controller.service.ts
  sources/packages/backend/apps/api/src/services/program-year/program-year.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1715714079219-UpdateOfferingDetailsReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-offering-details-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-offering-details-report.sql
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program-offering.ts
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
Labels: Form.io, E2E/Unit tests, DB

#3286 #3062 - Enable Reports for BC Public Institutions (Part 5)
  sources/packages/backend/apps/db-migrations/src/migrations/1715796993998-UpdateOfferingStatusForOfferingDetailsReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-offering-status-offering-details-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-offering-status-offering-details-report.sql
Labels: Bug, DB

#3281 #3141 - 2.4.3 Menu- Student- Accessibility Fixes - Level A - Focus Order
  sources/packages/web/src/views/student/StudentApplicationDetails.vue
Labels: Student, Accessibility

#3290 #3282 - Detect Assessment Offering Dates Change (Part 1): DB Migrations
  sources/packages/backend/apps/db-migrations/src/migrations/1715894817194-AddReportingColumns.ts
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Add-reporting-cols.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentAssessments/Rollback-add-reporting-cols.sql
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
Labels: DB

#3295 #3040 - Revise Scholastic Standing Functionality and Content
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.institutions.controller.saveScholasticStanding.e2e-spec.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1715975855667-RenameScholasticStandingChangeInIntensityToSchoolTransfer.ts
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rename-scholastic-standing-change-in-intensity-to-school-transfer.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-rename-scholastic-standing-change-in-intensity-to-school-transfer.sql
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/models/ier12-integration.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-scholastic-standing.type.ts
  sources/packages/forms/src/form-definitions/reportscholasticstandingchange.json
  sources/packages/web/src/types/contracts/StudentScholasticStanding.ts
Labels: Institution, SIMS-Api, Form.io, DB, Web portal

#3330 #3040 - Allow the first disbursement to be not present
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/web/src/components/students/applicationTracker/Completed.vue
  sources/packages/web/src/components/students/applicationTracker/DisbursementBanner.vue
  sources/packages/web/src/components/students/applicationTracker/MultipleDisbursementBanner.vue
  sources/packages/web/src/services/http/dto/Application.dto.ts
Labels: Bug, Institution, Ad-hoc

#3294 #3282 - Detect Assessment Offering Dates Change (Part 2)
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
Labels: Camunda Workers

#3338 #3283 - Nodejs Apps Memory Adjustments
  devops/openshift/api-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/workers-deploy.yml
  sources/docker-compose.yml
  sources/packages/backend/package.json
Labels: SIMS-Api, Queue Consumers, Devops, Camunda Workers

#3299 #2716 - Update Program Status Label when Program Effective Date is Expired
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.createApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/models/application-offering-change-request.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.createOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.updateProgramOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.institutions.controller.createEducationProgram.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/models/education-program.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/program-info-request/models/program-info-request.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/program-info-request/program-info-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/application-offering-change-request/application-offering-change-request.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.models.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/education-program-fake.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1716850225552-DropSABCCodeUniqueConstraint.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Drop-sabc-code-unique-constraint-to-active-programs.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Rollback-drop-sabc-code-unique-constraint-to-active-programs.sql
  sources/packages/backend/libs/sims-db/src/entities/education-program.model.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program.ts
  sources/packages/web/src/components/common/ManageProgramAndOfferingSummary.vue
  sources/packages/web/src/components/common/ProgramDetails.vue
  sources/packages/web/src/services/http/dto/ApplicationOfferingChangeRequest.dto.ts
  sources/packages/web/src/services/http/dto/EducationProgram.dto.ts
  sources/packages/web/src/services/http/dto/ProgramInfoRequest.dto.ts
  sources/packages/web/src/views/aest/institution/Programs.vue
  sources/packages/web/src/views/institution/locations/program-info-request/LocationEditProgramInfoRequest.vue
  sources/packages/web/src/views/institution/locations/programs/LocationProgramAddEdit.vue
  sources/packages/web/src/views/institution/locations/programs/LocationPrograms.vue
  sources/packages/web/src/views/institution/locations/request-a-change/RequestAChangeFormSubmit.vue
Labels: Institution, Ministry, SIMS-Api, Web portal

#3345 #2798 - e-Cert Validations for Blocked Disbursement Service
  sims.code-workspace
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-pre-validation-service-models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-pre-validation-service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/full-time-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/index.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/part-time-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-base.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-full-time-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/validate-disbursement-part-time-step.ts
Labels: Student, Integration

#3332 #2807 - Revise student accepting assessments logic
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.confirmAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.dto.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-schedule.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/assessment-gateway/assessment-gateway.studentAppeal.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/constants/workflow-variables-constants.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/web/src/components/common/NoticeOfAssessmentFormView.vue
  sources/packages/web/src/services/http/dto/Assessment.dto.ts
  sources/packages/web/src/views/student/NoticeOfAssessment.vue
  sources/packages/web/src/views/student/StudentAssessmentAward.vue
Labels: Student, E2E/Unit tests, Camunda Worflow

#3349 #3072 - e-Cert errors report - Part 1
  sources/packages/backend/apps/api/src/route-controllers/report/models/report.dto.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1717081412569-CreateECertErrorsReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Create-e-cert-errors-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-create-e-cert-errors-report.sql
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
  sources/packages/web/src/views/aest/Reports.vue
Labels: Ministry, Form.io, DB

#3344 #3282 - Detect Assessment Offering Dates Change - Part 3 (e2e tests)
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-workflowWrapUp.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program-offering.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program.ts
  sources/packages/backend/libs/test-utils/src/factories/student-assessment.ts
Labels: E2E/Unit tests

#3361 #3283 - Queue-consumers memory adjustment
  devops/openshift/queue-consumers-deploy.yml
  sources/docker-compose.yml
  sources/packages/backend/package.json
Labels: Queue Consumers, Devops

#3360 #2807 - Cast to int in router for assessment page
  sources/packages/web/src/components/common/NoticeOfAssessmentFormView.vue
  sources/packages/web/src/router/StudentRoutes.ts
  sources/packages/web/src/views/student/NoticeOfAssessment.vue
Labels: Web portal

#3348 #3132 - Build Ministry Specific Reports: Institution Designation (Part 1)
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/report/models/report.dto.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1717025329015-InstitutionDesignationReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Create-institution-designation-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-create-institution-designation-report.sql
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
  sources/packages/web/src/views/aest/Reports.vue
Labels: Ministry, SIMS-Api, Form.io, DB, Web portal

#3362 #3072 - ECert Feedback Errors E2E
  sources/packages/backend/apps/api/src/route-controllers/report/_tests_/e2e/report.aest.controller.exportReport.e2e-spec.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1717174936108-UpdateECertErrorsReport.ts
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-e-cert-errors-report.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-e-cert-errors-report.sql
Labels: E2E/Unit tests, DB

#3364 #3132 - Bug fix: Ecert Errors Report
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
Labels: Bug, Form.io
