Repository bcgov/SIMS, pull requests merged in 2025-10, with the labels that each got.

#5212 #4967 - Upgrade Packages - Part 1
  sources/packages/backend/.eslintrc.js
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.students.controller.ts
  sources/packages/backend/apps/api/src/services/bceid/bceid.service.mock.ts
  sources/packages/backend/eslint.config.ts
  sources/packages/backend/libs/sims-db/src/entities/institution-user-auth.model.ts
  sources/packages/backend/libs/sims-db/src/entities/record.model.ts
  sources/packages/backend/libs/test-utils/src/factories/designation-agreement-locations.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
  sources/packages/backend/webpack.config.js
  sources/packages/web/.eslintrc.js
  sources/packages/web/eslint.config.ts
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/components/aest/CASManualIntervention.vue
  sources/packages/web/src/components/common/ProgramDetails.vue
  sources/packages/web/src/components/common/students/StudentProfile.vue
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/aest/CASInvoices.vue
  sources/packages/web/src/views/aest/FormioEditor.vue
  sources/packages/web/src/views/aest/StudentApplicationView.vue
  sources/packages/web/src/views/aest/institution/Programs.vue
  sources/packages/web/src/views/student/financial-aid-application/StudentApplication.vue
  sources/packages/web/tsconfig.json
Labels: Web portal, Backend

#5220 #5220 - Updates Award Summary Display
  sources/packages/web/src/constants/award-constants.ts
Labels: Student, Web portal

#5224 #4964 - Upgrade Packages - Web
  .github/dependabot.yml
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/components/generic/ValidatedInput.vue
Labels: Web portal

#5237 #4964 - Upgrade Packages - Audit Fixes
  sources/packages/forms/package-lock.json
  sources/packages/load-test/package-lock.json
Labels: Dependencies

#5245 #4964 - Upgrade Packages - Layout fix and dependabot updates
  .github/dependabot.yml
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
Labels: Devops, Web portal

#5243 #5166 - Individual exception approval - DB migration and worker updates
  sources/packages/backend/apps/db-migrations/src/migrations/1759531941797-CreateApplicationExceptionRequestStatus.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1759532829028-ApplicationExceptionRequestsAddStatusCol.ts
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationExceptionRequests/Add-col-exception-request-status.sql
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationExceptionRequests/Rollback-add-col-exception-request-status.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Create-application-exception-request-status.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-create-application-exception-request-status.sql
  sources/packages/backend/apps/workers/src/controllers/application/_tests_/e2e/application.controller-verifyUniqueApplicationExceptions.e2e-spec.ts
  sources/packages/backend/apps/workers/src/services/application-exception/application-exception.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application-exception-request-status.type.ts
  sources/packages/backend/libs/sims-db/src/entities/application-exception-requests.model.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/test-utils/src/factories/application-exception-request.ts
Labels: Camunda Workers, E2E/Unit tests, DB

#5258 #4964 - Upgrade Packages - Formio filter and Docker
  .github/dependabot.yml
Labels: Devops
