Repository bcgov/SIMS, pull requests merged in 2025-06, with the labels that each got.

#4763 #4652 - Part 2: Update Currency Inputs
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
  sources/packages/forms/src/form-definitions/supportingusersparent2025-2026.json
Labels: Form.io, Form editor

#4772 #4652 - Part 3: Update Currency to Number Input on SFAA FT 25/26
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
Labels: Form.io, Form editor

#4778 #4765 - Fixes styling on formio href
  sources/packages/web/src/assets/css/formio-shared.scss
Labels: Form.io, Form editor

#4780 #4476 - E-cert cancellation db migrations
  sources/packages/backend/apps/db-migrations/src/migrations/1748893791404-AddDisbursementScheduleStatusRejected.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1748915343561-AddDisbursementScheduleStatusAuditCols.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1748978283307-UpdateDisbursementScheduleStatusRejected.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1748982079368-AddOverawardOriginTypeAwardDeductedRejected.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1748994454302-AddECertCancellationResponseIntegration.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Add-disbursement-schedule-status-audit-cols.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Rollback-add-disbursement-schedule-status-audit-cols.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Rollback-update-disbursement-schedule-status-rejected.sql
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementSchedules/Update-disbursement-schedule-status-rejected.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-ecert-cancellation-response-integration.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-ecert-cancellation-response-integration.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-disbursement-schedule-status-rejected.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-overaward-origin-type-award-deducted-rejected.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-add-disbursement-schedule-status-rejected.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-add-overaward-origin-type-award-deducted-rejected.sql
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/ecert-cancellation-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/persist-calculations-step.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/confirmation-of-enrollment.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-overaward-origin.type.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule-status.type.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule.model.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
  sources/packages/web/src/types/contracts/Overaward.ts
  sources/packages/web/src/types/contracts/institution/ConfirmationOfEnrollment.ts
Labels: Queue Consumers, DB, Integration

#4764 #4318 - Estranged parent update FT25/26
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/studentexceptions.json
Labels: Form.io, Form editor

#4794 #4711 - Revise FT application: Unsuccessful Completion Week Count (e2e tests)
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.institutions.controller.saveScholasticStanding.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program-offering.ts
Labels: E2E/Unit tests

#4793 #4414 - Interface Policy Questions
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2025-2026.json
Labels: Form.io, Camunda Worflow, Form editor

#4803 #4740 - Parent update first effort - Workers Fix
  sources/packages/backend/apps/workers/src/controllers/supporting-user/supporting-user.controller.ts
  sources/packages/backend/apps/workers/src/controllers/supporting-user/supporting-user.dto.ts
  sources/packages/backend/apps/workers/src/zeebe/zeebe-transport-strategy.ts
  sources/packages/backend/libs/services/src/workflow/variables/supporting-user-information-request.ts
Labels: Bug, Camunda Workers

#4800 #4610 - Room and Board Application Questions
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
Labels: Form.io, Camunda Worflow, Form editor

#4813 #4415 - Ministry: Add student information header to additional pages
  sources/packages/web/src/components/common/students/applicationDetails/ApplicationExceptionsApproval.vue
  sources/packages/web/src/views/aest/StudentApplicationView.vue
  sources/packages/web/src/views/aest/student/applicationDetails/ApplicationExceptionsApproval.vue
  sources/packages/web/src/views/aest/student/applicationDetails/StudentAppealRequestsApproval.vue
Labels: User Experience, Ministry

#4805 #4740 - Parent update first effort - Application Submission
  sources/packages/backend/apps/workers/src/controllers/cra-integration/cra-integration.controller.ts
  sources/packages/backend/apps/workers/src/controllers/cra-integration/cra-integration.dto.ts
  sources/packages/backend/apps/workers/src/controllers/supporting-user/supporting-user.controller.ts
  sources/packages/backend/apps/workers/src/controllers/supporting-user/supporting-user.dto.ts
  sources/packages/backend/apps/workers/src/services/index.ts
  sources/packages/backend/apps/workers/src/services/supporting-user/supporting-user.models.ts
  sources/packages/backend/apps/workers/src/services/supporting-user/supporting-user.service.ts
  sources/packages/backend/libs/services/src/constants/error-code.constants.ts
  sources/packages/backend/libs/services/src/workflow/variables/cra-integration-income-verification.ts
  sources/packages/backend/libs/services/src/workflow/variables/supporting-user-information-request.ts
  sources/packages/backend/package.json
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway-v2.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-v2-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/income-verification.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
Labels: Form.io, Camunda Workers, Camunda Worflow

#4816 #4664 - PSI Integration Changes - Filename and Folders - Part 1
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-request/_tests_/ece-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece.processing.service.ts
Labels: Queue Consumers

#4817 #4740 - Parent update first effort - CRA Request Scheduler Changes
  sims.code-workspace
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cra-integration/_tests_/cra-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cra-integration/_tests_/parsers/cra-request-record-parser.ts
  sources/packages/backend/libs/integrations/src/services/cra-income-verification/cra-income-verification.service.ts
  sources/packages/backend/libs/test-utils/src/factories/supporting-user.ts
Labels: Queue Consumers, E2E/Unit tests

#4807 #4476 - E-Cert cancellation integration
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/e-cert-cancellation-response/_tests_/e-cert-cancellation-response-files/EDU.PBC.CAN.ECRT.20250516.001
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/e-cert-cancellation-response/_tests_/e-cert-cancellation-response-files/EDU.PBC.CAN.PTECRT.20250417.001
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/e-cert-cancellation-response/_tests_/ecert-cancellation-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/e-cert-cancellation-response/ecert-cancellation-response-integration.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-cancellation-response/e-cert-cancellation-response-files/e-cert-cancellation-response-file-detail.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-cancellation-response/e-cert-cancellation-response-files/e-cert-cancellation-response-file-footer.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-cancellation-response/e-cert-cancellation-response-files/e-cert-cancellation-response-file-header.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-cancellation-response/e-cert-cancellation-response-files/e-cert-cancellation-response-file-record.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-cancellation-response/e-cert-cancellation-response-integration.module.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-cancellation-response/e-cert-cancellation-response.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-cancellation-response/e-cert-cancellation-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-cancellation-response/models/e-cert-cancellation-response.model.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/index.ts
  sources/packages/backend/libs/services/src/constants/error-code.constants.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
Labels: Queue Consumers, E2E/Unit tests, Integration

#4824 #4740 - Parent update first effort - New Worker E2E Tests
  sources/packages/backend/apps/workers/src/controllers/supporting-user/_test_/e2e/create-identifiable-supporting-user.ts
  sources/packages/backend/apps/workers/src/controllers/supporting-user/_test_/e2e/supporting-user.controller.createIdentifiableSupportingUsers.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/supporting-user/supporting-user.dto.ts
  sources/packages/backend/libs/test-utils/src/factories/supporting-user.ts
Labels: Camunda Workers, E2E/Unit tests

#4785 Updated childcare dependant types
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/costs/fulltime-assessment-costs-child-care-cost.e2e-spec.ts
Labels: E2E/Unit tests, Camunda Worflow

#4829 #4664 - PSI Integration Changes - Filename and Folders - Part 3
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/utils/string-utils.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
Labels: Queue Consumers, E2E/Unit tests

#4832 #4476 - Add overaward added date
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
Labels: Integration

#4828 #4664 - PSI Integration Changes - Filename and Folders - Part 2
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/CONR-008-CONF-20250502-144027.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/CONR-008-DECL-20250502-144027.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/CONR-008-FAIL-20250502-144027.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/CONR-008-MULT-20250502-144027.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/CONR-008-SKIP-20250502-144027.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-files/CONR-008-VALD-20250502-144027.TXT
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-helper.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/_tests_/ece-response-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-response/ece-response-integration.scheduler.ts
  sources/packages/backend/libs/integrations/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-response.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/institution-location/institution-location.service.ts
Labels: Queue Consumers, E2E/Unit tests

#4831 #4782 - Upgrade Postgres Major Version
  .github/workflows/crunchy-postgres-version-upgrade.yml
  devops/helm/crunchy-postgres/Makefile
  devops/helm/crunchy-postgres/templates/PGUpgrade.yaml
  devops/helm/crunchy-postgres/values.yaml
Labels: Devops

#4837 #4219 - Beta Mode for Full-Time
  sources/packages/backend/apps/api/src/auth/_tests_/e2e/auth.e2e-spec.ts
  sources/packages/backend/apps/api/src/auth/guards/authorized-parties.guard.ts
  sources/packages/backend/apps/api/src/auth/jwt.strategy.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.createDraftApplication.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.submitApplication.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.students.controller.getStudentProfile.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/user/user.service.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/student-user-helpers.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/web/src/composables/useOffering.ts
  sources/packages/web/src/composables/useStudentStore.ts
  sources/packages/web/src/constants/error-code.constants.ts
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/StudentRoutes.ts
  sources/packages/web/src/services/AuthService.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/store/modules/student/mutations.ts
  sources/packages/web/src/store/modules/student/student.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/student/AppStudent.vue
  sources/packages/web/src/views/student/Login.vue
  sources/packages/web/src/views/student/financial-aid-application/StudentApplication.vue
Labels: Student, SIMS-Api, Web portal

#4848 #4842 - Update modified independent content and layout
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
Labels: Form.io, Form editor

#4847 #4819 - Student declare parent information - Get supporting user API
  sims.code-workspace
  sources/packages/backend/apps/api/src/app.students.module.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/_tests_/e2e/supporting-user.students.controller.getIdentifiableSupportingUser.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/models/supporting-user.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.students.controller.ts
  sources/packages/backend/apps/api/src/services/supporting-user/supporting-user.service.ts
Labels: SIMS-Api, E2E/Unit tests

#4851 #4850 - Add bullets and spacing to self-contained suite question
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
Labels: Form.io, Form editor

#4855 #4819 - Add personal info column and new route for student reporting
  sources/packages/backend/apps/db-migrations/src/migrations/1750716880862-AddSupportingUserPersonalInfoColumn.ts
  sources/packages/backend/apps/db-migrations/src/sql/SupportingUsers/Add-personal-info-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/SupportingUsers/Rollback-add-personal-info-column.sql
  sources/packages/backend/libs/sims-db/src/entities/supporting-user.model.ts
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/StudentRoutes.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/aest/CASInvoices.vue
  sources/packages/web/src/views/student/ReportParentInformation.vue
Labels: DB, Web portal

#4861 #4853 - Adds confirmation banners to FT and PT exceptions
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
Labels: Form.io, Form editor
