Repository bcgov/SIMS, pull requests merged in 2025-04, with the labels that each got.

#4557 #4549 - Bugfix on approving the student appeal
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.aest.controller.approveStudentAppealRequests.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
Labels: Bug, SIMS-Api, E2E/Unit tests

#4540 #4489 - Formio Changes: Split FT/PT within PY
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1743092382093-AddOfferingIntensityColumn.ts
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Add-offering-intensity-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Rollback-add-offering-intensity-column.sql
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/web/src/components/aest/students/ApplicationHeaderTitle.vue
  sources/packages/web/src/composables/useOffering.ts
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/views/student/financial-aid-application/StudentApplication.vue
Labels: Student, SIMS-Api, DB, Web portal

#4560 #4510 - Cherry Pick from Hotfix - Sequential assessment and PY totals bug fix
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/cancel-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-workflowWrapUp.e2e-spec.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
Labels: Camunda Workers, E2E/Unit tests, Branch Sync-up

#4568 #284 - Cherry pick commits for V2.7 from main
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.aest.controller.approveStudentAppealRequests.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/cancel-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-factory.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/assessment-data-inputs.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/data-inputs.models.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/students-inputs.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/workflow-data-input.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-workflowWrapUp.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/models/ier12-integration.model.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/services/src/constants/restriction.constants.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/libs/utilities/src/integration-utils.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
Labels: Branch Sync-up, Release Branch Merge

#4564 #4489 - Add Offering Intensity Column Migration Update
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Add-offering-intensity-column.sql
Labels: DB

#4573 #4489 - Formio Changes: Split FT/PT form Updates Fix
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Bug, Form.io

#4575 #4578 - Update Content - Gross Income
  sources/packages/forms/src/form-definitions/partnerinformationandincomeappeal.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Bug, Content

#4565 #4431 - Student View change request revamp - Application Submission
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/application/application.service.ts
  sources/packages/web/src/constants/error-code.constants.ts
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/StudentRoutes.ts
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/student/StudentApplicationSummary.vue
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: SIMS-Api, Queue Consumers, Web portal

#4581 #4412 - Update study period overlap content
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.createApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.submitApplication.e2e-spec.ts
  sources/packages/backend/apps/api/src/utilities/application-utils.ts
Labels: Student, Content, SIMS-Api

#4580 #4511 - DB Migration and populate institution type on API response
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.createOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.updateProgramOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1743799586745-OfferingAddOnlineInstructionColumns.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Add-online-instruction-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationProgramsOfferings/Rollback-add-online-instruction-columns.sql
  sources/packages/backend/libs/sims-db/src/entities/education-program-offering.model.ts
  sources/packages/web/src/components/common/OfferingForm.vue
  sources/packages/web/src/components/common/OfferingFormSubmit.vue
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/views/institution/locations/offerings/OfferingCreate.vue
Labels: SIMS-Api, DB, Web portal

#4586 #4585 - Update content
  sources/packages/web/src/views/aest/institution/PendingDesignation.vue
Labels: Content

#4582 #4489 - Formio Changes: Split FT/PT within form - Clean Backend Code
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.createApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.submitApplication.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/program-info-request/program-info-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Add-offering-intensity-column.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sims-to-sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sims-to-sfas.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/web/src/composables/useApplication.ts
Labels: SIMS-Api

#4592 #4489 - Formio Changes: Split FT/PT [Bug Fix]
  sources/packages/web/src/components/common/StudentApplication.vue
Labels: Bug

#4597 #4596 - Update Architecture Diagram
  README.md
  docs/assets/SIMSArchitecture2024.jpg
  docs/assets/SIMSArchitecture2025.png
Labels: Documentation

#4589 #4431 - Student View change request revamp - Tracker Card
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.institutions.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentApplicationSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application-edit-status.type.ts
  sources/packages/web/src/components/common/applicationTracker/ApplicationInProgressChangeRequest.vue
  sources/packages/web/src/components/common/applicationTracker/Completed.vue
  sources/packages/web/src/components/students/StudentApplicationsExtendedSummary.vue
  sources/packages/web/src/components/students/StudentApplicationsVersion.vue
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/views/student/StudentApplicationDetails.vue
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: Student, SIMS-Api, Camunda Workers, Web portal

#4602 #4431 - Student View change request revamp - Fix Partner Submission
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/forms/src/form-definitions/studentrequestchange.json
Labels: Bug, SIMS-Api

#4583 #3394 - Enable Search & Filter on Institution PIR queue
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/program-info-request/models/program-info-request.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/program-info-request/program-info-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/utilities/datatable-config.ts
  sources/packages/web/src/services/ProgramInfoRequestService.ts
  sources/packages/web/src/services/http/ProgramInfoRequestApi.ts
  sources/packages/web/src/services/http/dto/ProgramInfoRequest.dto.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/views/institution/locations/program-info-request/LocationProgramInfoRequestSummary.vue
Labels: Institution, SIMS-Api

#4601 #4511 - Offering data collection - API Validation and Form Inputs
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.createOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/custom-validators/program-allows-offering-wil.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-import-csv.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering-validation.models.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/institution-location/institution-location.service.ts
  sources/packages/backend/apps/api/src/utilities/class-validation/custom-validators/allow-if.ts
  sources/packages/backend/apps/api/src/utilities/class-validation/custom-validators/is-number-greater-than.ts
  sources/packages/backend/apps/api/src/utilities/class-validation/index.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/forms/src/form-definitions/educationprogramoffering.json
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/views/institution/locations/offerings/OfferingCreate.vue
Labels: SIMS-Api, Form.io, Web portal

#4603 #4545 - Institution Bulk offering upload: Flagging error for CSV formatted file
  sources/packages/web/src/views/institution/OfferingsUpload.vue
  sources/packages/web/src/views/institution/WithdrawalUpload.vue
Labels: Bug

#4604 #4452 - Read-only application view: Remove FAED warning banner
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Form.io

#4608 #4516 - Moratorium on BC Private Programs with Online Program Delivery
  sources/packages/forms/src/form-definitions/educationprogram.json
Labels: Form.io

#4614 #4511 - Offering data collection - E2E Tests and Form content duplication fix
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.createOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.updateProgramOffering.e2e-spec.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/institution/basic-seeding/create-institutions-and-authentication-users.model.ts
  sources/packages/forms/src/form-definitions/educationprogramoffering.json
Labels: Form.io, E2E/Unit tests

#4613 #4489 - Formio Changes: Split FT/PT within PY [Bug Fix]
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.institutions.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/views/aest/StudentApplicationView.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentApplicationView.vue
Labels: Bug, SIMS-Api, Web portal

#4612 #4431 - Student View change request revamp - E2E Tests
  sims.code-workspace
  sources/packages/backend/apps/api/src/auth/guards/student/sin-validation.guard.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.applicationCancelChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.applicationChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/test-db-seeding/src/clean-db/clean-db.ts
  sources/packages/backend/package.json
Labels: Student, SIMS-Api, E2E/Unit tests

#4618 #4431 - Student View change request revamp - Tracker Card API E2E tests
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getCompletedApplicationDetails.e2e-spec.ts
Labels: Student, SIMS-Api, E2E/Unit tests

#4621 #4619 - Hotfix - Student reported income fix
  sources/packages/backend/apps/workers/src/controllers/cra-integration/cra-integration.controller.ts
  sources/packages/backend/apps/workers/src/services/cra-income-verification/cra-income-verification.service.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
Labels: Bug, Camunda Workers, Hotfix

#4624 #4619 - Cherry pick from Release2.7.1 - Student CRA reported income fix
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-loadAssessmentConsolidatedData.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/load-assessment-consolidated-data-factory.ts
  sources/packages/backend/apps/workers/src/controllers/cra-integration/cra-integration.controller.ts
  sources/packages/backend/apps/workers/src/services/cra-income-verification/cra-income-verification.service.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/test-utils/src/factories/cra-income-verification.ts
Labels: Camunda Workers, E2E/Unit tests, Branch Sync-up

#4626 #4619 - Cherry pick from main - Student CRA reported income fix
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-loadAssessmentConsolidatedData.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/load-assessment-consolidated-data-factory.ts
  sources/packages/backend/apps/workers/src/controllers/cra-integration/cra-integration.controller.ts
  sources/packages/backend/apps/workers/src/services/cra-income-verification/cra-income-verification.service.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/test-utils/src/factories/cra-income-verification.ts
Labels: Camunda Workers, E2E/Unit tests, Branch Sync-up

#4632 #4631 - Content: Punctuation Updates
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
  sources/packages/web/src/views/institution/designations/ManageDesignations.vue
Labels: Student, Institution, Content

#4629 #4520 - Formio split part-1
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/backend/apps/api/src/dynamic-form-configuration.module.ts
  sources/packages/backend/apps/api/src/services/dynamic-form-configuration/dynamic-form-configuration.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1745432641611-CreateDynamicFormConfigurationsTable.ts
  sources/packages/backend/apps/db-migrations/src/sql/DynamicFormConfigurations/Create-dynamic-form-configurations-table.sql
  sources/packages/backend/apps/db-migrations/src/sql/DynamicFormConfigurations/Insert-dynamic-form-configurations-2021-2022.sql
  sources/packages/backend/apps/db-migrations/src/sql/DynamicFormConfigurations/Insert-dynamic-form-configurations-2022-2023.sql
  sources/packages/backend/apps/db-migrations/src/sql/DynamicFormConfigurations/Insert-dynamic-form-configurations-2023-2024.sql
  sources/packages/backend/apps/db-migrations/src/sql/DynamicFormConfigurations/Insert-dynamic-form-configurations-2024-2025.sql
  sources/packages/backend/apps/db-migrations/src/sql/DynamicFormConfigurations/Insert-dynamic-form-configurations-2025-2026.sql
  sources/packages/backend/apps/db-migrations/src/sql/DynamicFormConfigurations/Rollback-create-dynamic-form-configurations-table.sql
  sources/packages/backend/libs/sims-db/src/constant.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/sims-db/src/entities/dynamic-form-configuration.model.ts
  sources/packages/backend/libs/sims-db/src/entities/dynamic-form-type.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
Labels: SIMS-Api, DB

#4628 #4616 - Ministry View Change Request Revamp (Application view menu)
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationOverallDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/models/supporting-user.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.aest.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/web/src/components/layouts/aest/AESTApplicationSideBar.vue
  sources/packages/web/src/composables/useApplication.ts
  sources/packages/web/src/services/SupportingUserService.ts
  sources/packages/web/src/services/http/SupportingUserApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/services/http/dto/SupportingUser.dto.ts
  sources/packages/web/src/types/contracts/Common.ts
Labels: Ministry, SIMS-Api, Web portal

#4641 #4244 - Content: Update Create Profile Declaration
  sources/packages/forms/src/form-definitions/studentprofile.json
Labels: Content, Form.io

#4634 #4607 - Dependabot Package Updates - NestJS / typeorm
  sources/packages/backend/apps/workers/src/zeebe/zeebe-transport-strategy.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Dependencies, Devops

#4642 #3317 - Update designation request page titles
  sources/packages/web/src/views/aest/institution/PendingDesignation.vue
Labels: Ministry, Content, Web portal

#4649 #4648 - Update Prune GH Action
  .github/workflows/prune-images.yml
Labels: Devops, Technical Debt

#4650 #4648 - Updates default environment for GH Prune Action
  .github/workflows/prune-images.yml
Labels: Technical Debt, Dev & Architecture

#4644 #4244 - Update create profile declarations
  sources/packages/forms/src/form-definitions/studentprofile.json
Labels: Student, Content

#4647 #3319 - Update content for institution change request
  sources/packages/web/src/components/layouts/aest/AESTHomeSideBar.vue
  sources/packages/web/src/views/aest/institution/ViewPendingOfferingChangeRequests.vue
Labels: Ministry, Content

#4639 #4520 - FormIO split part-2
  sources/packages/backend/apps/api/src/dynamic-form-configuration.module.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.applicationChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/dynamic-form-configuration/dynamic-form-configuration.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/dynamic-form-configuration/models/dynamic-form-configuration.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/program-year/_tests_/e2e/program-year.students.controller.getProgramYearById.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/program-year/models/program-year.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/program-year/program-year.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/dynamic-form-configuration/dynamic-form-configuration.service.ts
  sources/packages/backend/apps/api/src/services/supporting-user/supporting-user.service.ts
  sources/packages/backend/apps/api/src/testHelpers/index.ts
  sources/packages/backend/apps/api/src/testHelpers/program-year/program-year-helper.ts
  sources/packages/backend/apps/api/src/utilities/program-year-utils.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1745795756523-ProgramYearDropFormNameColumns.ts
  sources/packages/backend/apps/db-migrations/src/sql/ProgramYear/Drop-form-name-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/ProgramYear/Rollback-drop-form-name-columns.sql
  sources/packages/backend/libs/sims-db/src/entities/program-year.model.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/dynamic-form-configuration.ts
  sources/packages/backend/libs/test-utils/src/factories/program-year.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
  sources/packages/web/src/services/DynamicFormConfigurationService.ts
  sources/packages/web/src/services/ProgramYearService.ts
  sources/packages/web/src/services/http/ApiClient.ts
  sources/packages/web/src/services/http/DynamicFormConfigurationApi.ts
  sources/packages/web/src/services/http/ProgramYearApi.ts
  sources/packages/web/src/services/http/dto/DynamicFormConfiguration.dto.ts
  sources/packages/web/src/services/http/dto/ProgramYear.dto.ts
  sources/packages/web/src/services/http/dto/index.ts
  sources/packages/web/src/types/contracts/DynamicFormConfigurationContracts.ts
  sources/packages/web/src/types/index.ts
  sources/packages/web/src/views/student/financial-aid-application/StudentApplication.vue
Labels: SIMS-Api, Form.io, DB, Web portal

#4654 #4653 - Add concurrency to build all
  .github/workflows/release-build-all.yml
Labels: Devops, Technical Debt
