Repository bcgov/SIMS, pull requests merged in 2025-05, with the labels that each got.

#4660 #4501 - BUG: COE Query Impacting Count and Record Visibility
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/COESummaryData.vue
Labels: Bug

#4658 #4520 - FormIO 2025-26 PT Form - Remove dynamic logic
  sources/packages/backend/apps/api/src/route-controllers/dynamic-form-configuration/_tests_/e2e/dynamic-form-configuration.controller.getDynamicFormConfiguration.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/dynamic-form-configuration/dynamic-form-configuration.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/testHelpers/program-year/program-year-helper.ts
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
Labels: SIMS-Api, Form.io, E2E/Unit tests

#4651 #4517 - Bypass partner declaration exception (DV)
  sources/packages/backend/apps/db-migrations/src/migrations/1745962287131-AddRelationshipStatusMarriedUnable.ts
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-relationship-status-married-unable.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-add-relationship-status-married-unable.sql
  sources/packages/backend/libs/sims-db/src/entities/relationship-status.type.ts
  sources/packages/backend/libs/utilities/src/esdc-utils.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/studentexceptions.json
  sources/packages/web/src/assets/css/formio-shared.scss
Labels: Student, SIMS-Api, Form.io

#4662 #4657 - Remove permanent residency exception
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
Labels: Student, Form.io

#4670 #4517 - Bypass partner declaration exception (DV) - E2E/Unit Tests
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/parsers/full-time-e-cert-record-parser.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/parsers/part-time-e-cert-record-parser.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/utilities/src/_tests_/unit/esdc-utils.getMaritalStatusCode.spec.ts
  sources/packages/backend/libs/utilities/src/_tests_/unit/esdc-utils.getPartTimeMaritalStatusCode.spec.ts
Labels: Queue Consumers, E2E/Unit tests

#4671 #4520 - Remove dynamic logic from SFAA2025-26 FT
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
Labels: Form.io

#4672 #4328 - Student Profile - Bridge/Legacy Matching Management - Display Existing Match if exists
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.aest.controller.getStudentProfile.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/libs/sims-db/src/entities/student.model.ts
  sources/packages/backend/libs/test-utils/src/factories/sfas-individuals.ts
  sources/packages/web/src/components/common/students/StudentProfile.vue
  sources/packages/web/src/composables/useFormatters.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/types/contracts/StudentContract.ts
Labels: Ministry, SIMS-Api, E2E/Unit tests, Web portal

#4679 #4520 - FormIO split final part - cleanup and backward compatibility
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.createApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.submitApplication.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sims-to-sfas-integration.scheduler.e2e-spec.ts
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/web/src/components/common/StudentApplication.vue
  sources/packages/web/src/components/generic/formio.vue
  sources/packages/web/src/types/contracts/student/ApplicationContract.ts
  sources/packages/web/src/views/aest/StudentApplicationView.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentApplicationView.vue
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: SIMS-Api, Form.io, E2E/Unit tests, Web portal

#4640 #4307 - PT Assessment Updates: Program Year 25/26
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.models.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/services/src/students-assessments/student-assessment.model.ts
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-decisions.dmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-configure-disbursement.bpmn
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/costs/parttime-assessment-costs-program-related-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/costs/parttime-assessment-costs-total-academic-expenses.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/disbursements/parttime-assessment-disbursements.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/eligibility/parttime-assessment-eligibility-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/eligibility/parttime-assessment-eligibility-SBSD.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: Camunda Workers, Camunda Worflow

#4682 #4328 - Student Profile - Bridge/Legacy Matching Management - Student Link
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/libs/services/src/sfas/sfas-individual.service.ts
  sources/packages/web/src/components/aest/students/modals/StudentProfileLegacyMatchesModal.vue
  sources/packages/web/src/components/common/students/StudentProfile.vue
  sources/packages/web/src/components/common/students/StudentProfileLegacyMatches.vue
  sources/packages/web/src/services/StudentService.ts
  sources/packages/web/src/services/http/StudentApi.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/views/aest/student/Profile.vue
Labels: Ministry, SIMS-Api, Web portal

#4683 #4328 - Student Profile - Bridge/Legacy Matching Management - E2E Tests
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.aest.controller.associateLegacyStudent.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.aest.controller.getStudentLegacyMatches.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/factories/sfas-restriction.ts
  sources/packages/backend/libs/test-utils/src/index.ts
Labels: Ministry, SIMS-Api, E2E/Unit tests

#4674 #4490 - FormIO - Enable Editor in Test
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/constants/class-validator-constants.ts
  sources/packages/backend/apps/api/src/main.ts
  sources/packages/backend/apps/api/src/route-controllers/dynamic-form/dynamic-form.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/dynamic-form/dynamic-form.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/dynamic-form/models/form.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/services/form/form.service.models.ts
  sources/packages/backend/apps/api/src/services/form/form.service.ts
  sources/packages/web/index.html
  sources/packages/web/nginx/default.conf.dev.template
  sources/packages/web/nginx/default.conf.template
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/assets/css/formio-shared.scss
  sources/packages/web/src/assets/css/primevue-override.scss
  sources/packages/web/src/components/layouts/aest/AESTApplicationSideBar.vue
  sources/packages/web/src/components/layouts/aest/AESTHomeSideBar.vue
  sources/packages/web/src/composables/useFileUtils.ts
  sources/packages/web/src/composables/useFormioUtils.ts
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/plugins/vuetify.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/services/http/DynamicForms.ts
  sources/packages/web/src/services/http/dto/Form.dto.ts
  sources/packages/web/src/services/http/dto/index.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/types/formio/custom-components/headers/header-large.ts
  sources/packages/web/src/types/formio/custom-components/headers/header-medium.ts
  sources/packages/web/src/types/formio/custom-components/headers/header-small.ts
  sources/packages/web/src/types/formio/custom-components/index.ts
  sources/packages/web/src/types/formio/custom-components/process/application-exception.ts
  sources/packages/web/src/types/formio/custom-components/sims-components.ts
  sources/packages/web/src/types/formio/formio-builder.ts
  sources/packages/web/src/types/formio/formio.ts
  sources/packages/web/src/types/formio/index.ts
  sources/packages/web/src/views/aest/FormioEditor.vue
Labels: SIMS-Api, Form.io, Web portal, Form editor

#4687 #4484 - CAS - Update Batch Name and Invoice Number
  .vscode/launch.json
  sims.code-workspace
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-invoices-batches-creation.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-invoice-batch/cas-invoice-batch.service.ts
  sources/packages/backend/libs/utilities/src/_tests_/unit/date-utils.getFiscalYear.spec.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
  sources/packages/backend/package.json
Labels: Queue Consumers, E2E/Unit tests

#4691 #4617 - Ministry View Application Change Request (UI)
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.institutions.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/web/src/components/aest/students/modals/AssessApplicationChangeRequestModal.vue
  sources/packages/web/src/services/ApplicationChangeRequestService.ts
  sources/packages/web/src/services/http/ApiClient.ts
  sources/packages/web/src/services/http/ApplicationChangeRequestApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/services/http/dto/ApplicationChangeRequest.dto.ts
  sources/packages/web/src/services/http/dto/index.ts
  sources/packages/web/src/views/aest/StudentApplicationView.vue
Labels: Ministry, SIMS-Api, E2E/Unit tests, Web portal

#4695 #4490 - FormIO - Enable Editor in Test & PR Process - Fixes and Improvements
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/web/nginx/default.conf.dev.template
  sources/packages/web/nginx/default.conf.template
  sources/packages/web/src/components/generic/formio.vue
  sources/packages/web/src/composables/useFormioUtils.ts
  sources/packages/web/src/views/aest/FormioEditor.vue
Labels: Ministry, Form.io, Web portal, Form editor

#4697 #4317 - Application welcome page update - Change request
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
  sources/packages/web/src/assets/css/formio-shared.scss
  sources/packages/web/src/components/common/StudentApplication.vue
  sources/packages/web/src/types/contracts/student/ApplicationContract.ts
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: SIMS-Api, Form.io, Web portal

#4698 #4690 - Update Deploy-All to use tag Git Reference - Build-ref Fallback
  .github/workflows/release-deploy-all.yml
Labels: Devops

#4702 #4317 - Form definition update for Student Application forms - New Editor
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
Labels: Form.io

#4703 #4690 - Update Deploy-All to use tag gitreference - Added the env to the new job step
  .github/workflows/release-deploy-all.yml
Labels: Devops

#4694 #4627 - Add Links to BC Private Designation Agreement
  sources/packages/forms/src/form-definitions/designationagreementdetails.json
Labels: Form.io, Form editor

#4704 #4690 - Update Deploy-All to use tag gitreference
  .github/workflows/release-deploy-all.yml
Labels: Devops

#4709 #4707 - Change to CSGD eligibility and 2 workflows for calculation
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGD.e2e-spec.ts
Labels: E2E/Unit tests, Camunda Worflow

#4713 #4707 - Cherry Pick to 2.9
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGD.e2e-spec.ts
Labels: Branch Sync-up

#4714 #4707 - Cherry Pick to main
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/eligibility/parttime-assessment-eligibility-CSGD.e2e-spec.ts
Labels: Branch Sync-up

#4716 #4715 - Update Deploy-All Workflow
  .github/workflows/release-deploy-all.yml
Labels: Devops

#4693 #4617 - Ministry View Change Request (API)
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/application-change-request/application-change-request.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-change-request/models/application-change-request.dto.ts
  sources/packages/backend/apps/api/src/services/application-change-request/application-change-request.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/libs/services/src/constants/error-code.constants.ts
  sources/packages/backend/libs/services/src/workflow/workflow-client.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
  sources/packages/backend/workflow/test/test-utils/mock/assessment-gateway/application-change-request-approval-task-mock.ts
  sources/packages/web/src/components/aest/students/modals/AssessApplicationChangeRequestModal.vue
  sources/packages/web/src/components/layouts/aest/AESTApplicationSideBar.vue
  sources/packages/web/src/composables/useEmitterEvents.ts
  sources/packages/web/src/constants/error-code.constants.ts
  sources/packages/web/src/views/aest/StudentApplicationView.vue
Labels: Ministry, SIMS-Api, Camunda Worflow, Web portal

#4678 #4377 - Updated the DMN and 25-26 BPMN for FT
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-decisions.dmn
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/appeals/fulltime-assessment-PDPPD-status.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/fulltime-assessment.e2e-spec.ts
Labels: Camunda Worflow

#4724 #4701 - Update form definitions with form editor
  sources/packages/forms/src/form-definitions/confirmsstudentenrollment.json
  sources/packages/forms/src/form-definitions/educationprogram.json
  sources/packages/forms/src/form-definitions/educationprogramoffering.json
  sources/packages/forms/src/form-definitions/exportfinancialreports.json
  sources/packages/forms/src/form-definitions/institutionlocation.json
  sources/packages/forms/src/form-definitions/institutionprofile.json
  sources/packages/forms/src/form-definitions/institutionprofilecreation.json
  sources/packages/forms/src/form-definitions/institutionuserprofile.json
  sources/packages/forms/src/form-definitions/institutionwelcomepage.json
  sources/packages/forms/src/form-definitions/noticeofassessment.json
  sources/packages/forms/src/form-definitions/partnerinformationandincomeappeal.json
  sources/packages/forms/src/form-definitions/programinformationrequest.json
  sources/packages/forms/src/form-definitions/reportscholasticstandingchange.json
  sources/packages/forms/src/form-definitions/staffapprovalappeal.json
  sources/packages/forms/src/form-definitions/studentaccountactivity.json
  sources/packages/forms/src/form-definitions/studentadditionaltransportationappeal.json
  sources/packages/forms/src/form-definitions/studentdependantsappeal.json
  sources/packages/forms/src/form-definitions/studentdisabilityappeal.json
  sources/packages/forms/src/form-definitions/studentexceptions.json
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
  sources/packages/forms/src/form-definitions/studentprofile.json
  sources/packages/forms/src/form-definitions/studentrequestchange.json
  sources/packages/forms/src/form-definitions/studentwelcomepage.json
  sources/packages/forms/src/form-definitions/supportingusersdashboard.json
  sources/packages/forms/src/form-definitions/supportingusersparent2022-2023.json
  sources/packages/forms/src/form-definitions/supportingusersparent2024-2025.json
  sources/packages/forms/src/form-definitions/supportingusersparent2025-2026.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2024-2025.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2025-2026.json
  sources/packages/forms/src/form-definitions/uploadstudentdocuments.json
  sources/packages/forms/src/form-definitions/uploadstudentdocumentsaest.json
Labels: Form.io, Form editor

#4681 #4567 - Ministry View Change Request Revamp (Ministry List UI)
  sources/packages/backend/apps/api/src/route-controllers/application-change-request/application-change-request.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-change-request/models/application-change-request.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
  sources/packages/backend/apps/api/src/services/application-change-request/application-change-request.service.ts
  sources/packages/web/src/components/layouts/aest/AESTHomeSideBar.vue
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/services/ApplicationChangeRequestService.ts
  sources/packages/web/src/services/http/ApplicationChangeRequestApi.ts
  sources/packages/web/src/services/http/dto/ApplicationChangeRequest.dto.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/views/aest/student/ApplicationChangeRequests.vue
  sources/packages/web/src/views/aest/student/StudentApplicationAppeals.vue
Labels: SIMS-Api, Web portal

#4728 #4727 - Add OpenShift Spec to Crunchy-PostGres configuration
  devops/helm/crunchy-postgres/templates/PostgresCluster.yaml
Labels: Devops, Dev & Architecture

#4718 #4617 - Ministry View Change Request Revamp (approval and denial) - E2E tests
  sources/packages/backend/apps/api/src/route-controllers/application-change-request/_tests_/e2e/application-change-request.aest.controller.assessApplicationChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/application-change-request/application-change-request.service.ts
  sources/packages/web/src/components/aest/students/modals/AssessApplicationChangeRequestModal.vue
  sources/packages/web/src/views/aest/StudentApplicationView.vue
Labels: Ministry, SIMS-Api, E2E/Unit tests

#4735 #4722 - Fix JSON for SFAA 25/26 Forms
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
Labels: Form.io, Form editor

#4736 #4579 - Content Hodge Podge
  sources/packages/forms/src/form-definitions/partnerinformationandincomeappeal.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
  sources/packages/forms/src/form-definitions/supportingusersdashboard.json
  sources/packages/web/src/views/aest/institution/OfferingChangeRequests.vue
  sources/packages/web/src/views/aest/student/ApplicationChangeRequests.vue
  sources/packages/web/src/views/aest/student/StudentApplicationAppeals.vue
Labels: Content, Form.io, Form editor

#4720 #3798 - Change to FT form to add two questions.
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
Labels: Form.io, Form editor

#4739 #4438 - MSFAA Sequence Group update
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-helper.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-process-integration.scheduler.models.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-request.processing.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa.integration.service.ts
Labels: Queue Consumers, E2E/Unit tests, Integration

#4746 #4708 - PT Assessment Fix - Workflow and E2E Tests Updated
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
Labels: Camunda Worflow

#4733 #4567 - Ministry View Change Request Revamp (Ministry List UI) - part 3 E2E tests
  sources/packages/backend/apps/api/src/route-controllers/application-change-request/_tests_/e2e/application-change-request.aest.controller.getApplicationChangeRequests.e2e-spec.ts
Labels: SIMS-Api, E2E/Unit tests

#4750 #4445 - Program deactivate action bug fix
  sources/packages/web/src/components/common/ProgramDetails.vue
Labels: Web portal

#4749 #4748 - 25/26 PY PT: Books and Supplies not displayed in assessed costs table
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSLP.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/costs/parttime-assessment-costs-program-related-costs.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: Camunda Worflow

#4751 #4652 - PR 1: Convert currency inputs to number-currency
  sources/packages/forms/src/form-definitions/partnerinformationandincomeappeal.json
  sources/packages/forms/src/form-definitions/reportscholasticstandingchange.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/supportingusersparent2024-2025.json
  sources/packages/web/src/types/formio/custom-components/inputs/number-currency.ts
Labels: Form.io, Form editor

#4758 #3870 - Student: FT: Parent Residency Exception
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/studentexceptions.json
Labels: Student, Ministry, Form.io

#4767 #4752 - FT Assessment tests - child care costs
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/costs/fulltime-assessment-costs-child-care-cost.e2e-spec.ts
Labels: E2E/Unit tests

#4759 #4711 - Revise FT application unsuccessful completion weeks count (Part 1)
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.aest.controller.getScholasticStandingSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.institutions.controller.getScholasticStandingSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.students.controller.getScholasticStandingSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/models/student-scholastic-standings.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.controller.service.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.models.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
  sources/packages/backend/libs/services/src/sfas/sfas-individual.service.ts
  sources/packages/web/src/components/common/students/StudentScholasticStandingLimitedHistory.vue
  sources/packages/web/src/services/http/dto/ScholasticStanding.dto.ts
  sources/packages/web/src/views/student/StudentAccountActivity.vue
Labels: Student, Institution, Ministry, SIMS-Api, E2E/Unit tests, Web portal
