Repository bcgov/SIMS, pull requests merged in 2025-09, with the labels that each got.

#5125 #5124 - Student debit subtraction bug
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
Labels: Bug, Camunda Workers

#5108 #4378 - Ecert Cancellation - UI & Ministry Access (2/2)
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.aest.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/disbursement-schedule/disbursement-schedule.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/disbursement-schedule/models/disbursement-schedule.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-schedule.ts
  sources/packages/web/src/components/common/AssessmentAwardDetails.vue
  sources/packages/web/src/components/common/CancelDisbursementSchedule.vue
  sources/packages/web/src/components/common/ConfirmEnrolment.vue
  sources/packages/web/src/components/common/StatusInfoDisbursementCancellation.vue
  sources/packages/web/src/components/common/modals/UserNoteConfirmModal.vue
  sources/packages/web/src/components/common/students/applicationDetails/AssessmentAward.vue
  sources/packages/web/src/composables/useModalDialog.ts
  sources/packages/web/src/services/DisbursementScheduleService.ts
  sources/packages/web/src/services/http/ApiClient.ts
  sources/packages/web/src/services/http/DisbursementScheduleApi.ts
  sources/packages/web/src/services/http/dto/Assessment.dto.ts
  sources/packages/web/src/services/http/dto/DisbursementSchedule.dto.ts
  sources/packages/web/src/services/http/dto/index.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentAward.vue
Labels: SIMS-Api, Web portal

#5134 #5116 - Fix to compare modified independent questions
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
Labels: Form.io, Form editor

#5135 #5124 - Student debit subtraction bug
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
Labels: Bug, Branch Sync-up

#5168 #5160 - BUG: 2.15: PT Exceptions NR: Container inconsistent red edit section highlighting
  sources/packages/web/src/composables/useFormioUtils.ts
  sources/packages/web/src/types/formio/formio.ts
  sources/packages/web/src/views/aest/StudentApplicationView.vue
Labels: Ministry, Web portal

#5171 #5162 - BCAG and CSPT PY Limit (PT 25/26)
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSPT.e2e-spec.ts
Labels: Camunda Worflow

#5199 #2988 - Aviation restriction - ECert validation and add restriction step
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-utils.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/full-time-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/part-time-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-generation.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/add-aviation-credential-restriction-step.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/e-cert-steps-restriction-utils.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/e-cert-steps-utils.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-processing-steps/index.ts
  sources/packages/backend/libs/integrations/src/services/restriction/restriction.service.ts
  sources/packages/backend/libs/services/src/restriction/model/restriction.model.ts
  sources/packages/backend/libs/services/src/restriction/student-restriction-shared.service.ts
  sources/packages/backend/libs/test-utils/src/factories/application-restriction-bypass.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program-offering.ts
  sources/packages/backend/libs/test-utils/src/models/common.model.ts
Labels: Queue Consumers, E2E/Unit tests, Integration

#5210 #4873 - Ministry: ability to delete restrictions - E2E Tests
  sources/packages/backend/apps/api/src/route-controllers/restriction/_tests_/e2e/restriction.aest.controller.deleteStudentProvincialRestriction.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/application-restriction-bypass/application-restriction-bypass.service.ts
  sources/packages/backend/libs/test-utils/src/factories/student-restriction.ts
Labels: Ministry, SIMS-Api, E2E/Unit tests

#5211 #4623 - IER12 Process - Only use current assessment
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-factory.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
Labels: Queue Consumers

#5213 #4726 - Institution based BETA - Backend
  .github/workflows/release-deploy-all.yml
  configs/env-example
  devops/Makefile
  devops/openshift/api-deploy.yml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/institution-locations/institution-location.students.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/institution-location/institution-location.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1758903872348-InstitutionLocationsAddColIsBeta.ts
  sources/packages/backend/apps/db-migrations/src/sql/InstitutionLocations/Add-col-is-beta.sql
  sources/packages/backend/apps/db-migrations/src/sql/InstitutionLocations/Rollback-add-col-is-beta.sql
  sources/packages/backend/libs/sims-db/src/entities/institution-location.model.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/tests/Makefile
  sources/tests/docker-compose.yml
Labels: SIMS-Api, Devops, DB
