Repository bcgov/SIMS, pull requests merged in 2025-01, with the labels that each got.

#4193 #3816 - Update to personal information and family information for 2025-2026
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Form.io

#4194 #4132 - Update Form IO (Fix Eligible Amount)
  sources/packages/forms/src/form-definitions/noticeofassessment.json
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: Form.io, Web portal

#4197 #2370 - Institution Read-Only User Type
  sources/packages/backend/apps/db-migrations/src/migrations/1735859368020-AddInstitutionReadOnlyUserType.ts
  sources/packages/backend/apps/db-migrations/src/sql/AuthCodeTables/Add-institution-read-only-user-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/AuthCodeTables/Rollback-add-institution-read-only-user-type.sql
Labels: Institution, DB

#4209 Remove Patroni and backup files and makefile commands from SIMS repository
  devops/Makefile
  devops/openshift/database-backup/backup-build.yaml
  devops/openshift/database-backup/backup-deploy.yaml
  devops/openshift/database-backup/backup-example.conf
  devops/openshift/database-backup/patroni-simsdb-backup.conf
  devops/openshift/database/createdb-job.yml
  devops/openshift/database/patroni-deploy.yml
  devops/openshift/database/patroni-pre-req.yml
  docs/technologies-overview.md
Labels: Devops

#4208 #4202 - Increment Sequence Header PT ECert
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/full-time-e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/part-time-e-cert-file-handler.ts
Labels: Queue Consumers, E2E/Unit tests, Integration, Release Instructions

#4210 #3685 - Convert SIMS Web to deployment object
  devops/Makefile
  devops/openshift/web-deploy.yml
Labels: Devops

#4216 #274 - Merge release v2.2.0 to v2.3.0
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/full-time-e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/part-time-e-cert-file-handler.ts
Labels: Branch Sync-up

#4217 #274 - Merge release v2.3.0 to Main Branch
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/full-time-e-cert-file-handler.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/part-time-e-cert-file-handler.ts
Labels: Branch Sync-up

#4214 #2370 - Institution Read-Only User Type - PR 2
  sources/packages/backend/apps/api/src/auth/_tests_/e2e/auth.e2e-spec.ts
  sources/packages/backend/apps/api/src/auth/user-types.enum.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.institutions.controller.createApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/application-offering-change-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.confirmEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.denyConfirmationOfEnrollment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.createOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.institutions.controller.updateProgramOffering.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.institutions.controller.createEducationProgram.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.institutions.controller.deactivateProgram.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/institution-user/institution-user.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/program-info-request/program-info-request.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.institutions.controller.saveScholasticStanding.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/institution-user-auth/institution-user-auth.models.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/institution-auth-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/institution-token-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/controllers/auth-test/auth-test.controller.ts
  sources/packages/backend/apps/api/src/types/institutionAuth.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/institution/basic-seeding/create-institutions-and-authentication-users.model.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/institution/basic-seeding/create-institutions-and-authentication-users.ts
  sources/packages/backend/libs/sims-db/src/entities/user-types.enum.ts
  sources/packages/backend/libs/test-utils/src/constants/institution.constants.ts
  sources/packages/web/src/types/contracts/institution/InstitutionUser.ts
Labels: Institution, SIMS-Api

#4221 #3815 - Identification of changed information during edit
  .vscode/launch.json
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/jest-unit-tests.json
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/libs/utilities/src/application-data-comparison/_tests_/unit/application-data-comparison.compareApplicationData.spec.ts
  sources/packages/backend/libs/utilities/src/application-data-comparison/application-data-comparison.models.ts
  sources/packages/backend/libs/utilities/src/application-data-comparison/application-data-comparison.ts
  sources/packages/backend/libs/utilities/src/index.ts
  sources/packages/backend/package.json
  sources/packages/web/src/assets/css/formio-shared.scss
  sources/packages/web/src/assets/css/global-style-variables.scss
  sources/packages/web/src/components/common/StudentApplication.vue
  sources/packages/web/src/composables/useFormioUtils.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/types/contracts/ApplicationDataComparison.ts
  sources/packages/web/src/types/formio.ts
  sources/packages/web/src/types/index.ts
  sources/packages/web/src/views/aest/StudentApplicationView.vue
Labels: Ministry, SIMS-Api, Web portal

#4228 #2370 - Institution Read-Only User Type - PR 3
  sources/packages/web/src/router/InstitutionRoutes.ts
Labels: Institution, Web portal

#4231 #3685 - Convert to Deployment - Part 2
  devops/Makefile
  devops/openshift/api-deploy.yml
  devops/openshift/load-test-gateway-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/workers-deploy.yml
Labels: Devops

#4230 #4223 - Student Bridge Match - PPD Status Not Importing
  sources/packages/backend/libs/services/src/sfas/sfas-individual.service.ts
Labels: SIMS-Api

#4233 #3666 - Queue Monitoring - Sysdig Team Update
  .github/workflows/env-setup-sysdig-teams.yml
  devops/Makefile
  devops/openshift/sysdig-team.yml
Labels: Devops, Ad-hoc

#4239 #4024 - SFAS to SIMS Bridge - CSL/BCSL Overawards - PR 1
  sources/packages/backend/apps/db-migrations/src/migrations/1736876400977-SwapCSLOverawardColumnsForSFASIndividuals.ts
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Rollback-update-swap-csl-bcsl-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Update-swap-csl-bcsl-columns.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-files/sfas-individual-record.ts
Labels: Queue Consumers, E2E/Unit tests, DB, Integration

#4245 #3054 - Email notification for blocked disbursement to ministry only once
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/e-cert-integration/e-cert-integration.module.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-calculation-process.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-notification/blocked-disbursement/ministry-blocked-disbursement-notification.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-notification/blocked-disbursement/student-blocked-disbursement-notification.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-notification/e-cert-notification.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-notification/e-cert-notification.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-notification/index.ts
Labels: Ministry, Queue Consumers, E2E/Unit tests

#4232 #4155 - Disbursement Receipt Process - Expectations on Fail
  sources/packages/backend/apps/db-migrations/src/migrations/1736829285653-UpdateDailyDisbursementFileZeroRecords.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1736831116079-UpdateDisbursementReceiptsFileCron.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-update-disbursement-receipts-file-cron.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Update-disbursement-receipts-file-cron.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Rollback-update-daily-disbursement-file-zero-records.sql
  sources/packages/backend/apps/db-migrations/src/sql/Reports/Update-daily-disbursement-file-zero-records.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/disbursement-receipts-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/e-cert-feedback-files/EDU.PBC.DIS-non-matching-records.txt
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt.processing.service.ts
Labels: Queue Consumers, E2E/Unit tests, DB, Integration

#4250 #3984 - BUG: Ministry - Change Request Form submitted by Student not displaying Year
  sources/packages/forms/src/form-definitions/partnerinformationandincomeappeal.json
  sources/packages/forms/src/form-definitions/studentadditionaltransportationappeal.json
  sources/packages/forms/src/form-definitions/studentdependantsappeal.json
  sources/packages/forms/src/form-definitions/studentdisabilityappeal.json
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
Labels: Bug, Student, Ministry, Form.io

#4249 #3792 - Student: FT Residency exception for dependant students
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Student, Form.io

#4256 #3685 - Convert FormIO to deployment and update fetch old tags script
  devops/Makefile
  devops/openshift/forms-deploy.yml
  devops/scripts/fetchOldTags.sh
Labels: Devops

#4259 #3054 - Email notification for blocked disbursement to ministry only once - Change log hierarchy
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/e-cert-calculation/e-cert-calculation-process.ts
Labels: Bug, Queue Consumers, Ad-hoc

#4251 #4024 - SFAS to SIMS Bridge - CSL/BCSL Overawards - PR 2
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/_test_/e2e/student-account-application.aest.controller.approveStudentAccountApplication.e2e-spec.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1736973127750-DeleteLegacyOverawardRecordsDisbursementOverawards.ts
  sources/packages/backend/apps/db-migrations/src/sql/DisbursementOverawards/Delete-legacy-overawards-records.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-VALID-INDIVIDUAL-RECORD-OVERAWARD.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
Labels: SIMS-Api, E2E/Unit tests, DB

#4261 #3792 - Student: FT Residency exception for dependant students - Residency information logic fix
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Student, Form.io

#4265 #3851 - Student: Family Information Tab Revisions
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Student, Form.io

#4267 #4262 - Fix part-time family size variables DMN
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-decisions.dmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/eligibility/parttime-assessment-eligibility-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/eligibility/parttime-assessment-eligibility-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/eligibility/parttime-assessment-eligibility-CSPT.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/eligibility/parttime-assessment-eligibility-CSPT.e2e-spec.ts
Labels: E2E/Unit tests, Camunda Worflow

#4273 #3929 - Student Parent Self report content updates
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Form.io

#4274 #3315 - Content: Ministry: Student Requests Exceptions
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.getPendingApplicationExceptions.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/application-exception.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/models/application-exception.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
  sources/packages/backend/apps/api/src/services/application-exception/application-exception.service.ts
  sources/packages/web/src/services/http/dto/ApplicationException.dto.ts
  sources/packages/web/src/views/aest/student/StudentApplicationExceptions.vue
Labels: Ministry, Content, SIMS-Api, Web portal

#4269 #3313 - Content: Ministry: Accounts
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/models/student-account-application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/student-account-application.aest.controller.ts
  sources/packages/backend/apps/api/src/services/student-account-applications/student-account-applications.models.ts
  sources/packages/backend/apps/api/src/services/student-account-applications/student-account-applications.service.ts
  sources/packages/web/src/services/http/dto/StudentAccountApplication.dto.ts
  sources/packages/web/src/views/aest/student/StudentAccountApplications.vue
Labels: User Story, Ministry, Content, SIMS-Api, Web portal

#4278 #4023 - Additional transportation and bc residency uploaders is mandatory
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
  sources/packages/forms/src/form-definitions/studentadditionaltransportationappeal.json
Labels: Enhancement, User Story, Form.io

#4272 #3900 - Small screen responsiveness: Top Menu Nav Hamburger
  sources/packages/web/src/components/generic/ModalDialogBase.vue
  sources/packages/web/src/views/student/AppStudent.vue
Labels: Student, Web portal

#4284 #276 - Main merged to v2.4.0
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
  sources/packages/forms/src/form-definitions/studentadditionaltransportationappeal.json
  sources/packages/web/src/components/generic/ModalDialogBase.vue
  sources/packages/web/src/views/student/AppStudent.vue
Labels: Branch Sync-up

#4285 #3067 - Assessment History: Update to show most recent assessment
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/web/src/components/aest/students/assessment/History.vue
Labels: Student, Institution, Ministry, Web portal

#4299 #3594 - Email to Student - 2nd Disbursement has passed, still pending (Part 1)
  sources/packages/backend/apps/db-migrations/src/migrations/1738021154711-InsertStudentNotificationSecondDisbursementReminder.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-student-notification-second-disbursement-reminder.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Rollback-insert-student-notification-second-disbursement-reminder.sql
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: Student, Institution, DB

#4292 #4253 - Upgrade Redis Version and increase Memory - Part 1
  .github/workflows/redis-cluster.yml
  devops/helm/redis-cluster/.helmignore
  devops/helm/redis-cluster/Chart.lock
  devops/helm/redis-cluster/Chart.yaml
  devops/helm/redis-cluster/Makefile
  devops/helm/redis-cluster/README.md
  devops/helm/redis-cluster/templates/NOTES.txt
  devops/helm/redis-cluster/templates/_helpers.tpl
  devops/helm/redis-cluster/templates/configmap.yaml
  devops/helm/redis-cluster/templates/extra-list.yaml
  devops/helm/redis-cluster/templates/headless-svc.yaml
  devops/helm/redis-cluster/templates/networkpolicy.yaml
  devops/helm/redis-cluster/templates/poddisruptionbudget.yaml
  devops/helm/redis-cluster/templates/psp.yaml
  devops/helm/redis-cluster/templates/redis-role.yaml
  devops/helm/redis-cluster/templates/redis-rolebinding.yaml
  devops/helm/redis-cluster/templates/redis-serviceaccount.yaml
  devops/helm/redis-cluster/templates/redis-statefulset.yaml
  devops/helm/redis-cluster/templates/redis-svc.yaml
  devops/helm/redis-cluster/templates/scripts-configmap.yaml
  devops/helm/redis-cluster/templates/secret.yaml
  devops/helm/redis-cluster/templates/svc-binding-secret.yaml
  devops/helm/redis-cluster/templates/svc-cluster-external-access.yaml
  devops/helm/redis-cluster/templates/tls-secret.yaml
  devops/helm/redis-cluster/templates/update-cluster.yaml
  devops/helm/redis-cluster/values-0c27fb-dev.yaml
  devops/helm/redis-cluster/values-0c27fb-prod.yaml
  devops/helm/redis-cluster/values-0c27fb-test.yaml
  devops/helm/redis-cluster/values-a6ef19-dev.yaml
  devops/helm/redis-cluster/values-a6ef19-prod.yaml
  devops/helm/redis-cluster/values-a6ef19-test.yaml
  devops/helm/redis-cluster/values.yaml
  devops/openshift/api-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/workers-deploy.yml
Labels: Devops

#4295 #4270 - SFAS Bridge Expansion DB Migrations
  sims.code-workspace
  sources/packages/backend/apps/db-migrations/src/migrations/1737940640486-CreateSFASApplicationDependants.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1737943189736-CreateSFASApplicationDisbursements.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1737984188896-SFASIndividualsAddDataExpansionColumns.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1738010715945-SFASApplicationsAddDataExpansionColumns.ts
  sources/packages/backend/apps/db-migrations/src/sql/SFASApplicationDependants/Create-sfas-application-dependants.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASApplicationDependants/Rollback-create-sfas-application-dependants.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASApplicationDisbursements/Create-sfas-application-disbursements.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASApplicationDisbursements/Rollback-create-sfas-application-disbursements.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASApplications/Add-data-expansion-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASApplications/Rollback-add-data-expansion-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Add-data-expansion-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Rollback-add-data-expansion-columns.sql
  sources/packages/backend/libs/sims-db/src/constant.ts
  sources/packages/backend/libs/sims-db/src/data-source.ts
  sources/packages/backend/libs/sims-db/src/entities/index.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-application-dependant.model.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-application-disbursement.model.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-individual.model.ts
Labels: DB

#4304 #4240 - Fix Unfunded Study Period Days (0 error)
  sources/packages/forms/src/form-definitions/educationprogramoffering.json
Labels: Bug, Institution, Form.io, Web portal

#4297 #3254 - CAS AP Invoice - Invoices and Batches - Scheduler
  sources/packages/backend/apps/db-migrations/src/migrations/1738006674395-AddQueueCASInvoicesBatchesCreation.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-cas-invoices-batches-creation.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-cas-invoices-batches-creation.sql
  sources/packages/backend/apps/queue-consumers/Dockerfile.dev
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-invoices-batches-creation.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/cas-invoices-batches-creation.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-invoice-batch/cas-invoice-batch.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/index.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/aest/basic-seeding/create-cas-distribution-accounts.models.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/aest/basic-seeding/create-cas-distribution-accounts.ts
  sources/packages/backend/apps/test-db-seeding/src/db-seeding/aest/index.ts
  sources/packages/backend/apps/test-db-seeding/src/main.ts
  sources/packages/backend/apps/test-db-seeding/src/test-db-seeding.module.ts
  sources/packages/backend/libs/services/src/sequence-control/sequence-control.service.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
  sources/packages/backend/libs/test-utils/src/factories/cas-distribution-account.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
  sources/packages/backend/package.json
Labels: Queue Consumers, DB

#4303 #3594 - Email to Student - 2nd Disbursement has passed, still pending (Part 2)
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/student-application-notifications/student-application-notifications.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/application/application.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/index.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-application-notification/student-application-notification-processor/index.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-application-notification/student-application-notification-processor/student-pd-ppd-reminder-notification.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-application-notification/student-application-notification-processor/student-second-disbursement-reminder-notification.ts
  sources/packages/backend/apps/queue-consumers/src/services/student-application-notification/student-application-notification.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
Labels: User Story, Institution, Queue Consumers
