Repository bcgov/SIMS, pull requests merged in 2025-03, with the labels that each got.

#4377 #4330 - CAS Invoicing - Send Invoices to CAS and Record Response
  sources/packages/backend/apps/db-migrations/src/migrations/1740093886236-AddQueueCASSendInvoices.ts
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-cas-send-invoices.sql
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Rollback-add-cas-send-invoices.sql
  sources/packages/backend/apps/queue-consumers/src/processors/index.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-send-invoices.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/cas-send-invoices.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/models/cas-integration.dto.ts
  sources/packages/backend/apps/queue-consumers/src/queue-consumers.module.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-invoice/cas-invoice.service.ts
  sources/packages/backend/apps/queue-consumers/src/services/index.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/mock-utils/cas-response.factory.ts
  sources/packages/backend/apps/queue-consumers/test/helpers/mock-utils/cas-service.mock.ts
  sources/packages/backend/libs/integrations/src/cas/_tests_/unit/cas.service.sendPendingInvoices.spec.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/libs/integrations/src/cas/models/cas-service.model.ts
  sources/packages/backend/libs/sims-db/src/entities/cas-invoice-status.type.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
  sources/packages/backend/libs/utilities/src/queue.constant.ts
Labels: Queue Consumers

#4417 #3979 - Remove Help Centre Information from student account activity page and update layout
  sources/packages/forms/src/form-definitions/studentaccountactivity.json
  sources/packages/web/src/components/common/students/StudentAccountRestrictions.vue
  sources/packages/web/src/views/student/StudentAccountActivity.vue
Labels: Enhancement, User Story, Student, Form.io, Web portal

#4421 #4330 - CAS Send Invoice Scheduler Update
  sources/packages/backend/apps/db-migrations/src/sql/Queue/Add-cas-send-invoices.sql
Labels: Queue Consumers

#4423 #4247 - Create Application Versioning (e2e tests)
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.institutions.controller.getApplicationDetails.e2e-spec.ts
Labels: E2E/Unit tests

#4420 #3739 - Release DB Migrations Rollback
  .github/workflows/release-deploy-db-migrations-repl.yml
  devops/Makefile
  devops/openshift/db-migrations-repl.yml
  sources/Makefile
  sources/docker-compose.yml
  sources/packages/backend/apps/api/Dockerfile
  sources/packages/backend/apps/db-migrations/Dockerfile
  sources/packages/backend/apps/db-migrations/Dockerfile.dev
  sources/packages/backend/apps/db-migrations/src/data-source.ts
  sources/packages/backend/apps/db-migrations/src/db-migrations.module.ts
  sources/packages/backend/apps/db-migrations/src/db-migrations.service.ts
  sources/packages/backend/apps/db-migrations/src/main.ts
  sources/packages/backend/apps/db-migrations/src/repl.module.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Devops

#4424 #4397 - Fix CSGD PartTime Variable and calculation
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2022-2023/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
Labels: E2E/Unit tests, Camunda Worflow

#4425 #3949 - BUG: Ministry and Institution: Change awaiting approval status icon only has a black dot and no words... expecting Change awaiting approval
  sources/packages/web/src/components/generic/StatusChipRequestedAssessment.vue
  sources/packages/web/src/composables/useAssessment.ts
Labels: Bug, Ministry, Ad-hoc, Web portal

#4430 #4247 - Revert route changes and parent application (Vue only)
  sources/packages/web/src/components/aest/students/ApplicationHeaderTitle.vue
  sources/packages/web/src/components/aest/students/assessment/ManualReassessment.vue
  sources/packages/web/src/components/aest/students/bypassedRestrictions/HistoryBypassedRestrictions.vue
  sources/packages/web/src/components/common/NoticeOfAssessmentFormView.vue
  sources/packages/web/src/components/common/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/common/students/StudentApplications.vue
  sources/packages/web/src/components/common/students/assessment/History.vue
  sources/packages/web/src/components/common/students/assessment/Request.vue
  sources/packages/web/src/components/layouts/aest/AESTApplicationSideBar.vue
  sources/packages/web/src/views/aest/StudentApplicationView.vue
  sources/packages/web/src/views/aest/student/applicationDetails/ApplicationRestrictionsManagement.vue
  sources/packages/web/src/views/aest/student/applicationDetails/ApplicationStatusTracker.vue
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentAward.vue
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentsSummary.vue
  sources/packages/web/src/views/aest/student/applicationDetails/NoticeOfAssessment.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentApplicationView.vue
  sources/packages/web/src/views/institution/student/applicationDetails/ApplicationExceptions.vue
  sources/packages/web/src/views/institution/student/applicationDetails/AssessmentAward.vue
  sources/packages/web/src/views/institution/student/applicationDetails/InstitutionAssessmentsSummary.vue
  sources/packages/web/src/views/institution/student/applicationDetails/NoticeOfAssessment.vue
  sources/packages/web/src/views/institution/student/applicationDetails/StudentAppealRequest.vue
Labels: Student, Institution, Ministry, Web portal

#4409 #4234 - FT Assessment Updates
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.models.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/services/src/students-assessments/student-assessment.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-decisions.dmn
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BGPD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BGPD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BGPD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BGPD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: Camunda Workers, E2E/Unit tests, Camunda Worflow

#4404 #4271 - Change Request back end assessment workflow new path(edit post COE) - Rename Overwritten to Edited
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.approveException.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/e2e/application-exception.aest.getPendingApplicationExceptions.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application-offering-change-request/_tests_/e2e/application-offering-change-request.students.controller.updateApplicationOfferingChangeRequest.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationVersionHistory.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.institutions.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.aest.controller.manualReassessment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.external.controller.searchStudent.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/application-exception/application-exception.service.ts
  sources/packages/backend/apps/api/src/services/application-restriction-bypass/application-restriction-bypass.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/backend/apps/api/src/services/institution/institution.service.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/apps/api/src/services/student/student-information.service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1740616993301-RenameApplicationOverwrittenToEdited.ts
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rename-application-status-overwritten-to-edited.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-rename-application-status-overwritten-to-edited.sql
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/cancel-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/cancel-application-assessment.processor.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/workflow/_tests_/assessment-workflow-enqueuer.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sims-to-sfas.service.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/services/src/disbursement-schedule/disbursement-schedule-shared.service.ts
  sources/packages/backend/libs/services/src/msfaa-number/msfaa-number-shared.service.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application-status.type.ts
  sources/packages/web/src/components/aest/students/assessment/ManualReassessment.vue
  sources/packages/web/src/types/contracts/student/ApplicationContract.ts
  sources/packages/web/src/views/student/financial-aid-application/FullTimeApplication.vue
Labels: SIMS-Api, DB, Web portal

#4437 #282 - Merge main commits to Release 2.6.0
  bcgovpubcode.yml
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.models.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/services/src/students-assessments/student-assessment.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-decisions.dmn
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BGPD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BGPD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BGPD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BGPD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: Branch Sync-up

#4446 #4390 - CAS Manual Intervention (DB Migration)
  sources/packages/backend/apps/db-migrations/src/migrations/1741385166157-AddCASInvoiceStatusResolved.ts
  sources/packages/backend/apps/db-migrations/src/sql/Types/Add-cas-invoice-status-resolved.sql
  sources/packages/backend/apps/db-migrations/src/sql/Types/Rollback-add-cas-invoice-status-resolved.sql
  sources/packages/backend/libs/sims-db/src/entities/cas-invoice-status.type.ts
Labels: DB

#4443 #4339 - CPU optimization
  .github/workflows/env-setup-deploy-mongo.yml
  .github/workflows/release-deploy-all.yml
  devops/Makefile
  devops/helm/clam-av/_clamav/values.yaml
  devops/helm/clam-av/main/values-0c27fb-dev.yaml
  devops/helm/clam-av/main/values-0c27fb-prod.yaml
  devops/helm/clam-av/main/values-0c27fb-test.yaml
  devops/helm/clam-av/main/values-a6ef19-dev.yaml
  devops/helm/clam-av/main/values-a6ef19-prod.yaml
  devops/helm/clam-av/main/values-a6ef19-test.yaml
  devops/helm/clam-av/main/values.yaml
  devops/helm/crunchy-postgres/values-0c27fb-dev.yaml
  devops/helm/crunchy-postgres/values-0c27fb-prod.yaml
  devops/helm/crunchy-postgres/values-0c27fb-test.yaml
  devops/helm/crunchy-postgres/values-a6ef19-dev.yaml
  devops/helm/crunchy-postgres/values-a6ef19-prod.yaml
  devops/helm/crunchy-postgres/values-a6ef19-test.yaml
  devops/helm/crunchy-postgres/values.yaml
  devops/helm/redis-cluster/Chart.lock
  devops/helm/redis-cluster/values-0c27fb-dev.yaml
  devops/helm/redis-cluster/values-0c27fb-prod.yaml
  devops/helm/redis-cluster/values-0c27fb-test.yaml
  devops/helm/redis-cluster/values-a6ef19-dev.yaml
  devops/helm/redis-cluster/values-a6ef19-prod.yaml
  devops/helm/redis-cluster/values-a6ef19-test.yaml
  devops/openshift/api-deploy.yml
  devops/openshift/database/mongo-ha-param.yml
  devops/openshift/database/mongo-ha.yml
  devops/openshift/database/redis-ha-deploy.yml
  devops/openshift/db-migrations-job.yml
  devops/openshift/db-migrations-repl.yml
  devops/openshift/docker-build.yml
  devops/openshift/forms-build.yml
  devops/openshift/forms-deploy.yml
  devops/openshift/load-test-gateway-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/web-deploy.yml
  devops/openshift/workers-deploy.yml
  sources/packages/backend/package.json
Labels: Devops

#4449 #4362 - FT Application - Values not coming into consolidated data
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2022-2023.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2023-2024.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/test/2022-2023/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/fulltime-assessment.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Form.io, Camunda Worflow

#4444 #2380 - Updated the criteria to get disbursements for ECE request
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/_tests_/e2e/confirmation-of-enrollment.institutions.getCOESummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/confirmation-of-enrollment/confirmation-of-enrollment.institutions.controller.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule.models.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-request/_tests_/ece-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/disbursement-receipt-integration/disbursement-receipt-integration.module.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/confirmation-of-enrollment.service.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/models/confirmation-of-enrollment.models.ts
Labels: SIMS-Api, E2E/Unit tests, Integration

#4455 #4352 - CAS - Status on Approve / Reject Batch Action
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice-batch/_tests_/e2e/cas-invoice-batch.aest.controller.updateCASInvoiceBatch.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice-batch/cas-invoice-batch.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice-batch/models/cas-invoice-batch.dto.ts
  sources/packages/backend/apps/api/src/services/cas-invoice-batch/cas-invoice-batch.service.ts
  sources/packages/web/src/services/CASInvoiceBatchService.ts
  sources/packages/web/src/services/http/CASInvoiceBatchApi.ts
  sources/packages/web/src/services/http/dto/CASInvoiceBatch.dto.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/views/aest/CASInvoices.vue
Labels: Ministry, SIMS-Api, E2E/Unit tests, Integration, Web portal

#4456 #4339 - Memory limit variable added
  .github/workflows/env-setup-deploy-mongo.yml
  .github/workflows/release-deploy-all.yml
  devops/Makefile
  devops/openshift/api-deploy.yml
  devops/openshift/forms-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/web-deploy.yml
  devops/openshift/workers-deploy.yml
Labels: Devops

#4463 #4458 - Fix the overall status API to use application id
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationVersionHistory.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/web/package-lock.json
Labels: SIMS-Api

#4467 #4390 - CAS Manual Intervention: Add `CASInvoiceStatusUpdatedBy` Column
  sources/packages/backend/apps/db-migrations/src/migrations/1741646122852-AddCASInvoiceStatusUpdatedByColumn.ts
  sources/packages/backend/apps/db-migrations/src/sql/CASInvoices/Add-cas-invoice-status-updated-by-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/CASInvoices/Rollback-add-cas-invoice-status-updated-by-column.sql
  sources/packages/backend/apps/queue-consumers/src/services/cas-invoice-batch/cas-invoice-batch.service.ts
  sources/packages/backend/libs/sims-db/src/entities/cas-invoice.model.ts
  sources/packages/backend/libs/test-utils/src/factories/cas-invoice.ts
Labels: DB

#4468 #4339 - Replicas variable added as environment variables in Github
  .github/workflows/release-deploy-all.yml
  devops/Makefile
  devops/helm/clam-av/main/values-a6ef19-test.yaml
  devops/helm/crunchy-postgres/values-a6ef19-test.yaml
  devops/helm/redis-cluster/values-a6ef19-test.yaml
  devops/openshift/api-deploy.yml
  devops/openshift/forms-deploy.yml
  devops/openshift/queue-consumers-deploy.yml
  devops/openshift/web-deploy.yml
  devops/openshift/workers-deploy.yml
Labels: Devops

#4469 #4390 - CAS Manual Intervention (API)
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice/cas-invoice.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice/models/cas-invoice.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
  sources/packages/backend/apps/api/src/services/cas-invoice/cas-invoice.service.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/api/src/utilities/datatable-config.ts
Labels: SIMS-Api

#4472 #4383 - NOA FT only: Update Assessed Contributions fields in Form.io
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
  sources/packages/forms/src/form-definitions/noticeofassessment.json
  sources/packages/web/src/assets/css/formio-shared.scss
Labels: Form.io, Camunda Worflow

#4474 #4427 - Update ECE Request fields
  sims.code-workspace
  sources/packages/backend/apps/api/src/services/disbursement-schedule/disbursement-schedule-service.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ece-request/_tests_/ece-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece-files/ece-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/ece.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ece-integration/models/ece-integration.model.ts
  sources/packages/backend/libs/integrations/src/services/disbursement-schedule/disbursement-schedule.service.ts
  sources/packages/backend/libs/services/src/confirmation-of-enrollment/confirmation-of-enrollment.service.ts
  sources/packages/backend/libs/utilities/src/integration-utils.ts
Labels: SIMS-Api, E2E/Unit tests, Integration

#4470 #4390 - CAS Manual Intervention (UI)
  sources/packages/web/src/components/aest/CASManualIntervention.vue
  sources/packages/web/src/services/CASInvoiceService.ts
  sources/packages/web/src/services/http/ApiClient.ts
  sources/packages/web/src/services/http/CASInvoiceApi.ts
  sources/packages/web/src/services/http/dto/CASInvoice.dto.ts
  sources/packages/web/src/services/http/dto/index.ts
  sources/packages/web/src/types/contracts/CASInvoiceStatus.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/types/index.ts
  sources/packages/web/src/views/aest/CASInvoices.vue
Labels: Ministry, Web portal

#4479 #4427 - Fix the translation for disability status declined.
  sources/packages/backend/libs/utilities/src/integration-utils.ts
Labels: Integration

#4475 #4341 - Clean Redis
  .github/workflows/env-setup-delete-redis.yml
  .github/workflows/env-setup-deploy-redis.yml
  .github/workflows/env-setup-init-redis-cluster-redis.yml
  .github/workflows/env-setup-redis-cluster-recovery.yml
  devops/Makefile
  devops/openshift/database/redis-ha-deploy.yml
  devops/openshift/database/redis-secrets.yml
Labels: Devops

#4464 #4354 - Change Request Revamp - 1st effort - Workflow Changes
  .vscode/launch.json
  sims.code-workspace
  sources/packages/backend/apps/workers/src/controllers/application/_tests_/e2e/application-change-request-approval.ts
  sources/packages/backend/apps/workers/src/controllers/application/_tests_/e2e/application.controller-applicationChangeRequestApproval.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/application/application.controller.ts
  sources/packages/backend/apps/workers/src/controllers/application/application.dto.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.dto.ts
  sources/packages/backend/apps/workers/src/services/application/application.service.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/services/src/constants/worker-constants.ts
  sources/packages/backend/libs/services/src/workflow/variables/assessment-gateway.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.change-request.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.change-request.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/assessment-gateway/assessment-gateway.change-request.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/assessment-gateway/assessment-gateway.change-request.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/constants/workflow-variables-constants.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/backend/workflow/test/test-utils/mock/assessment-gateway/application-change-request-approval-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/index.ts
Labels: Camunda Workers, E2E/Unit tests, Camunda Worflow

#4485 #4458 - Cherry pick the release commit and resolve conflicts and update the solution
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationOverallDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationVersionHistory.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/web/package-lock.json
Labels: SIMS-Api, E2E/Unit tests, Branch Sync-up

#4486 #3201 - Vue Upgrade
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
Labels: Web portal

#4478 #4390 - CAS Manual Intervention (e2e tests)
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice/tests/e2e/cas-invoice.aest.controller.getInvoices.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice/tests/e2e/cas-invoice.aest.controller.updateInvoiceToResolved.e2e-spec.ts
  sources/packages/backend/libs/test-utils/src/factories/cas-invoice-batch.ts
  sources/packages/backend/libs/test-utils/src/factories/cas-invoice.ts
Labels: E2E/Unit tests

#4498 #3961 - NOA Layout: FT offering that will only have one disbursement includes "Disbursement 2" column
  sources/packages/forms/src/form-definitions/noticeofassessment.json
  sources/packages/web/src/constants/award-constants.ts
Labels: Student, Form.io, Web portal

#4491 #4354 - Change Request Revamp - 1st effort - Warping up workflow during "in-progress" application
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-workflowWrapUp.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/workflow-wrap-up-factory.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.dto.ts
  sources/packages/backend/apps/workers/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
  sources/packages/backend/workflow/test/2022-2023/assessment-gateway/assessment-gateway.change-request.e2e-spec.ts
  sources/packages/backend/workflow/test/2023-2024/assessment-gateway/assessment-gateway.change-request.e2e-spec.ts
  sources/packages/backend/workflow/test/2024-2025/assessment-gateway/assessment-gateway.change-request.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/assessment-gateway/assessment-gateway.change-request.e2e-spec.ts
  sources/packages/backend/workflow/test/test-utils/constants/workflow-variables-constants.ts
Labels: Camunda Workers, Camunda Worflow

#4509 #3961 - NOA Layout: Typo fix
  sources/packages/forms/src/form-definitions/noticeofassessment.json
Labels: Student, Form.io

#4513 #3961 - NOA Layout: Dependents spelling with e
  sources/packages/forms/src/form-definitions/noticeofassessment.json
Labels: Student, Form.io

#4502 #4431 - Student View change request revamp - Applications Summary Components Refactor
  sims.code-workspace
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentApplicationSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/web/src/components/common/students/StudentApplicationsSimplifiedSummary.vue
  sources/packages/web/src/components/students/StudentApplicationsExtendedSummary.vue
  sources/packages/web/src/composables/useFormatters.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/views/aest/student/Applications.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentApplications.vue
  sources/packages/web/src/views/student/StudentApplicationSummary.vue
Labels: SIMS-Api, Web portal

#4505 #4402 - Student and Partner FT: Modify FT Partner Financial Information Section
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/models/supporting-user.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2024-2025.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2025-2026.json
  sources/packages/web/src/services/http/dto/SupportingUser.dto.ts
Labels: SIMS-Api, Form.io, Web portal

#4495 #2853 - Remove relationId
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.reissueMSFAA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.institutions.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/designation-agreement/designation-agreement.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.students.controller.getOfferingSummaryDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.institutions.controller.createEducationProgram.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/institution/_tests_/e2e/institution.aest.controller.createInstitution.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/institution-auth-helpers.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/assessment.controller.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/cra-income-verification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/disbursement-schedule.model.ts
  sources/packages/backend/libs/sims-db/src/entities/education-program.model.ts
  sources/packages/backend/libs/sims-db/src/entities/institution.model.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/libs/test-utils/src/factories/designation-agreement.ts
Labels: SIMS-Api, Camunda Workers, Technical Debt

#4519 #4059 - Student: Content: Revise Action Required Tracker Card
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationProgressDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.getApplicationProgressDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/web/src/components/common/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/common/applicationTracker/Assessment.vue
  sources/packages/web/src/services/http/dto/Application.dto.ts
Labels: Student, Web portal

#4523 #4402 - Student and Partner FT: Modify FT Partner Financial Information Section (Quick Fix)
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
  sources/packages/forms/src/form-definitions/supportinguserspartner2022-2023.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2024-2025.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2025-2026.json
Labels: Form.io, Camunda Worflow

#4524 #4382 - Upgrade Camunda, Postgres local environments
  .github/workflows/repo-checks-tests.yml
  sources/.docker/postgres/Dockerfile
  sources/Makefile
  sources/tests/.env-e2e-tests
Labels: Task, Devops

#4522 #4510 - Sequential assessment and PY totals bug fix
  sources/packages/backend/apps/queue-consumers/src/processors/assessment/_tests_/cancel-application-assessment.processor.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-workflowWrapUp.e2e-spec.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
Labels: Camunda Workers, E2E/Unit tests, Hotfix

#4528 #4035 - Content - update current year income exceptions & additional transportation
  sources/packages/forms/src/form-definitions/partnerinformationandincomeappeal.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
  sources/packages/forms/src/form-definitions/studentadditionaltransportationappeal.json
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
Labels: Enhancement, User Story, Content, Form.io, Stretch

#4537 #4459 - Set max documents for application uploaders to 25
  sources/packages/forms/src/form-definitions/partnerinformationandincomeappeal.json
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
  sources/packages/forms/src/form-definitions/studentadditionaltransportationappeal.json
  sources/packages/forms/src/form-definitions/studentdependantsappeal.json
  sources/packages/forms/src/form-definitions/studentfinancialinformationappeal.json
  sources/packages/forms/src/form-definitions/uploadstudentdocuments.json
  sources/packages/forms/src/form-definitions/uploadstudentdocumentsaest.json
Labels: Form.io

#4536 #4454 - Security Patching
  package-lock.json
  sources/packages/backend/apps/api/src/testHelpers/testDBSetup.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa.integration.service.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/sin-validation/sin-validation.processing.service.ts
  sources/packages/backend/libs/integrations/src/services/atbc/atbc.service.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
  sources/packages/forms/package-lock.json
  sources/packages/forms/package.json
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
Labels: Security-related

#4548 #2081 - Update Institution Program Credential Formatting
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/_tests_/e2e/education-program-offering.students.controller.getOfferingSummaryDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/web/src/components/common/OfferingView.vue
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/views/institution/locations/programs/LocationPrograms.vue
Labels: Institution

#4544 #4405 - Exceptional expense exception question - FT Only
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: User Story, Form.io, Camunda Worflow

#4526 #4431 - Student View change request revamp - View Application Versions
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationOverallDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.students.controller.submitStudentAppeal.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentApplicationSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/utilities/program-year-utils.ts
  sources/packages/forms/src/form-definitions/studentrequestchange.json
  sources/packages/web/src/components/students/StudentApplicationsExtendedSummary.vue
  sources/packages/web/src/components/students/StudentApplicationsVersion.vue
  sources/packages/web/src/composables/useApplication.ts
  sources/packages/web/src/constants/error-code.constants.ts
  sources/packages/web/src/router/StudentRoutes.ts
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/types/contracts/student/ApplicationContract.ts
  sources/packages/web/src/views/student/AppStudent.vue
  sources/packages/web/src/views/student/StudentAppealRequest.vue
  sources/packages/web/src/views/student/StudentApplicationDetails.vue
  sources/packages/web/src/views/student/StudentApplicationSummary.vue
Labels: Student, SIMS-Api, Form.io, Web portal

#4506 #2486 - IER 12 Update
  sims.code-workspace
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-factory.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/ier12-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/assessment-data-inputs.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/data-inputs.models.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/students-inputs.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/institution-integration/ier12-integration/_tests_/e2e/models/data-inputs/workflow-data-input.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12-file-detail.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.integration.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/ier12.processing.service.ts
  sources/packages/backend/libs/integrations/src/institution-integration/ier12-integration/models/ier12-integration.model.ts
  sources/packages/backend/libs/integrations/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/services/src/constants/restriction.constants.ts
  sources/packages/backend/libs/sims-db/src/entities/student-assessment.model.ts
  sources/packages/backend/libs/utilities/src/integration-utils.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway.bpmn
Labels: Queue Consumers, E2E/Unit tests, Integration, Camunda Worflow

#4554 #4534 - BC Private Designation agreement content update
  sources/packages/forms/src/form-definitions/designationagreementdetails.json
Labels: Institution, Form.io

#4547 #2822 - API Readiness Liveliness
  devops/openshift/api-deploy.yml
  devops/openshift/workers-deploy.yml
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/backend/apps/api/src/route-controllers/health-check/health.controller.spec.ts
  sources/packages/backend/apps/api/src/route-controllers/health-check/health.controller.ts
Labels: SIMS-Api, Devops

#4555 #4358 - Content: Student: Institution is not Listed
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Form.io
