Repository bcgov/SIMS, pull requests merged in 2025-07, with the labels that each got.

#4875 #3732 - Update s3 bucket name
  devops/helm/crunchy-postgres/values-0c27fb-dev.yaml
  devops/helm/crunchy-postgres/values-0c27fb-prod.yaml
  devops/helm/crunchy-postgres/values-0c27fb-test.yaml
  devops/helm/crunchy-postgres/values-a6ef19-test.yaml
  devops/helm/crunchy-postgres/values.yaml
Labels: Devops, DB

#4880 #4833 - Postgres PV storage configuration update in all environments
  devops/helm/crunchy-postgres/Chart.yaml
  devops/helm/crunchy-postgres/values-0c27fb-dev.yaml
  devops/helm/crunchy-postgres/values-0c27fb-prod.yaml
  devops/helm/crunchy-postgres/values-0c27fb-test.yaml
  devops/helm/crunchy-postgres/values-a6ef19-test.yaml
Labels: Bug, Devops, DB

#4891 #4818 - Parent Declare - Supporting User Portal Update
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.supporting-users.controller.ts
  sources/packages/backend/apps/api/src/services/supporting-user/constants.ts
  sources/packages/backend/apps/api/src/services/supporting-user/supporting-user.service.ts
  sources/packages/backend/apps/api/src/utilities/system-configurations-constants.ts
  sources/packages/web/src/types/contracts/supporting-user/SupportingUserContracts.ts
  sources/packages/web/src/views/supporting-user/SupportingInformation.vue
Labels: SIMS-Api

#4893 #3059 - Software Package Updates (dependabot version-updates)
  .github/dependabot.yml
Labels: Devops

#4897 #4884 - Update postgres version in staging config file
  devops/helm/crunchy-postgres/values-a6ef19-test.yaml
Labels: Devops, DB

#4896 #4530 - CAS GL date update
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice-batch/_tests_/e2e/cas-invoice-batch.aest.controller.getCASInvoiceBatchReport.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/report/_tests_/e2e/report.aest.controller.exportReport.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/cas-invoice-batch/cas-invoice-batch-report.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1752163347715-AddCASInvoicesDateSentColumn.ts
  sources/packages/backend/apps/db-migrations/src/sql/CASInvoices/Add-date-sent-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/CASInvoices/Rollback-add-date-sent-column.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-send-invoices.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-invoice/cas-invoice.service.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/libs/sims-db/src/entities/cas-invoice.model.ts
  sources/packages/backend/libs/test-utils/src/utils/date-utils.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
Labels: SIMS-Api, Queue Consumers, E2E/Unit tests, DB

#4894 #3059 - Software Package Updates (Camunda SDK)
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
Labels: Camunda Workers, Camunda Worflow

#4920 #4849 - Update Living Situation Questions
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2025-2026.json
Labels: Form.io, Form editor

#4926 #4887 - Add parent income exception questions
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/studentexceptions.json
Labels: Form.io, Form editor

#4930 #4884 - Database version update in PROD config file
  devops/helm/crunchy-postgres/values-0c27fb-prod.yaml
Labels: Devops, DB

#4931 #366 - v2.12.0 - Cherry Pick to include GL Date #4530
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice-batch/_tests_/e2e/cas-invoice-batch.aest.controller.getCASInvoiceBatchReport.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/report/_tests_/e2e/report.aest.controller.exportReport.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/cas-invoice-batch/cas-invoice-batch-report.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1752163347715-AddCASInvoicesDateSentColumn.ts
  sources/packages/backend/apps/db-migrations/src/sql/CASInvoices/Add-date-sent-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/CASInvoices/Rollback-add-date-sent-column.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-send-invoices.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-invoice/cas-invoice.service.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
  sources/packages/backend/libs/sims-db/src/entities/cas-invoice.model.ts
  sources/packages/backend/libs/test-utils/src/utils/date-utils.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
Labels: Branch Sync-up

#4925 #4768 - FT Assessment - BCAG Income Threshold in Eligibility
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-decisions.dmn
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCAG2Year.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGF.e2e-spec.ts
Labels: E2E/Unit tests, Camunda Worflow

#4924 #4820 - Parent Declare - Application History Menu - Part 1
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationOverallDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/models/application.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/supporting-user/supporting-user.aest.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/supporting-user/supporting-user.service.ts
  sources/packages/web/src/components/layouts/aest/AESTApplicationSideBar.vue
  sources/packages/web/src/services/http/dto/Application.dto.ts
  sources/packages/web/src/views/aest/SupportingUser.vue
Labels: Ministry, SIMS-Api, E2E/Unit tests

#4927 #4823 - Parent Declare: Email Notification (Part 1)
  sources/packages/backend/apps/db-migrations/src/migrations/1752517099854-InsertParentDeclarationRequiredNotifications.ts
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Insert-parent-declaration-required-message.sql
  sources/packages/backend/apps/db-migrations/src/sql/NotificationMessages/Rollback-insert-parent-declaration-required-message.sql
  sources/packages/backend/apps/workers/src/controllers/supporting-user/supporting-user.controller.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: Camunda Workers, DB

#4935 #4823 - Parent declare: email notification (e2e tests)
  sources/packages/backend/apps/workers/src/controllers/supporting-user/_test_/e2e/supporting-user.controller.createIdentifiableSupportingUsers.e2e-spec.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/sims-db/src/entities/notification.model.ts
Labels: E2E/Unit tests

#4917 #3059 - Software Package Updates (fix form.io editor icons)
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/plugins/vuetify.ts
Labels: Bug, Form.io, Form editor

#4944 #4743 - Room and board appeal - New forms and Submission
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentApplicationSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/forms/src/form-definitions/roomandboardcostsappeal.json
  sources/packages/forms/src/form-definitions/studentappeals.json
  sources/packages/web/src/components/common/AppealRequestsForm.vue
  sources/packages/web/src/components/students/StudentAppealInstructions.vue
  sources/packages/web/src/components/students/StudentAppealSubmit.vue
  sources/packages/web/src/components/students/StudentApplicationsExtendedSummary.vue
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/StudentRoutes.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/types/formio/custom-components/index.ts
  sources/packages/web/src/types/formio/custom-components/sims-components.ts
  sources/packages/web/src/types/formio/custom-components/uploader/uploader-format-and-size.ts
  sources/packages/web/src/views/student/Notifications.vue
  sources/packages/web/src/views/student/StudentAppeal.vue
  sources/packages/web/src/views/student/StudentAppealRequest.vue
  sources/packages/web/src/views/student/StudentApplicationSummary.vue
Labels: SIMS-Api, Form.io, Web portal

#4933 #4932 - Partner Employment and child care - Camunda Update
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/costs/fulltime-assessment-costs-child-care-cost.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: E2E/Unit tests, Camunda Worflow

#4953 #3059 - Software Package Updates (packages cleanup)
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/components/generic/formio.vue
  sources/packages/web/src/router/index.ts
  sources/packages/web/src/services/http/common/HttpClient.ts
  sources/packages/web/src/types/vuetify.ts
  sources/packages/web/vite.config.ts
Labels: Web portal

#4955 #3059 - Software Package Updates (local mongo update)
  devops/openshift/forms-deploy.yml
  sources/forms-docker-compose.yml
Labels: Devops

#4936 #4888 - Parent CY Income: Update camunda
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/contribution/fulltime-assessment-total-parent-income.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: Camunda Worflow

#4969 #3059 - Software Package Updates (dependabot config update)
  .github/dependabot.yml
Labels: Devops

#4962 #4918 - PT/FT MSFAA File - Create 0 record file
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/msfaa-integration/_tests_/msfaa-part-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/esdc-integration/msfaa-integration/msfaa-request.processing.service.ts
Labels: Queue Consumers, E2E/Unit tests

#4981 #4743 - Validate offering intensity for appeal in API
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.students.controller.submitStudentAppeal.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/student-appeal.students.controller.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
Labels: SIMS-Api, E2E/Unit tests

#4963 #4571 - Aviation Change Program Questions - Part 2
  sources/packages/backend/apps/api/src/route-controllers/education-program/_tests_/e2e/education-program.institutions.controller.createEducationProgram.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/education-program.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program/models/education-program.dto.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.models.ts
  sources/packages/backend/apps/api/src/services/education-program/education-program.service.ts
  sources/packages/backend/apps/api/src/testHelpers/fake-entities/education-program-fake.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1753136296375-AddCredentialTypesAviationColumn.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1753144314059-UpdateIsAviationProgramToNo.ts
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Add-credential-types-aviation-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Rollback-add-credential-types-aviation-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Rollback-update-is-aviation-program-to-no.sql
  sources/packages/backend/apps/db-migrations/src/sql/EducationPrograms/Update-is-aviation-program-to-no.sql
  sources/packages/backend/libs/sims-db/src/entities/education-program.model.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program.ts
  sources/packages/forms/src/form-definitions/educationprogram.json
  sources/packages/web/src/services/http/dto/EducationProgram.dto.ts
Labels: SIMS-Api, DB, Web portal

#4987 #4571 - Aviation Change: Program Questions (Bug Fix)
  sources/packages/backend/libs/sims-db/src/entities/education-program.model.ts
  sources/packages/forms/src/form-definitions/educationprogram.json
  sources/packages/web/src/types/contracts/EducationProgram.ts
Labels: Bug

#4956 #4934 - FT Assessment: Interface Policy
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/costs/fulltime-assessment-costs-interface-policy.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: Test Case, Camunda Worflow

#4990 #4665 - Workflow Permissions
  .github/workflows/clamav.yml
  .github/workflows/crunchy-db.yml
  .github/workflows/env-setup-build-forms-server.yml
  .github/workflows/env-setup-deploy-forms-server.yml
  .github/workflows/env-setup-deploy-mongo.yml
  .github/workflows/env-setup-deploy-secrets.yml
  .github/workflows/env-setup-redis-cluster-recovery.yml
  .github/workflows/env-setup-sysdig-teams.yml
  .github/workflows/prune-images.yml
  .github/workflows/redis-cluster.yml
  .github/workflows/release-build-all.yml
  .github/workflows/release-create-branch.yml
  .github/workflows/release-deploy-all.yml
  .github/workflows/release-deploy-camunda-definitions.yml
  .github/workflows/release-deploy-db-migrations-repl.yml
  .github/workflows/release-deploy-formio-definitions.yml
  .github/workflows/repo-checks-tests.yml
Labels: Devops

#4995 #4934 - Interface Policy: Additional Transportation Null
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/costs/fulltime-assessment-costs-interface-policy.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: Camunda Worflow

#4991 #4895 - Appeal (Room and Board) - Camunda Updates
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway-v2.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-decisions.dmn
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/appeals/fulltime-assessment-room-and-board.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/costs/fulltime-assessment-costs-living-allowance.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
  sources/packages/backend/workflow/test/test-utils/factories/assessment-consolidated-data.ts
Labels: E2E/Unit tests, Camunda Worflow

#5002 #4668 - Access control to external API endpoint with IP whitelisting
  .github/workflows/release-deploy-all.yml
  devops/Makefile
  devops/openshift/api-deploy.yml
Labels: Devops
