Repository bcgov/SIMS, pull requests merged in 2025-08, with the labels that each got.

#5017 #4941 - Approved exception does not repeat - Save File Hash
  sources/packages/backend/apps/api/src/services/student-file/student-file.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1754086479996-AddStudentFileHash.ts
  sources/packages/backend/apps/db-migrations/src/sql/StudentFiles/Add-file-hash-column.sql
  sources/packages/backend/apps/db-migrations/src/sql/StudentFiles/Rollback-add-file-hash-column.sql
  sources/packages/backend/libs/sims-db/src/entities/student-file.model.ts
  sources/packages/backend/libs/test-utils/src/factories/student-file-uploads.ts
Labels: SIMS-Api, DB

#5028 #4922 - Add tooltips to supporting partner questions
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
  sources/packages/forms/src/form-definitions/supportinguserspartner2025-2026.json
Labels: Form.io, Form editor

#5032 #4802 - Update supporting user dashboard
  sources/packages/forms/src/form-definitions/supportingusersdashboard.json
Labels: Form.io, Form editor

#5031 #4731 - Formio-loader bug fix
  sources/packages/web/src/components/common/StudentApplication.vue
  sources/packages/web/src/components/generic/formio.vue
  sources/packages/web/src/constants/system-constants.ts
Labels: Bug, Web portal

#5033 #4941 - Approved exception does not repeat - DB Migrations
  sources/packages/backend/apps/db-migrations/src/migrations/1754523744752-AddApplicationExceptionRequestsHashAndOtherColumns.ts
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationExceptionRequests/Add-hash-and-other-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationExceptionRequests/Rollback-add-hash-and-other-columns.sql
  sources/packages/backend/apps/workers/src/services/application-exception/application-exception.service.ts
  sources/packages/backend/libs/sims-db/src/entities/application-exception-requests.model.ts
  sources/packages/backend/libs/test-utils/src/factories/application-exception-request.ts
Labels: Camunda Workers, DB

#5040 #4941 - Approved exception does not repeat - DB Migrations Fixes
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationExceptionRequests/Add-hash-and-other-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/ApplicationExceptionRequests/Rollback-add-hash-and-other-columns.sql
  sources/packages/backend/libs/sims-db/src/entities/application-exception-requests.model.ts
Labels: DB

#5026 #4590 - NOA FT Update: Assessed Cost and Contribution fields
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/models/assessment.dto.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway-v2.bpmn
  sources/packages/forms/src/form-definitions/noticeofassessment.json
Labels: Student, Institution, Ministry, SIMS-Api, Form.io, Camunda Worflow, Web portal

#5021 #4885 - Room and board appeal part 2 (ministry) Part 1
  sources/packages/backend/apps/api/src/route-controllers/models/pagination.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.aest.controller.getAppeals.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/api/src/services/student-appeal/constants.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.model.ts
  sources/packages/backend/apps/api/src/services/student-appeal/student-appeal.service.ts
  sources/packages/backend/apps/api/src/utilities/datatable-config.ts
  sources/packages/web/src/components/aest/student/PendingAppealsTable.vue
  sources/packages/web/src/components/layouts/aest/AESTHomeSideBar.vue
  sources/packages/web/src/constants/routes/RouteConstants.ts
  sources/packages/web/src/router/AESTRoutes.ts
  sources/packages/web/src/services/http/StudentAppealApi.ts
  sources/packages/web/src/types/AppRoutes.ts
  sources/packages/web/src/views/aest/student/LegacyChangeRequests.vue
  sources/packages/web/src/views/aest/student/StudentAppeals.vue
  sources/packages/web/src/views/aest/student/StudentApplicationAppeals.vue
Labels: Ministry, SIMS-Api

#5036 #5023 - FT Assessment Updates: CSG-FTDEP eligibility, negative need, BCSL
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/contribution/fulltime-assessment-spouse-contribution.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/contribution/fulltime-assessment-student-contribution.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: E2E/Unit tests, Camunda Worflow

#5050 #4885 - Room and board appeal part 2 (ministry) E2E
  sources/packages/backend/apps/api/src/route-controllers/student-appeal/_tests_/e2e/student-appeal.aest.controller.getAppeals.e2e-spec.ts
Labels: E2E/Unit tests

#5030 #4941 - Approved exception does not repeat - Hash Creation
  sources/packages/backend/apps/api/src/services/student-file/student-file.service.ts
  sources/packages/backend/apps/workers/src/constants/error-code.constants.ts
  sources/packages/backend/apps/workers/src/controllers/application/_tests_/e2e/application.controller-verifyUniqueApplicationExceptions.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/application/_tests_/e2e/verify-unique-application-exceptions.ts
  sources/packages/backend/apps/workers/src/controllers/application/application.controller.ts
  sources/packages/backend/apps/workers/src/controllers/application/application.dto.ts
  sources/packages/backend/apps/workers/src/services/application-exception/application-exception-hash.service.ts
  sources/packages/backend/apps/workers/src/services/application-exception/application-exception-search.service.ts
  sources/packages/backend/apps/workers/src/services/application-exception/application-exception.models.ts
  sources/packages/backend/apps/workers/src/services/application-exception/application-exception.service.ts
  sources/packages/backend/apps/workers/src/services/index.ts
  sources/packages/backend/apps/workers/src/workers.module.ts
  sources/packages/backend/libs/services/src/constants/worker-constants.ts
  sources/packages/backend/libs/sims-db/src/entities/application-exception-requests.model.ts
  sources/packages/backend/libs/test-utils/src/factories/application-exception-request.ts
  sources/packages/backend/libs/test-utils/src/factories/student-file-uploads.ts
  sources/packages/backend/libs/utilities/src/hash-utils.ts
  sources/packages/backend/libs/utilities/src/index.ts
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway-v2.bpmn
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
Labels: Camunda Workers, Camunda Worflow

#5045 #4877 - Reverse scholastic standing API
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.aest.controller.reverseScholasticStanding.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.students.controller.getScholasticStandingSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/models/student-scholastic-standings.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.aest.controller.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/scholastic-standing-reversal.service.ts
  sources/packages/backend/libs/sims-db/src/entities/education-program-offering.model.ts
  sources/packages/backend/libs/test-utils/src/factories/education-program-offering.ts
  sources/packages/backend/libs/test-utils/src/factories/student-scholastic-standing.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
Labels: SIMS-Api, E2E/Unit tests

#5051 #4941 - Approved exception does not repeat - Student Application Form
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/backend/apps/api/src/constants/class-validator-constants.ts
  sources/packages/backend/apps/api/src/route-controllers/dynamic-form/models/form.dto.ts
  sources/packages/backend/apps/workers/src/services/application-exception/application-exception.service.ts
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
Labels: Form.io, Camunda Workers

#5057 #4871 - Incorporate FT UC weeks from legacy while triggering SSR restriction
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/student-scholastic-standings.controller.service.ts
  sources/packages/backend/apps/api/src/services/student-scholastic-standings/student-scholastic-standings.service.ts
Labels: SIMS-Api

#5048 #5023 - FT Assessment Updates: CSG-FTDEP eligibility, negative need, BCSL
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/contribution/fulltime-assessment-spouse-contribution.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-BCSL.e2e-spec.ts
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/eligibility/fulltime-assessment-eligibility-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: E2E/Unit tests, Camunda Worflow

#5073 #4562 - Ministry: show Program Name in Offering Change Request
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/education-program-offering.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/education-program-offering/models/education-program-offering.dto.ts
  sources/packages/backend/apps/api/src/services/education-program-offering/education-program-offering.service.ts
  sources/packages/web/src/services/http/dto/EducationProgramOffering.dto.ts
  sources/packages/web/src/types/contracts/DataTableContract.ts
  sources/packages/web/src/views/aest/institution/OfferingChangeRequests.vue
Labels: User Experience, Ministry

#5078 #4941 - Approved exception does not repeat - Missing Citizenship Uploader
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
Labels: Bug, Form.io

#5075 #4886 - Convert to ASCII
  sources/packages/backend/libs/utilities/src/_tests_/unit/string-utils.translateToASCII.spec.ts
  sources/packages/backend/libs/utilities/src/string-utils.ts
Labels: E2E/Unit tests, Backend

#5084 #4591 - Log Person ID - External API
  sources/packages/backend/apps/api/src/route-controllers/student/student.external.controller.ts
Labels: SIMS-Api

#5085 #4886 - Converting to ASCII [Encode URL]
  sources/packages/backend/libs/integrations/src/cas/_tests_/unit/cas.service.getSupplierInfoFromCAS.spec.ts
  sources/packages/backend/libs/integrations/src/cas/cas.service.ts
Labels: E2E/Unit tests, Backend

#5087 #4965 - Mongo DB cleanup
  .github/workflows/release-deploy-all.yml
  devops/Makefile
  devops/openshift/database/mongo-ha.yml
Labels: Devops

#5082 #5081 - FT Assessment - MSOL for Married Student Spouse FT Student
  sources/packages/backend/workflow/src/workflow-definitions/fulltime-assessment-2025-2026.bpmn
  sources/packages/backend/workflow/test/2025-2026/fulltime-assessment/costs/fulltime-assessment-costs-living-allowance.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: Camunda Worflow

#5091 #5065 - Exceptions not repeat 25-26 backwards compatibility - Fix Dependents and Custom Components
  sources/packages/forms/src/form-definitions/sfaa2025-26-pt.json
  sources/packages/web/src/types/formio/custom-components/process/application-exception.ts
  sources/packages/web/src/types/formio/custom-components/sims-components.ts
Labels: Web portal, Form editor

#5098 #5049 - BUG: History of Bypassed restrictions
  sources/packages/web/src/components/aest/students/bypassedRestrictions/HistoryBypassedRestrictions.vue
Labels: User Experience, Ministry

#5105 #4494 - Execute PIR process before exception - workflow changes
  sources/packages/backend/workflow/src/workflow-definitions/assessment-gateway-v2.bpmn
  sources/packages/backend/workflow/test/2025-2026/assessment-gateway/assessment-gateway.originalAssessment.e2e-spec.ts
  sources/packages/backend/workflow/test/test-utils/mock/assessment-gateway/program-info-not-required-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/assessment-gateway/program-info-required-task-mock.ts
  sources/packages/backend/workflow/test/test-utils/mock/index.ts
Labels: E2E/Unit tests, Camunda Worflow

#5113 #5111 - Fixes display of uploader
  sources/packages/forms/src/form-definitions/sfaa2025-26-ft.json
Labels: Form.io, Form editor

#5114 #5059 - When a partial match exists add hold restriction
  sources/packages/backend/apps/api/src/app.external.module.ts
  sources/packages/backend/apps/api/src/auth/auth.module.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/libs/services/src/restriction/model/restriction.model.ts
  sources/packages/backend/libs/services/src/restriction/student-restriction-shared.service.ts
Labels: Ministry, SIMS-Api
