Repository bcgov/SIMS, pull requests merged in 2025-02, with the labels that each got.

#4310 #3594 - Email to Student - 2nd Disbursement has passed, still pending (Part 3)
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/student-application-notifications/_tests_/student-application-notifications.scheduler.e2e-spec.ts
Labels: Student, Institution, Queue Consumers, E2E/Unit tests

#4308 #4270 - SFAS Bridge Expansion - Import of new record types
  .vscode/launch.json
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-DEPENDANT_AND_DISBURSEMENT_ALL_VALUES-RECORDS.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-files/SFAS-TO-SIMS-INVALID_RECORD_TYPE-RECORD.txt
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/sfas/index.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-application-dependant-import.service.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-application-disbursement-import.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-files/index.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-files/sfas-application-dependant.record.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-files/sfas-application-disbursement.record.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-files/sfas-parse-utils.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.models.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.module.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
Labels: Queue Consumers, E2E/Unit tests, Integration

#4309 #4253 - Upgrade Redis Part 2
  .github/workflows/env-setup-sysdig-teams.yml
  devops/helm/redis-cluster/templates/_helpers.tpl
  devops/helm/redis-cluster/templates/configmap.yaml
  devops/helm/redis-cluster/values-0c27fb-dev.yaml
  devops/helm/redis-cluster/values-0c27fb-prod.yaml
  devops/helm/redis-cluster/values-0c27fb-test.yaml
  devops/helm/redis-cluster/values-a6ef19-dev.yaml
  devops/helm/redis-cluster/values-a6ef19-prod.yaml
  devops/helm/redis-cluster/values-a6ef19-test.yaml
Labels: Devops, DB, Technical Debt

#4315 #3254 - CAS AP Invoice - Invoices and Batches - File Download
  sources/packages/backend/apps/api/src/app.aest.module.ts
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/constants/error-code.constants.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice-batch/cas-invoice-batch.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/report/report.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/utils/file-download-utils.ts
  sources/packages/backend/apps/api/src/route-controllers/utils/index.ts
  sources/packages/backend/apps/api/src/services/cas-invoice-batch/cas-invoice-batch-report.service.ts
  sources/packages/backend/apps/api/src/services/cas-invoice-batch/cas-invoice-batch.models.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/libs/utilities/src/date-utils.ts
  sources/packages/web/src/components/layouts/aest/AESTHomeSideBar.vue
  sources/packages/web/src/composables/useFileUtils.ts
  sources/packages/web/src/services/CASInvoiceBatchService.ts
  sources/packages/web/src/services/http/CASInvoiceBatchApi.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/packages/web/src/views/aest/CASInvoices.vue
Labels: Ministry, SIMS-Api, Web portal

#4314 #4247 - Create application versioning (Part 1)
  sources/packages/backend/apps/api/src/route-controllers/application-exception/_tests_/application-exception-helper.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.submitApplication.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/_tests_/e2e/overaward.aest.controller.getOverawardsByStudent.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/overaward/_tests_/e2e/overaward.students.controller.getOverawardsByStudent.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/restriction/_tests_/e2e/restriction.institutions.controller.getStudentRestrictionDetail.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/restriction/_tests_/e2e/restriction.institutions.controller.getStudentRestrictions.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.institutions.controller.getScholasticStandingSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentFileUploads.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentProfile.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1738280071894-AddApplicationVersioningColumns.ts
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Add-application-versioning-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Rollback-add-application-versioning-columns.sql
  sources/packages/backend/apps/load-test-gateway/src/services/workflow/workflow-data-load.service.ts
  sources/packages/backend/apps/workers/src/controllers/application/_tests_/e2e/application.controller-verifyApplicationExceptions.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/disbursement/_tests_/e2e/disbursement.controller.saveDisbursementSchedules.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/program-info-request/_tests_/e2e/program-info-request.controller-updateApplicationStatus.e2e-spec.ts
  sources/packages/backend/libs/sims-db/src/entities/application.model.ts
  sources/packages/backend/libs/test-utils/src/factories/application.ts
Labels: SIMS-Api, E2E/Unit tests, DB

#4326 #4247 - Create Application Versioning (Part 2)
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Add-application-versioning-columns.sql
  sources/packages/backend/apps/db-migrations/src/sql/Applications/Rollback-add-application-versioning-columns.sql
Labels: DB

#4322 #4253 - Upgrade Redis - metrics
  devops/helm/redis-cluster/templates/metrics-prometheus.yaml
  devops/helm/redis-cluster/templates/metrics-svc.yaml
  devops/helm/redis-cluster/templates/prometheusrule.yaml
  devops/helm/redis-cluster/values-0c27fb-dev.yaml
  devops/helm/redis-cluster/values-0c27fb-prod.yaml
  devops/helm/redis-cluster/values-0c27fb-test.yaml
  devops/helm/redis-cluster/values-a6ef19-dev.yaml
  devops/helm/redis-cluster/values-a6ef19-prod.yaml
  devops/helm/redis-cluster/values-a6ef19-test.yaml
Labels: Devops, DB, Technical Debt

#4321 #3254 - CAS AP Invoice - Invoices and Batches - E2E Tests
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice-batch/_tests_/e2e/cas-invoice-batch.aest.controller.getCASInvoiceBatchReport.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/cas-invoice-batch/_tests_/e2e/cas-invoice-batch.aest.controller.getInvoiceBatches.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/_tests_/cas-invoices-batches-creation.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/cas-integration/cas-invoices-batches-creation.scheduler.ts
  sources/packages/backend/apps/queue-consumers/src/services/cas-invoice-batch/cas-invoice-batch.service.ts
  sources/packages/backend/libs/services/src/constants/error-code.constants.ts
  sources/packages/backend/libs/test-utils/src/factories/cas-invoice-batch.ts
  sources/packages/backend/libs/test-utils/src/factories/cas-invoice-detail.ts
  sources/packages/backend/libs/test-utils/src/factories/cas-invoice.ts
  sources/packages/backend/libs/test-utils/src/factories/cas-supplier.ts
  sources/packages/backend/libs/test-utils/src/factories/disbursement-receipt.ts
  sources/packages/backend/libs/test-utils/src/index.ts
  sources/packages/backend/package.json
Labels: SIMS-Api, E2E/Unit tests

#4329 #4270 - Update the Data Types to adapt to import
  sources/packages/backend/apps/db-migrations/src/migrations/1738899779713-AlterSFASIndividualExpansionColumnType.ts
  sources/packages/backend/apps/db-migrations/src/migrations/1738900082886-AlterSFASApplicationExpansionColumnType.ts
  sources/packages/backend/apps/db-migrations/src/sql/SFASApplications/Alter-expansion-columns-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASApplications/Rollback-alter-expansion-columns-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Alter-phone-number-type.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASIndividuals/Rollback-alter-phone-number-type.sql
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-application.model.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-individual.model.ts
Labels: DB

#4325 #4014 - Institution Read-Only User Type PART 2 (UI) (Part 1)
  sources/packages/web/src/components/common/InstitutionUserSummary.vue
  sources/packages/web/src/components/common/OfferingSummary.vue
  sources/packages/web/src/components/common/ProgramDetails.vue
  sources/packages/web/src/components/common/ScholasticStandingForm.vue
  sources/packages/web/src/components/institutions/modals/EditInstitutionUserModal.vue
  sources/packages/web/src/components/institutions/modals/InstitutionUserManagement.vue
  sources/packages/web/src/composables/institution/useInstitutionAuth.ts
  sources/packages/web/src/router/InstitutionRouteHelper.ts
  sources/packages/web/src/router/InstitutionRoutes.ts
  sources/packages/web/src/services/InstitutionUserService.ts
  sources/packages/web/src/types/contracts/institution/InstitutionUser.ts
  sources/packages/web/src/views/institution/locations/active-applications/ActiveApplicationReportAChange.vue
  sources/packages/web/src/views/institution/locations/confirmation-of-enrollment/ApplicationDetailsForCOE.vue
  sources/packages/web/src/views/institution/locations/offerings/OfferingEdit.vue
  sources/packages/web/src/views/institution/locations/program-info-request/LocationEditProgramInfoRequest.vue
  sources/packages/web/src/views/institution/locations/programs/LocationProgramAddEdit.vue
  sources/packages/web/src/views/institution/locations/programs/LocationPrograms.vue
  sources/packages/web/src/views/institution/locations/request-a-change/RequestAChangeFormSubmit.vue
Labels: Enhancement, Institution, Web portal

#4333 #3984 - Former youth in care question update
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Form.io

#4338 #4014 - Institution Read-Only User Type PART 2 (UI) (Part 2)
  sources/packages/backend/apps/api/src/route-controllers/institution-user/_tests_/e2e/institution-user.institutions.controller.createInstitutionUserWithAuth.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/institution-user/_tests_/e2e/institution-user.institutions.controller.updateInstitutionUserWithAuth.e2e-spec.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/bceid-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/index.ts
  sources/packages/backend/libs/test-utils/src/data-source/e2e-data-source.ts
Labels: Enhancement, Institution, E2E/Unit tests

#4334 #2790 - Update API Access Logs
  devops/openshift/api-deploy.yml
  sources/packages/backend/apps/api/src/app.controller.ts
  sources/packages/backend/apps/api/src/app.module.ts
  sources/packages/backend/apps/api/src/main.ts
  sources/packages/backend/apps/api/src/middlewares/access-logger.middleware.ts
  sources/packages/backend/apps/api/src/middlewares/index.ts
  sources/packages/backend/apps/api/src/route-controllers/audit/audit.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/health-check/health.controller.spec.ts
  sources/packages/backend/apps/api/src/route-controllers/health-check/health.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/index.ts
  sources/packages/backend/apps/api/src/utilities/http-utils.ts
  sources/packages/backend/apps/api/src/utilities/index.ts
Labels: SIMS-Api, Devops

#4346 #4014 - Institution Read-Only User Type PART 2 (UI) (Part 3)
  sources/packages/forms/src/form-definitions/programinformationrequest.json
  sources/packages/web/src/services/http/dto/ProgramInfoRequest.dto.ts
  sources/packages/web/src/views/institution/locations/offerings/OfferingEdit.vue
  sources/packages/web/src/views/institution/locations/program-info-request/LocationEditProgramInfoRequest.vue
Labels: Enhancement, Institution, Form.io, Web portal

#4345 #3930 - FT Self Report Parent Income Questions
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Form.io

#4349 #4235 - Student File Upload - Reset after submit
  sources/packages/web/src/types/formio.ts
  sources/packages/web/src/views/student/StudentFileUploader.vue
Labels: Web portal

#4350 #3845 - Student: FT: Other financial support questions
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Question, User Story, Student, Form.io

#4356 #3930 - FT Self Report Parent Income
  sources/packages/backend/workflow/src/workflow-definitions/load-assessment-consolidated-data.bpmn
  sources/packages/forms/src/form-definitions/sfaa2022-23.json
  sources/packages/forms/src/form-definitions/sfaa2023-24.json
  sources/packages/forms/src/form-definitions/sfaa2024-25.json
  sources/packages/forms/src/form-definitions/sfaa2025-26.json
Labels: Form.io, Camunda Worflow

#4363 #4353 - SIMS Queue Dashboard - Access through IDIR
  .github/workflows/env-setup-deploy-secrets.yml
  configs/env-example
  devops/Makefile
  devops/openshift/api-deploy.yml
  devops/openshift/init-secrets.yml
  devops/openshift/queue-consumers-deploy.yml
  sources/docker-compose.yml
  sources/packages/backend/apps/api/src/auth/roles.enum.ts
  sources/packages/backend/apps/api/src/main.ts
  sources/packages/backend/apps/api/src/route-controllers/config/_tests_/e2e/config.controller.getConfig.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/config/config.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/config/models/config.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/user/user.aest.controller.ts
  sources/packages/backend/apps/queue-consumers/src/bull-board/bull-board-authentication.middleware.ts
  sources/packages/backend/apps/queue-consumers/src/bull-board/bull-board-queues.module.ts
  sources/packages/backend/apps/queue-consumers/src/constants/index.ts
  sources/packages/backend/apps/queue-consumers/src/constants/system-configurations.constants.ts
  sources/packages/backend/apps/queue-consumers/src/main.ts
  sources/packages/backend/libs/auth/src/constants/index.ts
  sources/packages/backend/libs/auth/src/constants/queues-dashboard-constants.ts
  sources/packages/backend/libs/auth/src/services/index.ts
  sources/packages/backend/libs/auth/src/services/queues-dashboard/queue-dashboard.models.ts
  sources/packages/backend/libs/services/src/constants/system-configurations-constants.ts
  sources/packages/backend/libs/utilities/src/config/config.models.ts
  sources/packages/backend/libs/utilities/src/config/config.service.ts
  sources/packages/backend/package-lock.json
  sources/packages/backend/package.json
  sources/packages/web/src/components/layouts/aest/AESTHomeSideBar.vue
  sources/packages/web/src/services/AppConfigService.ts
  sources/packages/web/src/services/AuthService.ts
  sources/packages/web/src/services/UserService.ts
  sources/packages/web/src/services/http/UserApi.ts
  sources/packages/web/src/services/http/common/HttpBaseClient.ts
  sources/packages/web/src/services/http/dto/Config.dto.ts
  sources/packages/web/src/types/contracts/ConfigContract.ts
  sources/packages/web/src/types/contracts/aest/roles.ts
  sources/tests/docker-compose.yml
Labels: Queue Consumers, Devops, Security-related

#4375 #2771 - Expand Number of Days before Application Gets Archived
  .github/workflows/release-deploy-all.yml
  configs/env-example
  devops/Makefile
  sources/Makefile
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-full-time-process-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/esdc-integration/ecert-integration/_tests_/ecert-part-time-process-integration.scheduler.e2e-spec.ts
Labels: Devops

#4368 #4281 - Rename the column discretionary expenses to eligible need
  sources/packages/backend/apps/db-migrations/src/migrations/1740023856890-RenameAssessedCostsDiscretionaryExpensesSFAS.ts
  sources/packages/backend/apps/db-migrations/src/sql/SFASApplications/Rename-assessed-costs-discretionary-expenses.sql
  sources/packages/backend/apps/db-migrations/src/sql/SFASApplications/Rollback-rename-assessed-costs-discretionary-expenses.sql
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/services/sfas/sfas-application-import.service.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-files/sfas-application-record.ts
  sources/packages/backend/libs/sims-db/src/entities/sfas-application.model.ts
Labels: E2E/Unit tests, DB, Integration

#4340 #4247 - Create Application Versioning - Part 3
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.aest.controller.getApplicationVersionHistory.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.aest.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.institutions.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.aest.controller.manualReassessment.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentApplicationSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/web/src/components/aest/students/ApplicationHeaderTitle.vue
  sources/packages/web/src/components/aest/students/assessment/History.vue
  sources/packages/web/src/components/aest/students/assessment/ManualReassessment.vue
  sources/packages/web/src/components/aest/students/assessment/Request.vue
  sources/packages/web/src/components/aest/students/bypassedRestrictions/HistoryBypassedRestrictions.vue
  sources/packages/web/src/components/common/applicationTracker/ApplicationProgressBar.vue
  sources/packages/web/src/components/common/students/StudentApplications.vue
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/services/http/dto/Student.dto.ts
  sources/packages/web/src/views/aest/StudentApplicationView.vue
  sources/packages/web/src/views/aest/student/applicationDetails/ApplicationRestrictionsManagement.vue
  sources/packages/web/src/views/aest/student/applicationDetails/ApplicationStatusTracker.vue
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentAward.vue
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentsSummary.vue
  sources/packages/web/src/views/aest/student/applicationDetails/NoticeOfAssessment.vue
  sources/packages/web/src/views/institution/student/InstitutionStudentApplicationView.vue
Labels: Institution, Ministry, SIMS-Api, E2E/Unit tests, Web portal

#4369 #3249 - Bridge Matching - Re-matching and persisting the match
  sources/packages/backend/apps/api/src/route-controllers/application/_tests_/application.students.controller.submitApplication.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/application/application.students.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/student-account-applications/_test_/e2e/student-account-application.aest.controller.approveStudentAccountApplication.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.aest.controller.getScholasticStandingSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.institutions.controller.getScholasticStandingSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student-scholastic-standings/_tests_/e2e/student-scholastic-standings.students.controller.getScholasticStandingSummary.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/application/application.service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/queue-consumers/src/processors/schedulers/sfas-integration/_tests_/sfas-integration.scheduler.e2e-spec.ts
  sources/packages/backend/apps/workers/src/controllers/assessment/_tests_/e2e/assessment.controller-verifyAssessmentCalculationOrder.e2e-spec.ts
  sources/packages/backend/libs/integrations/src/sfas-integration/sfas-integration.processing.service.ts
  sources/packages/backend/libs/services/src/sfas/sfas-application.service.ts
  sources/packages/backend/libs/services/src/sfas/sfas-individual.service.ts
  sources/packages/backend/libs/services/src/sfas/sfas-part-time-application.service.ts
  sources/packages/backend/libs/services/src/students-assessments/assessment-sequential-processing.service.ts
  sources/packages/backend/libs/src-sql/sfas-individuals/Bulk-update-students-foreign-key.sql
Labels: Ministry, Integration

#4376 #4281 - SDPR API - Student search result - Student details
  .github/workflows/repo-checks-tests.yml
  configs/env-example
  sources/packages/backend/apps/api/src/app.external.module.ts
  sources/packages/backend/apps/api/src/auth/_tests_/e2e/auth.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.external.controller.searchStudent.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student-external-search.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.external.controller.ts
  sources/packages/backend/apps/api/src/route-controllers/user/user.e2e-spec.ts
  sources/packages/backend/apps/api/src/services/bceid/bceid.service.mock.ts
  sources/packages/backend/apps/api/src/services/index.ts
  sources/packages/backend/apps/api/src/services/student/student-information.service.ts
  sources/packages/backend/apps/api/src/services/student/student.service.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/aest-token-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/external-token-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/index.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/institution-token-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/student-token-helpers.ts
  sources/packages/backend/apps/api/src/testHelpers/auth/token-helpers.ts
  sources/packages/backend/apps/api/test/institution.e2e-spec.ts
  sources/packages/backend/libs/auth/src/services/index.ts
  sources/packages/backend/libs/auth/src/services/keycloak/keycloak.service.ts
  sources/packages/backend/libs/auth/src/services/keycloak/token.model.ts
  sources/packages/backend/libs/test-utils/src/factories/sfas-individuals.ts
  sources/packages/backend/libs/test-utils/src/factories/student.ts
  sources/tests/docker-compose.yml
Labels: SIMS-Api, E2E/Unit tests

#4366 #3060 - Migrate Vue CLI to Vite
  sources/packages/web/.browserslistrc
  sources/packages/web/.eslintrc.js
  sources/packages/web/babel.config.js
  sources/packages/web/index.html
  sources/packages/web/jest.config.js
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/public/index.html
  sources/packages/web/src/assets/css/base.scss
  sources/packages/web/src/assets/css/formio-shared.scss
  sources/packages/web/src/assets/css/institution.scss
  sources/packages/web/src/assets/css/notes.scss
  sources/packages/web/src/assets/css/primevue-override.scss
  sources/packages/web/src/assets/css/student.scss
  sources/packages/web/src/assets/css/vuetify.scss
  sources/packages/web/src/main.ts
  sources/packages/web/src/plugins/vuetify.ts
  sources/packages/web/src/vite-env.d.ts
  sources/packages/web/tsconfig.json
  sources/packages/web/vite.config.ts
  sources/packages/web/vue.config.js
Labels: Web portal, Dev & Architecture

#4399 #4397 - Fix CSGD (CSG - PTDEP) [PT 24/25]
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: E2E/Unit tests, Camunda Worflow

#4393 #4275 - Document uploader email adjustment and time stamp in ui - part 2
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.institutions.controller.getStudentFileUploads.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/_tests_/e2e/student.students.controller.saveStudentUploadedFiles.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/student/models/student.dto.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.controller.service.ts
  sources/packages/backend/apps/api/src/route-controllers/student/student.students.controller.ts
  sources/packages/backend/apps/api/src/services/student-file/student-file.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification-actions.service.ts
  sources/packages/backend/libs/services/src/notifications/notification/notification.model.ts
  sources/packages/backend/libs/test-utils/src/factories/student-file-uploads.ts
  sources/packages/web/src/components/common/students/StudentFileUploads.vue
  sources/packages/web/src/services/http/dto/Student.dto.ts
Labels: Student, E2E/Unit tests

#4401 #4291 - Date COE Confirmed on Funding Summary
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.aest.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.institutions.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentAwardDetails.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/_tests_/e2e/assessment.students.controller.getAssessmentNOA.e2e-spec.ts
  sources/packages/backend/apps/api/src/route-controllers/assessment/assessment.controller.service.ts
  sources/packages/backend/apps/api/src/services/student-assessment/student-assessment.service.ts
  sources/packages/web/src/components/common/AssessmentAwardDetails.vue
  sources/packages/web/src/components/common/StatusInfoEnrolment.vue
Labels: SIMS-Api, E2E/Unit tests, Web portal

#4403 #3060 - Migrate Vue CLI to Vite Part-2
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
  sources/packages/web/src/shims-vue.d.ts
  sources/packages/web/src/views/student/NoticeOfAssessment.vue
  sources/packages/web/tsconfig.json
Labels: Web portal

#4400 #4343 - Updates to KeyCloak - start after Feb25
  sources/packages/web/package-lock.json
  sources/packages/web/package.json
Labels: Ministry, Security-related

#4406 #277 - Release/v2.5.0 fix merge to main
  sources/packages/backend/workflow/src/workflow-definitions/parttime-assessment-2024-2025.bpmn
  sources/packages/backend/workflow/test/2024-2025/parttime-assessment/awards-amounts/parttime-assessment-awards-amount-CSGD.e2e-spec.ts
  sources/packages/backend/workflow/test/models/assessment.model.ts
Labels: Branch Sync-up, Release Branch Merge

#4394 #4247 - Create Application Versioning (Institution and Supporting User changes)
  sources/packages/backend/apps/api/src/route-controllers/application/application.institutions.controller.ts
  sources/packages/web/src/components/common/NoticeOfAssessmentFormView.vue
  sources/packages/web/src/components/common/students/assessment/History.vue
  sources/packages/web/src/components/common/students/assessment/Request.vue
  sources/packages/web/src/components/layouts/aest/AESTApplicationSideBar.vue
  sources/packages/web/src/components/students/StudentAssessmentDetails.vue
  sources/packages/web/src/services/ApplicationService.ts
  sources/packages/web/src/services/http/ApplicationApi.ts
  sources/packages/web/src/views/aest/student/applicationDetails/ApplicationRestrictionsManagement.vue
  sources/packages/web/src/views/aest/student/applicationDetails/ApplicationStatusTracker.vue
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentAward.vue
  sources/packages/web/src/views/aest/student/applicationDetails/AssessmentsSummary.vue
  sources/packages/web/src/views/aest/student/applicationDetails/NoticeOfAssessment.vue
  sources/packages/web/src/views/institution/student/applicationDetails/ApplicationExceptions.vue
  sources/packages/web/src/views/institution/student/applicationDetails/AssessmentAward.vue
  sources/packages/web/src/views/institution/student/applicationDetails/InstitutionAssessmentsSummary.vue
  sources/packages/web/src/views/institution/student/applicationDetails/NoticeOfAssessment.vue
  sources/packages/web/src/views/institution/student/applicationDetails/StudentAppealRequest.vue
Labels: Institution, Web portal, Supporting User
